{% macro big_number(number, label) %}
  <div class="big-number">
    {{ number }}
    <span class="big-number-label">{{ label }}</span>
  </div>
{% endmacro %}


{% macro big_number_with_status(number, label, failures, failure_percentage, danger_zone=False) %}
  <div class="big-number-with-status">
    {{ big_number(number, label) }}
    <div class="big-number-status{% if danger_zone %}-failing{% endif %}">
      {% if failures %}
        {{ failures }} failed – {{ failure_percentage }}%
      {% else %}
        No failures
      {% endif %}
    </div>
  </div>
{% endmacro %}
