{% macro branding_preview(branding_style, endpoint, classes) %}
  <iframe src="{{ url_for(endpoint, branding_style=branding_style) }}" class="branding-preview {{ classes }}" scrolling="no"></iframe>
{% endmacro %}

{% macro custom_email_branding_preview(preview_settings) %}
  {% set query_params = (preview_settings | urlencode) %}
  {% set query_params = 'branding_style=custom' + ('&' + query_params if query_params else '') %}
  <iframe src="{{ url_for('main.email_template') }}?{{ query_params }}" class="branding-preview" scrolling="no"></iframe>
{% endmacro %}

{% macro email_branding_preview(branding_style, classes='') %}
  {{ branding_preview(branding_style, 'main.email_template', classes) }}
{% endmacro %}

{% macro letter_branding_preview(branding_style, classes='') %}
  {{ branding_preview(branding_style, 'main.letter_template', classes) }}
{% endmacro %}
