{% macro browse_list(items) %}
  {% if items %}
    <nav class="browse-list">
      <ul>
        {% for item in items %}
          {% if item.title and item.link %}
            <li class="browse-list-item">
              <a href="{{ item.link }}" class="govuk-link govuk-link--{% if item.destructive %}--destructive{% else %}--no-visited-state{% endif %}">{{ item.title }}</a>
              {% if item.hint %}
                <div class="browse-list-hint">
                  {{ item.hint }}
                </div>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}
