{% macro checkbox(
  field,
  hint=False,
  width='2-3'
) %}
  <div class="multiple-choice">
    {{ checkbox_input(field.id, field.name, field.data) }}
    <label for="{{ field.id }}">
      {{ field.label.text }}
      {% if hint %}
        <div class="hint">
          {{ hint }}
        </div>
      {% endif %}
    </label>
  </div>
{% endmacro %}


{% macro checkbox_input(id, name, data=None, value="y") %}
  <input
    id="{{ id }}" name="{{ name }}" type="checkbox" value="{{ value }}"
    {% if data %}
      checked
    {% endif %}
  >
{% endmacro %}

{% macro unlabelled_checkbox(id, name, data=None, value="y") %}
  <div class="multiple-choice">
    {{ checkbox_input(id, name, data, value) }}
    <label></label>
  </div>
{% endmacro %}

{% macro checkbox_group(
  legend,
  fields
) %}
  <fieldset class="form-group">
    <legend class="form-label">
      {{ legend }}
    </legend>
    {% for field in fields %}
      {{ checkbox(field) }}
    {% endfor %}
  </fieldset>
{% endmacro %}
