{% macro cookie_banner(message, id='global-cookie-message') %}

<div id="{{ id }}" class="notify-cookie-banner notify-cookie-banner__with-js" data-module="cookie-banner" role="region" aria-describedby="notify-cookie-banner__heading">
  <div class="notify-cookie-banner__wrapper govuk-width-container">
    <h2 class="notify-cookie-banner__heading govuk-heading-m" id="notify-cookie-banner__heading">Can we store analytics cookies on your device?</h2>
    <p class="govuk-body">Analytics cookies help us understand how our website is being used.</p>
    <div class="notify-cookie-banner__buttons">
      <div class="notify-cookie-banner__button notify-cookie-banner__button-accept">
        <button class="govuk-button govuk-button__inline" type="submit" data-accept-cookies="true" aria-describedby="notify-cookie-banner__heading">
        Yes<span class="govuk-visually-hidden">, we can store analytics cookies on your device</span>
        </button>
      </div>
      <div class="notify-cookie-banner__button notify-cookie-banner__button-reject">
        <button class="govuk-button govuk-button__inline" type="submit" data-accept-cookies="false" aria-describedby="notify-cookie-banner__heading">
        No<span class="govuk-visually-hidden">, we cannot store analytics cookies on your device</span>
        </button>
      </div>
      <a class="govuk-link notify-cookie-banner__link" href="/cookies">How Notify uses cookies</a>
    </div>
  </div>

  <div class="notify-cookie-banner__confirmation govuk-width-container" tabindex="-1">
    <p class="notify-cookie-banner__confirmation-message govuk-body">
      You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.
    </p>
    <button class="notify-cookie-banner__hide-button" data-hide-cookie-banner="true">Hide</button>
  </div>
</div>
{% endmacro %}
