{% macro cookie_banner(message, id='global-cookie-message') %}

<div id="{{ id }}" class="notify-cookie-banner" data-module="cookie-banner" role="region" aria-label="cookie banner" data-nosnippet>
  <div class="notify-cookie-banner__wrapper govuk-width-container govuk-!-padding-4">
    <h2 class="notify-cookie-banner__heading govuk-heading-m">Cookies on GOV.UK Notify</h2>
    <p class="notify-cookie-banner__message govuk-body">We use <a class="govuk-link" href="/cookies">small files called cookies</a> to make GOV.UK Notify work.</p>
    <div class="notify-cookie-banner__buttons notify-cookie-banner__no-js">
      <div class="notify-cookie-banner__button">
        <a href="/cookies" class="govuk-button notify-cookie-banner-button--inline" role="button" data-accept-cookies="true">Set cookie preferences</a>
      </div>
    </div>
    <div class="notify-cookie-banner__with-js">
      <p class="notify-cookie-banner__message govuk-body">We'd also like to use analytics cookies to help us improve our service.</p>
      <p class="notify-cookie-banner__message govuk-body">Please let us know if this is OK.</p>
      <div class="notify-cookie-banner__buttons">
        <div class="notify-cookie-banner__button notify-cookie-banner__button-accept">
          <button class="govuk-button notify-cookie-banner-button--secondary notify-cookie-banner-button--inline" type="submit" data-accept-cookies="true">Yes, I accept analytics cookies</button>
        </div>
        <div class="notify-cookie-banner__button notify-cookie-banner__button-reject">
          <button class="govuk-button notify-cookie-banner-button--secondary notify-cookie-banner-button--inline" type="submit" data-accept-cookies="false">No, do not use analytics cookies</button>
        </div>
      </div>
    </div>
  </div>

  <div class="notify-cookie-banner__confirmation govuk-width-container" tabindex="-1">
    <p class="notify-cookie-banner__confirmation-message govuk-body">
      You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.
    </p>
    <button class="notify-cookie-banner__hide-button" data-hide-cookie-banner="true">Hide</button>
  </div>
</div>
{% endmacro %}
