{% macro email_message(subject, body, name=None, edit_link=None, from_name=None, from_address=None) %}
  {% if name %}
    <h3 class="email-message-name">
      {% if edit_link %}
        <a href="{{ edit_link }}">{{ name }}</a>
      {% else %}
        {{ name }}
      {% endif %}
    </h3>
  {% endif %}
  <div class="email-message">
    {% if from_name or subject %}
      <table class="email-message-meta">
        <tbody>
          {% if from_name and from_address %}
            <tr>
              <th>From</th>
              <td>
                {{ from_name }} &lt;{{ from_address }}&gt;
              </td>
            </tr>
          {% endif %}
          {% if subject %}
            <tr class="email-message-meta">
              <th>Subject</th>
              <td>
                {{ subject }}
              </td>
            </div>
          {% endif %}
        </tbody>
      </table>
    {% endif %}
    <div class="email-message-body" data-module="expand-collapse">
      <div class="email-message-body-wrapper collapsed">
      {{ body|nl2br }}
      </div>
    </div>
  </div>
{% endmacro %}
