{% macro email_message(
  subject,
  body,
  from_name=None,
  from_address=None,
  recipient=None,
  id=None,
  show_placeholder_for_recipient=False,
  show_id=False
) %}
  <div class="email-message">
    {% if from_name or subject %}
      <table class="email-message-meta">
        <tbody>
          {% if from_name and from_address %}
            <tr>
              <th>From</th>
              <td>
                {{ from_name }} &lt;{{ from_address }}&gt;
              </td>
            </tr>
          {% endif %}
          {% if recipient is not none %}
            <tr>
              <th>To</th>
              <td>
                {% if show_placeholder_for_recipient %}
                  <span class="placeholder-no-brackets">
                    email address
                  </span>
                {% else %}
                  {{ recipient }}
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% if subject %}
            <tr class="email-message-meta">
              <th>Subject</th>
              <td>
                {{ subject }}
              </td>
            </div>
          {% endif %}
        </tbody>
      </table>
    {% endif %}
    <div class="email-message-body" data-module="expand-collapse" data-max-height="200">
      <div class="email-message-body-wrapper">
      {{ body|nl2br }}
      </div>
    </div>
  </div>
{% endmacro %}
