{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}

{% macro errorSummary(form) %}
  {% if form.errors %}
    {% set errors = [] %}
    {% for field_name, error_list in form.errors.items() %}
      {% if field_name %}
        {% do errors.append(
          {
            "href": "#" + form[field_name].error_summary_id if form[field_name].error_summary_id != undefined else form[field_name].id,
            "text": error_list[0]
          }
        ) %}
      {% else %}
        {# field_name is None for form level errors #}
        {% do errors.append({"text": error_list[0]}) %}
      {% endif %}
    {% endfor %}

    {{ govukErrorSummary({
      "titleText": "There is a problem",
      "errorList": errors
    }) }}
  {% endif %}
{% endmacro %}
