{% macro file_upload(
  field,
  action=None,
  button_text="Choose file",
  alternate_link=None,
  alternate_link_text=None,
  hint=None,
  multiple=False
) %}
  <form method="post" enctype="multipart/form-data" {% if action %}action="{{ action }}"{% endif %} class="{% if field.errors %}form-group-error{% endif %}" data-module="file-upload">
    <label class="file-upload-label" for="{{ field.name }}">
      <span class="visually-hidden">{{ field.label.text }}</span>
      {% if hint %}
        <span class="form-hint">
          {{ hint }}
        </span>
      {% endif %}
      {% if field.errors %}
        <span class="error-message">
          {{ field.errors[0] }}
        </span>
      {% endif %}
    </label>
    {% if multiple %}
      {{ field(**{
        'multiple': 'multiple',
        'class': 'file-upload-field'
      }) }}
    {% else %}
      {{ field(**{
        'class': 'file-upload-field'
      }) }}
    {% endif %}
    <label class="file-upload-button" for="{{ field.name }}">
      {{ button_text }}
    </label>
    {% if alternate_link and alternate_link_text %}
      <span class="file-upload-alternate-link">
        or <a href="{{ alternate_link }}">{{ alternate_link_text }}</a>
      </span>
    {% endif %}
    <label class="file-upload-filename" for="{{ field.name }}"></label>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="file-upload-submit">Submit</button>
  </form>
{% endmacro %}
