{% macro list_of_placeholders(placeholders) %}
  {{ placeholders | formatted_list(
    before_each="<span class='placeholder'>((",
    after_each='))</span>',
    separator=' '
  ) }}
{%- endmacro %}

{% macro list_of_code_snippets(variables) %}
  {{ variables | formatted_list(
    before_each="<code>",
    after_each='</code>',
    separator=', '
  ) }}
{%- endmacro %}

{% macro render_list_or_string(value) %}
 {% if value  is iterable and value is not string %}
    <ul>
      {% for sub_item in value %}
        {% if sub_item %}
          <li>{{ sub_item }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    {{ value or '' }}
  {% endif %}
{% endmacro %}
