{% macro message_count_label(count, template_type, suffix='sent') -%}
  {% if template_type == None %}
    {%- if count == 1 -%}
      message
    {%- else -%}
      messages
    {%- endif -%}
  {% endif %}
  {%- if template_type == 'sms' -%}
    {%- if count == 1 -%}
      text message
    {%- else -%}
      text messages
    {%- endif -%}
  {%- elif template_type == 'email' -%}
    {%- if count == 1 -%}
      email
    {%- else -%}
      emails
    {%- endif -%}
  {%- elif template_type == 'letter' -%}
    {%- if count == 1 -%}
      letter
    {%- else -%}
      letters
    {%- endif -%}
  {%- endif %} {{ suffix }}
{%- endmacro %}
