{% macro sms_message(
  body,
  recipient=None,
  name=None,
  id=None,
  edit_link=None,
  from=None,
  show_placeholder_for_recipient=False
) %}
  {% if name %}
    <h3 class="sms-message-name">
      {% if edit_link %}
        <a name="{{ name|linkable_name }}" href="{{ edit_link }}">{{ name }}</a>
      {% else %}
        {{ name }}
      {% endif %}
      {% if created_at %}{{ created_at }}{% endif %}
    </h3>
  {% endif %}
  {% if recipient is not none %}
    <p class="sms-message-recipient">
      To: 
      {% if show_placeholder_for_recipient %}
        <span class="placeholder">
          phone number
        </span>
      {% else %}
        {{ recipient }}
      {% endif %}
    </p>
  {% endif %}
  <div class="sms-message-wrapper{% if input_name %}-with-radio{% endif %}">
    {% if from %}
      <span class="sms-message-from">
        {{ from }}
      </span>
    {% endif %}
    {{ body|nl2br }}
  </div>
  {% if id %}
    <p class="sms-message-recipient">
      Template ID: {{ id }}
    </p>
  {% endif %}
{% endmacro %}
