{% macro sms_message(body, recipient) %}
  {% if recipient %}
    <p class="sms-message-recipient">
      {{ recipient }}
    </p>
  {% endif %}
  <div class="sms-message">
    <div class="sms-message-wrapper">
      {{ body|placeholders }}
    </div>
  </div>
{% endmacro %}

{% macro message_history(title, log, heading_level=2) %}
  <dl class="sms-message-history">
    <h{{heading_level}} class="sms-message-history-heading">{{ title }}</h{{heading_level}}>
    {% for update in log %}
      <dt class="sms-message-history-time">{{ update.time }}</dt>
      <dd class="sms-message-history-status">{{ update.status }}</dd>
    {% endfor %}
  </dl>
{% endmacro %}
