{% macro mapping_table(caption='', field_headings=[], field_headings_visible=True, caption_visible=True) -%}
  <table class="table">
    <caption class="heading-medium table-heading{{ ' visuallyhidden' if not caption_visible}}">
      {{ caption }}
    </caption>
    <thead class="table-field-headings{% if field_headings_visible %}-visible{% endif %}">
      <tr>
        {% for field_heading in field_headings %}
          <th scope="col" class="table-field-heading{% if loop.first %}-first{% endif %}">
            {% if field_headings_visible %}
              {{ field_heading }}
            {% else %}
              <span class="visuallyhidden">{{ field_heading }}</span>
            {% endif %}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {{ caller() }}
    </tbody>
  </table>
{%- endmacro %}

{% macro list_table(items, caption='', empty_message='', field_headings=[], field_headings_visible=True, caption_visible=True) -%}

  {% set parent_caller = caller %}
  {% if items %}
    {% call mapping_table(caption, field_headings, field_headings_visible, caption_visible) %}
      {% for item in items %}
        {% call row() %}
          {{ parent_caller(item) }}
        {% endcall %}
      {% endfor %}
    {%- endcall %}
  {% else %}
    <p class="table-empty-message">
      {{ empty_message }}
    </p>
  {% endif %}

{%- endmacro %}

{% macro row() -%}
  <tr class="table-row">
    {{ caller() }}
  </tr>
{%- endmacro %}

{% macro field(align='left', status='') -%}
  <td class="table-field{% if align == 'right' %}-right-aligned{% endif %}">
    <span class="{{ 'table-field-status-' + status if status }}">{{ caller() }}</span>
  </td>
{%- endmacro %}

{% macro right_aligned_field_heading(text) %}
  <span class="table-field-heading-right-aligned">{{ text }}</span>
{%- endmacro %}

{% macro hidden_field_heading(text) %}
  <span class="visuallyhidden">{{ text }}</span>
{%- endmacro %}
