{% macro task_list_item(completed, label, link) %}
  <li class="task-list-item">
    <span aria-describedby="{{ label|id_safe }}"><a class="govuk-link govuk-link--no-visited-state" href="{{ link }}">{{ label }}</a></span>
    {% if completed %}
      <strong class="task-list-indicator-completed" id="{{ label|id_safe }}">Completed</strong>
    {% else %}
      <strong class="task-list-indicator-not-completed" id="{{ label|id_safe }}">Not completed</strong>
    {% endif %}
  </li>
{% endmacro %}

{% macro task_list_wrapper() %}
  <ul class="task-list">
    {{ caller() }}
  </ul>
{% endmacro %}
