{% macro textbox(
  field,
  hint=False,
  highlight_tags=False,
  autofocus=False,
  help_link=None,
  help_link_text=None,
  width='2-3',
  suffix=None,
  disabled=False
) %}
  <div class="form-group{% if field.errors %} error{% endif %}" {% if autofocus %}data-module="autofocus"{% endif %}>
    <label class="form-label" for="{{ field.name }}">
      {{ field.label }}
      {% if hint %}
        <span class="form-hint">
          {{ hint }}
        </span>
      {% endif %}
      {% if field.errors %}
        <span class="error-message">
          {{ field.errors[0] }}
        </span>
      {% endif %}
    </label>
      {% if disabled %}
        {{ field(**{
        'class': 'form-control form-control-{} textbox-highlight-textbox'.format(width) if highlight_tags else 'form-control form-control-{} {}'.format(width, 'textbox-right-aligned' if suffix else ''),
        'data-module': 'highlight-tags' if highlight_tags else '',
        'disabled': 'disabled'
      }) }}
      {% else %}
        {{ field(**{
          'class': 'form-control form-control-{} textbox-highlight-textbox'.format(width) if highlight_tags else 'form-control form-control-{} {}'.format(width, 'textbox-right-aligned' if suffix else ''),
          'data-module': 'highlight-tags' if highlight_tags else ''
        }) }}
      {% endif %}


    {% if suffix %}
      <span>{{ suffix }}</span>
    {% endif %}
    {% if help_link and help_link_text %}
      <p class="textbox-help-link">
        <a href='{{ help_link }}'>{{ help_link_text }}</a>
      </p>
    {% endif %}
  </div>
{% endmacro %}
