{% macro tick_cross(yes, label, truthy_hint='Can', falsey_hint='Cannot') %}
  <li>
    {% if yes %}
      <span class="tick-cross-tick">
        <span class="govuk-visually-hidden">{{ truthy_hint }}</span>
        {{ label}}
      </span>
    {% else %}
      <span class="tick-cross-cross">
        <span class="govuk-visually-hidden">{{ falsey_hint }}</span>
        {{ label}}
      </span>
    {% endif %}
  </li>
{% endmacro %}

{% macro tick_cross_done_not_done(yes, label) %}
  {{ tick_cross(yes, label, truthy_hint='Done: ', falsey_hint='Not done: ') }}
{% endmacro %}
