{% macro yes_no(name, label, current_value=None) %}
  <fieldset class='yes-no'>
    <legend class='yes-no-label'>
      {{ label }}
    </legend>
    <div class='yes-no-fields inline'>
      <label class='block-label'>
        <input type='radio' name='{{ name }}' value='yes' {% if current_value == 'yes' %}checked{% endif %} />
        Yes
      </label>
      <label class='block-label'>
        <input type='radio' name='{{ name }}' value='no' {% if current_value == 'no' %}checked{% endif %} />
        No
      </label>
    </div>
  </fieldset>
{% endmacro %}
