{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Voeg uw contactgegevens toe
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Voeg uw contactgegevens toe') }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% call form_wrapper() %}
        {{ form.letter_contact_block(param_extensions={
          "classes": "govuk-!-width-one-half govuk-textarea-highlight__textbox",
          "rows": "10",
          "attributes": {
            "data-notify-module": "enhanced-textbox",
            "data-highlight-placeholders": "true"
          },
          "label": {
            "text": "Dit wordt het afzendadres op uw brieven"
          },
          "hint": {
            "text": "Maximaal 10 regels"
          },
          "formGroup": {
            "classes": "govuk-textarea-highlight",
          }
        }) }}
        {% if not first_contact_block %}
          {{ form.is_default }}
        {% endif %}
        {{ page_footer('Toevoegen') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
