<p>
  Before you can go live on GOV.UK Notify, your organisation needs to agree to our data sharing and financial agreement.
</p>
<h2 class="heading-small">
  Crown bodies
</h2>
<p>
  Download the <a href="{{ url_for('main.public_download_agreement', variant='crown') }}">crown agreement</a>.
</p>
<h2 class="heading-small">
  Non-crown bodies
</h2>
<p>
  Download the <a href="{{ url_for('main.public_download_agreement', variant='non-crown') }}">non-crown agreement</a>.
</p>
<div class="panel panel-border-wide">
  <p>
    <a href="{{ url_for('main.support') }}">Contact us</a> if you’re
    not sure whether your organisation is a crown or non-crown body.
  </p>
</div>
<h2 class="heading-small">
  Next steps
</h2>
<ol class="list list-number">
  <li>
    Get the agreement signed by someone who has the authority to do so on behalf of {{ owner or 'your organisation' }}.
  </li>
  <li>
    Return the signed copy to <a href="mailto:notify-support@digital.cabinet-office.gov.uk">notify-support@digital.cabinet-office.gov.uk</a>.
  </li>
</ol>
<p>
  The agreement contains commercially sensitive information, so don’t share it more widely than you need to.
</p>
