{% extends "withoutnav_template.html" %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  GOV.UK Notify data sharing and financial agreement
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-one-third">
    {{ sub_navigation(navigation_links) }}
  </div>
  <div class="column-two-thirds">

    <h1 class="heading-large">
      GOV.UK Notify data sharing and financial agreement
    </h1>

    <p>
      Your organisation ({{ owner }}) has already accepted the GOV.UK
      Notify data sharing and financial agreement. You can
      <a href="{{ url_for('main.download_agreement') }}">download a copy</a>.
    </p>
    <p>
      The agreement contains commercially sensitive information, so don’t share it more widely than you need to.
    </p>
  </div>
</div>

{% endblock %}
