{% extends "withnav_template.html" %}
{% from "components/radios.html" import radio, conditional_radio_panel %}
{% from "components/select-input.html" import select_wrapper %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block per_page_title %}
  Accept our data sharing and financial agreement
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_agreement', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-five-sixths">

    {{ page_header('Accept our data sharing and financial agreement') }}

    {% call form_wrapper(class='top-gutter') %}

      {% call select_wrapper(form.who) %}
        {% for option in form.who %}
          {{ radio(option, data_target='on-behalf-of' if option.data == 'someone-else' else None) }}
        {% endfor %}
      {% endcall %}
      {% call conditional_radio_panel('on-behalf-of') %}
        {{ form.on_behalf_of_name(param_extensions={"classes": "govuk-!-width-full"}) }}
        {{ form.on_behalf_of_email(param_extensions={"classes": "govuk-!-width-full"}) }}
      {% endcall %}
      {{ form.version(
        param_extensions={
          "hint": {"text": "The version number is on the front page, for example ‘3.6’"},
          "classes": "govuk-!-width-one-third"}
      ) }}

      {{ page_footer('Continue') }}

    {% endcall %}

  </div>
</div>

{% endblock %}
