{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}

{% block service_page_title %}
  GOV.UK Notify data sharing and financial agreement
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-five-sixths">

    {{ page_header(
      'GOV.UK Notify data sharing and financial agreement',
      back_link=url_for('main.request_to_go_live', service_id=current_service.id)
    )}}

    {% include 'views/agreement/_agreement-choose.html'%}

  </div>
</div>

{% endblock %}
