{% macro branding_preview(endpoint, branding_style, title, url_kwargs=None, classes='') %}
  <iframe src="{{ url_for(endpoint, branding_style=branding_style, title=title,**(url_kwargs or {})) }}" class="branding-preview {{ classes }}" scrolling="no" title="{{ title }}"></iframe>
{% endmacro %}

{% macro custom_email_branding_preview(preview_settings, title='Preview of email branding') %}
  {{ branding_preview('main.email_template', branding_style='custom', title=title, url_kwargs=preview_settings) }}
{% endmacro %}

{% macro custom_letter_branding_preview(filename, title='Preview of letter branding') %}
  <div class="branding-preview-image">
    <img src="{{ url_for('no_cookie.letter_branding_preview_image', branding_style=None, filename=filename) }}" alt="{{ title }}">
  </div>
{% endmacro %}

{% macro email_branding_preview(branding_style, title='Preview of email branding', classes='') %}
  {{ branding_preview('main.email_template', branding_style, title=title, url_kwargs={"email_branding_preview":True},classes=classes)}}
{% endmacro %}

{% macro letter_branding_preview(branding_style, title='Preview of letter branding', classes='') %}
  <div class="branding-preview-image">
    <img src="{{ url_for('no_cookie.letter_branding_preview_image', branding_style=branding_style) }}" alt="{{ title }}">
  </div>
{% endmacro %}
