{% macro task_list_item(completed, label, link) %}
  <li class="task-list-item">
    {% set status_id = label | make_string_safe_for_id %}
    <span aria-describedby="{{ status_id }}"><a class="govuk-link govuk-link--no-visited-state" href="{{ link }}">{{ label }}</a></span>
    {% if completed %}
      <strong class="task-list-indicator-completed" id="{{ status_id }}">Completed</strong>
    {% else %}
      <strong class="task-list-indicator-not-completed" id="{{ status_id }}">Not completed</strong>
    {% endif %}
  </li>
{% endmacro %}

{% macro task_list_wrapper() %}
  <ul class="govuk-list task-list">
    {{ caller() }}
  </ul>
{% endmacro %}
