{% import 'components/svgs.html' as svgs %}

{% macro tick_cross(yes, label, truthy_hint='Can', falsey_hint='Cannot') %}
  {% if yes %}
    <li class="tick-cross__list-item tick-cross__tick">
      <span class="tick-cross__icon">
        {{ svgs.tick() }}
      </span>
      <span class="govuk-visually-hidden">{{ truthy_hint }}&nbsp;</span>{{ label}}
    </li>
    {% else %}
    <li class="tick-cross__list-item tick-cross__cross">
      <span class="tick-cross__icon">
        {{ svgs.cross() }}
      </span>
      <span class="govuk-visually-hidden">{{ falsey_hint }}&nbsp;</span>{{ label}}
    </li>
    {% endif %}
{% endmacro %}

{% macro tick_cross_done_not_done(yes, label) %}
  {{ tick_cross(yes, label, truthy_hint='Done: ', falsey_hint='Not done: ') }}
{% endmacro %}
