{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/table.html" import list_table, text_field, row_heading %}
{% from "components/file-upload.html" import file_upload %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Fout
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.upload_contact_list', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="bottom-gutter-1-2">
    {% call banner_wrapper(type='dangerous') %}

      {% if not recipients|length %}

        <h1 class='banner-title'>
          Uw bestand mist enkele rijen
        </h1>
        <p class="govuk-body">
          Het moet ten minste één rij met gegevens bevatten
          {%- if template_type %}.{% else %}, in een kolom genaamd ‘e-mailadres’ of ‘telefoonnummer’.{% endif %}
        </p>

      {% elif recipients.column_headers|length == 1 %}

        <h1 class='banner-title'>
          Uw bestand moet een kolom hebben met de naam ‘e-mailadres’ of ‘telefoonnummer’.
        </h1>
        <p class="govuk-body">
          Op dit moment heeft het 1 kolom met de naam ‘{{ recipients._raw_column_headers[0] }}’.
        </p>

      {% else %}

        <h1 class='banner-title'>
          Uw bestand bevat te veel kolommen
        </h1>
        <p class="govuk-body">
          Het moet precies 1 kolom bevatten, genaamd ‘e-mailadres’ of ‘telefoonnummer’.
        </p>
        <p class="govuk-body">
          Op dit moment heeft het {{ recipients._raw_column_headers|length }} kolommen met de namen {{ recipients._raw_column_headers | formatted_list }}.
        </p>

      {% endif %}
    {% endcall %}
  </div>


  <div class="js-stick-at-top-when-scrolling">
    <div class="form-group">
      {{ file_upload(
        form.file,
        allowed_file_extensions=allowed_file_extensions,
        action=url_for('main.upload_contact_list', service_id=current_service.id),
        button_text='Upload uw bestand opnieuw'
      ) }}
    </div>
    <a href="#main-content" class="govuk-link govuk-link--no-visited-state back-to-top-link">Terug naar boven</a>
  </div>

    {% set column_headers = recipients._raw_column_headers if recipients.duplicate_recipient_column_headers else recipients.column_headers %}

    <h2 class="heading-medium" id="file-preview">{{ original_file_name }}</h2>

    <div class="fullscreen-content" data-notify-module="fullscreen-table">
      {% call(item, row_number) list_table(
        recipients.displayed_rows,
        caption=original_file_name,
        caption_visible=False,
        field_headings=[
          '<span class="govuk-visually-hidden">Rij in bestand</span> <span aria-hidden="true">1</span>'|safe
        ] + recipients._raw_column_headers
      ) %}
        {% call row_heading() %}
        {{ item.index + 2 }}
        {% endcall %}
        {% for column in column_headers %}
          {% if item[column].ignore %}
            {{ text_field(item[column].data or '', status='default') }}
          {% else %}
            {{ text_field(item[column].data or '') }}
          {% endif %}
        {% endfor %}
        {% if item[None].data %}
          {% for column in item[None].data %}
            {{ text_field(column, status='default') }}
          {% endfor %}
        {% endif %}
      {% endcall %}
  </div>

  {% if recipients.displayed_rows|list|length < recipients|length %}
    <p class="table-show-more-link">
      Er worden alleen de eerste {{ recipients.displayed_rows|list|length }} rijen getoond
    </p>
  {% endif %}

{% endblock %}
