{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Accepteer onze verwerkers- en financiële overeenkomst
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.request_to_go_live', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-five-sixths">

    {{ page_header('Accepteer onze verwerkers- en financiële overeenkomst') }}

    <p class="govuk-body">
      Voordat u NotifyNL kunt gebruiken, moet u onze verwerkers- en financiële overeenkomst accepteren.
    </p>
    <p class="govuk-body">
      Dit moet worden gedaan door, of namens, iemand met de bevoegdheid om contracten te ondertekenen voor {{ current_service.organisation.name }}.
    </p>
    <p class="govuk-body">
      Na acceptatie geldt de overeenkomst voor alle Notify-diensten van {{ current_service.organisation.name }}.
    </p>
    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.service_download_agreement', service_id=current_service.id) }}">Download een kopie van de verwerkers- en financiële overeenkomst (PDF)</a>.
    </p>
    <p class="govuk-body">
      De overeenkomst is vertrouwelijk en mag niet buiten uw organisatie worden gedeeld.
    </p>
    {{ govukButton({
      "element": "a",
      "text": "Doorgaan",
      "href": url_for('main.service_accept_agreement', service_id=current_service.id),
    }) }}

  </div>
</div>

{% endblock %}
