{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  {{ user.name or user.email_localpart }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('.manage_org_users', org_id=current_org.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(user.name or user.email_localpart) }}

  <p class="govuk-body">
    {{ user.email_address }}
  </p>

  {% call form_wrapper(class="govuk-grid-column-three-quarters") %}
      {{ page_footer(
        'Save',
        delete_link=url_for('.remove_user_from_organisation', org_id=current_org.id, user_id=user.id) if user or None,
        delete_link_text='Remove user from organisation'
      ) }}
  {% endcall %}

{% endblock %}
