// Version of node_modules/govuk-frontend/govuk/components/all.scss specific to Notify
// Included to allow us to only include the components we need
// All imports come from node_modules/govuk-frontend

// set asset URL root to match that of application
$govuk-assets-path: "/static/";

@import "govuk/base";
@import "govuk/core";
@import "govuk/objects";

// specifying which components to include
@import "govuk/components/skip-link/index";
@import "govuk/components/header/index";
@import "govuk/components/footer/index";
@import "govuk/components/back-link/index";
@import "govuk/components/button/index";
@import "govuk/components/details/index";
@import "govuk/components/error-summary/index";
@import "govuk/components/radios/index";
@import "govuk/components/checkboxes/index";
@import "govuk/components/input/index";
@import "govuk/components/inset-text/index";
@import "govuk/components/tabs/index";
@import "govuk/components/textarea/index";
@import "govuk/components/summary-list/index";
@import "govuk/components/tag/index";
@import "govuk/components/task-list/index";
@import "govuk/components/service-navigation/index";

@import "govuk/utilities";
@import "govuk/overrides";

// Styles extending those from GOV.UK Frontend
@import "./extensions";

// Styles for GOV.UK Frontend components specific to this application
@import "./overrides";

@import "./notify-nl/overrides-nl";
