// Overrides for certain GOV.UK Frontend styles to make its components match this application's design

$notify-secondary-button-colour: govuk-shade(govuk-colour("light-grey"), 7%);
$notify-secondary-button-hover-colour: govuk-shade(govuk-colour("light-grey"), 18%);

// Additional padding-bottom override, following the GOV.UK Frontend spacing scale:
// https://design-system.service.gov.uk/styles/spacing/#the-responsive-spacing-scale
.govuk-\!-padding-bottom-12 {
  padding-bottom: 70px;

  @include govuk-media-query($from: tablet) {
    padding-bottom: 90px;
  }
}

// Make column headings smaller to prevent wrapping
.govuk-footer__heading {
  @include govuk-font($size: 19, $weight: bold);
}

.govuk-button {
  margin-bottom: 0px;
}

// Allow legends that contain the h1 to go full width
.govuk-fieldset__legend.govuk-grid-column-full {
  @include govuk-grid-column(full);
}

.govuk-button--secondary {
  background-color: $notify-secondary-button-colour;

  &:hover {
    background-color: $notify-secondary-button-hover-colour;
  }
}
