{% from "components/previous-next-navigation.html" import previous_next_navigation %}
{% extends "withnav_template.html" %}

{% block service_page_title %}
  Uploaded files
{% endblock %}

{% block maincolumn_content %}
    <h1 class="heading-large">Uploaded files</h1>
    <div class="dashboard">
      {{ scheduled_jobs|safe }}
      {% include 'views/dashboard/_jobs.html' %}
      {{ previous_next_navigation(prev_page, next_page) }}
      {% if current_service.can_upload_letters and current_user.has_permissions('send_messages') %}
        <div class="js-stick-at-bottom-when-scrolling">
          <a href="{{ url_for('.upload_letter', service_id=current_service.id) }}" class="button-secondary" role="button">Upload a letter</a>
        </div>
      {% endif %}
    </div>
{% endblock %}
