{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}


{% set title = "Confirm this service is unique" %}

{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% block maincolumn_content %}
  {{ page_header(title) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">

      <p class="govuk-body">
        ‘{{ current_service.name }}’ must be the only service of its kind in your organisation.
      </p>

    <p class="govuk-body">
      Before you continue, check the list of <a href="{{ url_for('.organisation_dashboard', org_id=current_service.organisation.id) }}" class="govuk-link govuk-link--no-visited-state">{{ current_service.organisation.name }} services</a>.
    </p>

    <p class="govuk-body">
      Look out for similar:
    </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>service names</li>
        <li>message templates</li>
        <li>team members</li>
      </ul>

    {% call form_wrapper() %}
      {{ form.is_unique }}
      {{ page_footer('Continue') }}
    {% endcall %}

    </div>
  </div>

{% endblock %}
