{% if platform_admin %}
      <h2 class="banner-title">Weet u zeker dat u ‘{{service_name}}’ wilt verwijderen?</h2>
      <br>
      <p class="govuk-body">Voordat u deze dienst verwijdert: </p>
           <ul class="govuk-list govuk-list--bullet">
             <li>controleer de exacte naam van de dienst die de gebruiker wil verwijderen</li>
             <li>controleer of de gebruiker de machtiging ‘Instellingen, team en gebruik beheren’ heeft voor deze dienst</li>
             <li>bevestig het verzoek met een ander teamlid met dezelfde machtiging</li>
             <li>controleer of we een factuur moeten opstellen</li>
           </ul>
       <p class="govuk-body">Als de dienst sms-berichten kan ontvangen, informeer de gebruiker dat het telefoonnummer voor deze dienst niet meer zal werken.</p>
{% else %}
      <h2 class="govuk-body govuk-!-font-weight-bold">
          Weet u zeker dat u ‘{{current_service.name}}’ wilt verwijderen? Dit kan niet ongedaan worden gemaakt.
      </h2>
{% endif %}
