{% extends "content_template.html" %}
{% from "components/service-link.html" import service_link %}

{% block per_page_title %}
  Accessibility statement
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Accessibility statement</h1>

<p class="govuk-body">
    Published 23 September 2020<br>Last updated 27 October 2021<br>We review this page every 3 months.
  </p>

  <p class="govuk-body">
    This accessibility statement applies to the www.notifications.service.gov.uk domain. It does not apply to the <a class="govuk-link govuk-link--no-visited-state" href="https://docs.notifications.service.gov.uk">GOV.UK Notify API documentation subdomain</a>.
  </p>

  <p class="govuk-body">
    This website is run by the GOV.UK Notify team at the Government Digital Service (GDS). It is designed to be used by as many people as possible. You should be able to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>change colours, contrast levels and fonts</li>
    <li>zoom in up to 300% without the text spilling off the screen</li>
    <li>navigate most of the website using just a keyboard</li>
    <li>navigate most of the website using speech recognition software</li>
    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
  </ul>

  <p class="govuk-body">
    The text should be clear and simple to understand.
  </p>

  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="https://mcmw.abilitynet.org.uk">AbilityNet</a> has advice on making your device easier to use if you have a disability.
  </p>

  <h2 class="heading-medium">How accessible this website is</h2>

  <p class="govuk-body">
    We know some parts of this website are not fully accessible:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the ‘upload a file’ button may cause issues for some users</li>
    <li>if a team adds template folders, screen readers may announce the page heading in a confusing way</li>
    <li>the ‘copy to clipboard’ button does not work with some screen readers</li>
    <li>Windows users cannot view our icons in high contrast mode</li>
    <li>validation errors may be confusing for screen reader users</li>
    <li>the way that screen readers announce the different regions of our pages can be confusing</li>
    <li>choosing the date and time to send a message may be hard for some screen reader users</li>
    <li>screen reader users may find it expand or collapse groups of checkboxes</li>
    <li>one page links to a PDF document that is not fully accessible</li>
    <li>the Notify status page has several accessibility issues</li>
  </ul>

  <p class="govuk-body">
    We also know that the emails Notify sends are not fully accessible. The JAWS and NVDA screen readers announce extra spaces in emails when you view them in Microsoft Outlook.
  </p>

  <h2 class="heading-medium">Feedback and contact information</h2>

  <p class="govuk-body">
    If you need any part of this service in a different format like large print, audio recording or braille, <a class="govuk-link govuk-link--no-visited-state" href="https://www.notifications.service.gov.uk/support">contact the GOV.UK Notify team</a>.
  </p>

  <p class="govuk-body">
    We’ll consider your request and get back to you within one working day.
  </p>

  <h2 class="heading-medium">Reporting accessibility problems with this website</h2>

  <p class="govuk-body">
    We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, <a class="govuk-link govuk-link--no-visited-state" href="https://www.notifications.service.gov.uk/support">contact the GOV.UK Notify team</a>.
  </p>

  <h2 class="heading-medium">Enforcement procedure</h2>

  <p class="govuk-body">
    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).
  </p>

  <p class="govuk-body">
    Find out how to <a class="govuk-link govuk-link--no-visited-state" href="https://www.notifications.service.gov.uk/support">contact the GOV.UK Notify team</a>.
  </p>

  <h2 class="heading-medium">Technical information about this website’s accessibility</h2>

  <p class="govuk-body">
    GDS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
  </p>

  <p class="govuk-body">
    GOV.UK Notify is partially compliant with the Web Content Accessibility Guidelines (WCAG) version 2.1 AA standard, due to the non-compliances listed below.
  </p>

  <h2 class="heading-medium">Non-accessible content</h2>

  <p class="govuk-body">
    The content listed below is non-accessible for the following reasons.
  </p>

  <h3 class="heading-small">Non compliance with the accessibility regulations</h3>

  <p class="govuk-body">
    The following content on the Notify website is not compliant with the WCAG version 2.1 AA standard:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      the (before <abbr title="HyperText Markup Language">HTML</abbr>) code for the ‘upload a file’ button may cause issues for assistive technology users - this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships">success criterion 1.3.1: info and relationships</a>
    </li>
    <li>
      the JAWS and NVDA screen readers do not announce the ‘copy to clipboard’ button - this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/WAI/WCAG21/Understanding/status-messages.html">success criterion 4.1.3: status messages</a>
    </li>
    <li>
      some icons do not appear when using high contrast mode on Windows - this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/WAI/WCAG21/Understanding/visual-presentation.html">success criterion 1.4.8: visual presentation</a>
    </li>
  </ul>

  <p class="govuk-body">
    We expect to fix these issues by the end of December 2021.
  </p>

  <h3 class="heading-small">Problems with using the interface</h3>

  <p class="govuk-body">
    We’ve identified the following problems with the user interface:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      the JAWS screen reader announces template folder page headings as multiple sentences
    </li>
    <li>
      our validation errors cause problems for screen readers - this means it can be hard to know when an error has occurred or what to do next
    </li>
    <li>
      the way we label the different regions of our pages is confusing for screen reader users
    </li>
    <li>
      choosing the date and time you want to send a message using a screen reader can be confusing
    </li>
    <li>
      expanding and collapsing groups of checkboxes using a screen reader can be confusing
    </li>
  </ul>

  <p class="govuk-body">
    We hope to fix these issues by the end of January 2022.
  </p>

  <h3 class="heading-small">
    PDFs and other documents
  </h3>

  <p class="govuk-body">
    One page links to a PDF document that is not fully accessible. This is not a fail under any WCAG 2.1 success criterion.</p>

  <p class="govuk-body">
    We provide a written description of the information in the PDF on an HTML page as an accessible alternative.
  </p>

  <h3 class="heading-small">
    Emails
  </h3>

  <p class="govuk-body">
    The JAWS and NVDA screen readers announce extra spaces in emails when viewed in Microsoft Outlook.
  </p>

  <p class="govuk-body">
    We’ll continue to investigate the cause of this issue and, if possible, fix it by the end of 2021.
  </p>

  <h3 class="heading-small">
    Status page
  </h3>

  <p class="govuk-body">
    The following content on the <a class="govuk-link govuk-link--no-visited-state" href="https://status.notifications.service.gov.uk/">Notify status page</a> is not compliant with the WCAG version 2.1 AA standard:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>an incorrect heading hierarchy which fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#info-and-relationships">success criterion 1.3.1: info and relationships</a></li>
    <li>missing level 1 headings (users may not be able to accurately determine the structure of content on the page)</li>
    <li>our status incident page is missing the main heading and the status home page has an incorrect heading hierarchy – this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#info-and-relationships">success criterion 1.3.1: info and relationships</a></li>
    <li>our status page ‘subscribe to updates’ link does not contain programmatically discernible link text – this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#info-and-relationships">success criterion 1.3.1: info and relationships</a></li>
    <li>our status page subscribe to updates form fields do not contain an explicit label – this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#info-and-relationships">success criterion 1.3.1: info and relationships</a></li>
    <li>our status page subscribe to updates forms do not indicate to users that they are expandable or collapsible – this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#name-role-value">success criterion 4.1.2: name, role, value</a></li>
    <li>our status page subscribe to updates forms contain some text that does not meet the minimum colour contrast requirements – this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#contrast-minimum">success criterion 1.4.3: contrast, minimum</a></li>
    <li>our status page subscribe to updates form close link (x) is not descriptive enough for some users to determine its function or purpose – this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#link-purpose-in-context">success criterion 2.4.4: link purpose, in context</a></li>
    <li>our status page subscribe to updates forms, when submitted with incorrect data, do not inform screen reader users of the error message when it becomes available – this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#status-messages">success criterion 4.1.3: status messages</a></li>
  </ul>

  <p class="govuk-body">
    We plan to have the status page issues addressed by the current supplier or move to an alternative supplier in 2021.
  </p>

  <h2 class="heading-medium">
    How we tested this service
  </h2>

  <p class="govuk-body">
    The parts of the website used to send text messages, emails and letters were last tested in February 2021. The emails we send out, the web pages users see when they are sent a file by Notify and a sample letter PDF were last tested on 11th March 2019. Both tests were carried out by DAC.
  </p>

  <p class="govuk-body">
    We decided which pages to test based on the most common tasks that GOV.UK Notify users need to complete. We also tested a sample of pages with common user interface components.
  </p>
{% endblock %}
