{% extends "content_template.html" %}
{% from "components/service-link.html" import service_link %}

{% block per_page_title %}
  Accessibility statement
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Accessibility statement</h1>

  <p class="govuk-body">
    This accessibility statement applies to content published on the www.notifications.service.gov.uk domain. It does not apply to the GOV.UK Notify API documentation subdomain: https://docs.notifications.service.gov.uk.
  </p>

  <h2 class="heading-medium">How accessible this website is</h2>

  <h2 class="heading-medium">Feedback and contact information</h2>

  <h2 class="heading-medium">Reporting accessibility problems with this website</h2>

  <h2 class="heading-medium">Enforcement procedure</h2>

  <h2 class="heading-medium">Technical information about this website’s accessibility</h2>

  <h3 class="heading-small">Compliance status</h3>

{% endblock %}

