{% extends "content_template.html" %}
{% from "components/content-metadata.html" import content_metadata %}

{% block per_page_title %}
  Accessibility statement
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Accessibility statement</h1>

  {{ content_metadata(
    data={
      "Published": "23 September 2020",
      "Last updated": "15 July 2025",
      "Next review due": "31 July 2025"
    }
    ) }}
    {# Last non-functional changes: 13 December 2024 #}

  <p class="govuk-body">
    This accessibility statement applies to the www.notifications.service.gov.uk domain. It does not apply to the <a class="govuk-link govuk-link--no-visited-state" href="https://docs.notifications.service.gov.uk">GOV.UK Notify API documentation subdomain</a>.
  </p>

  <p class="govuk-body">
    This website is run by the GOV.UK Notify team at the Government Digital Service (GDS). It is designed to be used by as many people as possible. You should be able to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>change colours, contrast levels and fonts using browser or device settings</li>
    <li>zoom in up to 400% without the text spilling off the screen</li>
    <li>navigate most of the website using a keyboard or speech recognition software</li>
    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
  </ul>

  <p class="govuk-body">
    We’ve also made the website text as simple as possible to understand.
  </p>

  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="https://mcmw.abilitynet.org.uk">AbilityNet</a> has advice on making your device easier to use if you have a disability.
  </p>

  <h2 class="heading-medium" id="how-accessible-this-website-is">How accessible this website is</h2>

  <p class="govuk-body">
    We know some parts of this website are not fully accessible.
  </p>
  <p class="govuk-body">
    the Notify status page has several accessibility issues
  </p>

  <p class="govuk-body">
    We also know that the emails Notify sends are not fully accessible. The NVDA screen reader announces extra spaces in emails when you view them in Microsoft Outlook.
  </p>

  <h2 class="heading-medium" id="feedback-and-contact-information">Feedback and contact information</h2>

  <p class="govuk-body">
    If you need any part of this service in a different format like large print, audio recording or braille, <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("main.support") }}">contact the GOV.UK Notify team</a>.
  </p>

  <p class="govuk-body">
    We’ll consider your request and get back to you by the end of the next working day.
  </p>

  <h2 class="heading-medium" id="reporting-accessibility-problems">Reporting accessibility problems with this website</h2>

  <p class="govuk-body">
    We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("main.support") }}">contact the GOV.UK Notify team</a>.
  </p>

  <h2 class="heading-medium" id="enforcement-procedure">Enforcement procedure</h2>

  <p class="govuk-body">
    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a class="govuk-link govuk-link--no-visited-state" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
  </p>

  <h2 class="heading-medium" id="technical-information">Technical information about this website’s accessibility</h2>

  <p class="govuk-body">
    GDS is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
  </p>

  <h2 class="heading-medium" id="compliance-status">Compliance status</h2>

  <p class="govuk-body">
    We have tested the Notify website against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.
  </p>

  <p class="govuk-body">
    This website is partially compliant with the Web Content Accessibility Guidelines version 2.2 AA standard, due to a non-compliance listed below.
  </p>

  <h2 class="heading-medium" id="non-accessible-content">Non-accessible content</h2>

  <h3 class="heading-small" id="non-compliance">Non-compliance with the accessibility regulations</h3>

  <p class="govuk-body">
    The following content on the Notify website is not compliant with the WCAG version 2.2 AA standard:
  </p>

  <h3 class="heading-small" id="pdfs-documents">
    PDFs and other documents
  </h3>

  <h3 class="heading-small" id="emails">
    Emails
  </h3>

  <p class="govuk-body">
    The NVDA screen reader announces extra spaces in emails when viewed in Microsoft Outlook.
  </p>

  <h3 class="heading-small" id="status-page">
    Status page
  </h3>

  <p class="govuk-body">
    The following content on the <a class="govuk-link govuk-link--no-visited-state" href="https://status.notifications.service.gov.uk/">Notify status page</a> is not compliant with the WCAG version 2.2 AA standard:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>an incorrect heading hierarchy which fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#info-and-relationships">success criterion 1.3.1: info and relationships</a></li>
    <li>missing level 1 headings (users may not be able to accurately determine the structure of content on the page)</li>
    <li>our status incident page is missing the main heading and the status home page has an incorrect heading hierarchy – this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#info-and-relationships">success criterion 1.3.1: info and relationships</a></li>
    <li>our status page subscribe to updates forms, when submitted with incorrect data, do not inform screen reader users of the error message when it becomes available – this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#status-messages">success criterion 4.1.3: status messages</a></li>
    <li>incident titles are colour-coded, with no other visual indication or text – this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#use-of-color">success criterion 1.4.1: use of color</a></li>
    <li>there is only one way to get to some pages. Many of these pages can only be reached using inaccessible controls - this fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#multiple-ways">success criterion  success criterion 2.4.5: multiple ways</a></li>
  </ul>

  <h2 class="heading-medium" id="how-we-tested-this-service">
    How we tested this service
  </h2>

  <p class="govuk-body">
    All status pages across GDS were audited by an internal accessibility specialist in January 2025. The resulting issues are now listed in this statement and being worked on.
  </p>
  <p class="govuk-body">
    We revised what makes up the common tasks GOV.UK Notify users need to complete and tested them against WCAG 2.2 in September 2024. All tests were carried out by the Digital Accessibility Centre.
  </p>
  <p class="govuk-body">
    The parts of the website used to add <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_email_branding') }}">email branding</a> or <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_letter_branding') }}">letter branding</a> were tested on 9 October 2023. The button for copying text in the page to your clipboard and the component for choosing the day and time to send notifications were also tested as part of this.
  </p>
  <p class="govuk-body">
    The parts of the website used to send text messages, emails and letters were last tested in February 2021. The emails we send out, the web pages users see when they are sent a file by Notify and a sample letter PDF were last tested on 11 March 2019. All tests were carried out by the Digital Accessibility Centre.
  </p>
  <p class="govuk-body">
    We originally decided which pages to test based on the most common tasks that GOV.UK Notify users need to complete. We also tested a sample of pages with common user interface components. Since then, we test any new features or substantial changes to the service.
  </p>
{% endblock %}
