{% extends "withoutnav_template.html" %}
{% from "components/govuk-page-header.html" import govuk_page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}


{% set caption = "Add a new service" %}
{% set heading = 'Enter a service name' %}

{% block backLink %}
    {% if request.args.get("back") == "your_services" %}
        {{ govukBackLink({ "href": url_for('main.add_service_choose_organisation') }) }}
    {% endif %}
{% endblock %}

{% block per_page_title %}
    {{ heading }}
{% endblock %}

{% block maincolumn_content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div>
            <span class="govuk-caption-xl">{{ caption }}</span>
            {{ govuk_page_header(heading) }}
        </div>

        <p>Choose a name that describes the purpose of your service.</p>
        <p>GOV.UK Notify will use it to check that your organisation keeps to our terms of use.</p>

        <p>Do not include:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>acronyms, initialisms or abbreviations</li>
            <li>your own name or the name of someone on your team</li>
        </ul>

        {% call form_wrapper() %}
            {{ form.name(param_extensions={"hint": {"text": "You can change your service name later if you need to"} }) }}

            {{ page_footer('Save and continue') }}
        {% endcall %}

        {% set service_name_visibility_details %}
        <p>The only people that can see your service name are:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>you and your team members</li>
            <li>GOV.UK Notify</li>
            <li>other members of your organisation</li>
        </ul>
        {% endset %}

        {{ govukDetails({
      "summaryText": "Who can see my service name?",
      "html": service_name_visibility_details
    }) }}

    </div>
</div>

{% endblock %}
