{% extends "withoutnav_template.html" %}
{% from "components/govuk-page-header.html" import govuk_page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set heading = 'Enter a service name' %}

{% block backLink %}
  {% if request.args.get("back") == "your_services" %}
    {{ govukBackLink({ "href": url_for('main.your_services') }) }}
  {% endif %}
{% endblock %}

{% block per_page_title %}
  {{ heading }}
{% endblock %}

{% block maincolumn_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
       {{ govuk_page_header(heading) }}
      <p class="govuk-body">This is the name your emails will come from.</p>
      <p class="govuk-body">You can also display it at the start of every text message you send.</p>

    {% if default_organisation_type == 'central' or default_organisation_type == 'local'  %}
      <p class="govuk-body">Your service name should tell the recipient what your message is about, as well as who it’s from. For example:</p>

      <ul class="govuk-list govuk-list--bullet">
        {% if default_organisation_type == 'central' %}
          <li>Register to vote</li>
          <li>Renew your Passport</li>
          <li>Check your state pension</li>
        {% elif default_organisation_type == 'local' %}
          <li>School admissions - {{ current_user.default_organisation.name }}</li>
          <li>Electoral services - {{ current_user.default_organisation.name }}</li>
          <li>Blue Badge - {{ current_user.default_organisation.name }}</li>
        {% endif %}
      </ul>
    {% else %}
      <p class="govuk-body">Your service name should tell the recipient what your message is about, as well as who it’s from.</p>
    {% endif %}

    <p class="govuk-body">Do not use an acronym, initialism or abbreviation unless your recipients are already familiar with it.</p>

    {% call form_wrapper() %}
      {{ form.name(param_extensions={"hint": {"text": "You can change this later"} }) }}

      {% if not default_organisation_type %}
        {{ form.organisation_type }}
      {% endif %}

      {{ page_footer('Add service') }}
    {% endcall %}

    </div>
  </div>

{% endblock %}
