{% extends "withnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/api-key.html" import api_key %}

{% block page_title %}
  GOV.UK Notify | API keys and documentation
{% endblock %}

{% block maincolumn_content %}

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          API keys and documentation
        </h1>

        <h2 class="heading-medium">
          How to integrate GOV.UK Notify into your service
        </h2>

        <p>
          blah blah blah this is where we tell you how the API works
        </p>

        <h2 class="heading-medium">Repositories</h2>



        <p>
          <a href="https://github.com/alphagov/notifications-api">GOV.UK Notify API</a>
        </p>

        <p>
          <a href="https://github.com/alphagov/notify-api-client">GOV.UK Notify Python client</a>
        </p>

        <h2 class="heading-medium">API key for [service name]</h2>

        {{ api_key('d30512af92e1386d63b90e5973b49a10') }}

        <h2 class="heading-medium">API endpoint</h2>

        <p>
          https://www.notify.works/api/endpoint
        </p>

      </div>
    </div>

    {{ page_footer(
      back_link=url_for('.service_dashboard', service_id=service_id),
      back_link_text='Back to dashboard'
    ) }}

{% endblock %}
