{% extends "withnav_template.html" %}
{% from "components/table.html" import list_table, field, hidden_field_heading %}
{% from "components/api-key.html" import api_key %}

{% block page_title %}
  API keys – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        API integration
      </h1>
    </div>
    <div class="column-one-third">
      <a href="{{ url_for('.create_api_key', service_id=current_service.id) }}" class="button align-with-heading">Create an API key</a>
    </div>
  </div>

  {% call(item, row_number) list_table(
    keys,
    empty_message="You haven’t created any API keys yet",
    caption="API keys",
    caption_visible=false,
    field_headings=[
      'API keys',
      hidden_field_heading('Key type'),
      hidden_field_heading('Action')
    ],
  ) %}
    {% call field() %}
      {{ item.name }}
    {% endcall %}
    {% call field(status='default') %}
      {% if item.key_type == 'normal' %}
        <span class="visually-hidden">Normal</span>
      {% elif item.key_type == 'team' %}
        Only sends to team members
      {% elif item.key_type == 'test' %}
        Simulates sending messages
      {% endif %}
    {% endcall %}
    {% if item.expiry_date %}
      {% call field(align='right', status='default') %}
        Revoked {{ item.expiry_date|format_datetime }}
      {% endcall %}
    {% else %}
      {% call field(align='right', status='error') %}
        <a href='{{ url_for('.revoke_api_key', service_id=current_service.id, key_id=item.id) }}'>Revoke</a>
      {% endcall %}
    {% endif %}
  {% endcall %}

  <div class="bottom-gutter">
    {{ api_key(current_service.id, "Service ID", thing="service ID") }}
  </div>

  <p>
    API usage is described in the
    <a href="{{ url_for('.documentation', service_id=current_service.id) }}">
    API documentation</a>.
  </p>

{% endblock %}
