{% extends "withoutnav_template.html" %}

{% block per_page_title %}
  Check your inbox – Change your email address
{% endblock %}

{% block maincolumn_content %}
  <span class="govuk-caption-xl govuk-!-margin-bottom-1 govuk-!-padding-top-7">Change your email address</span>

  <h1 class="heading-large govuk-!-margin-top-0">Check your inbox​</h1>
  <p class="govuk-body">We’ve sent an email to {{ new_email }}</p>
  <p class="govuk-body">Click the link in the email to confirm the change to your email address.</p>

{% endblock %}
