{% extends "withnav_template.html" %}
{% from "components/sms-message.html" import sms_message %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/textbox.html" import textbox %}

{% block page_title %}
  Send text messages – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Send text messages</h1>

  <form method="POST" enctype="multipart/form-data">

    {% if templates %}
      {% if not has_jobs %}
        {{ banner(
          """
            Send yourself a test message
          """,
          subhead='Next step',
          type="tip"
        )}}
      {% endif %}
      <div class="grid-row">
        {% for template in templates %}
          <div class="column-two-thirds">
            {{ sms_message(template.formatted_as_markup, name=template.name) }}
          </div>
          <div class="column-one-third">
            <div class="sms-message-use-links">
              <a href="{{ url_for(".send_messages", service_id=service_id, template_id=template.id) }}">Add recipients</a>
              <a href="{{ url_for(".send_message_to_self", service_id=service_id, template_id=template.id) }}">Send yourself a test</a>
              <a href="{{ url_for(".edit_service_template", service_id=service_id, template_id=template.id) }}">Edit template</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <p>
      <a href="{{ url_for('.add_service_template', service_id=service_id, template_type='sms') }}" class="button">Add a new template</a>
    </p>

  </form>
{% endblock %}
