{% extends "withnav_template.html" %}
{% from "components/sms-message.html" import sms_message %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/textbox.html" import textbox %}

{% block page_title %}
  Send text messages – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Send text messages</h1>

  <form method="POST" enctype="multipart/form-data">

    {% if templates %}
      <div class="grid-row">
        {% for template in templates %}
          <div class="column-two-thirds">
            {{ sms_message(template.formatted_as_markup, name=template.name) }}
          </div>
          <div class="column-one-third">
            <div class="sms-message-use-link">
              <a href="{{ url_for(".send_sms", service_id=service_id, template_id=template.id) }}">Use this template</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      {{ banner(
        '<a href="{}">Add a text message template</a> to start sending messages'.format(
          url_for(".add_service_template", service_id=service_id)
        )|safe,
        type="tip"
      )}}
    {% endif %}

  </form>
{% endblock %}
