{% extends "withoutnav_template.html" %}
{% from "components/browse-list.html" import browse_list %}

{% block per_page_title %}
  Choose service
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    Choose service
  </h1>

  {% for org in organisations %}
    <div class="keyline-block">&nbsp;</div>
    <div>
      <div>
        {{ browse_list([org]) }}
      </div>
      <div style="margin-left: 30px">
          {{ browse_list(org.services) }}
      </div>
    </div>
  {% endfor %}
  {% if services_without_organisations %}
    <div class="keyline-block">&nbsp;</div>
    <div>
        {{ browse_list(services_without_organisations) }}
    </div>
  {% endif %}
  {% if can_add_service %}
    <div class="keyline-block">&nbsp;</div>
    {{ browse_list([
      {
        'title': 'Add a new service…',
        'link': url_for('.add_service')
      },
    ]) }}
  {% endif %}


{% endblock %}
