{% extends "withnav_template.html" %}
{% from "components/email-message.html" import email_message %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/textbox.html" import textbox %}

{% block page_title %}
  Send emails – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Send emails</h1>

  <form method="POST" enctype="multipart/form-data">

    {% if templates %}
      <div class="grid-row">
        {% for template in templates %}
          <div class="column-two-thirds">
            {{ email_message(template.subject, template.formatted_as_markup, name=template.name) }}
          </div>
          <div class="column-one-third">
            <div class="sms-message-use-links">
              <a href="{{ url_for(".edit_service_template", service_id=service_id, template_id=template.id) }}">Edit template</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <p>
      <a href="{{ url_for('.add_service_template', service_id=service_id, template_type='sms') }}" class="button">Add a new template</a>
    </p>

  </form>
{% endblock %}
