{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}


{% set title = "Confirm that your service is unique" %}

{% block service_page_title %}
    {{ title }}
{% endblock %}

{% block backLink %}
    {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% block maincolumn_content %}
    {{ page_header(title) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-five-sixths">

            <p class="govuk-body">
                Our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.terms_of_use') }}">terms of use</a> say that your service must be the only one of its kind in your organisation.
            </p>

            <p class="govuk-body">
                To help us check this, choose a service name that’s easy to understand.
            </p>

            <p class="govuk-body">
                Do not include:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>acronyms, initialisms or abbreviations</li>
                <li>your own name or the name of someone on your team</li>
            </ul>

            <p class="govuk-body">
                If we cannot confirm that your service is unique, we may refuse your request to go live.
            </p>
            
            {% call form_wrapper() %}
                {{ form.name }}
                {{ page_footer('Confirm') }}
            {% endcall %}

        </div>
    </div>

{% endblock %}
