{% extends "withoutnav_template.html" %}
{% from "components/banner.html" import banner %}

{% block per_page_title %}
  Cookies
{% endblock %}

{% block cookie_message %}{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="heading-large">Cookies</h1>
    <p class="summary">
        Cookies are small files saved on your phone, tablet or computer when you visit a website.
    </p>
    <p class="govuk-body">We use cookies to make GOV.UK Notify work and collect information about how you use our service.</p>

    <h2 class="heading-medium" id="essential-cookies">Essential cookies</h2>
    <p class="govuk-body">
      Essential cookies keep your information secure while you use Notify. We do not need to ask permission to use them.
    </p>
    <table>
        <caption class="govuk-visually-hidden">Essential cookies</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Expires</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                  notify_admin_session
                </td>
                <td width="50%">
                  Used to keep you signed in
                </td>
                <td>
                  20 hours
                </td>
            </tr>
            <tr>
                <td>
                  cookie_policy
                </td>
                <td width="50%">
                  Saves your cookie consent settings
                </td>
                <td>
                  1 year
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="heading-medium" id="essential-cookies">Non-essential cookies</h2>
    <p class="govuk-body">
      Notify does not use any non-essential cookies.
    </p>
  </div>
</div>

{% endblock %}
