{% extends "withnav_template.html" %}


{% block page_title %}
GOV.UK Notify | Dashboard
{% endblock %}

{% block maincolumn_content %}

		<h1 class="heading-xlarge">Dashboard</h1>

		<ul>
			<li><a href="send-sms">Send text messages</a></li>
			<li><a href="send-email">Send email messages</a></li>
			<li><a href="jobs">View notifications activity</a></li>
			<li><a href="user-profile">User profile</a></li>
			<li><a href="manage-users">Manage users</a></li>
			<li><a href="manage-templates">Manage templates</a></li>
			<li><a href="service-settings">Service settings</a></li>
			<li><a href="api-keys">API keys and documentation</a></li>
  		</ul>


{% endblock %}
