{% extends "withnav_template.html" %}
{% from "components/table.html" import list_table, field %}
{% from "components/big-number.html" import big_number %}

{% block page_title %}
	GOV.UK Notify | Dashboard
{% endblock %}

{% block maincolumn_content %}

		<ul class="grid-row job-totals">
			<li class="column-half">
				{{ big_number(
					free_text_messages_remaining,
					'free text messages remaining'
				)}}
			</li>
			<li class="column-half">
				{{ big_number(
					'£' + spent_this_month,
					'spent this month'
				)}}
			</li>
		</ul>

    {% call(item) list_table(
      jobs[:3],
      caption="Recent text messages",
			empty_message="No recent text messages",
      field_headings=['Job', 'File', 'Time', 'Status']
    ) %}
			{% call field() %}
				<a href="{{ url_for('.showjob', service_id=service_id) }}">{{ item.file }}</a>
			{% endcall %}
			{% call field() %}
				<a href="{{ url_for('.showjob', service_id=service_id) }}">{{ item.job }}</a>
			{% endcall %}
			{% call field() %}
				{{ item.time }}
			{% endcall %}
			{% call field() %}
				{{ item.status }}
			{% endcall %}
    {% endcall %}
    <p>
      <a href={{ url_for('.showjobs', service_id=service_id) }}>See all notifications activity</a>
    </p>


{% endblock %}
