{% extends "withoutnav_template.html" %}

{% block page_title %}
Delivery and failure – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 id="messagedeliveryandfailure" class="heading-large">Delivery and failure</h1>

    <p>Our delivery states are:</p>

    <ul class="list list-bullet">
      <li><a href="#sending">Sending</a></li>
      <li><a href="#delivered">Delivered</a></li>
      <li><a href="#does-not-exist">Phone number or email address does not exist</a></li>
      <li><a href="#inbox-not-accepting-messages">Inbox not accepting messages right now</a></li>
      <li><a href="#phone-not-accepting-messages">Phone not accepting messages right now</a></li>
      <li><a href="#technical-failure">Technical failure</a></li>
    </ul>

    <p>Our delivery states are the same for both email and text message.</p>

    <h2 id="sending" class="heading-medium">Sending</h2>

    <p>All messages start in the ‘Sending’ state.</p>

    <p>This means that we have accepted the message. It’s waiting in a queue to be sent to our email or text message delivery partners.</p>

    <h2 id="delivered" class="heading-medium">Delivered</h2>

    <p>This means the message is in the person’s email inbox or on their phone.</p>

    <p>We can’t tell you if they’ve read it – to do so would require invasive and unreliable tracking techniques.</p>

    <h2 id="does-not-exist" class="heading-medium">Phone number or email address does not exist</h2>

    <p>You’re still billed for text messages to non-existant phone numbers.</p>

    <p><strong>You need to remove these email addresses or phone numbers from your database.</strong></p>

    <a id="not-accepting-messages"></a>

    <h2 id="inbox-not-accepting-messages" class="heading-medium">Inbox not accepting messages right now</h2>

    <p>This can happen for a number of reasons, eg the user’s inbox was full.</p>

    <p><strong>You can choose to retry these messages later or not.</strong></p>

    <h2 id="phone-not-accepting-messages" class="heading-medium">Phone not accepting messages right now</h2>

    <p>This means the user’s phone was full or hasn’t been switched on in the last 72 hours.</p>

    <p>You’re still billed for these messages.</p>

    <p><strong>You can choose to retry these messages later or not.</strong></p>

    <h2 id="technical-failure" class="heading-medium">Technical failure</h2>

    <p>This means there is a problem with the connection between Notify and our email or text message delivery partners.</p>

    <p>Messages still being retried are marked as ’Sending’. We mark messages as ‘Technical failure’ once we’ve given up.</p>

    <p>You won’t be billed for these messages.</p>

    <p><strong>You need to retry these messages yourself later.</strong></p>

  </div>
</div>

{% endblock %}
