{% extends "withoutnav_template.html" %}

{% block page_title %}
Delivery and failure – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 id="messagedeliveryandfailure" class="heading-large">Delivery and failure</h1>

    <p>Our delivery states are:</p>

    <ul class="list list-bullet">
      <li><a href="#sending">Sending</a></li>
      <li><a href="#delivered">Delivered</a></li>
      <li><a href="#permanent-failure">Failed permanently</a></li>
      <li><a href="#temporary-failure">Failed temporarily</a></li>
      <li><a href="#technical-failure">Technical failure</a></li>
    </ul>

    <p>Our delivery states are the same for both email and text message.</p>

    <h2 id="sending" class="heading-medium">Sending</h2>

    <p>All new messages start with the state ‘Sending’.</p>

    <p>If we can’t deliver a message straight away, we’ll keep trying for up to 72 hours.</p>

    <h2 id="delivered" class="heading-medium">Delivered</h2>

    <p>This means the message is in the person’s email inbox or on their phone.</p>

    <p>We can’t tell you if they’ve read it – to do so would require invasive and unreliable tracking techniques.</p>

    <h2 id="permanent-failure" class="heading-medium">Failured permanently</h2>

    <p>This means the email address or mobile number doesn’t exist or is blacklisted – also known as a ‘hard bounce’.</p>

    <p>You’re still billed for these text messages.</p>

    <p><strong>You need to remove this email address or mobile number from your database.</strong></p>

    <h2 id="temporary-failure" class="heading-medium">Failed temporarily</h2>

    <p>This means the email address or mobile number was full, or the mobile phone was switched off – also known as a ‘soft bounce’.</p>

    <p>We’ll retry emails for up to 15 minutes and text message for up to 72 hours. Messages still being retried are marked as ’Sending’. We mark messages as ‘Failed temporarily’ once we’ve given up.</p>

    <p>You’re still billed for these messages.</p>

    <p><strong>You can choose to retry this message later or not.</strong></p>

    <h2 id="technical-failure" class="heading-medium">Technical failure</h2>

    <p>This means there is a problem with the connection between Notify and our email or text message delivery partners.</p>

    <p>We’ll try to send these messages for up to 72 hours. Messages still being retried are marked as ’Sending’. We mark messages as ‘Temporary failure’ once we’ve given up.</p>

    <p>You won’t be billed for these messages.</p>

    <p><strong>You need to retry this message yourself later.</strong></p>

  </div>
</div>

{% endblock %}
