{% extends "content_template.html" %}

{% block per_page_title %}
  Documentation
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Documentation</h1>
    <p>This documentation is for developers who want to integrate the GOV.UK Notify API with a web application or back office system.</p>
  <h2 class="heading-medium">Clients</h2>
    <p>Links to documentation open in a new tab.</p>
  <ul class="list list-bullet">
    {% for key, label in [
      ('java', 'Java'),
      ('net', '.NET'),
      ('node', 'Node JS'),
      ('php', 'PHP'),
      ('python', 'Python'),
      ('ruby', 'Ruby'),
    ] %}
      <li><a href="https://docs.notifications.service.gov.uk/{{ key }}.html" target="_blank" rel="noopener">{{ label }}</a></li>
    {% endfor %}
  </ul>
    <p>A developer should be able to set up the API client and start sending test messages in around 30 minutes. A full integration might take a couple of days.</p>
  <h2>Integrating directly with the API</h2>
    <p>You can integrate directly with the Notify API.</p>
    <p>To send a message you'll need to create an HTTPS request and add an authorisation header with your API key. The API key is encoded with JSON Web Tokens (JWT).</p>
    <p>You should also read the client documentation to understand:</p>
  <ul class="list list-bullet">
    <li>what the API client does</li>
    <li>what development work you'll need to do</li>
  </ul>
{% endblock %}
