{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block page_title %}
  {{ h1 }} – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

    <h1 class="heading-large">Edit text message template</h1>

    <form method="post">
      <div class="grid-row">
        <div class="column-two-thirds">
          {{ textbox(form.name, width='1-1') }}
        </div>
        <div class="column-two-thirds">
          {{ textbox(form.template_content, highlight_tags=True, width='1-1') }}
        </div>
        <div class="column-one-third">
          <label for='template_content' class='edit-template-placeholder-hint'>
            Add placeholders using double brackets, eg Your thing
            is due on ((date))
          </label>
        </div>
      </div>
      {{ page_footer(
        'Save',
        delete_link=url_for('.delete_service_template', service_id=service_id, template_id=template_id) if template_id or None,
        delete_link_text='Delete this template'
      ) }}
    </form>


{% endblock %}
