{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  {{ heading_action }} email template
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('main.view_template', service_id=current_service.id, template_id=template.id) if template else url_for('main.choose_template', service_id=current_service.id, template_folder_id=template_folder_id)
  }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header('{} email template'.format(heading_action)) }}

    {% call form_wrapper() %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-five-sixths">
          {{ form.name(param_extensions={
            "classes": "govuk-!-width-full",
            "hint": {"text": "Your recipients will not see this"}
          }) }}
          {{ textbox(form.subject, width='1-1', highlight_placeholders=True, rows=2) }}
          {{ textbox(form.template_content, highlight_placeholders=True, width='1-1', rows=8) }}
          {% if current_user.platform_admin %}
             {{ form.process_type }}
          {% endif %}
          {{ sticky_page_footer(
            'Save'
          ) }}
        </div>
        <div class="govuk-grid-column-full">
          {% include "partials/templates/guidance-formatting.html" %}
          {% include "partials/templates/guidance-personalisation.html" %}
          {% include "partials/templates/guidance-optional-content.html" %}
          {% include "partials/templates/guidance-links.html" %}
          {% include "partials/templates/guidance-send-a-document.html" %}
        </div>
      </div>
    {% endcall %}

{% endblock %}
