{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block page_title %}
GOV.UK Notify | Edit template
{% endblock %}

{% block maincolumn_content %}

		<h1 class="heading-xlarge">{{ h1 }}</h1>

		<form method="post">
			{{ textbox(form.name) }}
			{{ textbox(form.content, highlight_tags=True) }}
			{{ page_footer(
				'Save',
				delete_link=url_for('.delete_service_template', service_id=service_id, template_id=template_id) if template_id or None,
				back_link=url_for('.manage_service_templates', service_id=service_id),
				back_link_text='Back to templates'
			) }}
		</form>


{% endblock %}
