{% extends "withnav_template.html" %}
{% from "components/yes-no.html" import yes_no %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block page_title %}
Manage users – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    {{ user.name or user.email_localpart or "Add a new team member" }}
  </h1>

  <div class="grid-row">
    <form method="post" class="column-three-quarters">

      <fieldset class='yes-no-wrapper'>
        <legend class='heading-small'>
          Permissions
        </legend>
        <span class="form-hint">All team members can see message history</span>
        {{ yes_no(form.send_messages.name, form.send_messages.label, form.send_messages.data) }}
        {{ yes_no(form.manage_service.name, form.manage_service.label, form.manage_service.data) }}
        {{ yes_no(form.manage_api_keys.name, form.manage_api_keys.label, form.manage_api_keys.data) }}
      </fieldset>

      {{ page_footer(
        'Save',
        back_link=url_for('.manage_users', service_id=service_id),
        back_link_text='Cancel'
      ) }}

    </form>
  </div>
{% endblock %}
