{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ user.name or user.email_localpart }}
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    {{ user.name or user.email_localpart }}
  </h1>

  <p>
    {{ user.email_address }}&emsp;<a href="{{ url_for('.edit_user_email', service_id=current_service.id, user_id=user.id)}}">Change</a>
  </p>
  {% if mobile_number %}
    <p id="user_mobile_number">
      {{ mobile_number }}&emsp;<a href="{{ url_for('.edit_user_mobile_number', service_id=current_service.id, user_id=user.id)}}">Change</a>
    </p>
  {% endif %}
  <div class="grid-row">
    {% call form_wrapper(class="column-three-quarters") %}

      {% include 'views/manage-users/permissions.html' %}

        {{ page_footer(
          'Save',
          delete_link=url_for('.remove_user_from_service', service_id=current_service.id, user_id=user.id) if user or None,
          delete_link_text='Remove user from service'
        ) }}

    {% endcall %}
  </div>
{% endblock %}
