{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Edit email body email template
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": back_link
  }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header('Edit email body') }}

    {% call form_wrapper() %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-five-sixths">
          {{ textbox(form.template_content, highlight_placeholders=True, width='1-1', rows=8, label=' ') }}
          {{ sticky_page_footer('Save') }}
        </div>
        <div class="govuk-grid-column-full">
          {% include "partials/templates/guidance-formatting.html" %}
          {% include "partials/templates/guidance-personalisation.html" %}
          {% include "partials/templates/guidance-optional-content.html" %}
          {% include "partials/templates/guidance-links.html" %}
          {% include "partials/templates/guidance-send-a-document.html" %}
        </div>
      </div>
    {% endcall %}

{% endblock %}
