{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/submit-form.html" import submit_form %}

{% block page_title %}
GOV.UK Notify | Edit template
{% endblock %}

{% block maincolumn_content %}

		<h1 class="heading-xlarge">{{ h1 }}</h1>

		<form method="post">
			{{ textbox(name='template_name', label='Template name', value=template_name) }}
			{{ textbox(name='template_body', label='Message', small=False, value=template_body) }}
			{{ submit_form('Save and continue') }}
		</form>

  	<p><a href="manage-templates">Back to manage templates</a></p>

{% endblock %}
