{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ heading_action }} letter template
{% endblock %}

{% block maincolumn_content %}

    {{ page_header(
      '{} letter template'.format(heading_action),
      back_link=url_for('main.view_template', service_id=current_service.id, template_id=template.id) if template else url_for('main.choose_template', service_id=current_service.id, template_folder_id=template_folder_id)
    ) }}

    {% call form_wrapper() %}
      <div class="grid-row">
        <div class="column-five-sixths">
          {{ textbox(form.name, width='1-1', hint='Your recipients will not see this', rows=10) }}
          {{ textbox(form.subject, width='1-1', highlight_tags=True, rows=2) }}
          {{ textbox(form.template_content, highlight_tags=True, width='1-1', rows=8) }}
          {{ sticky_page_footer(
            'Save'
          ) }}
        </div>
        <aside class="column-three-quarters">
          {% include "partials/templates/guidance-formatting-letters.html" %}
          {% include "partials/templates/guidance-personalisation.html" %}
        </aside>
      </div>
    {% endcall %}

{% endblock %}
