{% extends "withoutnav_template.html" %}
{% from "components/button/macro.njk" import govukButton %}

{% block per_page_title %}
  Resend email link
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="heading-large">Resend email link</h1>

    <p class="govuk-body">Emails sometimes take a few minutes to arrive. If you do not receive an email link, Notify can send you a new one.</p>
    <p class="govuk-body">
      {{ govukButton({
        "element": "a",
        "text": "Resend email link",
        "href": url_for('main.resend_email_link', next=redirect_url)
      }) }}
    </p>

    <h2 class="heading-medium">If your email address has changed</h2>
    <p class="govuk-body">You’ll need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>find a member of your team who has permission to manage settings, team and usage</li>
      <li>ask them to change the email address for your account</li>
      <li>select <span class="govuk-body govuk-!-font-weight-bold">Resend email link</span></li>
    </ul>

  </div>
</div>

{% endblock %}
