{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  Forgotten your password?
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="heading-large">Forgotten your password?</h1>

    <p class="govuk-body">We’ll send you an email to create a new password.</p>

    {% call form_wrapper() %}
      {{ form.email_address(error_message_with_html=True) }}
      {{ page_footer("Send email") }}
    {% endcall %}

  </div>
</div>

{% endblock %}
