{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify
{% endblock %}

{% block fullwidth_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Create a new password</h1>

    <p>If you have forgotten your password, we can send you an email to create a new password.</p>

    <form autocomplete="off" action="" method="post">
	  {{ form.hidden_tag() }}
	  {{ render_field(form.email_address, class='form-control-2-3') }}
      <p>
      <button class="button" role="button">Send email</button>
      </p>
    </form>
  </div>
</div>

{% endblock %}
