{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify
{% endblock %}

{% block content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Create a new password</h1>

    <p>If you have forgotten your password, we can send you an email to create a new password.</p>

      <p>
      <label class="form-label" for="email">Email address</label>
      <input class="form-control" id="email" type="text" value="">
      </p>


      <p>
      <a class="button" href="sign-in" role="button">Send email</a>
      </p>
  </div>
</div>

{% endblock %}