{% extends "content_template.html" %}

{% block per_page_title %}
  Get started
{% endblock %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block content_column_content %}

<h1 class="heading-large">Get started</h1>

<ol class="get-started-list govuk-list">
  <li class="get-started-list__item">
    <h2 class="get-started-list__heading">Check if GOV.UK Notify is right for you</h2>
    <p class="govuk-body">Read about our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.features') }}">features</a>, <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.pricing') }}">pricing</a> and <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.roadmap') }}">roadmap</a>.</p>
    <p class="govuk-body">
      Check <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.who_can_use_notify') }}">whether your organisation can use Notify</a>.
    </p>
  </li>

  <li class="get-started-list__item">
    <h2 class="get-started-list__heading">Create an account</h2>
    {% if not current_user.is_authenticated %}
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.register') }}">Create an account</a> for free and add your first Notify service. When you add a new service it will start in <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.trial_mode_new') }}">trial mode</a>.</p>
    {% else %}
      <p class="govuk-body">Create an account for free and add your first Notify service. When you add a new service, it will start in <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.trial_mode_new') }}">trial mode</a>.</p>
    {% endif %}
  </li>

  <li class="get-started-list__item">
    <h2 class="get-started-list__heading">Write some messages</h2>
    <p class="govuk-body">Add message templates with examples of the content you plan to send. You can use our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_index') }}">guidance</a> to help you.</p>
  </li>

  <li class="get-started-list__item">
    <h2 class="get-started-list__heading">Set up your service</h2>
    {% if not current_user.is_authenticated or not current_service %}
    <p class="govuk-body">Review your settings to add message branding, reply-to addresses and sender information.</p>
    <p class="govuk-body">Add team members and check their permissions.</p>
    {% else %}
    <p class="govuk-body">Review your <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.service_settings', service_id=current_service.id) }}">settings</a> to add message branding, reply-to addresses and sender information.</p>
    <p class="govuk-body">Add <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.manage_users', service_id=current_service.id) }}">team members</a> and check their permissions.</p>
    {% endif %}
  </li>

  <li class="get-started-list__item">
    <h2 class="get-started-list__heading">Set up an API integration (optional)</h2>
    <p class="govuk-body">You can use the Notify API to send messages automatically.</p>
    <p class="govuk-body">Our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.documentation') }}">documentation</a> explains how to integrate the API with a web application or back office system.</p>
  </li>

  <li class="get-started-list__item">
    <h2 class="get-started-list__heading">Start sending messages</h2>
    {% if not current_user.is_authenticated or not current_service %}
    <p class="govuk-body">When you’re ready to send messages to people outside your team, go to the <b class="govuk-!-font-weight-bold">Settings</b> page and select <b class="govuk-!-font-weight-bold">Request to go live</b>. We’ll approve your request within one working day.</p>
    {% else %}
    <p class="govuk-body">You should <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.request_to_go_live', service_id=current_service.id) }}">request to go live</a> when you’re ready to send messages to people outside your team. We’ll approve your request within one working day.</p>
    {% endif %}
    <p class="govuk-body">Check <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.how_to_pay') }}">how to pay</a> if you’re planning to send letters or exceed the <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.pricing_text_messages') }}">free text message allowance</a>.</p>
  </li>

</ol>

{% endblock %}
