{% extends "withoutnav_template.html" %}

{% block page_title %}
  Cookies – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Help</h1>

    <h2 class="heading-large" id="trial-mode">Trial mode</h2>

    <p>
      When you create a service on GOV.UK&nbsp;Notify, you start off in trial
      mode. This means:
    </p>
    <ul class="list list-bullet">
      <li>
        you can only send messages to yourself and your team members
      </li>
      <li>
        you can only send 50 messages per day
      </li>
    </ul>

    <p>
      Anyone working in central government can create an account on
      GOV.UK&nbsp;Notify and try it out. So it’s important that you start off
      with some restrictions in place.
    </p>

    <h3 class="heading-medium">To remove these restrictions</h3>

    <p>
      You need to request to go live:
    </p>
    <ul class="list list-bullet">
      <li>
        You’ll need to agree to our terms of use
      </li>
      <li>
        If you plan to send more than 250,000 text messages per year, you’ll
        need to agree to pay for what you use – take a look at our pricing
      </li>
      <li>
        We’ll check your templates to make sure they’re consistent with our
        design patterns, style guide and information security principles
      </li>
    </ul>

    <h3 class="heading-medium">
      All other aspects of GOV.UK&nbsp;Notify are exactly the same
    </h2>

    <p>
      You can still:
    </p>
    <ul class="list list-bullet">
      <li>
        upload a batch of recipients
      </li>
      <li>
        do an API integration
      </li>
    </ul>

    <p>
      We’ll send the messages you have permission to send. The messages you
      don’t have permission to send will still be listed on your
      GOV.UK&nbsp;Notify dashboard but won’t actually get sent. This means you
      can check that everything is fully working without accidentally sending
      hundreds of text messages or emails.
    </p>

    <h2 class="heading-large" id="pricing">Pricing</h2>

    <h3 class="heading-medium">Emails</h3>

    <p>
      Sending email through GOV.UK&nbsp;Notify is completely free.
    </p>

    <h3 class="heading-medium">Text messages</h3>

    <ul class="list list-bullet">
      <li>Free allowance: 250,000 SMS per service, per financial year</li>
      <li>Standard rate: 1.8 pence per SMS</li>
      <li>Fail-over rate: 2.5 pence per SMS</li>
    </ul>

    <p>
      You only pay the fail-over rate if we can’t deliver your text message
      through our primary SMS provider.
    </p>
    
    <p>
      We simply charge you the costs we pay to our delivery partners.
      We don’t mark these costs up in any way.
    </p>

    <h4 class="heading-small">SMS and text message length</h4>
    <ul class="list list-bullet">
      <li>Up to 160 characters = 1 SMS</li>
      <li>Up to 306 characters = 2 SMS</li>
      <li>Up to 459 characters = 3 SMS</li>
    </ul>

    <h3 class="heading-medium">No monthly charge or setup fee</h3>
    <p>
      There are no other charges for using Notify. There’s no monthly charge
      or setup fee.
    </p>

    <p>
      The Government Digital Service is funding the development and running
      of Notify. We’re also covering the cost of the free emails and text messages.
    </p>
  </div>
</div>

{% endblock %}
