{% extends "withnav_template.html" %}
{% from "components/yes-no.html" import yes_no %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block page_title %}
Manage users – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    {{ user.name or user.email_localpart or "Add a new team member" }}
  </h1>

  <div class="grid-row">
    <form method="post" class="column-three-quarters">

      {{ textbox(form.email_address, hint='Email address must end in .gov.uk', width='1-1') }}

      <fieldset class='yes-no-wrapper'>
        <legend class='heading-small'>
          Permissions
        </legend>
        <span class="form-hint">All team members can see message history</span>
        {{ yes_no(form.send_messages, form.send_messages.data) }}
        {{ yes_no(form.manage_service, form.manage_service.data) }}
        {{ yes_no(form.manage_api_keys, form.manage_api_keys.data) }}
      </fieldset>

      {{ page_footer('Send invitation email') }}

    </form>
  </div>
{% endblock %}
