{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify | Notifications activity
{% endblock %}

{% block content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Notifications for a specific job</h1>

		<p>This page will be where we list the notifications for a specific job.</p>

  	<ul>
  		<li><a href="/jobs/job/notification">view a specific notification</a></li>
		<li><a href="/jobs">view all the activity for this service</a></li>
  	</ul>
	</div>
</div>

{% endblock %}
