{% extends "withnav_template.html" %}
{% from "components/table.html" import list_table, field, right_aligned_field_heading %}
{% from "components/big-number.html" import big_number %}
{% from "components/banner.html" import banner %}
{% from "components/sms-message.html" import sms_message %}
{% from "components/email-message.html" import email_message %}

{% block page_title %}
  {{ uploaded_file_name }} – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

    <h1 class="heading-large">
      {{ uploaded_file_name }}
    </h1>

    {% if 'sms' == template.template_type %}
      <div class="grid-row">
        <div class="column-two-thirds">
          {{ sms_message(
            template.formatted_as_markup,
          )}}
        </div>
      </div>
    {% elif 'email' == template.template_type %}
      {{ email_message(
        template.subject,
        template,
        from_address='{}@notifications.service.gov.uk'.format(service.email_from),
        from_name=service.name
      )}}
    {% endif %}

    <p class='heading-small'>
      Started {{ uploaded_file_time|format_datetime }}
    </p>

    <ul class="grid-row job-totals">
      <li class="column-one-quarter">
        {{ big_number(
          0, 'queued'
        )}}
      </li>
      <li class="column-one-quarter">
        {{ big_number(
          1, 'sent'
        )}}
      </li>
      <li class="column-one-quarter">
        {{ big_number(
          counts.failed,
          'failed'
        )}}
      </li>
      <li class="column-one-quarter">
        {{ big_number(
          cost, 'total cost'
        )}}
      </li>
    </ul>

    {% call(item) list_table(
      notifications,
      caption=uploaded_file_name,
      caption_visible=False,
      empty_message="Messages go here",
      field_headings=[
        'Recipient',
        'Template',
        right_aligned_field_heading('Status')
      ]
    ) %}
      {% call field() %}
        {{ item.to }}
      {% endcall %}
      {% call field() %}
        {{item.template}}
      {% endcall %}
      {% call field(
        align='right',
        status='error' if item.status == 'Failed' else 'default'
      ) %}
        {{ item.status }}
      {% endcall %}
    {% endcall %}

{% endblock %}
