{% extends "withnav_template.html" %}
{% from "components/table.html" import list_table, field %}

{% block page_title %}
GOV.UK Notify | Notifications activity
{% endblock %}

{% block maincolumn_content %}

		<h1 class="heading-xlarge">Notifications activity</h1>

		{% call(item) list_table(
			jobs,
			caption="Recent activity",
			caption_visible=False,
			field_headings=['Job', 'File', 'Time', 'Status']
		) %}
			{% call field() %}
				<a href="{{ url_for('.showjob', service_id=service_id) }}">{{ item.file }}</a>
			{% endcall %}
			{% call field() %}
				<a href="{{ url_for('.showjob', service_id=service_id) }}">{{ item.job }}</a>
			{% endcall %}
			{% call field() %}
				{{ item.time }}
			{% endcall %}
			{% call field() %}
				{{ item.status }}
			{% endcall %}
		{% endcall %}


{% endblock %}
