{% extends "withnav_template.html" %}
{% from "components/sms-message.html" import sms_message %}
{% from "components/email-message.html" import email_message %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/table.html" import list_table, text_field, index_field, index_field_heading %}

{% block page_title %}
  Upload recipients – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Letters 📩📨💌📮📜📑👌👌👌</h1>
  <p>
    [insert content here]
  </p>

{% endblock %}
