{% extends "views/platform-admin/_base_template.html" %}
{% from "components/page-footer.html" import page_footer %}

{% block per_page_title %}
  Letter jobs
{% endblock %}

{% block platform_admin_content %}

    <h1 class="heading-large">Letter jobs</h1>

    <form autocomplete="off" method="post">
      <p>
        <table>
          <thead>
            <tr>
              <th>Service name</th>
              <th>Job ID</th>
              <th>Count</th>
              <th>Status</th>
              <th colspan="3">Created at</th>
            </tr>
          </thead>
          <tbody>
        {% for job in letter_jobs_list %}
            <tr>
              <td>{{ job.service_name.name }}</td>
              <td>{{ job.id }}</td>
              <td>{{ job.notification_count }}</td>
              <td>{{ job.job_status }}</td>
              <td>{{ job.created_at|format_datetime_short }}</td>
              <td><input name="job_id" value='{{ job.id }}' type="checkbox"{% if not (job.job_status == 'ready to send' or job.job_status == 'sent to dvla') %} disabled{% endif %}></td>
              <td>{{ job.sending }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
      </p>
      {{ page_footer('Send') }}

      {% if message %}
      <p id='message'>
        {{ message }}
        {% if message != 'No jobs selected' %}
          <div>Refresh page to see status updates</div>
        {% endif %}
      </p>
      {% endif %}
    </form>

{% endblock %}
