{% extends "withnav_template.html" %}
{% from "components/sms-message.html" import sms_message %}

{% block page_title %}
GOV.UK Notify | Manage templates
{% endblock %}

{% block maincolumn_content %}


    <h1 class="heading-xlarge">Manage templates</h1>

    <h2 class="heading-medium">SMS templates</h2>

    <div class="grid-row">
      <div class="column-two-thirds">

        {% for template in sms_templates %}
          {{ sms_message(
            template.body,
            name=template.name,
            edit_link=url_for('.edit_template', service_id=service_id, template_id=1)
          ) }}
        {% endfor %}

      </div>
    </div>

    <p>
      <a class="button" href="{{ url_for('.add_template', service_id=service_id) }}" role="button">Add a new message template</a>
    </p>


{% endblock %}
