{% extends "withnav_template.html" %}
{% from "components/sms-message.html" import sms_message %}
{% from "components/email-message.html" import email_message %}
{% from "components/browse-list.html" import browse_list %}

{% block page_title %}
GOV.UK Notify | Manage templates
{% endblock %}

{% block maincolumn_content %}

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Templates</h1>

        {% for template in templates %}
          {% if template.type == 'sms' %}
            {{ sms_message(
              template.body,
              name=template.name,
              edit_link=url_for('.edit_template', service_id=service_id, template_id=loop.index)
            ) }}
          {% elif template.type == 'email' %}
            {{ email_message(
              template.subject,
              template.body,
              name=template.name,
              edit_link=url_for('.edit_template', service_id=service_id, template_id=loop.index)
            ) }}
          {% endif %}
        {% endfor %}

      </div>
      <div class="column-one-third">
        {{ browse_list([
          {
            'title': 'New text message template',
            'link': url_for('.add_template', service_id=service_id)
          },
          {
            'title': 'New email template',
            'link': url_for('.add_template', service_id=service_id)
          }
        ]) }}
      </div>
    </div>

{% endblock %}
