{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field %}

{% block per_page_title %}
  Delivery status
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Delivery status</h1>

  <p class="govuk-body">Notify’s real-time dashboard lets you check the status of any message, to see when it was delivered.</p>
  <p class="govuk-body">For <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("main.security") }}">security</a>, this information is only available for 7 days after a message has been sent. You can download a report, including a list of sent messages, for your own records.</p>
  <p class="govuk-body">This page describes the statuses you’ll see when you’re signed in to Notify.</p>
  <p class="govuk-body">If you’re using the Notify API, read our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.documentation') }}">documentation</a> for a list of API statuses.<p class="govuk-body">

  <h2 id="email-statuses" class="heading-medium">Emails</h2>
  <div class="bottom-gutter-3-2">
    {% call mapping_table(
      caption='Message statuses – emails',
      field_headings=['Status', 'Description'],
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for message_length, charge in [
        ('Sending', 'Notify has sent the message to the provider. The provider will try to deliver the message to the recipient for up to 72 hours. Notify is waiting for delivery information.'),
        ('Delivered', 'The message was successfully delivered. Notify will not tell you if a user has opened or read a message.'),
        ('Email address does not exist', 'The provider could not deliver the message because the email address was wrong. You should remove these email addresses from your database.'),
        ('Inbox not accepting messages right now', 'The provider could not deliver the message. This can happen when the recipient’s inbox is full or their anti-spam filter rejects your email. <a class="https://www.gov.uk/service-manual/design/sending-emails-and-text-messages#protect-your-users-from-spam-and-phishing">Make sure your content does not look like spam</a>. You can try to send the message again.'),
        ('Technical failure', 'Your message was not sent because there was a problem between Notify and the provider. You’ll have to try sending your messages again.'),
      ] %}
        {% call row() %}
          {{ text_field(message_length) }}
          {{ text_field(charge) }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>
  
  <h3 id="spam" class="heading-small">Spam</h3>
  <p class="govuk-body">If an email is marked as spam, Notify receives a ‘complaint’ from the email provider. We’ll contact you if we receive a complaint about any of your emails. When this happens you should remove the recipient’s email address from your list.</p>

  <h3 id="open-rates" class="heading-small">Open rates and click-throughs</h3>
  <p class="govuk-body">Notify cannot tell you if your users open an email or click on the links in an email. We do not track open rates and click-throughs because there are privacy issues. Tracking emails without asking permission from users could breach General Data Protection Regulations (GDPR).</p>

  <h2 id="sms-statuses" class="heading-medium">Text messages</h2>
  <div class="bottom-gutter-3-2">
    {% call mapping_table(
      caption='Message statuses – text messages',
      field_headings=['Status', 'Description'],
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for message_length, charge in [
        ('Sending', 'Notify has sent the message to the provider. The provider will try to deliver the message to the recipient for up to 72 hours. Notify is waiting for delivery information.'),
        ('Sent to an international number', 'The mobile networks in some countries do not provide any more delivery information.'),
        ('Delivered', 'The message was successfully delivered. Notify will not tell you if a user has opened or read a message.'),
        ('Not delivered', 'The provider could not deliver the message. This can happen if the phone number was wrong or if the network operator rejects the message. If you’re sure that these phone numbers are correct, you should <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for(".support") }}">contact us</a>. If not, you should remove them from your database. You’ll still be charged for text messages that cannot be delivered.'|safe),
        ('Phone not accepting messages right now', 'The provider could not deliver the message. This can happen when the recipient’s phone is off, has no signal, or their text message inbox is full. You can try to send the message again. You’ll still be charged for text messages to phones that are not accepting messages.'),
        ('Technical failure', 'Your message was not sent because there was a problem between Notify and the provider. You’ll have to try sending your messages again. You will not be charged for text messages that are affected by a technical failure.'),
      ] %}
        {% call row() %}
          {{ text_field(message_length) }}
          {{ text_field(charge) }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>

  <h2 id="letter-statuses" class="heading-medium">Letters</h2>
  <div class="bottom-gutter-3-2">
    {% call mapping_table(
      caption='Message statuses – letters',
      field_headings=['Status', 'Description'],
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for message_length, charge in [
        ('Sent', 'Notify has sent the letter to the provider to be printed.'),
        ('Printed', 'The provider has printed the letter. Letters are printed at 5:30pm and dispatched the next working day.'), 
        ('Cancelled', 'Sending cancelled. Your letter will not be printed or dispatched.'),
        ('Technical failure', 'Notify had an unexpected error while sending the letter to our printing provider.'),
      ] %}
        {% call row() %}
          {{ text_field(message_length) }}
          {{ text_field(charge) }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>

  <h3 id="returned-mail" class="heading-small">Undelivered letters and returned mail</h3>

  <p class="govuk-body">Every letter we send includes our printer’s address on the back of the envelope. It’s not possible to customise the return address.</p>
  <p class="govuk-body">Returned mail is destroyed by our printer.</p>
  <p class="govuk-body">Each letter has a unique ID. Our printer sends us the ID of every letter they destroy. We’ll contact you if the IDs match any of your letters. This is a partly manual process, so it can take a few weeks.</p>

{% endblock %}
