{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify
{% endblock %}

{% block fullwidth_content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Create a new password</h1>

		<p> You can now create a new password for your account.</p>

		<form action="" autocomplete="off" method="post">
			{{ form.hidden_tag() }}
		<p>
  		  {{ render_field(form.new_password, class="form-control-1-4", type="password") }}
  		<span class="font-xsmall">Your password must have at least 10 characters</span>
  		</p>

  		<p>
  		<button class="button" role="button">Continue</button>
  		</p>

		</form>
	</div>
</div>

{% endblock %}
