{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block per_page_title %}
  Create a new password
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    {% if user %}
      <h1 class="heading-large">
        Create a new password
      </h1>
      <p>
        You can now create a new password for your account.
      </p>
      <form method="post" autocomplete="off">
        {{ textbox(form.new_password, hint="At least 8 characters") }}
        {{ page_footer("Continue") }}
      </form>
    {% else %}
      <p>
        Message about email address does not exist. Some one needs to figure out the words here.
      </p>
    {% endif %}
  </div>
</div>

{% endblock %}
