{% extends "withnav_template.html" %}
{% from "components/ajax-block.html" import ajax_block %}
{% from "components/message-count-label.html" import message_count_label, recipient_count_label %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/textbox.html" import textbox %}

{% block service_page_title %}
  {{ message_count_label(99, message_type, suffix='') | capitalize }}
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    {{ message_count_label(99, message_type, suffix='') | capitalize }}
  </h1>

  {{ ajax_block(
    partials,
    url_for('.get_notifications_as_json', service_id=current_service.id, message_type=message_type, status=status),
    'counts'
  ) }}

  <form
    method="post"
    action="{{ url_for('.view_notifications', service_id=current_service.id, message_type=message_type) }}"
    class="grid-row"
  >
    <div class="column-three-quarters">
      {{ textbox(
        search_form.to,
        width='1-1',
        label='Search by {}'.format('email address' if message_type == 'email' else 'phone number')
      ) }}
    </div>
    <div class="column-one-quarter align-button-with-textbox">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="submit" class="button" value="Search">
    </div>
  </form>

  <form id="search-form" method="post">
    <input type="hidden" name="to" value="{{ search_form.to.data }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  </form>

  {{ ajax_block(
    partials,
    url_for('.get_notifications_as_json', service_id=current_service.id, message_type=message_type, status=status, page=page),
    'notifications',
    form='search-form'
  ) }}

{% endblock %}
