{% extends "withnav_template.html" %}
{% from "components/sms-message.html" import sms_message, message_status %}
{% from "components/banner.html" import banner %}
{% from "components/page-footer.html" import page_footer %}

{% block page_title %}
GOV.UK Notify | Notifications activity
{% endblock %}

{% block maincolumn_content %}


		<h1 class="heading-large">
			Text message
		</h1>

		<div class="grid-row">
			<div class="column-two-thirds">
				{{ sms_message(message.message, message.phone) }}
			</div>
			<div class="column-one-third">
				{{ banner(
					"{} {}".format(message.status, delivered_at)
				) }}
			</div>
		</div>

		{{ page_footer(
			back_link = url_for('.showjob', service_id=service_id, job_id=job_id),
			back_link_text = 'View other messages in this job'
		) }}

{% endblock %}
