{% extends "withnav_template.html" %}
{% from "components/sms-message.html" import sms_message, message_history %}

{% block page_title %}
GOV.UK Notify | Notifications activity
{% endblock %}

{% block maincolumn_content %}


		<h1 class="heading-large">
			Text message
		</h1>

		<div class="grid-row">
			<div class="column-two-thirds">
				{{ sms_message(message.message, message.phone) }}
			</div>
			<div class="column-one-third">
				{{ message_history("Message history", history) }}
			</div>
		</div>

  	<p>
	  	<a href="{{ url_for('.showjob') }}">View other notifications in this job</a>
  	</p>


{% endblock %}
