{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% set title = "Make service page live" %}

{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block maincolumn_content %}
  {{ page_header(title) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">

      <p class="govuk-body">
        {{ current_service.go_live_user.name }} has requested for this service to be made live.
      </p>

      <p class="govuk-body">
        They estimate the service will send:
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        {% for channel, volumes in current_service.volumes_by_channel.items() %}
          <li>
            {% if volumes %}
              {{ volumes|message_count(channel) }} per year
            {% else %}
              No {{ 0|message_count_noun(channel) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <p class="govuk-body">
        To approve this request, you will need to check:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the service name</li>
        <li>if this is a duplicate service</li>
        <li>any internal requirements of your organisation</li>
      </ul>

    {{ govukButton({"element": "a", "text": "Continue", "href": url_for('.org_member_make_service_live_service_name', service_id=current_service.id)}) }}

    </div>
  </div>

{% endblock %}
