{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set title = "Approve or reject go-live request" %}

{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(title) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {% if organisation %}
        {% if cannot_approve %}
          <p class="govuk-body">You must reject the request to go live because this service is not unique.</p>
        {% else %}
          <p class="govuk-body">You should check if the service meets your organisation’s requirements</p>
        {% endif %}
        {% call form_wrapper() %}
          {{ form.enabled(param_extensions={
            "items": [
              {"hint": {"text": "We’ll email this service’s team members to let them know"}, "disabled": cannot_approve },
              {"hint": {"html": "You should contact " + current_service.go_live_user.name + " to explain why the request has not been approved"} },
            ]
          }) }}
          {{ page_footer('Confirm') }}
        {% endcall %}

      {% else %}
        <p class="govuk-body">
          The service needs to <a id="link-org" href="{{url_for('main.link_service_to_organisation', service_id=current_service.id)}}" class="govuk-link govuk-link--no-visited-state">link an organisation</a> first before it can be made live.
        </p>
      {% endif %}
    </div>
  </div>

{% endblock %}
