{% extends "withoutnav_template.html" %}
{% from "components/big-number.html" import big_number %}
{% from "components/page-header.html" import page_header %}
{% from "components/table.html" import field, list_table %}

{% block per_page_title %}
  Performance data
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">
      {{ page_header('Performance data') }}
    </div>
  </div>

  <h2 class="govuk-heading-m">
    Messages sent since May 2016
  </h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-visually-hidden">Total messages</h3>
      <div class="product-page-big-number">{{ total_notifications|format_billions }}</div>
      total
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-grid-row govuk-!-padding-top-4">
        <div class="govuk-grid-column-one-third">
          {{ big_number(
            email_notifications|format_billions,
            label=email_notifications|message_count_noun('email'),
            smallest=True,
          ) }}
        </div>
        <div class="govuk-grid-column-one-third">
          {{ big_number(
            sms_notifications|format_billions,
            label=sms_notifications|message_count_noun('sms'),
            smallest=True,
          ) }}
        </div>
        <div class="govuk-grid-column-one-third">
          {{ big_number(
            letter_notifications|format_billions,
            label=letter_notifications|message_count_noun('letter'),
            smallest=True,
          ) }}
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-table">
    {% call(item, row_number) list_table(
      notifications_by_type,
      caption_visible=False,
      field_headings=[
        'Date',
        99|message_count_noun('email')|capitalize,
        99|message_count_noun('sms')|capitalize,
        99|message_count_noun('letter')|capitalize,
      ],
      empty_message='No data to show'
    ) %}
      {% call field() %}
        {{ item.date | format_date_normal }}
      {% endcall %}
      {% call field() %}
        {{ item.emails|format_thousands }}
      {% endcall %}
      {% call field() %}
        {{ item.sms|format_thousands }}
      {% endcall %}
      {% call field() %}
        {{ item.letters|format_thousands }}
      {% endcall %}
    {% endcall %}
  </div>

  <h2 class="govuk-heading-m">
    Messages sent within 10 seconds
  </h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-visually-hidden">Average</h3>
      {{ big_number(
        '{:.1f}%'.format(average_percentage_under_10_seconds),
        label='on average',
      ) }}
    </div>
  </div>
  <div class="dashboard-table">
    {% call(item, row_number) list_table(
      processing_time | reverse,
      caption_visible=False,
      field_headings=[
        'Date', 'Percentage'
      ],
      empty_message='No data to show'
    ) %}
      {% call field() %}
        {{ item.date | format_date_normal }}
      {% endcall %}
      {% call field() %}
        {{ item.percentage_under_10_seconds }}%
      {% endcall %}
    {% endcall %}
  </div>

  <h2 class="govuk-heading-m">
    Organisations using Notify
  </h2>
  <div class="dashboard-table">
    {% call(item, row_number) list_table(
      organisations_using_notify,
      caption_visible=False,
      field_headings=[
        'Organisation', 'Number of live services'
      ],
      empty_message='No data to show'
    ) %}
      {% call field() %}
        {{ item.organisation_name }}
      {% endcall %}
      {% call field() %}
        {{ item.count_of_live_services }}
      {% endcall %}
    {% endcall %}
  </div>

{% endblock %}
