{% extends "withoutnav_template.html" %}
{% from "components/big-number.html" import big_number, big_number_with_status %}
{% from "components/message-count-label.html" import message_count_label %}
{% from "components/browse-list.html" import browse_list %}
{% from "components/table.html" import list_table, field, right_aligned_field_heading, hidden_field_heading, text_field %}

{% macro services_table(services, caption) %}
  {% call(item, row_number) list_table(
    services,
    caption=caption,
    caption_visible=True,
    field_headings=[
      'Service',
      hidden_field_heading('Status'),
      right_aligned_field_heading('Sending'),
      right_aligned_field_heading('Delivered'),
      right_aligned_field_heading('Failed')
    ],
    field_headings_visible=True
  ) %}
    {% call field() %}
      <div>
        <a href="{{ url_for('main.service_dashboard', service_id=item['id']) }}" class="browse-list-link">{{ item['name'] }}</a>
      </div>
    {% endcall %}
    {% if not item['active'] %}
      {% call field(status='default') %}
        <span class="heading-medium">archived</span>
      {% endcall %}
    {% elif item['research_mode'] %}
      {% call field() %}
        <span class="research-mode">research mode</span>
      {% endcall %}
    {% elif not item['restricted'] %}
      {% call field(status='error') %}
        <span class="heading-medium">
          Live
        </span>
      {% endcall %}
    {% else %}
      {{ text_field('') }}
    {% endif %}
    {% call field(align='right') %}
      {{ big_number(item['sending'], smaller=True) }}
    {% endcall %}
    {% call field(align='right') %}
      {{ big_number(item['delivered'], smaller=True) }}
    {% endcall %}
    {% call field(align='right', status='error' if 0 else '') %}
      {{ big_number(item['failed'], smaller=True) }}
    {% endcall %}
  {% endcall %}
{% endmacro %}


{% block page_title %}
  Platform admin – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    Platform admin
  </h1>

  {{ browse_list([
    {
      'title': 'View providers',
      'link': url_for('.view_providers')
    },
  ]) }}


  <h2 class='heading-medium'>Today</h2>
  <div class="grid-row bottom-gutter">
    <div class="column-half">
      {{ big_number_with_status(
        global_stats.email.delivered,
        message_count_label(global_stats.email.delivered, 'email'),
        global_stats.email.failed,
        global_stats.email.failure_rate,
        global_stats.email.failure_rate|float > 3,
      ) }}
    </div>
    <div class="column-half">
      {{ big_number_with_status(
        global_stats.sms.delivered,
        message_count_label(global_stats.sms.delivered, 'sms'),
        global_stats.sms.failed,
        global_stats.sms.failure_rate,
        global_stats.sms.failure_rate|float > 3,
      ) }}
    </div>
  </div>

  {{ services_table(live_services, 'Live services') }}

  {{ services_table(trial_mode_services, 'Trial mode services') }}

{% endblock %}
