{% extends "withoutnav_template.html" %}

{% block page_title %}
  Pricing – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Pricing</h1>

    <h2 class="heading-medium">Emails</h2>

    <p>
      Sending email through GOV.UK&nbsp;Notify is completely free.
    </p>

    <h2 class="heading-medium">Text messages</h2>

    <ul class="list list-bullet">
      <li>Free allowance: 250,000 text messages per service, per financial year</li>
      <li>If your messages are long, they will count as 2 or 3 text messages, depending on length:
      <ul class="list list-bullet">
        <li>Up to 160 characters = 1 text message</li>
        <li>Up to 306 characters = 2 text messages</li>
        <li>Up to 459 characters = 3 text messages</li>
      </ul></li>
      <li>Standard text message rate: 1.8p + VAT</li>
    </ul>

    <p>
      We simply charge you the costs we pay to our delivery partners.
      We don’t mark these costs up in any way.
    </p>

    <h2 class="heading-medium">No monthly charge or setup fee</h2>
    <p>
      There are no other charges for using Notify. There’s no monthly charge
      or setup fee.
    </p>

    <p>
      The Government Digital Service is funding the development and running
      of Notify. We’re also covering the cost of the free emails and text messages.
    </p>

  </div>
</div>

{% endblock %}
