{% extends "withoutnav_template.html" %}

{% block page_title %}
  Pricing – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Pricing</h1>

    <h2 class="heading-medium">Emails</h2>

    <p>
      Sending email through GOV.UK&nbsp;Notify is completely free.
    </p>

    <h2 class="heading-medium">Text messages</h2>

    <ul class="list list-bullet">
      <li>Free allowance: 250,000 SMS per service, per financial year</li>
      <li>Standard rate: 1.8 pence per SMS</li>
      <li>Fail-over rate: 2.5 pence per SMS</li>
    </ul>

    <p>
      You only pay the fail-over rate if we can’t deliver your text message
      through our primary SMS provider.
    </p>

    <p>
      We simply charge you the costs we pay to our delivery partners.
      We don’t mark these costs up in any way.
    </p>

    <h4 class="heading-small">SMS and text message length</h4>
    <ul class="list list-bullet">
      <li>Up to 160 characters = 1 SMS</li>
      <li>Up to 306 characters = 2 SMS</li>
      <li>Up to 459 characters = 3 SMS</li>
    </ul>

    <h2 class="heading-medium">No monthly charge or setup fee</h2>
    <p>
      There are no other charges for using Notify. There’s no monthly charge
      or setup fee.
    </p>

    <p>
      The Government Digital Service is funding the development and running
      of Notify. We’re also covering the cost of the free emails and text messages.
    </p>

  </div>
</div>

{% endblock %}
