{% extends "withoutnav_template.html" %}
{% from "components/content-metadata.html" import content_metadata %}

{% block per_page_title %}
  Privacy notice: how we use your data
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="heading-large">Privacy notice: how we use your data</h1>

    {{ content_metadata(
      data={
        "Last updated": "02 June 2025"
      }
    ) }}

    <h2 class="heading-medium" id="who-we-are">Who we are</h2>

    <p class="govuk-body">GOV.UK Notify is a service that lets public service teams in the UK send emails, text messages, and letters
      to users of their service.</p>

    <p class="govuk-body">Organisations sending notifications using GOV.UK Notify are the data controllers and GDS  is the data processor. The data controller must tell you about what they are doing with your personal data.</p>

    <p class="govuk-body">For the credentials used to access GOV.UK Notify, GDS as part of the Department for Science, Innovation and Technology are the data controller.</p>

    <p class="govuk-body">For more information see the Information Commissioner’s Office (ICO) <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/esdwebpages/search">Data Protection Public Register</a>.
      The DSIT registration number is: ZB546218</p>

    <h2 class="heading-medium" id="what-data-we-collect-from-you">What data we collect from you</h2>

    <p class="govuk-body">The personal data we collect from public sector employees that create a GOV.UK Notify account includes:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>your name</li>
        <li>your email address</li>
        <li>your mobile phone number</li>
        <li>the IP address you use to access GOV.UK Notify</li>
    </ul>

    <p class="govuk-body">The legal basis for processing this data is ‘public task’ – allowing you to access GOV.UK Notify to send notifications
      to users of your public service.</p>

    <h2 class="heading-medium" id="why-we-need-your-data">Why we need your data</h2>

    <p class="govuk-body">We need your personal data to ensure that only legitimate users of GOV.UK Notify can use it to send notifications.</p>

    <h2 class="heading-medium" id="what-we-do-with-your-data">What we do with your data</h2>

    <p class="govuk-body">We use your data to check that you are allowed to access GOV.UK Notify and to record your activity when using it. We use third party suppliers to do this.</p>

    <p class="govuk-body">We will not:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>sell or rent your data to third parties</li>
        <li>share your data with third parties for marketing purposes</li>
    </ul>

    <p class="govuk-body">We will share your data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>

    <h2 class="heading-medium" id="how-long-we-keep-your-data">How long we keep your data</h2>

    <p class="govuk-body">We’ll keep your personal data for as long as you have a GOV.UK Notify account.</p>
    
    <p class="govuk-body">When you ask us to close your account, we will delete your data within 1 year.</p>
    
    <p class="govuk-body">When we close your account we’ll delete your:</p>
    
    <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>mobile phone number</li>
        <li>GOV.UK Notify password</li>
    </ul>
    
    <p class="govuk-body">So we can carry out security audits, we’ll keep your email address and IP addresses for 1 year before we delete them.</p>
    
    <h2 class="heading-medium" id="where-your-data-is-processed">Where your data is processed and stored</h2>

    <p class="govuk-body">We design, build and run our systems to make sure that your data is as safe as possible at any stage, both while it’s
      processed and when it’s stored.</p>

    <p class="govuk-body">Your personal data will be processed both in the UK and the European Economic Area (EEA). Your data receives the same level of protection in the EEA as it does in the UK through the safeguard of <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/for-organisations/dp-at-the-end-of-the-transition-period/data-protection-and-the-eu-in-detail/adequacy/">Adequacy Decisions</a>.</p>

    <h2 class="heading-medium" id="how-we-protect-your-data">How we protect your data and keep it secure</h2>

    <p class="govuk-body">We are committed to doing all that we can to keep your data secure. To prevent unauthorised access or disclosure we have
      put in place technical and organisational procedures to secure the data we collect about you – for example, we protect your
      data using varying levels of encryption. We also make sure that any third parties that we deal with have an obligation to
      keep all personal data they process on our behalf secure.</p>

    <h2 class="heading-medium" id="childrens-privacy-protection">Children’s privacy protection</h2>

    <p class="govuk-body">We understand the importance of protecting children’s privacy online. Our services are not designed for, or intentionally
      targeted at, children 13 years of age or younger. It is not our policy to intentionally collect or maintain data about anyone
      under the age of 13.</p>

    <h2 class="heading-medium" id="your-rights">What are your rights</h2>

    <p class="govuk-body">You have the right to request:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>information about how your personal data is processed</li>
      <li>a copy of that personal data - this copy will be provided in a structured, commonly used and machine-readable format</li>
      <li>that anything inaccurate in your personal data is corrected immediately</li>
    </ul>

    <p class="govuk-body">You can also:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>raise an objection about how your personal data is processed</li>
      <li>request that your personal data is erased if there is no longer a justification for it</li>
      <li>ask that the processing of your personal data is restricted in certain circumstances</li>
    </ul>

    <p class="govuk-body">If you have any of these requests, get in contact with our Data Protection Officer - you can find their contact details below.</p>

    <h2 class="heading-medium" id="changes-to-this-notice">Changes to this notice</h2>

    <p class="govuk-body">We may modify or amend this privacy notice at our discretion at any time. When we make changes to this notice, we will
      amend the last modified date at the top of this page. Any modification or amendment to this privacy notice will be applied
      to you and your data as of that revision date. We encourage you to periodically review this privacy notice to be informed
      about how we are protecting your data.</p>

    <h2 class="heading-medium" id="questions-and-complaints">Questions and complaints</h2>

    <ol class="govuk-list govuk-list--number">
      <li>
        <p class="govuk-body">Contact the GDS Data Protection Team if you either:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>have questions about anything in this document</li>
          <li>think that your personal data has been misused or mishandled</li>
        </ul>

        <p class="govuk-body">
        GDS Data Protection Team<br>
        <a class="govuk-link govuk-link--no-visited-state" href="mailto:gds-data-protection@digital.cabinet-office.gov.uk">gds-data-protection@digital.cabinet-office.gov.uk</a>
        </p>
      </li>
      <li>
        <p class="govuk-body">The Data Protection Officer provides independent advice and monitoring of DSIT’s and GDS’s use of personal information.</p>
        <p class="govuk-body">
        You can also contact the Data Protection Officer.<br>
        <a class="govuk-link govuk-link--no-visited-state" href="mailto:dataprotection@dsit.gov.uk">dataprotection@dsit.gov.uk</a>
        </p>        
      </li>
      <li>
        <p class="govuk-body">If you have a complaint, you can also contact the <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/">Information Commissioner’s Office</a> (ICO). The ICO is an independent regulator set up to uphold information rights.</p>
        <p class="govuk-body">
        Information Commissioner’s Office<br>
        <a class="govuk-link govuk-link--no-visited-state" href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a><br>
        0303 123 1113<br>
        Wycliffe House<br>
        Water Lane<br>
        Wilmslow<br>
        Cheshire SK9 5AF
        </p>
      </li>
    </ol>


  </div>
</div>

{% endblock %}
