{% extends "withoutnav_template.html" %}

{% block per_page_title %}
  Privacy notice: how we use your data
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Privacy notice: how we use your data</h1>

    <p>Last update: 5 March 2019</p>

    <h2 class="heading-medium">Who we are</h2>

    <p>GOV.UK Notify is a service that lets public service teams in the UK send emails, text messages, and letters
      to users of their service.</p>
    
    <p>GOV.UK Notify is provided by the Government Digital Service (GDS) which is part of the Cabinet Office.</p>

    <p>Organisations sending notifications using GOV.UK Notify are the data controller and Cabinet Office is the data processor. The data controller must tell you about what they are doing with your personal data.</p>

    <p>For the credentials used to access GOV.UK Notify, Cabinet Office is the data controller.</p>

    <p>For more information see the Information Commissioner’s Office (ICO) <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/esdwebpages/search">Data Protection Public Register</a>.
      The Cabinet Office registration number is: Z7414053</p>

    <h2 class="heading-medium">What data we collect from you</h2>

    <p>The personal data we collect from public sector employees that create a GOV.UK Notify account will include:</p>

    <ul class="list list-bullet">
        <li>Your name</li>
        <li>Your email address</li>
        <li>Your mobile phone number</li>
        <li>The IP address you use to access GOV.UK Notify</li>
    </ul>

    <p>The legal basis for processing this data is public task – allowing you to access GOV.UK Notify to send notifications
      to users of your public service.</p>

    <h2 class="heading-medium">Why we need your data</h2>

    <p>We require your personal data to ensure only legitimate users of GOV.UK Notify can use it to send notifications.</p>

    <h2 class="heading-medium">What we do with your data</h2>

    <p>We use your data to check that you are allowed to access GOV.UK Notify and to record your activity when using it.</p>

    <p>We will not:</p>

    <ul class="list list-bullet">
        <li>sell or rent your data to third parties</li>
        <li>share your data with third parties for marketing purposes</li>
    </ul>

    <p>We will share your data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>

    <h2 class="heading-medium">How long we keep your data</h2>

    <p>We will retain your personal data for as long as you have a GOV.UK Notify account.</p>

    <h2 class="heading-medium">Where your data is processed and stored</h2>

    <p>We design, build and run our systems to make sure that your data is as safe as possible at any stage, both while it’s 
      processed and when it’s stored.</p>

    <p>Your personal data will not be transferred outside of the European Economic Area (EEA) throughout the course of its
      processing at GDS or any third party suppliers.</p>

    <h2 class="heading-medium">How we protect your data and keep it secure</h2>

    <p>We are committed to doing all that we can to keep your data secure. To prevent unauthorised access or disclosure we have
      put in place technical and organisational procedures to secure the data we collect about you – for example, we protect your
      data using varying levels of encryption. We also make sure that any third parties that we deal with have an obligation to
      keep all personal data they process on our behalf secure.</p>

    <h2 class="heading-medium">Children’s privacy protection</h2>

    <p>We understand the importance of protecting children’s privacy online. Our services are not designed for, or intentionally
      targeted at, children 13 years of age or younger. It is not our policy to intentionally collect or maintain data about anyone
      under the age of 13.</p>

    <h2 class="heading-medium">What are your rights</h2>

    <p>You have the right to request:</p>

    <ul class="list list-bullet">
      <li>information about how your personal data is processed</li>
      <li>a copy of that personal data - this copy will be provided in a structured, commonly used and machine-readable format</li>
      <li>that anything inaccurate in your personal data is corrected immediately</li>
    </ul>

    <p>You can also:</p>

    <ul class="list list-bullet">
      <li>raise an objection about how your personal data is processed</li>
      <li>request that your personal data is erased if there is no longer a justification for it</li>
      <li>ask that the processing of your personal data is restricted in certain circumstances</li>
    </ul>

    <p>If you have any of these requests, get in contact with our Data Protection Officer - you can find their contact details below.</p>

    <h2 class="heading-medium">Changes to this notice</h2>

    <p>We may modify or amend this privacy notice at our discretion at any time. When we make changes to this notice, we will
      amend the last modified date at the top of this page. Any modification or amendment to this privacy notice will be applied
      to you and your data as of that revision date. We encourage you to periodically review this privacy notice to be informed
      about how we are protecting your data.</p>

    <h2 class="heading-medium">Questions and complaints</h2>

    <p>Contact the GDS Privacy Team if you either:</p>
    
    <ul class="list list-bullet">
      <li>have any questions about anything in this document</li>
      <li>think that your personal data has been misused or mishandled</li>
    </ul>

    <p>
    GDS Privacy Team<br>
    <a class="govuk-link govuk-link--no-visited-state" href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a>
    </p>
    
    <p>
    You can also contact the Cabinet Office Data Protection Officer.
    </p>
    
    <p>
    Data Protection Officer<br>
    <a class="govuk-link govuk-link--no-visited-state" href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a><br>
    Data Protection Officer<br>
    Cabinet Office<br>
    70 Whitehall<br>
    London SW1A 2AS
    </p>

    <p>If you have a complaint, you can also contact the <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/">Information Commissioner's Office</a> (ICO). The ICO is an independent regulator set up to uphold information rights.</p>
    
    <p>
    Information Commissioner’s Office<br>
    <a class="govuk-link govuk-link--no-visited-state" href="mailto:casework@ico.org.uk">casework@ico.org.uk</a><br>
    0303 123 1113</br>
    Wycliffe House<br>
    Water Lane<br>
    Wilmslow<br>
    Cheshire SK9 5AF
    </p>


  </div>
</div>

{% endblock %}
