{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block page_title %}
Create an account – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Create an account</h1>
    <p>Your account will be created with this email: {{email_address}}</p>
    <form method="post" autocomplete="nope">
      {{ textbox(form.name, width='3-4') }}
      {{ textbox(form.mobile_number, width='3-4', hint='We’ll send you a security code by text message') }}
      {{ textbox(form.password, hint="At least 8 characters", width='3-4') }}
      {{ page_footer("Continue") }}
      {{form.service}}
      {{form.email_address}}
    </form>
  </div>
</div>

{% endblock %}
