{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block page_title %}
GOV.UK Notify | Create an account
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Create an account</h1>

		<p>If you've used GOV.UK Notify before, <a href="{{ url_for('.sign_in') }}">sign in to your account</a>.</p>

		<form autocomplete="off" action="" method="post">
			{{ textbox(form.name) }}
			{{ textbox(form.email_address, hint="Your email address must end in .gov.uk") }}
			{{ textbox(form.mobile_number) }}
			{{ textbox(form.password, hint="Your password must have at least 10 characters") }}
			{{ page_footer("Continue") }}
		</form>
	</div>
</div>

{% endblock %}
