{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
Create an account
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Create an account</h1>
    {% call form_wrapper(autocomplete=True) %}
      {{ textbox(form.name, width='3-4') }}
      {{ textbox(form.email_address, hint="Must be from a government organisation", width='3-4', safe_error_message=True, autocomplete='email') }}
      <div class="extra-tracking">
        {{ textbox(form.mobile_number, width='3-4', hint='We’ll send you a security code by text message') }}
      </div>
      <input class="govuk-visually-hidden" aria-hidden="true" tabindex="-1" id="defeat-chrome-autocomplete">
      {{ textbox(form.password, hint="At least 8 characters", width='3-4', autocomplete='new-password') }}
      {{form.auth_type}}
      {{ page_footer("Continue") }}
    {% endcall %}
  </div>
</div>

{% endblock %}
