{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{% block service_page_title %}
  Returned letters for {{ reported_at|format_date_normal }}
{% endblock %}


{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.returned_letter_summary', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

{{ page_header('Returned letters for {}'.format(reported_at|format_date_normal)) }}

{% if orphaned_count %}
<p class="govuk-body">
  Your report is missing {{ orphaned_count|format_thousands }} letter{% if orphaned_count > 1 %}s{% endif %} because {% if orphaned_count > 1 %}they were{% else %}it was{% endif %} sent too long ago.
</p>
{% endif %}

<p class="bottom-gutter">
  <a href="{{ url_for('main.returned_letters_report', service_id=current_service.id, reported_at=reported_at) }}" class="govuk-link govuk-link--no-visited-state heading-small">Download this report (<abbr title="Comma separated values">CSV</abbr>)</a>
</p>

{% if not returned_letters %}
  <p class="govuk-body no-data">
    If you have returned letter reports they will be listed here
  </p>
{% else %}
  {% set returned_letters_list = [] %}
  {% for item in returned_letters %}
    {% set summary_key_html %}
        <span class="notify-summary-list__filename notify-summary-list__filename--regular">
         {{ item.template_name or item.uploaded_letter_file_name or 'Provided as PDF' }}
        </span>
      <p class="govuk-body notify-summary-list__metadata notify-summary-list__metadata--small">
        {% if item.client_reference %}
          Reference {{ item.client_reference }}
        {% elif item.original_file_name %}
          Sent from {{ item.original_file_name }}
        {% else %}
          No reference provided
        {% endif %}
      </p>
      {% endset %}
      {% do returned_letters_list.append({
        "key": {
          "classes": "notify-summary-list__key notify-summary-list__key--60-100",
          "html": summary_key_html,
        },
        "value": {
          "classes": "govuk-summary-list__value--align-right govuk-summary-list__value--small",
          "text":  "Sent " + item.created_at|format_date_normal,
        }
      }) %}
  {% endfor %}

  {{ govukSummaryList({
    "classes": "notify-summary-list",
    "rows": returned_letters_list
  }) }}

  {% if more_than_one_page %}
    <p class="govuk-body more-items-available-text">
      Only showing the first {{ page_size }} of {{ count_of_returned_letters|format_thousands }} rows
    </p>
  {% endif %}

{% endif %}

{% endblock %}
