{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}
{% extends "withoutnav_template.html" %}

{% block per_page_title %}
  Roadmap
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-one-third">
    {{ sub_navigation(navigation_links) }}
  </div>
  <div class="column-two-thirds">

    <h1 class="heading-large">Roadmap</h1>
    
    <p>The GOV.UK Notify roadmap shows the things we’re working on and when we hope to have them ready for you to use.</p>
    <p>Notify is in public beta. This means it’s fully operational and supported, but we’re regularly adding new features. The roadmap is a guide to what we have planned, but some things might change.</p>
    <p>You can <a href="{{url_for('.feedback', ticket_type='ask-question-give-feedback')}}">contact us</a> for more detail about these features, or to suggest something else you’d like Notify to offer.</p>

    <h2 class="heading-medium">October to December 2018</h2>

    <ul class="list list-bullet">
      <li>Email documents to your users (using the interface)</li>
      <li>Add two-factor authentication for documents emailed to your users</li>
      <li>Send emails using NHS and Parliament addresses</li>
      <li>Let service managers change team members’ phone numbers and email addresses</li>
    </ul>

    <h2 class="heading-medium">January to March 2019</h2>

    <ul class="list list-bullet">
      <li>Distribute the delivery of a batch of messages over a number of hours</li>
      <li>Specify how long Notify will try to deliver a text message for</li>
      <li>Scan incoming and outgoing messages for banned content</li>
      <li>Provide usage and reporting data via the API</li>
      <li>Save work in progress/draft templates</li>
    </ul>

    <h2 class="heading-medium">April 2019 onwards</h2>

    <ul class="list list-bullet">
      <li>Offer more ways to pay for Notify usage</li>
      <li>Publish patterns for effective emails, text messages and letters</li>
      <li>Check mobile numbers are valid before sending text messages</li>
      <li>Retire version 1 of the API</li>
    </ul>

  </div>
</div>

{% endblock %}
