{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% extends "content_template.html" %}

{% block per_page_title %}
  Roadmap
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Roadmap</h1>

  <p>The GOV.UK Notify roadmap shows the things we’re working on and when we hope to have them ready for you to use.</p>
  <p>Notify is in public beta. This means it’s fully operational and supported, but we’re regularly adding new features. The roadmap is a guide to what we have planned, but some things might change.</p>
  <p>You can <a href="{{url_for('.feedback', ticket_type='ask-question-give-feedback')}}">contact us</a> if you have any questions about the roadmap or suggestions for new features.</p>

  <h2 class="heading-medium">July to September 2019</h2>
  
  <ul class="list list-bullet">
    <li>Upload and send single letters from your own files</li>
    <li>Get automated updates about returned and undelivered letters</li>
  </ul>

  <h2 class="heading-medium">October to December 2019</h2>
  
  <ul class="list list-bullet">
    <li>Send international letters</li>
    <li>Upload and send bulk letters from a mail merge</li>
  </ul>

  <h2 class="heading-medium">January to March 2020</h2>
  
  <ul class="list list-bullet">
    <li>Bilingual letter templates</li>
    <li>Save your work in progress as a draft template</li>
  </ul>

  <h2 class="heading-medium">April 2020 onwards</h2>

  <ul class="list list-bullet">
    <li>Other ways to pay for Notify</li>
    <li>Send emails from NHS and Parliament email addresses</li>
    <li>Link shortening service for friendly URLs</li>
    <li>Two-factor authentication for files sent by email</li>
    <li>Specify an expiry period for undeliverable text messages</li>
    <li>Distribute the delivery of a batch of messages over several hours</li>
  </ul>

{% endblock %}
