{% from "components/table.html" import mapping_table, row, text_field, edit_field, field %}
{% extends "withoutnav_template.html" %}

{% block per_page_title %}
  Roadmap
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Roadmap</h1>

    <p>
        Here’s a list of the new functionality we’re planning to offer through GOV.UK Notify over the next 6 to 9 months.
    </p>

    <div class="panel panel-border-wide">
      <p>
          This roadmap is a only a guide and may change from month to month.
      </p>
    </div>

    <p>
        If you want to find out more about these features, or have some needs that Notify isn’t yet meeting,
        please get in touch with us through our <a href="{{ url_for('main.support') }}">support page</a>, or chat with us in our
        <a href="https://ukgovernmentdigital.slack.com/messages/govuk-notify">cross-government Slack channel</a>.
    </p>

    <h2 class="heading-medium">July 2017</h2>
      <ul class="list list-bullet">
        <li>Schedule retirement of version 1 of the API</li>
        <li>Sending letters through the API</li>
        <li>Publishing patterns for integration</li>
      </ul>

    <h2 class="heading-medium">August 2017</h2>
      <ul class="list list-bullet">
        <li>Sending of pre-compiled text messages and emails</li>
        <li>Allowing multiple sender names and reply-to addresses</li>
        <li>Posting delivery receipts to services</li>        
      </ul>

    <h2 class="heading-medium">September to November 2017</h2>
      <ul class="list list-bullet">
        <li>Customising the expiry time for text messages</li>
        <li>Sending letters (available for everyone)</li>
        <li>Sending of pre-compiled letters</li>
        <li>Distributing delivery of notifications over a period of time</li>
      </ul>

    <h2 class="heading-medium">December 2017 onwards</h2>
      <ul class="list list-bullet">
        <li>Checking mobile numbers are valid before sending</li>
        <li>Allowing people to request to join a service</li>
      </ul>

{% endblock %}
