{% extends "withnav_template.html" %}
{% from "components/sms-message.html" import sms_message %}
{% from "components/email-message.html" import email_message %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/table.html" import list_table, text_field, index_field, index_field_heading %}

{% block page_title %}
  Send text messages – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}


  <h1 class="heading-large">Send {{ 'text messages' if 'sms' == template.template_type else 'emails' }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      {% if 'sms' == template.template_type %}
        {{ sms_message(template.formatted_as_markup) }}
      {% elif 'email' == template.template_type %}
        {{ email_message(
          template.formatted_subject_as_markup,
          template.formatted_as_markup
        ) }}
      {% endif %}
    </div>
    <div class="column-one-third">
      <a href="{{ url_for(".send_message_to_self", service_id=current_service.id, template_id=template.id) }}" class='secondary-button'>Send yourself a test</a>
    </div>
  </div>

  <h2 class="heading-medium">
    Make a CSV file with
    {{ template.placeholders|length + 1 }}
    {% if template.placeholders %}
      columns,
    {% else %}
      column,
    {% endif %}
    like this:
  </h2>

  {% call(item, row_number) list_table(
    example,
    caption="Example",
    caption_visible=False,
    field_headings=['1'] + [recipient_column] + template.placeholders_as_markup|list
  ) %}
    {{ index_field(row_number) }}
    {% for column in item %}
      {{ text_field(column) }}
    {% endfor %}
  {% endcall %}

  <p class="table-show-more-link">
    <a href="{{ url_for('.get_example_csv', service_id=current_service.id, template_id=template.id) }}">Download this example</a>
  </p>

  {{file_upload(form.file, button_text='Upload your CSV file')}}

{% endblock %}
