{% extends "withnav_template.html" %}
{% from "components/sms-message.html" import sms_message %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/file-upload.html" import file_upload %}

{% block page_title %}
  Send text messages – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Send text messages</h1>

  <form method="POST" enctype="multipart/form-data">

    <div class="grid-row">
      <div class="column-two-thirds">
        {{ sms_message(template.content) }}
      </div>
    </div>

    {{file_upload(form.file, button_text='Choose a CSV file')}}

    {{ banner(
      'You can only send messages to yourself until you <a href="{}">request to go live</a>'.format(
        url_for('.service_request_to_go_live', service_id=service_id)
      )|safe,
      type='important'
    ) }}

    {{ page_footer(
      "Continue to preview"
    ) }}

  </form>
{% endblock %}
