{% extends "withnav_template.html" %}
{% from "components/email-message.html" import email_message %}
{% from "components/sms-message.html" import sms_message %}
{% from "components/api-key.html" import api_key %}

{% block page_title %}
  API info – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
      API info
  </h1>

  {% if 'email' == template.template_type %}
    {{ email_message(
      template.formatted_subject_as_markup,
      template.formatted_as_markup,
    ) }}
  {% elif 'sms' == template.template_type %}
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ sms_message(
          template.formatted_as_markup,
        ) }}
      </div>
    </div>
  {% endif %}

  <div class="bottom-gutter">
    {{ api_key(template.id, name="Template ID", thing='template ID') }}
  </div>

  {% if personalisation %}
    <h2 class="heading-small">Personalisation (all fields are required)</h2>
    {{ personalisation|syntax_highlight_json }}
  {% endif %}

  <p>
    <br />See the <a href="{{ url_for(".documentation") }}">developer documentation</a> for full details.
  </p>

{% endblock %}
