{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/message-count-label.html" import recipient_count_label %}
{% from "components/textbox.html" import textbox %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ page_title }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    page_title,
    back_link=back_link
  ) }}

  {% call form_wrapper(
    class='js-stick-at-top-when-scrolling send-one-off-form' if template.template_type != 'sms' else 'send-one-off-form',
    module="autofocus",
    data_kwargs={'force-focus': True}
  ) %}
    <div class="grid-row">
      <div class="column-two-thirds {% if form.placeholder_value.label.text == 'phone number' %}extra-tracking{% endif %}">
        {{ textbox(
          form.placeholder_value,
          hint='Optional' if optional_placeholder else None,
          width='1-1',
        ) }}
      </div>
      {% if skip_link %}
        <div class="column-one-third">
          <a href="{{ skip_link[1] }}" class="govuk-link govuk-link--no-visited-state top-gutter-4-3">{{ skip_link[0] }}</a>
        </div>
      {% endif %}
    </div>
    {% if link_to_upload %}
      <p>
        <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.send_messages', service_id=current_service.id, template_id=template.id) }}">
          Upload a list of {{ recipient_count_label(999, template.template_type) }}
        </a>
      </p>
    {% endif %}
    {{ page_footer('Continue') }}
  {% endcall %}

  {{ template|string }}

{% endblock %}
