{% extends "withnav_template.html" %}
{% from "components/big-number.html" import big_number -%}
{% from "components/list.html" import list_of_placeholders %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{% block service_page_title %}
  Choose an emergency contact list
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.send_one_off', service_id=current_service.id, template_id=template.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Choose an emergency contact list') }}

  {% if template.placeholders %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-five-sixths">
        <p class="govuk-body">
          You cannot use an emergency contact list with this template because it
          is personalised with {{ list_of_placeholders(template.placeholders) }}.
        </p>
        <p class="govuk-body">
          Emergency contact lists can only include email addresses or phone
          numbers.
        </p>
      </div>
    </div>
  {% elif contact_lists %}
    <div class='dashboard-table ajax-block-container'>
      {% if not contact_lists %}
        <p class="govuk-body no-data">
          You have not saved any contact lists yet.
        </p>
      {% else %}
        {% set lists = [] %}
        {% for item in contact_lists|sort %}
          {% set summary_key_html %}
            <a class="govuk-link govuk-link--no-visited-state notify-summary-list__filename notify-summary-list__filename--large" href="{{ url_for('main.send_from_contact_list', service_id=current_service.id, template_id=template.id, contact_list_id=item.id) }}">{{ item.original_file_name }}</a>
            <p class="fgovuk-body notify-summary-list__metadata">
              Uploaded {{ item.created_at|format_datetime_relative }}
            </p>
          {% endset %}

          {% do lists.append({
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--50-100",
              "html": summary_key_html,
            },
            "value": {
              "html":  big_number(
                        item.row_count,
                        smallest=True,
                        label=item.row_count|recipient_count_label(item.template_type),
                        ),
            }
          }) %}
        {% endfor %}
        {{ govukSummaryList({
          "classes": "notify-summary-list",
          "rows": lists
        }) }}
      {% endif %}
    </div>
  {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-five-sixths">
        <p class="govuk-body">
          You have not saved any lists of {{ 99|recipient_count_label(template.template_type) }} yet.
        </p>
        <p class="govuk-body">
          To upload and save an emergency contact list, go to the <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.uploads', service_id=current_service.id) }}">uploads</a> page.
        </p>
      </div>
    </div>
  {% endif %}

{% endblock %}
