{% extends "withnav_template.html" %}
{% from "components/email-message.html" import email_message %}
{% from "components/sms-message.html" import sms_message %}
{% from "components/letter.html" import letter %}
{% from "components/api-key.html" import api_key %}

{% block page_title %}
  API info – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
      API info
  </h1>

  {% if 'email' == template.template_type %}
    {{ email_message(
      template.formatted_subject,
      template.formatted,
    ) }}
  {% elif 'sms' == template.template_type %}
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ sms_message(
          template.formatted,
        ) }}
      </div>
    </div>
  {% elif 'letter' == template.template_type %}
    {{ letter(template.formatted) }}
  {% endif %}

  <div class="bottom-gutter">
    {{ api_key(template.id, name="Template ID", thing='template ID') }}
  </div>

{% endblock %}
