{% extends "admin_template.html" %}
{% from "components/sms-message.html" import sms_message %}

{% block page_title %}
	GOV.UK Notify | Send text messages
{% endblock %}

{% block content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Send text messages</h1>

		<p>This page will be where we construct text messages</p>
		{{ sms_message("hi") }}
  	<p>
  	<a class="button" href="check-sms" role="button">Continue</a>
  	</p>
	</div>
</div>

{% endblock %}
