{% extends "withnav_template.html" %}
{% from "components/sms-message.html" import sms_message %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/textbox.html" import textbox %}

{% block page_title %}
  GOV.UK Notify | Send text messages
{% endblock %}

{% block maincolumn_content %}
  <form method="POST" enctype="multipart/form-data">

    <div class="grid-row">
      <div class="column-three-quarters">

        <h1 class="heading-large">Send text messages</h1>

        <fieldset class='form-group'>
          <legend class="heading-medium">1. Choose text message template</legend>
          {% for template in templates %}
            {{ sms_message(
              template.content, name=template.name, input_name='template', input_index=template.id
            ) }}
          {% endfor %}
        </fieldset>

        <h2 class="heading-medium">2. Add recipients</h2>

        <p>
          Upload a CSV file to add your recipients’ details.
        </p>
        <p>
          You can also <a href="#">download an example CSV</a>.
        </p>
        <p>
          {{textbox(form.file)}}
        </p>

        {{ page_footer("Continue") }}

      </div>
    </div>

  </form>

{% endblock %}
