{% extends "withnav_template.html" %}
{% from "components/browse-list.html" import browse_list %}

{% block page_title %}
  Settings – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

    <h1 class="heading-large">Settings</h1>

    {{ browse_list([
      {
        'title': 'Change your service name',
        'link': url_for('.service_name_change', service_id=current_service.id)
      },
      {
        'title': 'Set email reply to address',
        'link': url_for('.service_set_reply_to_email', service_id=current_service.id)
      },
      {
        'title': 'Set text message sender name',
        'link': url_for('.service_set_sms_sender', service_id=current_service.id)
      },
      {
        'title': 'Request to go live and turn off trial mode',
        'link': url_for('.service_request_to_go_live', service_id=current_service.id),
        'hint': 'A live service can send notifications to any phone number or email address',
      } if current_service.restricted else {
      },
      {
        'title': 'Temporarily suspend API keys',
        'link': url_for('.service_status_change', service_id=current_service.id),
        'destructive': True
      } if not current_service.active else {
        'title': 'Reactivate API keys',
        'link': url_for('.service_status_change', service_id=current_service.id)
      }
    ]) }}

    {% if current_user.has_permissions([], admin_override=True) %}

      <h2 class="heading-large">Platform admin settings</h2>

      {{ browse_list([
        {
          'title': 'Set email branding',
          'link': url_for('.service_set_branding_and_org', service_id=current_service.id)
        },
        {
          'title': 'Make service live',
          'link': url_for('.service_switch_live', service_id=current_service.id)
        } if current_service.restricted else {
          'title': 'Revert service to trial',
          'link': url_for('.service_switch_live', service_id=current_service.id)
        },
        {
          'title': 'Put service into research mode',
          'link': url_for('.service_switch_research_mode', service_id=current_service.id)
        } if not current_service.research_mode else {
          'title': 'Take service out of research mode',
          'link': url_for('.service_switch_research_mode', service_id=current_service.id)
        }
      ]) }}

    {% endif %}

{% endblock %}
