{% extends "withnav_template.html" %}
{% from "components/table.html" import list_table, field, right_aligned_field_heading %}
{% from "components/big-number.html" import big_number %}

{% block page_title %}
  GOV.UK Notify | Dashboard
{% endblock %}

{% block maincolumn_content %}

    <ul class="grid-row job-totals">
      <li class="column-half">
        {{ big_number(
          free_text_messages_remaining,
          'free text messages remaining'
        )}}
      </li>
      <li class="column-half">
        {{ big_number(
          '£' + spent_this_month,
          'spent this month'
        )}}
      </li>
    </ul>

    {% if not template_count %}
      {{ banner(
        '<a href="{}">Add a text message template</a>'.format(
          url_for(".add_service_template", service_id=service_id)
        )|safe,
        subhead='Get started',
        type="tip"
      )}}
    {% elif not jobs %}
      {{ banner(
        '<a href="{}">Try sending a text message</a>'.format(
          url_for(".choose_sms_template", service_id=service_id)
        )|safe,
        subhead='Next step',
        type="tip"
      )}}
    {% endif %}

    {% if jobs %}
      {% call(item) list_table(
        jobs,
        caption="Recent text messages",
        empty_message='You haven’t sent any text messages yet',
        field_headings=['Job', 'Created', right_aligned_field_heading('Status')]
      ) %}
        {% call field() %}
          <a href="{{ url_for('.view_job', service_id=service_id, job_id=item.id) }}">{{ item.original_file_name }}</a>
        {% endcall %}
        {% call field() %}
          {{ item.created_at|format_datetime }}
        {% endcall %}
        {% call field(align='right') %}
          {{ item.status }}
        {% endcall %}
      {% endcall %}
    {% endif %}

{% endblock %}
