{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/table.html" import list_table, field, right_aligned_field_heading %}
{% from "components/big-number.html" import big_number %}

{% block page_title %}
  {{ session.get('service_name', 'Dashboard') }} – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

    <ul class="grid-row job-totals">
      <li class="column-half">
        {{ big_number(
          free_text_messages_remaining,
          'free text messages remaining'
        )}}
      </li>
      <li class="column-half">
        {{ big_number(
          '£' + spent_this_month,
          'spent this month'
        )}}
      </li>
    </ul>

    {% if not template_count and not jobs %}
      {% call banner_wrapper(subhead='Get started', type="tip") %}
        <ol>
          {% if current_user.has_permissions(['manage_templates']) %}
            <li>
              <a href='{{ url_for(".add_service_template", service_id=service_id, template_type="sms") }}'>Add a template</a>
            </li>
          {% endif %}
          {% if current_user.has_permissions(['send_texts', 'send_emails', 'send_letters']) %}
            <li>
              <a href='{{ url_for(".choose_template", service_id=service_id, template_type="sms") }}'>Send yourself a text message</a>
            </li>
          {% endif %}
        </ol>
      {% endcall %}
    {% elif not jobs %}
      {% call banner_wrapper(subhead='Next step', type="tip") %}
        {% if current_user.has_permissions(['send_texts', 'send_emails', 'send_letters']) %}
          <a href='{{ url_for(".choose_template", service_id=service_id, template_type="sms") }}'>Send yourself a text message</a>
        {% endif %}
      {% endcall %}
    {% else %}
      {% call(item) list_table(
        jobs,
        caption="Recent text messages",
        empty_message='You haven’t sent any text messages yet',
        field_headings=['Job', 'Created', right_aligned_field_heading('completion')]
      ) %}
        {% call field() %}
          <a href="{{ url_for('.view_job', service_id=service_id, job_id=item.id) }}">{{ item.original_file_name }}</a>
        {% endcall %}
        {% call field() %}
          {{ item.created_at|format_datetime }}
        {% endcall %}
        {% call field(align='right') %}
          {{ (item.notifications_sent / item.notification_count * 100)|round|int }}%
        {% endcall %}
      {% endcall %}
      {% if more_jobs_to_show %}
        {% if current_user.has_permissions(['send_texts', 'send_emails', 'send_letters']) %}
          <p class="table-show-more-link">
            <a href="{{ url_for('.view_jobs', service_id=service_id) }}">See all sent text messages</a>
          </p>
        {% endif %}
      {% endif %}
    {% endif %}

{% endblock %}
