{% extends "withnav_template.html" %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% block service_page_title %}
  Settings
{% endblock %}

{% block maincolumn_content %}

    {% set service_base_settings %}
      {% set data_retention_html %}
        {% if current_service.get_consistent_data_retention_period() %}
          {{ current_service.get_consistent_data_retention_period()|string + ' days' }}
        {% else %}
          <ul class="govuk-list">
            {% for channel in ['email', 'sms', 'letter'] %}
            <li>{{ channel|format_notification_type }} – {{ current_service.get_days_of_retention(channel) }} days</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        "classes": "notify-summary-list service-base-settings",
        "rows": [
           {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Service name"
            },
            "value": {
              "text": current_service.name,
              "classes": "govuk-summary-list__value--truncate"
            },
            "actions": {
              "items": [
                {
                  "href": url_for('main.service_name_change', service_id=current_service.id),
                  "text": "Change",
                  "visuallyHiddenText": "service name",
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Sign-in method"
            },
            "value": {
              "text": ("Email link or text message code" if current_service.has_permission("email_auth") else "Text message code")
            },
            "actions": {
              "items": [
                {
                  "href": url_for('main.service_set_auth_type', service_id=current_service.id),
                  "text": "Change",
                  "visuallyHiddenText": "sign-in method",
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Data retention period"
            },
            "value": {
              "text": data_retention_html
            },
            "actions": {
              "items": [
                {
                  "href": url_for('main.service_data_retention', service_id=current_service.id),
                  "text": "Change",
                  "visuallyHiddenText": "data retention",
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          }
        ]
      }) }}
    {% endset %}

    {% set service_email_settings %}
      {% set email_sender_html %}
        {% with email_sender_name = current_service.custom_email_sender_name or current_service.name %}
          {% include "partials/preview-email-sender-name.html" %}
        {% endwith %}
      {% endset %}

      {% set reply_to_email_addresses_html %}
        {{ current_service.default_email_reply_to_address or 'Not set' }}
        {% if current_service.count_email_reply_to_addresses > 1 %}
          <div class="govuk-hint">
            {{ '…and %d more' | format(current_service.count_email_reply_to_addresses - 1) }}
          </div>
        {% endif %}
      {% endset %}

      {% set email_limit_html %}
        {{ "{} per day".format(current_service.get_message_limit("email")|format_thousands) }}
        <div class="govuk-hint">
          {{ current_service.sent_today("email")|format_thousands + " sent today" }}
        </div>
      {% endset %}

      {% set base_email_settings_row = [
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Send emails"
          },
          "value": {
            "text": "On" if current_service.has_permission("email") else "Off"
          },
          "actions": {
            "items": [
              {
                "href": url_for('.service_set_channel', channel='email', service_id=current_service.id),
                "text": "Change",
                "visuallyHiddenText": "your settings for sending emails",
                "classes": "govuk-link--no-visited-state"
              }
            ] if current_user.has_permissions('manage_service') else []
          }
        }
      ]%}

      {% if current_service.has_permission("email") %}
        {% set restricted_email_settings_rows = [
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Email sender name"
            },
            "value": {
              "html": email_sender_html,
              "classes": "govuk-summary-list__value--truncate"
            },
            "actions": {
              "items": [
                {
                  "href": url_for('main.service_email_sender_change', service_id=current_service.id),
                  "text": "Change",
                  "visuallyHiddenText": "email sender name",
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Reply-to email addresses"
            },
            "value": {
              "classes": "govuk-summary-list__value--default" if current_service.default_email_reply_to_address is none else "govuk-summary-list__value--truncate",
              "html": reply_to_email_addresses_html
            },
            "actions": {
              "items": [
                {
                  "href": url_for('main.service_email_reply_to', service_id=current_service.id),
                  "text": "Manage",
                  "visuallyHiddenText": "reply-to email addresses",
                  "classes": "govuk-link--no-visited-state"
                }
              ]
            }
          },
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Email branding"
            },
            "value": {
              "text": current_service.email_branding.name
            },
            "actions": {
              "items": [
                {
                  "href":  url_for('main.email_branding_options', service_id=current_service.id),
                  "text": "Change",
                  "visuallyHiddenText": "email branding",
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Send files by email"
            },
            "value": {
              "text": current_service.contact_link or 'Not set up',
              "classes": "govuk-summary-list__value--default" if current_service.contact_link is none else "govuk-summary-list__value--truncate"
            },
            "actions": {
              "items": [
                {
                  "href": url_for('main.send_files_by_email_contact_details', service_id=current_service.id),
                  "text": "Manage",
                  "visuallyHiddenText": "sending files by email",
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
        ]%}
      {% endif %}

      <!-- only show limit page for live services -->
      {% if current_service.has_permission("email") and current_service.live %}
        {% set _ = restricted_email_settings_rows.append(
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Email limit",
            },
            "value": {
              "text": email_limit_html,
              "classes": "govuk-summary-list__value--truncate"
            },
            "actions": {
              "items": [
                {
                  "href": url_for("main.set_daily_message_limit", service_id=current_service.id, daily_limit_type="email"),
                  "text": "Change",
                  "visuallyHiddenText": "daily {} limit".format("email"|format_notification_type|lower),
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
        )%}
      {% endif %}

      {% set email_settings_rows = base_email_settings_row + restricted_email_settings_rows if restricted_email_settings_rows else base_email_settings_row %}

      {{ govukSummaryList({
        "classes": "notify-summary-list service-email-settings",
        "rows": email_settings_rows
      }) }}

    {% endset %}

    {% set service_text_message_settings %}

      {% set text_message_sender_ids_html %}
        {{ current_service.default_sms_sender | nl2br if current_service.default_sms_sender else 'None'}}
        {% if current_service.count_sms_senders > 1 %}
          <div class="govuk-hint">
            {{ '…and %d more' | format(current_service.count_sms_senders - 1) }}
          </div>
        {% endif %}
      {% endset %}

      {% set text_message_limit_html %}
        {{ "{} per day".format(current_service.get_message_limit("sms")|format_thousands) }}
        <div class="govuk-hint">
          {{ current_service.sent_today("sms")|format_thousands + " sent today" }}
        </div>
      {% endset %}

      {% set international_text_message_limit_html %}
        {{ "{} per day".format(current_service.get_message_limit("international_sms")|format_thousands) }}
        <div class="govuk-hint">
          {{ current_service.sent_today("international_sms")|format_thousands + " sent today" }}
        </div>
      {% endset %}


      {% set base_text_message_setting_row = [
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Send text messages"
          },
          "value": {
            "text": "On" if current_service.has_permission("sms") else "Off"
          },
          "actions": {
            "items": [
              {
                "href": url_for(
                    '.service_set_channel',
                    service_id=current_service.id,
                    channel='sms'
                  ),
                "text": "Change",
                "visuallyHiddenText": "your settings for sending text messages",
                "classes": "govuk-link--no-visited-state"
              }
            ] if current_user.has_permissions('manage_service') else []
          }
        }
      ]%}

      {% set restricted_text_message_settings_rows = [] %}

      {% if current_service.has_permission("sms") %}
        {% set restricted_text_message_settings_rows = [
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Text message sender IDs"
            },
            "value": {
              "text": text_message_sender_ids_html,
              "classes": "govuk-summary-list__value--truncate"
            },
            "actions": {
              "items": [
                {
                  "href": url_for('main.service_sms_senders', service_id=current_service.id),
                  "text": "Manage",
                  "visuallyHiddenText": "text message sender IDs",
                  "classes": "govuk-link--no-visited-state"
                }
              ]
            }
          },
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Start text messages with service name"
            },
            "value": {
              "text": "On" if current_service.prefix_sms else "Off"
            },
            "actions": {
              "items": [
                {
                  "href": url_for('main.service_set_sms_prefix', service_id=current_service.id),
                  "text": "Change",
                  "visuallyHiddenText": "your settings for starting text messages with service name",
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Receive text messages"
            },
            "value": {
              "text": "On" if current_service.has_permission("inbound_sms") else "Off"
            },
            "actions": {
              "items": [
                {
                  "href": url_for('main.service_receive_text_messages', service_id=current_service.id),
                  "text": "Change",
                  "visuallyHiddenText": "your settings for receiving text messages",
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
        ]%}
      {% endif %}

    <!-- only show limit page for live services -->
      {% if current_service.has_permission("sms") and current_service.live %}
        {% set _ = restricted_text_message_settings_rows.append(
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "{} limit".format('sms'|format_notification_type),
            },
            "value": {
              "text": text_message_limit_html,
              "classes": "govuk-summary-list__value--truncate"
            },
            "actions": {
              "items": [
                {
                  "href": url_for("main.set_daily_message_limit", service_id=current_service.id, daily_limit_type="sms"),
                  "text": "Change",
                  "visuallyHiddenText": "daily {} limit".format("sms"|format_notification_type|lower),
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
        )%}
      {% endif %}
      <!-- we want international sms row to be after the daily limit row -->
      {% if current_service.has_permission("sms") %}
        {% set _ = restricted_text_message_settings_rows.append(
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Send international text messages"
            },
            "value": {
              "text": "On" if current_service.has_permission("international_sms") else "Off"
            },
            "actions": {
              "items": [
                {
                  "href": url_for('main.service_set_international_sms', service_id=current_service.id),
                  "text": "Change",
                  "visuallyHiddenText": "your settings for sending international text messages",
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
        )%}
      {% endif %}

      {% set restricted_international_text_message_settings_rows = [] %}

      {% if current_service.has_permission("international_sms") and current_service.has_permission("sms") %}
        {% set restricted_international_text_message_settings_rows = [
          {
            "key": {
                "classes": "notify-summary-list__key notify-summary-list__key--35-100",
                "text": "International text message limit",
              },
            "value": {
              "text": international_text_message_limit_html,
              "classes": "govuk-summary-list__value--truncate"
            },
            "actions": {
              "items": [
                {
                  "href": url_for("main.set_per_day_international_sms_message_limit", service_id=current_service.id),
                  "text": "Change",
                  "visuallyHiddenText": "daily international {} limit".format("sms"|format_notification_type|lower),
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
        ]%}
      {% endif %}

      {% set text_message_settings_rows = base_text_message_setting_row + restricted_text_message_settings_rows + restricted_international_text_message_settings_rows %}

      {{ govukSummaryList({
        "classes": "notify-summary-list service-sms-settings",
        "rows": text_message_settings_rows
      }) }}
    {% endset %}

    {% set service_letter_settings %}

    {% set letter_limit_html %}
      {{ "{} per day".format(current_service.get_message_limit("letter")|format_thousands) }}
      <div class="govuk-hint">
        {{ current_service.sent_today("letter")|format_thousands + " sent today" }}
      </div>
    {% endset %}

      {% set base_letter_settings_row = [
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Send letters"
          },
          "value": {
            "text": "On" if current_service.has_permission("letter") else "Off"
          },
          "actions": {
            "items": [
              {
                "href": url_for(
                  '.service_set_channel',
                  channel='letter',
                  service_id=current_service.id
                ),
                "text": "Change",
                "visuallyHiddenText": "your settings for sending letters",
                "classes": "govuk-link--no-visited-state"
              }
            ] if current_user.has_permissions('manage_service') else []
          }
        }
      ]%}

      {% if current_service.has_permission("letter") %}

        {% set sender_addresses_html %}
          {% if current_service.default_letter_contact_block %}
            {{ current_service.default_letter_contact_block.contact_block | nl2br }}
          {% elif current_service.count_letter_contact_details %}
            Blank
          {% else %}
            Not set
          {% endif %}
          {% if current_service.count_letter_contact_details > 1 %}
            <div class="govuk-hint">
              {{ '…and %d more' | format(current_service.count_letter_contact_details - 1) }}
            </div>
          {% endif %}
        {% endset %}
        {% set restricted_letter_settings_rows = [
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Send international letters"
            },
            "value": {
              "text": "On" if current_service.has_permission('international_letters') else "Off"
            },
            "actions": {
              "items": [
                {
                  "href": url_for('main.service_set_international_letters', service_id=current_service.id),
                  "text": "Change",
                  "visuallyHiddenText": "your settings for sending international letters",
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Sender addresses"
            },
            "value": {
              "html": sender_addresses_html,
              "classes": "govuk-summary-list__value--default" if current_service.count_letter_contact_details == 0 else "govuk-summary-list__value--truncate"
            },
            "actions": {
              "items": [
                {
                  "href": url_for('main.service_letter_contact_details', service_id=current_service.id),
                  "text": "Manage",
                  "visuallyHiddenText": "sender addresses",
                  "classes": "govuk-link--no-visited-state"
                }
              ]
            }
          },
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "Letter branding"
            },
            "value": {
              "text": current_service.letter_branding.name or "Not set",
              "classes": "govuk-summary-list__value--default" if not current_service.letter_branding.name
            },
            "actions": {
              "items": [
                {
                  "href": url_for('main.letter_branding_options', service_id=current_service.id),
                  "text": "Change",
                  "visuallyHiddenText": "letter branding",
                  "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
        ] %}
      {% endif %}
      <!-- only show limit page for live services -->
      {% if current_service.has_permission("letter") and current_service.live %}
        {% set _ = restricted_letter_settings_rows.append(
          {
            "key": {
              "classes": "notify-summary-list__key notify-summary-list__key--35-100",
              "text": "{} limit".format('letter'|format_notification_type),
            },
            "value": {
              "text": letter_limit_html,
              "classes": "govuk-summary-list__value--truncate"
            },
            "actions": {
              "items": [
                {
                "href": url_for("main.set_daily_message_limit", service_id=current_service.id, daily_limit_type="letter"),
                "text": "Change",
                "visuallyHiddenText": "daily {} limit".format("letter"|format_notification_type|lower),
                "classes": "govuk-link--no-visited-state"
                }
              ] if current_user.has_permissions('manage_service') else []
            }
          },
        ) %}
      {% endif %}

      {% set letter_settings_rows = base_letter_settings_row + restricted_letter_settings_rows  if restricted_letter_settings_rows else base_letter_settings_row %}

      {{ govukSummaryList({
        "classes": "notify-summary-list service-letter-settings",
        "rows": letter_settings_rows
      }) }}

    {% endset %}

    <h1 class="heading-medium">Settings</h1>
    <div class="bottom-gutter-3-2">
      <h2 class="heading-medium govuk-visually-hidden">General</h2>
      {{ service_base_settings }}
      <h2 class="heading-medium">Email settings</h2>
      {{ service_email_settings }}
      <h2 class="heading-medium">Text message settings</h2>
      {{ service_text_message_settings }}
      <h2 class="heading-medium">Letter settings</h2>
      {{ service_letter_settings }}

    </div>

    {% if current_service.live %}
      <h2 class="heading-medium top-gutter-0">Your service is live</h2>
      <p class="govuk-body">
        To delete this service, <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.support') }}">contact us</a>.
      </p>

    {% endif %}


    {% if current_user.platform_admin %}

      <h2 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-8">Platform admin settings</h2>

      {% set has_change_action = {} %}
      {% set admin_org_live_status_html %}
        {% if current_service.trial_mode and not current_service.organisation_id %}
            No
            <div class="govuk-hint">Organisation must be set first</div>
        {% elif current_service.trial_mode and current_service.organisation.agreement_signed is false %}
            No
            <div class="govuk-hint">Organisation must accept the data processing and financial agreement first</div>
        {% else %}
          {{ "On" if not current_service.trial_mode else "Off" }}

          {% do has_change_action.update({
            "items": [
              {
                "href": url_for('main.service_switch_live', service_id=current_service.id),
                "text": "Change",
                "visuallyHiddenText": "service status",
                "classes": "govuk-link--no-visited-state"
              }
            ]
          }) %}
        {% endif %}
      {% endset %}

      {% set admin_service_billing_details_html %}
        {% if current_service.billing_details %}
          <ul class="govuk-list">
            {% for item in current_service.billing_details %}
              {% if item %}
                <li>{{ item }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        {% else %}
          None
        {% endif %}
      {% endset %}

      {% set admin_service_parent_org_html %}
        {% if current_service.organisation_id %}
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.organisation_dashboard', org_id=current_service.organisation_id) }}">
            {{ current_service.organisation_name }}
          </a>
        {% else %}
          <span class="govuk-hint">Not set</span>
        {% endif %}
        {% if current_service.organisation_type %}
          <div class="govuk-hint">
            {{ current_service.organisation_type_label }}
          </div>
        {% endif %}
      {% endset %}

      {% set admin_service_data_retention_html %}
        {% for channel in current_service.data_retention %}
          {% if loop.first %}
            <ul class="govuk-list">
          {% endif %}
            <li>{{ channel.notification_type|format_notification_type }} – {{ channel.days_of_retention }} days</li>
          {% if loop.last %}
            </ul>
          {% endif %}
        {% else %}
          Not set
        {% endfor %}
      {% endset %}

      {% set admin_settings_rows = [
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Live"
          },
          "value": {
            "html": admin_org_live_status_html,
          },
          "actions": has_change_action
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Count in list of live services"
          },
          "value": {
            "text": current_service.count_as_live|format_yes_no
          },
          "actions": {
            "items": [
              {
                "href": url_for('main.service_switch_count_as_live', service_id=current_service.id),
                "text": "Change",
                "visuallyHiddenText": "if service is counted in list of live services",
                "classes": "govuk-link--no-visited-state"
              }
            ]
          }
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Billing details"
          },
          "value": {
            "text": admin_service_billing_details_html,
            "classes": "govuk-summary-list__value--default" if not current_service.billing_details
          },
          "actions": {
            "items": [
              {
                "href": url_for('main.edit_service_billing_details', service_id=current_service.id),
                "text": "Change",
                "visuallyHiddenText": "billing details for service",
                "classes": "govuk-link--no-visited-state"
              }
            ]
          }
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Notes"
          },
          "value": {
            "text": current_service.notes or "None",
            "classes": "govuk-summary-list__value--default" if not current_service.notes
          },
          "actions": {
            "items": [
              {
                "href": url_for('main.edit_service_notes', service_id=current_service.id),
                "text": "Change",
                "visuallyHiddenText": "the notes for the service",
                "classes": "govuk-link--no-visited-state"
              }
            ]
          }
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Organisation"
          },
          "value": {
            "html": admin_service_parent_org_html
          },
          "actions": {
            "items": [
              {
                "href": url_for('main.link_service_to_organisation', service_id=current_service.id),
                "text": "Change",
                "visuallyHiddenText": "organisation for service",
                "classes": "govuk-link--no-visited-state"
              }
            ]
          }
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Rate limit"
          },
          "value": {
            "text": "{} per minute".format(current_service.rate_limit|format_thousands)
          },
          "actions": {
            "items": [
              {
                "href": url_for('main.set_per_minute_rate_limit', service_id=current_service.id),
                "text": "Change",
                "visuallyHiddenText": "rate limit",
                "classes": "govuk-link--no-visited-state"
              }
            ]
          }
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "{} limit".format('email'|format_notification_type)
          },
          "value": {
            "text": "{} per day".format(current_service.get_message_limit('email')|format_thousands)
          },
          "actions": {
            "items": [
              {
                "href": url_for('main.set_per_day_message_limit', service_id=current_service.id, notification_type='email'),
                "text": "Change",
                "visuallyHiddenText": "daily {} limit".format('email'|format_notification_type|lower),
                "classes": "govuk-link--no-visited-state"
              }
            ]
          }
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "{} limit".format('sms'|format_notification_type)
          },
          "value": {
            "text": "{} per day".format(current_service.get_message_limit('sms')|format_thousands)
          },
          "actions": {
            "items": [
              {
                "href": url_for('main.set_per_day_message_limit', service_id=current_service.id, notification_type='sms'),
                "text": "Change",
                "visuallyHiddenText": "daily {} limit".format('sms'|format_notification_type|lower),
                "classes": "govuk-link--no-visited-state"
              }
            ]
          }
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "{} limit".format('letter'|format_notification_type)
          },
          "value": {
            "text": "{} per day".format(current_service.get_message_limit('letter')|format_thousands)
          },
          "actions": {
            "items": [
              {
                "href": url_for('main.set_per_day_message_limit', service_id=current_service.id, notification_type='letter'),
                "text": "Change",
                "visuallyHiddenText": "daily {} limit".format('letter'|format_notification_type|lower),
                "classes": "govuk-link--no-visited-state"
              }
            ]
          }
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Free text message allowance"
          },
          "value": {
            "text": "{} per year".format(current_service.free_sms_fragment_limit|format_thousands)
          },
          "actions": {
            "items": [
              {
                "href": url_for('main.set_free_sms_allowance', service_id=current_service.id),
                "text": "Change",
                "visuallyHiddenText": "free text message allowance",
                "classes": "govuk-link--no-visited-state"
              }
            ]
          }
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Email branding"
          },
          "value": {
            "text": current_service.email_branding.name
          },
          "actions": {
            "items": [
              {
                "href": url_for('main.service_set_branding', service_id=current_service.id, branding_type='email'),
                "text": "Change",
                "visuallyHiddenText": "email branding (admin view)",
                "classes": "govuk-link--no-visited-state"
              }
            ]
          }
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Letter branding"
          },
          "value": {
            "text": current_service.letter_branding.name or "Not set",
            "classes": "govuk-summary-list__value--default" if not current_service.letter_branding.name
          },
          "actions": {
            "items": [
              {
                "href": url_for('main.service_set_branding', service_id=current_service.id, branding_type='letter'),
                "text": "Change",
                "visuallyHiddenText": "letter branding (admin view)",
                "classes": "govuk-link--no-visited-state"
              }
            ]
          }
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Custom data retention"
          },
          "value": {
            "text": admin_service_data_retention_html,
            "classes": "govuk-summary-list__value--default" if not current_service.data_retention
          },
          "actions": {
            "items": [
              {
                "href": url_for('main.data_retention', service_id=current_service.id),
                "text": "Change",
                "visuallyHiddenText": "data retention",
                "classes": "govuk-link--no-visited-state"
              }
            ]
          }
        },
      ] %}

      {% for permission in service_permissions %}
        {% if not service_permissions[permission].requires or current_service.has_permission(service_permissions[permission].requires) %}
          {% do admin_settings_rows.append(
            {
              "key": {
                "classes": "notify-summary-list__key notify-summary-list__key--35-100",
                "text": service_permissions[permission].title
              },
              "value": {
                "text": "On" if current_service.has_permission(permission) else "Off"
              },
              "actions": {
                "items": [
                  {
                    "href": url_for(
                      service_permissions[permission].endpoint or '.service_set_permission',
                      service_id=current_service.id,
                      permission=permission if not service_permissions[permission].endpoint else None
                    ),
                    "text": "Change",
                    "visuallyHiddenText": "your settings for " + service_permissions[permission].title,
                    "classes": "govuk-link--no-visited-state"
                  }
                ]
              }
            }
          ) %}
        {% endif %}
      {% endfor %}

      {{ govukSummaryList({
        "classes": "notify-summary-list platform-admin-settings",
        "rows": admin_settings_rows
      }) }}

    {% endif %}

    <p class="top-gutter-1-2">
      {% if current_service.active and (current_service.trial_mode or current_user.platform_admin) %}
      <span class="page-footer-link page-footer-delete-link-without-button">
        <a
          class="govuk-link govuk-link--destructive"
          href="{{ url_for('main.archive_service', service_id=current_service.id) }}"
        >
          Delete this service
        </a>
      </span>
      {% endif %}
      {% if current_user.platform_admin %}
        <span class="page-footer-link">
          <a
            class="govuk-link govuk-link--no-visited-state"
            href="{{ url_for('main.history', service_id=current_service.id) }}"
          >
            Service history
          </a>
        </span>
      {% endif %}
    </p>
{% endblock %}
