{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  Sign in
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">

    {% if again %}
      <h1 class="heading-large">You need to sign in again</h1>
      {% if other_device %}
        <p>
          We signed you out because you logged in to Notify on another device.
        </p>
      {% else %}
        <p>
          We signed you out because you have not used Notify for a while.
        </p>
      {% endif %}
    {% else %}
      <h1 class="heading-large">Sign in</h1>
      <p>
        If you do not have an account, you can
        <a href="{{ url_for('.register') }}">create one now</a>.
      </p>
    {% endif %}

    {% call form_wrapper(autocomplete=True) %}
      {{ textbox(form.email_address, autocomplete='email') }}
      {{ textbox(form.password, autocomplete='current-password') }}
      {{ page_footer("Continue", secondary_link=url_for('.forgot_password'), secondary_link_text="Forgot your password?") }}
    {% endcall %}
  </div>
</div>

{% endblock %}
