{% from 'components/big-number.html' import big_number %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/phone.html" import phone %}

{% extends "fullwidth_template.html" %}

{% block page_title %}
  GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <div class="product-page-intro">
    <div class="product-page-intro-wrapper">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h1>
            Send emails and text messages to your users
          </h1>
          <p>
            Try GOV.UK Notify now if you work for a UK government
            department or agency.
          </p>
          <div class="button-container">
            <a class="button button-start" href='{{ url_for('.register' )}}'>
              Create an account
            </a>
            or <a href="{{ url_for('.sign_in' )}}">sign in</a> if you’ve used
            it before
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-page-section">
    <div class="grid-row">
      <div class="column-half">
        <h2>
          Control your content
        </h2>
        <p>
          You don’t need any technical knowledge to create email and
          text&nbsp;message templates.
        </p>
      </div>
      <div class="column-half">
        <img src="/static/images/product/01-templates.svg" alt="">
      </div>
    </div>
  </div>
  <div class="product-page-section">
    <div class="grid-row">
      <div class="column-half">
        <h2>
          See how your messages perform
        </h2>
        <p>
          Track how many messages you’ve sent and
          find out which ones aren’t getting delivered.
        </p>
      </div>
      <div class="column-half">
        <img
          src="/static/images/product/02-reporting.svg"
          alt="A screenshot of GOV.UK Notify showing counts of emails and text messages sent"
        >
      </div>
    </div>
  </div>
  <div class="product-page-section">
    <h2 class="with-keyline">
      Send messages manually or automatically
    </h2>
    <div class="grid-row">
      <div class="column-half">
        <p>
          Upload a spreadsheet of email&nbsp;addresses or
          phone&nbsp;numbers and Notify sends the messages.
        </p>
        <img
          src="/static/images/product/03-spreadsheet.svg"
          alt="A screenshot of a spreadsheet with columns for email address, name and colour"
        >
      </div>
      <div class="column-half">
        <p>
          Integrate the GOV.UK Notify API with your web&nbsp;application or
          back office system.
        </p>
        <img
          src="/static/images/product/04-api.svg"
          alt="A screenshot of some computer code with a notify.send_email function"
        >
      </div>
    </div>
  </div>
  <div class="product-page-section">
    <div class="with-keyline bottom-gutter-2">
      <h2>Who’s using GOV.UK Notify</h2>
      <div class="grid-row bottom-gutter">
        <div class="column-half">
          <h3 class="visually-hidden">Services</h3>
          <div class="product-page-big-number">27</div>
          services
        </div>
        <div class="column-half">
          <h3 class="visually-hidden">Departments</h3>
          <div class="product-page-big-number">16</div>
          departments
        </div>
      </div>
    </div>
  </div>
  <div class="product-page-section">
    <div class="with-keyline bottom-gutter-2">
      <h2>Pricing</h2>
      <div class="grid-row bottom-gutter">
        <div class="column-half">
          <h3 class="visually-hidden">Emails</h3>
          <div class="product-page-big-number">Unlimited</div>
          free emails
        </div>
        <div class="column-half">
          <h3 class="visually-hidden">Text messages</h3>
          <div class="product-page-big-number">250,000</div>
          free text messages a year, then
          1.65 pence per message
        </div>
      </div>
      <div class="grid-row bottom-gutter">
        <div class="column-three-quarters">
          <p>
            There’s no monthly charge, no setup fee and no procurement process.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="product-page-section">
    <div class="grid-row">
      <div class="column-half">
        <h2 class="with-keyline">
          The team
        </h2>
        <p>
          GOV.UK Notify is built by the Government Digital Service
          and is supported 24 hours a day, 7 days a week.
        </p>
        <p>
          <a href="{{ url_for('main.feedback') }}">Contact the team</a> if you have a question or want
          to give feedback.
        </p>
      </div>
      <div class="column-half">
        <img
          src="/static/images/product/team.jpg"
          alt="A photo of the GOV.UK Notify team gathered around a big screen. One team member is pointing at a graph on the screen."
        >
      </div>
    </div>
  </div>


{% endblock %}
