{% extends "admin_template.html" %}
{% from "components/page-footer.html" import page_footer %}

{% block page_title %}
Sign in
{% endblock %}

{% block fullwidth_content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Sign in</h1>

		<p>If you do not have an account, you can <a href="register">register for one now</a>.</p>

		<form autocomplete="off" action="" method="post">
			{{ form.hidden_tag() }}
			{{ render_field(form.email_address, class='form-control-2-3') }}
			{{ render_field(form.password, class='form-control-2-3') }}
			<p>
			<span class="font-xsmall"><a href="{{url_for('main.forgot_password')}}">Forgotten password?</a></span>
			</p>
			{{ page_footer("Continue") }}
		</form>
	</div>
</div>

{% endblock %}
