{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/table.html" import list_table, field %}

{% block service_page_title %}
Service and API key history
{% endblock %}

{% block maincolumn_content %}

  {{ page_header("Service and API key history") }}

  <ul>
    {% for event in current_service.history|reverse %}
      <li>
        {{ event.time|format_datetime_relative }} {{ event.user_id }}<br />
        {{ event|string }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
