{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify
{% endblock %}

{% block fullwidth_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Check your mobile number</h1>

    <p>Check your mobile phone number is correct and then resend the confirmation code.</p>

      <form autocomplete="off" action="" method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.mobile_number, class='form-control-2-3') }}
        <p>
        <button class="button" role="button">Resend confirmation code</button>
        </p>
      </form>
  </div>
</div>

{% endblock %}
