{% extends "withoutnav_template.html" %}

{% block page_title %}
Check your mobile number – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

<!-- this page is just a hack for building out pages - same functionality as text-not-received, but for the register from an invite flow -->

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Check your mobile number</h1>

    <p>Check your mobile phone number is correct and then resend the confirmation code.</p>

      <p>
      <label class="form-label" for="mobile">Mobile phone number</label>
      <input class="form-control-1-4" id="mobile" type="text" value="08983336666">
      </p>


      <p>
      <a class="button" href="verify-mobile" role="button">Resend confirmation code</a>
      </p>
  </div>
</div>

{% endblock %}
