{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block page_title %}
Check your mobile number – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Check your mobile number</h1>

    <p>Check your mobile phone number is correct and then resend the confirmation code.</p>

      <form autocomplete="off" method="post">
        {{ textbox(form.mobile_number) }}
        {{ page_footer("Resend confirmation code") }}
      </form>
  </div>
</div>

{% endblock %}
