{% extends "withoutnav_template.html" %}

{% block page_title %}
  Trial mode – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Trial mode</h1>

    <p>
      All new accounts on Notify start off in trial mode.
    </p>
    <p>
      This means:
    </p>
    <ul class="list list-bullet">
      <li>
        you can only send messages to yourself
      </li>
      <li>
        you can add people to
        {% if current_service %}
          <a href="{{ url_for('main.manage_users', service_id=current_service.id) }}">your team</a>,
        {% else %}
          your team,
        {% endif %}
        then you can send messages to them too
      </li>
      <li>
        you can only send 50 messages per day
      </li>
    </ul>

    <p>
      When you’re ready we can
      {% if current_service %}
        <a href="{{ url_for('main.service_request_to_go_live', service_id=current_service.id) }}">remove these restrictions</a>.
      {% else %}
        remove these restrictions.
      {% endif %}

    </p>

  </div>
</div>

{% endblock %}
