{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% set page_title = 'Get your security key' %}

{% block per_page_title %}
  {{ page_title }}
{% endblock %}

{% block maincolumn_content %}

  {{ govukBackLink({ "href": url_for('.user_profile') }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ page_header(page_title) }}
      <p class="govuk-body">
        You need to have your security key to sign in.
      </p>
      {{ govukButton({
        "element": "button",
        "text": "Check security key",
        "classes": "govuk-button--secondary",
        "attributes": {
          "data-module": "authenticate-security-key",
          "data-csrf-token": csrf_token(),
        }
      }) }}
    </div>
    <div class="govuk-grid-column-one-quarter">
      <img src="{{ asset_url('images/security-key.svg') }}" alt="" class="webauthn-illustration">
    </div>
  </div>
{% endblock %}
