{% extends "admin_template.html" %}
{% from "components/page-footer.html" import page_footer %}

{% block page_title %}
GOV.UK Notify | Text verification
{% endblock %}

{% block fullwidth_content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Text verification</h1>

		<p>We've sent you a text message with a verification code.</p>


		<form autocomplete="off" action="" method="post">
			{{ form.hidden_tag() }}
			{{ render_field(form.sms_code, class='form-control-1-4') }}
			<span class="font-xsmall"><a href="{{ url_for('.verification_code_not_received') }}">I haven't received a text</a></span>
			{{ page_footer("Continue") }}
		</form>
	</div>
</div>

{% endblock %}
