{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% block service_page_title %}
{{ earliest_timestamp|format_date_normal }} until {{ latest_timestamp|format_date_normal }}
{% endblock %}


{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.unsubscribe_request_reports_summary', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header('{} until {}'.format(earliest_timestamp|format_date_normal, latest_timestamp|format_date_normal)) }}

 <p class="govuk-body">
     {{ count|format_thousands}} new requests to unsubscribe
 </p>

    <p class="govuk-body">You must: </p>
      <ol class="govuk-list govuk-list--number">
        <li><span class="bottom-gutter"><a download href="" class="govuk-link heading-small">Download the report</a>&nbsp;(available for 90 days) </span> </li>
        <li>Remove the email addresses from your mailing list before you send any further emails</li>
      </ol>

{% call form_wrapper() %}
   {{ form.report_has_been_processed }}
    {% if is_a_batched_report %}
      {{  govukButton({ "text": "Update" }) }}
    {% endif %}
{% endcall %}
{% endblock %}