{% extends "withnav_template.html" %}
{% from "components/table.html" import field, list_table, row_heading%}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Email unsubscribe requests
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_dashboard', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header('Email unsubscribe requests') }}

<div class="dashboard-table">
    {% call(item, row_number) list_table(
        current_service.unsubscribe_request_reports_summary,
        caption="Unsubscribe Request Reports",
        caption_visible=False,
        empty_message='If you have unsubscribed requests they will be listed here',
        field_headings=['Report', 'Status'],
        field_headings_visible=False
    ) %}
    {% call row_heading() %}

      <a class="govuk-link govuk-link--no-visited-state file-list-filename"
         href="{{url_for('main.unsubscribe_request_report', service_id=current_service.id, batch_id=item.batch_id)}}" >
          {{ item.earliest_timestamp | format_date_normal }} to {{ item.latest_timestamp | format_date_normal }}
        </a>
       <p class="file-list-hint">

         {{ item.count|format_thousands}} {{ item.count | message_count_label('unsubscribe request', suffix='') }}
         </p>
    {% endcall %}
    {% call field(align='right') %}
        {{ item.status}}
    {% endcall %}
  {% endcall %}
</div>

{% endblock %}

