{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% block service_page_title %}
{{ report.earliest_timestamp|format_date_normal }} until {{ report.latest_timestamp|format_date_normal }}
{% endblock %}


{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.unsubscribe_request_reports_summary', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header('{} until {}'.format(report.earliest_timestamp|format_date_normal, report.latest_timestamp|format_date_normal)) }}


{% if report.status != "Completed" %}
    <p class="govuk-body" id="report-unsubscribe-requests-count">
     {{ report.count|format_thousands}} new requests to unsubscribe
    </p>

    <p class="govuk-body">You must: </p>
      <ol class="govuk-list govuk-list--number">
        <li><span class="bottom-gutter"><a download href="" class="govuk-link heading-small">Download the report</a>&nbsp;(available until {{report.report_latest_download_date|format_date_normal}}) </span> </li>
        <li>Remove the email addresses from your mailing list before you send any further emails</li>
      </ol>
{%  else %}
    <p class="govuk-body" id="completed_unsubscribe_report_main_text"> Report was marked as completed on {{ report.processed_by_service_at | format_date_normal }}</p>
    <p class="bottom-gutter"><a download href="" class="govuk-link heading-small">Download the report</a>&nbsp;(available until {{report.report_latest_download_date|format_date_normal}}) </p>

 {% endif %}

{% call form_wrapper() %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{ form.report_has_been_processed }}
    {% if report.is_a_batched_report %}
        {{  govukButton({ "text": "Update", "id":"process_unsubscribe_report" })}}
    {% endif %}

{% endcall %}


{% endblock %}