{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}

{% block per_page_title %}
  Unsubscribe
{% endblock %}

{% block maincolumn_content %}

{{ page_header('Unsubscribe') }}

{% if confirmed %}
  <p class="govuk-body">
    You have been unsubscribed
  </p>
{% else %}
  <div class="js-hidden">

    <form method="post" id="confirm-unsubscription">
      {{ page_footer('Confirm unsubscription') }}
    </form>

  </div>

  <script type="text/javascript">
    document.getElementById("confirm-unsubscription").submit();
  </script>
{% endif %}

{% endblock %}
