{% from "components/page-footer.html" import page_footer %}

{% extends "unbranded_template.html" %}

{% block pageTitle %}
  Unsubscribe
{% endblock %}

{% block content %}

  <h1>
    Unsubscribe
  </h1>

  {% if confirmed %}
    <p>
      You have been unsubscribed
    </p>
  {% else %}
    <p>
      Do you want to unsubscribe?
    </p>
    <form method="post" action="{{ request.url | extract_path_from_url }}" id="confirm-unsubscription">
      {{ page_footer('Confirm unsubscription') }}
    </form>
{% endif %}

{% endblock %}

{% block footer %}

  {% if example %}
    <footer>
      <p>
        This page is an example, no action has been taken
      </p>
    </footer>
  {% endif %}

{% endblock %}

