{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{% block service_page_title %}
  Email unsubscribe requests
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_dashboard', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header('Email unsubscribe requests') }}

  {% if not current_service.unsubscribe_request_reports_summary %}
    <p class="govuk-body no-data">
      If you have any email unsubscribe requests they will be listed here
    </p>
  {% else %}
    {% set report_list = [] %}
    {% for item in current_service.unsubscribe_request_reports_summary %}
      {% set summary_key_html %}
          <a class="govuk-link govuk-link--no-visited-state notify-summary-list__filename"
            href="{{url_for('main.unsubscribe_request_report', service_id=current_service.id, batch_id=item.batch_id)}}">
              {{ item.title|sentence_case }}
          </a>
        <p class="govuk-body notify-summary-list__metadata notify-summary-list__metadata--small">
          {{ item.count|format_thousands}} {{ item.count | message_count_label('unsubscribe request', suffix='') }}
        </p>
        {% endset %}
        {% do report_list.append({
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--60-100",
            "html": summary_key_html,
          },
          "value": {
           "classes": "govuk-summary-list__value--align-right govuk-summary-list__value--small" ~ (" govuk-summary-list__value--default" if not item.is_a_batched_report else ""),
            "text":  item.status,
          }
        }) %}
    {% endfor %}

    {{ govukSummaryList({
      "classes": "notify-summary-list",
      "rows": report_list
    }) }}

  {% endif %}

{% endblock %}

