{% extends "withoutnav_template.html" %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  Using Notify
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    {{ sub_navigation(navigation_links, 'Using Notify') }}
  </div>
  <div class="govuk-grid-column-two-thirds">

    <h1 class="heading-large">Using Notify</h1>

    <p class="govuk-body">The information on this page has moved.</p>

    <p class="govuk-body">Find out more about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.trial_mode') }}">trial mode</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.message_status') }}">message status types</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.features') }}">everything else</a></li>
    </ul>

  </div>
</div>

{% endblock %}
