{% extends "withoutnav_template.html" %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  Using Notify
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-one-third">
    {{ sub_navigation(navigation_links) }}
  </div>
  <div class="column-two-thirds">

    <h1 class="heading-large">Using Notify</h1>

    <h2 id="trial-mode" class="heading-medium">Trial mode</h2>
    <p>When you create a GOV.UK Notify account, you’ll start in trial mode. This lets you try out the service, but has some restrictions in place.</p>
    <p>
      You can remove these restrictions by
      {% if current_service and current_service.trial_mode %}
        <a href="{{ url_for('.request_to_go_live', service_id=current_service.id) }}">requesting to go live</a>.
      {% else %}
        going live.
      {% endif %}
    </p>

    <h3 class="heading-small">Restrictions in trial mode</h3>
    <p>In trial mode, you can:</p>
    <ul class="list list-bullet">
      <li>send up to 50 text messages and emails per day</li>
      <li>send messages to yourself and other people in your team</li>
      <li>draft letters (but not send them)</li>
    </ul>

    <h2 id="messagedeliveryandfailure" class="heading-medium">Sending messages</h2>
    <p>When you send a message, it moves through different states in Notify.</p>
    <img
        src="/static/images/message-sending-flow.svg"
        alt="A picture of the sending flow of messages in Notify, showing the three states of Sending, Delivered, And Failed. Also shows the next
             steps when messages fail, deleting data and trying a new channel for permanent failures, and trying again or trying a new channel for
             temporary failures"
        style="width: 100%;"
    >
    <h3 class="heading-small">Sending</h3>
    <p>This means that we’ve sent the message to our providers and are waiting for delivery information.</p>
    <h3 class="heading-small">Delivered</h3>
    <p>You’ll see this when Notify has successfully delivered a message to user’s email inbox or phone.</p>
    <p>Notify won’t tell you if a user has opened or read a message.</p>
    <h3 class="heading-small">Sent internationally</h3>
    <p>You’ll see this when Notify sends a text message to an international number, but mobile networks in that country don’t provide delivery receipts.</p>
    <h3 class="heading-small" id="does-not-exist">Phone number or email address does not exist</h3>
    <p>You’ll see this when Notify couldn’t deliver a message because the email address or phone number was wrong.</p>
    <p>You should remove these email addresses or phone numbers from your database.</p>
    <p>You’ll still be charged for text messages to numbers that don’t exist.</p>
    <h3 class="heading-small" id="not-accepting-messages">Inbox/phone not accepting messages right now</h3>
    <p>You’ll see this if Notify can’t deliver an email or text message after trying for 72 hours.</p>
    <p>This might happen for a number of reasons. For example, the user’s inbox might be full, or their phone might be turned off.</p>
    <p>You can try sending the message again if you want.</p>
    <p>You’ll still be charged for text messages to phones that aren’t accepting messages.</p>
    <h3 class="heading-small" id="technical-failure">Technical failure</h3>
    <p>A technical failure means there’s a problem between Notify and our delivery providers. </p>
    <p>You’ll have to try sending your messages again. </p>
    <p>You won’t be charged for text messages that are affected by a technical failure.</p>

    <h2 class="heading-medium">Receiving messages</h2>
    <h3 class="heading-small">Email replies</h3>
    <p>You can choose an email address you want replies to go to.</p>
    <h3 class="heading-small">Text messages</h3>
    <p>You can contact us if you want to be able to receive text messages. </p>
    <p>When you’ve done this, users will be able to reply to text messages you send them. They’ll also be able to start an interaction by sending you a text message.</p>
    <p>You’ll be able to see and reply to text messages you receive. You can also create automated processes to manage replies.</p>
    <p>You’ll still need to have a manual process in place for any messages that can’t be dealt with automatically.</p>

    <h2 class="heading-medium">Multiple services in one organisation</h2>
    <p>If your organisation offers multiple services, you can have a different Notify account for each of them.</p>
    <p>Each service:</p>
    <ul class="list list-bullet">
      <li>gets its own free message allowance</li>
      <li>has to request to go live separately</li>
    </ul>

    <h2 class="heading-medium">Letters</h2>
    <p>Letters can be up to 10 pages long (5 sides of paper, double-sided).</p>
    <p>Notify sends letters in C5 size envelopes, with a window.</p>

  </div>
</div>

{% endblock %}
