{% extends "withoutnav_template.html" %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  Using Notify
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-one-third">
    {{ sub_navigation(navigation_links) }}
  </div>
  <div class="column-two-thirds">

    <h1 class="heading-large">Using Notify</h1>

    <p>The information on this page has moved.</p>

    <p>Find out more about:</p>
    <ul class="list list-bullet">
      <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.trial_mode_new') }}">trial mode</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.message_status') }}">message status types</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.features_email') }}">email replies</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.features_sms') }}">text message replies</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.features_letters') }}">letters</a></li>
    </ul>

    <!-- <h2 id="trial-mode" class="heading-medium">Trial mode</h2>
    <p>When you set up a new service it will start in trial mode. This lets you try out GOV.UK Notify, with a few restrictions.</p>
    <p>A service in trial mode can only:</p>
      <ul class="list list-bullet">
       <li>send 50 text messages and emails per day</li>
        <li>send messages to you and other people in your team</li>
       <li>draft letters, but not send them</li>
     </ul>

    <p>
      To remove these restrictions, you can
      {% if current_service and current_service.trial_mode %}
        <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.request_to_go_live', service_id=current_service.id) }}">send us a request to go live</a>.
      {% else %}
        send us a request to go live.
      {% endif %}
    </p>

    <p>Before you can request to go live, you must:</p>
    <ul class="list bullet-list">
      <li>sign our data sharing and financial agreement</li>
      <li>accept our terms of use</li>
      <li>set up your service so you're ready to send and receive messages</li>
    </ul>

    <h2 id="messagedeliveryandfailure" class="heading-medium">Sending messages</h2>
    <p>When you send a message using GOV.UK Notify, it moves through different states.</p>

    <p>Notify’s real-time dashboard lets you check the status of any message, to see when it was delivered. You can use our API to check the status of your messages too.</p>

    <p><a class="govuk-link govuk-link--no-visited-state" href="https://www.notifications.service.gov.uk/documentation">Read our documentation</a> for a detailed list of API message statuses.</p>
    <img
        src="{{ asset_url('images/message-sending-flow.svg') }}"
        alt="A picture of the sending flow of messages in Notify, showing the three states of Sending, Delivered, And Failed. Also shows the next
             steps when messages fail, deleting data and trying a new channel for permanent failures, and trying again or trying a new channel for
             temporary failures"
        style="width: 100%;"
    >
    <h2 id="messagestatus" class="heading-medium">Message status – emails and text messages</h2>
    <h3 class="heading-small">Sending</h3>
    <p>GOV.UK Notify has sent the message to the provider. The provider will try to deliver the message to the recipient. GOV.UK Notify is waiting for delivery information.</p>
    <h3 class="heading-small">Sent internationally (text messages only)</h3>
    <p>The message was sent to an international number. The mobile networks in some countries do not provide any more delivery information.</p>
    <h3 class="heading-small">Delivered</h3>
    <p>The message was successfully delivered.</p>
    <p>Notify will not tell you if a user has opened or read a message.</p>
    <h3 class="heading-small" id="does-not-exist">Phone number or email address does not exist</h3>
    <p>The provider could not deliver the message because the email address or phone number was wrong.
    <p>You should remove these email addresses or phone numbers from your database.</p>
    <p>You’ll still be charged for text messages to numbers that do not exist.</p>
    <h3 class="heading-small" id="not-accepting-messages">Inbox/phone not accepting messages right now</h3>
    <p>The provider could not deliver the message after trying for 72 hours.</p>
    <p>This can happen when the recipient’s inbox is full or their phone is off.</p>
    <p>You can try to send the message again.</p>
    <p>You’ll still be charged for text messages to phones that are not accepting messages.</p>
    <h3 class="heading-small" id="technical-failure">Technical failure</h3>
    <p>Your message was not sent because there was a problem between Notify and the provider.</p>
    <p>You’ll have to try sending your messages again.</p>
    <p>You will not be charged for text messages that are affected by a technical failure.</p>

    <h2 class="heading-medium">Message status – letters</h2>
    <h3 class="heading-small">Sent</h3>
    <p>GOV.UK Notify has sent the letter to the provider to be printed.</p>
    <h3 class="heading-small">Cancelled</h3>
    <p>Sending cancelled. Your letter will not be printed or dispatched.</p>
    <h3 class="heading-small">Technical failure</h3>
    <p>GOV.UK Notify had an unexpected error while sending to our printing provider.</p>

    <h2 class="heading-medium">Receiving messages</h2>
    <h3 class="heading-small">Email replies</h3>
    <p>You can choose an email address you want replies to go to.</p>
    <h3 class="heading-small">Text messages</h3>
    <p>You can contact us if you want to be able to receive text messages. </p>
    <p>When you’ve done this, users will be able to reply to text messages you send them. They’ll also be able to start an interaction by sending you a text message.</p>
    <p>You’ll be able to see and reply to text messages you receive. You can also create automated processes to manage replies.</p>
    <p>You’ll still need to have a manual process in place for any messages that can’t be dealt with automatically.</p>

    <h2 class="heading-medium">Letters</h2>
    <p>Letters can be up to 10 pages long (5 sides of paper, double-sided).</p>
    <p>Notify sends letters in C5 size envelopes, with a window.</p>-->

  </div>
</div>

{% endblock %}
