{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block page_title %}
  Enter the codes we’ve sent you – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Enter the codes we’ve sent you</h1>
    <p>
      We’ve sent you confirmation codes by email and text message.
    </p>
    <form autocomplete="off" method="post">
      {{ textbox(
        form.email_code,
        width='5em',
        help_link=url_for('.check_and_resend_email_code'),
        help_link_text='I haven’t received an email'
      ) }}
      {{ textbox(
        form.sms_code,
        width='5em',
        help_link=url_for('.check_and_resend_text_code'),
        help_link_text='I haven’t received a text message'
      ) }}
      {{ page_footer("Continue") }}
    </form>
  </div>
</div>

{% endblock %}
