{% extends "withoutnav_template.html" %}

{% block per_page_title %}
Confirm your mobile number
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Confirm your mobile number</h1>

      <p>We’ve sent you a security code by text message.</p>

      <p>
      <label class="form-label" for="email">Enter security code<br>
      <input class="form-control-1-4" id="email" type="text"><br>
      <span class="font-xsmall"><a href="{{ url_for('.text-not-received-2') }}">I have not received a text</a></span>
      </p>

      <p>
      <a class="button" href="dashboard" role="button">Continue</a>
      </p>
  </div>
</div>

{% endblock %}
