{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify | Confirm email address and mobile number
{% endblock %}

{% block fullwidth_content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Activate your account</h1>

		<p>We've sent you confirmation codes by email and text message. You need to enter both codes here.</p>

		<form  autocomplete="off" action="" method="post">
			{{ form.hidden_tag() }}
			{{ render_field(form.email_code, class='form-control-1-4') }}
			<span class="font-xsmall"><a href="{{ url_for('.check_and_resend_email_code')}}">I haven't received an email</a></span>
			{{ render_field(form.sms_code, class='form-control-1-4') }}
			<span class="font-xsmall"><a href="{{ url_for('.check_and_resend_text_code') }}">I haven't received a text</a></span>
			<p>
			<button class="button" role="button">Continue</button>
			</p>
		</form>
	</div>
</div>

{% endblock %}
