{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify
{% endblock %}

{% block fullwidth_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Resend verification code</h1>

    <p>Text messages sometimes take a few minutes to arrive. If you do not receive the text message, you can resend it.</p>

    <p>If you no longer have access to the phone with the number you registered for this service, speak to your service manager to reset the number.</p>


      <p>
      <a class="button" href="send-new-code" role="button">Resend verification code</a>
      </p>
  </div>
</div>

{% endblock %}
