{% extends "withoutnav_template.html" %}

{% block page_title %}
  Resend verification code – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Resend verification code</h1>

    <p>Text messages sometimes take a few minutes to arrive. If you do not receive the text message, you can resend it.</p>

    <p>If you no longer have access to the phone with the number you registered for this service, speak to your service manager to reset the number.</p>


      <p>
      <a class="button" href="{{url_for('main.check_and_resend_verification_code')}}" role="button">Resend verification code</a>
      </p>
  </div>
</div>

{% endblock %}
