{% from "components/table.html" import list_table, field, hidden_field_heading, right_aligned_field_heading %}

{% extends "withnav_template.html" %}

{% block page_title %}
  Previous weeks – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    Previous weeks
  </h1>
  {% call(item, row_number) list_table(
    days,
    caption="Daily",
    caption_visible=False,
    empty_message='No data found',
    field_headings=[
      hidden_field_heading('Day'),
      right_aligned_field_heading('Emails'),
      right_aligned_field_heading('Failure rate'),
      right_aligned_field_heading('Text messages'),
      right_aligned_field_heading('Failure rate')
    ]
  ) %}
    {% call field() %}
      {{ item.week_start|format_date_short }} to
      {% if item.week_end_datetime > now %}
        today
      {% else %}
        {{ item.week_end|format_date_short }}
      {% endif %}
    {% endcall %}
    {% call field(align='right') %}
      {{ item.email.requested }}
    {% endcall %}
    {% call field(align='right') %}
      {{ item.email.failure_rate }}%
    {% endcall %}
    {% call field(align='right') %}
      {{ item.sms.requested }}
    {% endcall %}
    {% call field(align='right') %}
      {{ item.sms.failure_rate }}%
    {% endcall %}
  {% endcall %}


{% endblock %}
