{% extends "content_template.html" %}

{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Notify gebruiken' %}

{% block per_page_title %}
  Bulkverzending
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Bulkverzending</h1>

  <p class="govuk-body">U kunt een batch van maximaal {{ max_spreadsheet_rows|format_thousands }} berichten tegelijk versturen.</p>

  <p class="govuk-body">Er is een <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("main.guidance_daily_limits" )}}">dagelijkse limiet</a> aan het aantal berichten dat u kunt versturen.</p>

  <p class="govuk-body">Om een batch berichten te versturen:</p>

  <ol class="govuk-list govuk-list--number">
    <li>Ga naar de {{ service_link(current_service, 'main.choose_template', 'sjablonen') }}-pagina.</li>
    <li>Voeg een nieuw sjabloon toe of kies een bestaand sjabloon en selecteer <b class="govuk-!-font-weight-bold">Klaar om te versturen</b>.</li>
    <li>Selecteer <b class="govuk-!-font-weight-bold">Upload een lijst met e-mailadressen</b>, <b class="govuk-!-font-weight-bold">Upload een lijst met telefoonnummers</b>, of <b class="govuk-!-font-weight-bold">Upload een lijst met adressen</b>.</li>
  </ol>

  <p class="govuk-body">Lees <a class="govuk-link govuk-link--no-visited-state" href={{ url_for("main.guidance_personalisation" )}}>hoe u uw berichten personaliseert</a>.</p>

  <p class="govuk-body">U kunt ook <a class="govuk-link govuk-link--no-visited-state" href={{ url_for("main.guidance_schedule_messages" )}}>een batch e-mails en sms-berichten plannen</a>.</p>

{% endblock %}
