{% extends "content_template.html" %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Notify gebruiken' %}

{% block per_page_title %}
  Bestanden per e-mail versturen
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Bestanden per e-mail versturen</h1>

  <p class="govuk-body">Notify biedt een veilige en betrouwbare manier om bestanden per e-mail te versturen.</p>

  <p class="govuk-body">Upload een bestand via onze API en stuur gebruikers een e-mail met een link om het te downloaden.</p>

  <p class="govuk-body">Notify gebruikt versleutelde links in plaats van e-mailbijlagen omdat:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>ze veiliger zijn</li>
    <li>e-mailbijlagen vaak als spam worden gemarkeerd</li>
  </ul>

  <h2 class="heading-medium">Bescherm persoonlijke gegevens van uw gebruikers</h2>
  <p class="govuk-body">Wanneer de ontvanger op de link in de e-mail klikt, moet hij of zij het e-mailadres invoeren. Alleen iemand die het e-mailadres van de ontvanger kent, kan het bestand downloaden. Deze beveiligingsfunctie is optioneel.</p>
  <p class="govuk-body">U kunt ook kiezen hoe lang een bestand beschikbaar is om te downloaden. Houd hierbij rekening met:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>de noodzaak om de persoonlijke gegevens van de ontvanger te beschermen</li>
    <li>of de ontvanger het bestand later nogmaals moet kunnen downloaden</li>
  </ul>

  <h2 class="heading-medium">Hoe bestanden per e-mail te versturen</h2>
  <p class="govuk-body">Dit is momenteel alleen een API-functie. U heeft een ontwikkelaar in uw team nodig om dit voor u in te stellen.</p>
  <p class="govuk-body">
    Volg de instructies in onze
    <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_api_documentation') }}">API-documentatie</a> om een bestand per e-mail te versturen.
  </p>

{% endblock %}
