{% extends "content_template.html" %}

{% from "components/service-link.html" import service_link %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Notify gebruiken' %}

{% block per_page_title %}
  Een brief uploaden
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Een brief uploaden</h1>

  <p class="govuk-body">Upload een PDF van een enkele brief en Notify zorgt voor het printen, inpakken en versturen.</p>
  <p class="govuk-body">U kunt deze functie gebruiken als u veel eenmalige brieven verstuurt of als onze herbruikbare brievensjablonen niet aan uw wensen voldoen.</p>

  <p class="govuk-body">Om een brief te uploaden en te versturen:</p>

  <ol class="govuk-list govuk-list--number">
    <li>Ga naar de {{ service_link(current_service, 'main.uploads', 'uploads') }} pagina.</li>
    <li>Selecteer <b class="govuk-!-font-weight-bold">Een brief uploaden</b>.</li>
    <li>Selecteer <b class="govuk-!-font-weight-bold">Bestand kiezen</b>.</li>
  </ol>

  <h2 id="letter-specification" class="heading-medium">Briefspecificatie</h2>

  <p class="govuk-body">Uw PDF moet voldoen aan onze brievenspecificatie.</p>

  <p class="govuk-body">Paginaformaat en -indeling: A4 staand (210 × 297 mm)</p>
  <p class="govuk-body">Maximale bestandsgrootte: 2 MB</p>
  <p class="govuk-body">Uw brief mag maximaal 10 pagina’s bevatten (5 dubbelzijdige vellen papier).</p>
  <p class="govuk-body">De inhoud van uw brief moet binnen het afdrukbare gebied vallen.</p>

  <p class="govuk-body">Om u te helpen uw brief op te maken, kunt u <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.letter_spec') }}">onze brievenspecificatie als PDF downloaden</a>.</p>

  {% set letter_spec %}
    <h3 class="heading-small">Pagina 1 van 10</h3>

    <p class="govuk-body">Linkermarge 15 mm</p>
    <p class="govuk-body">Rechtermarge 15 mm</p>
    <p class="govuk-body">Bovenzijde 5 mm</p>
    <p class="govuk-body">Onderzijde 5 mm</p>

    <h3 class="heading-small">Logoblok</h3>

    <p class="govuk-body">Positie: 15 mm vanaf de linkerkant, 5 mm vanaf de bovenkant</p>
    <p class="govuk-body">Afmeting: 200 mm breed bij 25 mm hoog</p>

    <h3 class="heading-small">Adresblok</h3>

    <p class="govuk-body">Positie: 24,6 mm vanaf de linkerkant, 39,5 mm vanaf de bovenkant</p>
    <p class="govuk-body">Afmeting: 95,4 mm breed bij 26,8 mm hoog</p>

    <h3 class="heading-small">Contactblok brief</h3>

    <p class="govuk-body">Positie: 125 mm vanaf de linkerkant, 30 mm vanaf de bovenkant</p>
    <p class="govuk-body">Afmeting: 65 mm breed bij 65 mm hoog</p>

    <h2 class="heading-medium">Pagina’s 2 tot 10</h2>

    <p class="govuk-body">Linkermarge 15 mm</p>
    <p class="govuk-body">Rechtermarge 15 mm</p>
    <p class="govuk-body">Bovenzijde 5 mm</p>
    <p class="govuk-body">Onderzijde 5 mm</p>
  {% endset %}

  {{ govukDetails({
    "summaryText": "Zie een tekstversie van de brievenspecificatie",
    "html": letter_spec
  }) }}

{% endblock %}
