{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/checkboxes/macro.njk" import govukCheckboxes %}

{% block service_page_title %}
  Add a new address
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    'Add a new address',
    back_link=back_link
  ) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% call form_wrapper() %}
        {{ textbox(
            form.letter_contact_block,
            label='This will appear as the sender address on your letters.'|safe,
            hint='10 lines maximum',
            width='1-2',
            rows=10,
            highlight_placeholders=True
          ) }}
        {% if not first_contact_block %}
          {{ govukCheckboxes({
            "items": wtforms_boolean_fields_to_govuk_items([form.is_default])
          }) }}
        {% endif %}
        {{ page_footer('Add') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
