{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Add a new address
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    'Add a new address',
    back_link=url_for('main.view_template', template_id=request.args.get('from_template'), service_id=current_service.id) if request.args.get('from_template') else url_for('.service_letter_contact_details', service_id=current_service.id)
  ) }}
  <div class="grid-row">
    <div class="column-whole">
      {% call form_wrapper() %}
        {{ textbox(
            form.letter_contact_block,
            label='This will appear as the ‘sender’ address on your letters.'|safe,
            hint='10 lines maximum',
            width='1-2',
            rows=10,
            highlight_tags=True
          ) }}
        {% if not first_contact_block %}
          <div class="form-group">
            {{ checkbox(form.is_default) }}
          </div>
        {% endif %}
        {{ page_footer('Add') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
