{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  Change sender address
{% endblock %}

{% block backLink %}
  {% if not request.args.get('from_template') %}
    {{ govukBackLink({ "href": url_for('.service_letter_contact_details', service_id=current_service.id) }) }}
  {% endif %}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Change sender address') }}
  {% call form_wrapper() %}
    {{ textbox(
      form.letter_contact_block,
      label='This will appear as the sender address on your letters.'|safe,
      hint='10 lines maximum',
      width='1-2',
      rows=10,
      highlight_placeholders=True
    ) }}


    {% if form.is_default.data %}
      <p class="form-group">
        This is currently your default address for {{ current_service.name }}.
      </p>
    {% else %}
      {{ form.is_default }}
    {% endif %}

    {{ page_footer(
      'Save',
      delete_link=url_for('.service_confirm_delete_letter_contact', service_id=current_service.id, letter_contact_id=letter_contact_id),
      delete_link_text='Delete'
    ) }}

  {% endcall %}

{% endblock %}
