{% extends "content_template.html" %}
{% from "components/page-header.html" import page_header %}

{% block per_page_title %}
  How to pay
{% endblock %}

{% block content_column_content %}

    {{ page_header('How to pay') }}

    <h2 class="heading-medium" id="invoices">
      Invoices
    </h2>

    <p>
      We’ll send your organisation an invoice each quarter if you:
    </p>

    <ul class="list list-bullet">
      <li>exceed the <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.pricing') }}">free text message allowance</a></li>
      <li>send letters</li>
    </ul>

    <p>
      If your organisation has more than one service, you'll see a breakdown of each service on your invoice.
    </p>

    <p>
      If the value of an invoice is less than £250 (before <abbr title="Value Added Tax">VAT</abbr>), we’ll add it to the total for the next quarter to save time and effort.
    </p>

    <p>
      You can pay by BACS, debit card, or credit card.
    </p>

    <h2 class="heading-medium" id="purchase-orders">
      Purchase orders
    </h2>

    <p>
      If your organisation’s estimated spend is more than £500 per quarter (before <abbr title="Value Added Tax">VAT</abbr>), you need to send us a purchase order (PO).
    </p>

    <p>
      Your organisation should raise a single <abbr title="purchase order">PO</abbr> for the estimated cost of all its services. You can update the PO anytime if your usage increases.
    </p>

    <p>
      You may need to set up the Cabinet Office as a supplier before you can raise a <abbr title="purchase order">PO</abbr>.
    </p>

    <p>
       <a class="govuk-link govuk-link--no-visited-state" href="{{ support_link }}">Contact us</a> if you need help raising a purchase order.
    </p>

{% endblock %}
