[tool.black]
line-length = 120

[tool.ruff]
line-length = 120

target-version = "py311"

lint.select = [
    "E",  # pycodestyle
    "W",  # pycodestyle
    "F",  # pyflakes
    "I",  # isort
    "B",  # flake8-bugbear
    "C90",  # mccabe cyclomatic complexity
    "G",  # flake8-logging-format
    "T20"  # flake8-print
]
lint.ignore = []
exclude = [
    "venv*",
    "__pycache__",
    "node_modules",
    "cache",
    "build",
]
