ago==0.0.91
Flask==0.12.2
Flask-Script==2.0.5
Flask-WTF==0.14.2
Flask-Login==0.4.0

boto3==1.4.7
blinker==1.4
pyexcel==0.5.4
pyexcel-io==0.5.1
pyexcel-xls==0.5.0
pyexcel-xlsx==0.5.0.1
pyexcel-ods3==0.5.0
pytz==2017.2
gunicorn==19.7.1
whitenoise==3.3.1  #manages static assets

# pin to minor version 3.1.x
notifications-python-client==4.4.0

# PaaS
awscli>=1.11,<1.12
awscli-cwlogs>=1.4,<1.5

git+https://github.com/alphagov/notifications-utils.git@21.2.0#egg=notifications-utils==21.2.0
