cffi==1.10.0
ago==0.0.9
Flask==0.12.2
Flask-Script==2.0.5
Flask-WTF==0.14.2
Flask-Login==0.4.0

credstash==1.13.2
boto3==1.4.4
py-gfm==0.1.2
blinker==1.4
lxml==3.6.0
pyexcel==0.2.1
pyexcel-io==0.1.0
pyexcel-xls==0.1.0
pyexcel-xlsx==0.1.0
pyexcel-ods3==0.1.1
pytz==2016.4
six==1.10.0
gunicorn==19.6.0
whitenoise==1.0.6  #manages static assets

# pin to minor version 3.1.x
notifications-python-client>=3.1,<3.2

# PaaS
awscli>=1.11,<1.12
awscli-cwlogs>=1.4,<1.5

git+https://github.com/alphagov/notifications-utils.git@17.5.1#egg=notifications-utils==17.5.1
