# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

ago==0.0.92
Flask==1.0.2
Flask-WTF==0.14.2
Flask-Login==0.4.1

blinker==1.4
pyexcel==0.5.9.1
pyexcel-io==0.5.9.1
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.6
pyexcel-ods3==0.5.2
pytz==2018.5
gunicorn==19.7.1  # >19.8 stops eventlet workers after a timeout
whitenoise==4.1  #manages static assets
eventlet==0.24.1
notifications-python-client==5.2.0

# PaaS
awscli-cwlogs>=1.4,<1.5
awscli==1.15.82
botocore<1.11.0

git+https://github.com/alphagov/notifications-utils.git@30.5.3#egg=notifications-utils==30.5.3
