# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

ago~=0.1
humanize~=4.4
Flask-WTF~=1.2
Flask-Login~=0.6

Pillow~=12.1

openpyxl~=3.1
pyexcel~=0.7
pyexcel-io~=0.6
pyexcel-xls~=0.7
pyexcel-odsr~=0.6

notifications-python-client==10.0.0
fido2~=1.1

# Run `make bump-utils` to update to the latest version
notifications-utils @ git+https://github.com/alphagov/notifications-utils.git@112.0.0

govuk-frontend-jinja==4.0.0

git+https://github.com/alphagov/gds_metrics_python.git@6f1840a57b6fb1ee40b7e84f2f18ec229de8aa72

sentry-sdk[flask]~=1.45
