# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

ago~=0.1
humanize~=4.4
Flask-WTF~=1.2
Flask-Login~=0.6

Pillow~=12.1

openpyxl~=3.1
pyexcel~=0.7
pyexcel-io~=0.6
pyexcel-xls~=0.7
pyexcel-odsr~=0.6

notifications-python-client~=12.1
# currently locked at v1 until this card is played: https://trello.com/c/V1pA36gF/560-bump-fido2-to-v2
fido2~=1.1

# Run `make bump-utils` to update to the latest version
notifications-utils @ git+https://github.com/alphagov/notifications-utils.git@132.2.0

govuk-frontend-jinja~=4.1.0

sentry-sdk[flask]~=2.63

opentelemetry-distro[otlp]
opentelemetry-instrumentation-asyncio
opentelemetry-instrumentation-dbapi
opentelemetry-instrumentation-exceptions
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-sqlite3
opentelemetry-instrumentation-threading
opentelemetry-instrumentation-urllib
opentelemetry-instrumentation-wsgi
opentelemetry-instrumentation-boto3sqs
opentelemetry-instrumentation-botocore
opentelemetry-instrumentation-click
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-jinja2
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-urllib3
