ago==0.0.8
Flask==0.10.1
Flask-Script==2.0.5
Flask-WTF==0.11
Flask-Login==0.3.2
Flask-WeasyPrint==0.5

# Can be removed when https://github.com/mozilla/bleach/issues/229 is fixed
git+https://github.com/alphagov/WeasyPrint.git@older-html5lib#egg=WeasyPrint==0.33

html5lib==1.0b8
credstash==1.8.0
boto3==1.3.0
Pygments==2.0.2
py-gfm==0.1.2
blinker==1.4
lxml==3.6.0
pyexcel==0.2.1
pyexcel-io==0.1.0
pyexcel-xls==0.1.0
pyexcel-xlsx==0.1.0
pyexcel-ods3==0.1.1
pytz==2016.4
wand==0.4.4

git+https://github.com/alphagov/notifications-python-client.git@3.0.1#egg=notifications-python-client==3.0.1

git+https://github.com/alphagov/notifications-utils.git@13.0.1#egg=notifications-utils==13.0.1
