# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

ago==0.0.93
govuk-bank-holidays==0.8
humanize==2.4.0
Flask==1.1.2
Flask-WTF==0.14.3
Flask-Login==0.5.0

blinker==1.4
pyexcel==0.6.2
pyexcel-io==0.5.20
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.8
pyexcel-ods3==0.5.3
pytz==2020.1
gunicorn==20.0.4
eventlet==0.25.2
notifications-python-client==5.6.0

# PaaS
awscli-cwlogs>=1.4,<1.5
itsdangerous==1.1.0

git+https://github.com/alphagov/notifications-utils.git@39.7.0#egg=notifications-utils==39.7.0
git+https://github.com/alphagov/govuk-frontend-jinja.git@v0.5.1-alpha#egg=govuk-frontend-jinja==0.5.1-alpha

# gds-metrics requires prometheseus 0.2.0, override that requirement as later versions bring significant performance gains
prometheus-client==0.8.0
gds-metrics==0.2.0
