# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

ago==0.0.93
Flask==1.1.1
Flask-WTF==0.14.3
Flask-Login==0.4.1

blinker==1.4
pyexcel==0.5.15
pyexcel-io==0.5.20
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.8
pyexcel-ods3==0.5.3
pytz==2019.3
gunicorn==20.0.4
eventlet==0.25.1
notifications-python-client==5.5.1

# PaaS
awscli-cwlogs>=1.4,<1.5

# Putting upgrade on hold due to v1.0.0 using sha512 instead of sha1 by default
itsdangerous==0.24  # pyup: <1.0.0

git+https://github.com/alphagov/notifications-utils.git@36.6.0#egg=notifications-utils==36.6.0
git+https://github.com/alphagov/govuk-frontend-jinja.git@v0.5.1-alpha#egg=govuk-frontend-jinja==0.5.1-alpha
