# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

ago
humanize
Flask-WTF
Flask-Login

Pillow

pyexcel
pyexcel-io
pyexcel-xls
pyexcel-xlsx
pyexcel-odsr
notifications-python-client
fido2

# Run `make bump-utils` to update to the latest version
notifications-utils @ git+https://github.com/alphagov/notifications-utils.git@104.0.1

govuk-frontend-jinja

git+https://github.com/alphagov/gds_metrics_python.git@6f1840a57b6fb1ee40b7e84f2f18ec229de8aa72

sentry-sdk[flask]
