{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  Change team member’s mobile number
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    'Change team member’s mobile number',
    back_link=url_for('main.edit_user_permissions', service_id=current_service.id, user_id=user.id)
  ) }}

  <p id="user_name">This will change the mobile number for {{ user.name }}.</p>
  <div class="grid-row">
    <div class="column-three-quarters">
      {% call form_wrapper(class="extra-tracking") %}
        {{ textbox(form.mobile_number) }}
        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
