{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block per_page_title %}
  Change team member’s mobile number
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.edit_user_permissions', service_id=current_service.id, user_id=user.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Change team member’s mobile number') }}

  <p class="govuk-body" id="user_name">This will change the mobile number for {{ user.name }}.</p>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% call form_wrapper(class="extra-tracking") %}
        {{ form.mobile_number }}
        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
