{% from "components/radios.html" import radio, radios, conditional_radio_panel %}

{{ form.permissions_field }}

{% if form.folder_permissions.all_template_folders %}
  {{ form.folder_permissions }}
{% elif user and user.platform_admin %}
  <p class="bottom-gutter">
    Platform admin users can access all template folders.
  </p>
{% endif %}

{% if service_has_email_auth %}
  {% if user.webauthn_auth %}
    <p class="bottom-gutter">
      This user will login with a security key.
    </p>
  {% elif not mobile_number %}
    {{ radios(
      form.login_authentication,
      disable=['sms_auth'],
      option_hints={'sms_auth': 'Not available because this team member has not added a phone&nbsp;number to their profile'|safe}
    ) }}
  {% else %}
    {{ radios(form.login_authentication) }}
  {% endif %}
{% endif %}
