{% import "components/svgs.html" as svgs %}

{# this may be called from invite page (where no user exists) #}
{% if user is not defined %}
  {% set user = {'platform_admin': False, 'webauthn_auth': False, 'mobile_number': 'truthy so we give auth option'} %}
{% endif %}

{{ form.permissions_field }}

{% if form.folder_permissions.all_template_folders %}
  {# reset selection summary here to use 'folder' macro #}
  {% set selection_summary %}
    <div class="selection-summary" role="region" aria-live="polite">{{ svgs.folder(classes="selection-summary__icon", border_width=2) }}</div>
  {% endset %}
  {{ form.folder_permissions(param_extensions={
       "hint": {"html": selection_summary }
  }) }}
{% elif user.platform_admin %}
  <p class="bottom-gutter">
    Platform admin users can access all template folders.
  </p>
{% endif %}

{% if current_service.has_permission('email_auth') %}
  {% if user.webauthn_auth %}
    <p class="bottom-gutter">
      This user will login with a security key.
    </p>
  {% else %}
      {% if form.login_authentication %}
          {{ form.login_authentication }}
      {% endif %}
  {% endif %}
{% endif %}
