{% from "components/checkbox.html" import checkbox, checkboxes_nested %}
{% from "components/radios.html" import radio, radios, conditional_radio_panel %}

<fieldset class="form-group">
  <legend class="form-label">
    Permissions
  </legend>
  {% for field in form.permissions_fields %}
    {{ checkbox(field) }}
  {% endfor %}
</fieldset>

<p class="bottom-gutter">
  All team members can see sent messages.
</p>

{% if current_service.has_permission("edit_folder_permissions") and form.folder_permissions.all_template_folders %}
  {{ checkboxes_nested(form.folder_permissions, form.folder_permissions.children()) }}
{% endif %}

{% if service_has_email_auth %}
  {% if not mobile_number %}
    {{ radios(
      form.login_authentication,
      disable=['sms_auth'],
      option_hints={'sms_auth': 'Not available because this team member hasn’t added a phone&nbsp;number to their profile'|safe}
    ) }}
  {% else %}
    {{ radios(form.login_authentication) }}
  {% endif %}
{% endif %}
