{% extends "document-download-template.html" %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% block per_page_title %}
  You have a file to download
{% endblock %}

{% block main_content %}
  <p class="govuk-body">{{ current_service.name }} sent you a file to download.</p>
  <p class="govuk-body govuk-!-margin-bottom-6">
    {{ govukButton({
      "href": next_page,
      "text": "Continue",
    }) }}
  </p>
  {% if current_service.contact_link %}
    <p class="govuk-body">
      If you have any questions,
      {% if current_service.contact_details_type == "url" %}
        <a href="{{ current_service.contact_link }}" class="govuk-link govuk-link--no-visited-state" rel="noreferrer"> contact {{ current_service.name }}</a>.
      {% elif current_service.contact_details_type == "email_address" %}
        email <a href="mailto:{{ current_service.contact_link }}" class="govuk-link govuk-link--no-visited-state">{{ current_service.contact_link }}</a>.
      {% else %}
        call {{ current_service.contact_link }}.
      {% endif %}
    </p>
  {% endif %}
{% endblock %}
