{% extends "content_template.html" %}

{% from "components/page-header.html" import page_header %}

{# Wordt gebruikt door de content_template.html-layout, prefix voor de toegankelijke naam van de "navigation" #}
{% set navigation_label_prefix = 'Prijsinformatie' %}

{% block per_page_title %}
  Betalen
{% endblock %}

{% block content_column_content %}

    {{ page_header('Betalen') }}

    <p class="govuk-body">
      U moet NotifyNL een inkooporder (PO) sturen voordat u kosten maakt voor sms’jes of brieven.
    </p>

    <h2 class="heading-medium" id="purchase-orders">
      Inkooporders
    </h2>

    <p class="govuk-body">
      Uw organisatie moet een enkele <abbr title="purchase order">inkooporder (PO)</abbr> aanmaken voor de geschatte kosten van al haar diensten. U kunt de <abbr title="purchase order">PO</abbr> op elk moment aanpassen als uw gebruik toeneemt.
    </p>

    <p class="govuk-body">
      Als uw organisatie facturen kan verwerken zonder een <abbr title="purchase order">PO</abbr>-nummer, <a class="govuk-link govuk-link--no-visited-state" href="{{url_for('main.support')}}">neem dan contact met ons op</a> en laat het ons weten.
    </p>

    <h3 class="heading-small" id="billing-details">
      Zorg dat u onze factuurgegevens heeft
    </h3>

    <p class="govuk-body">
      NotifyNL wordt beheerd door de Government Digital Service (GDS).
    </p>

    <p class="govuk-body">
      GDS is verhuisd van het Kabinet naar het Ministerie van Wetenschap, Innovatie en Technologie (DSIT).
    </p>

    <p class="govuk-body">
      Voordat u een <abbr title="purchase order">PO</abbr> naar ons kunt sturen, moet uw organisatie mogelijk DSIT als leverancier toevoegen.
    </p>

    <p class="govuk-body">
      Hiervoor heeft u de <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_billing_details') }}">factuurgegevens van DSIT</a> nodig.
    </p>

    <h3 class="heading-small" id="where-to-send-your-po">
      Waar u uw inkooporder naartoe stuurt
    </h3>

    <p class="govuk-body">
      Stuur het naar <abbr title="Government Digital Service">GDS</abbr> Business Operations:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>uw <abbr title="purchase order">PO</abbr>-nummer</li>
      <li>de naam en het e-mailadres van uw financiële contactpersoon</li>
      <li>een kopie van uw <abbr title="purchase order">PO</abbr></li>
    </ul>

    {% if current_user.is_authenticated %}
    <p class="govuk-body">
      Hun e-mailadres is {{ billing_details['notify_billing_email_address'] }}
    </p>
    {% else %}
    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.sign_in', next=url_for('main.guidance_how_to_pay') )}}">Log in</a> om hun e-mailadres te zien.
    </p>
    {% endif %}

    <p class="govuk-body">
      Heeft u nog geen kopie van uw <abbr title="purchase order">PO</abbr>? Stuur dan het <abbr title="purchase order">PO</abbr>-nummer en contactgegevens naar <abbr title="Government Digital Service">GDS</abbr>. U kunt de kopie later aanleveren.
    </p>

    <h2 class="heading-medium" id="invoices">
      Facturen
    </h2>

    <p class="govuk-body">
      Wij sturen uw organisatie elk kwartaal een factuur als u:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>de <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_pricing_text_messages') }}">gratis sms-tekstaanvraag</a> overschrijdt</li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_pricing_letters') }}">brieven verzendt</a></li>
    </ul>

    <p class="govuk-body">
      De factuur bevat een specificatie van de kosten per dienst binnen uw organisatie.
    </p>

    <p class="govuk-body">
      Is het factuurbedrag lager dan &euro;500 (exclusief <abbr title="Value Added Tax">btw</abbr>)? Dan voegen wij dit toe aan de factuur van het volgende kwartaal om tijd en moeite te besparen.
    </p>

    <p class="govuk-body">
      U kunt betalen via <abbr title="Bankers’ automated clearing system">BACS</abbr>, pinpas of creditcard.
    </p>

    <p class="govuk-body">
      Begin uw betalingsreferentie met het factuurnummer.
    </p>

{% endblock %}
