{% extends "content_template.html" %}

{% from "components/content-metadata.html" import content_metadata %}
{% from "components/table.html" import mapping_table, row, text_field, row_heading %}

{# Wordt gebruikt door de content_template.html-layout, prefix voor de toegankelijke naam van de "navigation" #}
{% set navigation_label_prefix = 'Prijsinformatie' %}

{% block per_page_title %}
  Prijzen voor brieven
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Prijzen voor brieven</h1>

    {{ content_metadata(
      data={
        "Laatst bijgewerkt": letter_rates.last_updated | format_date_normal
      }
    ) }}

  <p class="govuk-body">De kosten voor het versturen van een brief hangen af van het door u gekozen tarief en het aantal vellen papier dat u nodig heeft.</p>

  <p class="govuk-body">De prijzen zijn inclusief:</p>
  <ul class="govuk-list govuk-list--bullet">
     <li>papier</li>
     <li>postzegel</li>
     <li>kleurendruk aan beide zijden</li>
     <li>C5-enveloppen met venster voor het adres</li>
  </ul>

<p class="govuk-body">Brieven mogen maximaal 10 pagina’s bevatten (5 vellen papier, dubbelzijdig bedrukt).</p>

<p class="govuk-body">Prijzen zijn exclusief BTW.</p>
  <div>
    {% call mapping_table(
      caption='Prijzen voor brieven',
      field_headings=['Aantal vellen'] + letter_rates.post_classes.values()|list,
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for sheets in letter_rates.sheet_counts %}
        {% call row() %}
          {% call row_heading() %} {{ sheets }} vel{{ 'len' if sheets > 1 else '' }} {% endcall %}
          {% for post_class in letter_rates.post_classes.keys() %}
            {{ text_field(letter_rates.get(sheet_count=sheets, post_class=post_class)|format_pennies_as_currency(long=False)) }}
          {% endfor %}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>

<p class="govuk-body">Zie <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_delivery_times', _anchor='letters') }}">levertijden</a>.</p>

{% endblock %}
