{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
Provider - {{provider.display_name}}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
    <div class="column-three-quarters">

        {{ page_header(
          provider.display_name,
          back_link=url_for('.view_providers')
        ) }}

        <p>Update provider:</p>

        <ul class="list-bullet">
            <li>We only send from the highest priority provider</li>
        </ul>

        {% call form_wrapper() %}
            {{ textbox(form.priority) }}
            {{ page_footer('Save') }}
        {% endcall %}

    </div>

</div>

{% endblock %}
