{% extends "withoutnav_template.html" %}
{% from "components/table.html" import list_table, field, text_field, link_field, right_aligned_field_heading, hidden_field_heading %}
{% from "components/show-more.html" import show_more %}

{% block per_page_title %}
Providers
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Providers</h1>

        <h2 class="heading-medium">SMS</h2>

        {% call(item, row_number) list_table(
            sms_providers,
            caption="SMS providers",
            caption_visible=False,
            empty_message='No email providers',
            field_headings=['Provider', 'Priority', 'Active', 'Last Updated', 'Updated By'],
            field_headings_visible=True
        ) %}

            {{ link_field(item.display_name, url_for('main.view_provider', provider_id=item.id)) }}

            {{ text_field(item.priority) }}

            {{ text_field(item.active) }}

            {% if item.updated_at %}
                {{ text_field(item.updated_at|format_datetime_short) }}
            {% else %}
                {{ text_field('None') }}
            {% endif %}

            {% if item.created_by %}
                {{ text_field(item.created_by.name) }}
            {% else %}
                {{ text_field('None') }}
            {% endif %}

            {{ link_field('change', url_for('main.edit_provider', provider_id=item.id)) }}

        {% endcall %}

        <h2 class="heading-medium">Email</h2>

        {% call(item, row_number) list_table(
            email_providers,
            caption="Email providers",
            caption_visible=False,
            empty_message='No email providers',
            field_headings=['Provider', 'Priority', 'Active', 'Last Updated', 'Updated By'],
            field_headings_visible=True
        ) %}

            {{ link_field(item.display_name, url_for('main.view_provider', provider_id=item.id)) }}

            {{ text_field(item.priority) }}

            {{ text_field(item.active) }}

            {% if item.updated_at %}
                {{ text_field(item.updated_at|format_datetime_short) }}
            {% else %}
                {{ text_field('None') }}
            {% endif %}

            {% if item.created_by %}
                {{ text_field(item.created_by.name) }}
            {% else %}
                {{ text_field('None') }}
            {% endif %}

            {{ link_field('change', url_for('main.edit_provider', provider_id=item.id)) }}

        {% endcall %}

    </div>
</div>

{% endblock %}
