{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  Add text message sender
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_sms_senders', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Add text message sender') }}

  {% call form_wrapper() %}
    {{ form.sms_sender(param_extensions={
      "classes": "govuk-!-width-one-quarter",
      "hint": {"text": "Up to 11 characters, letters, numbers and spaces only"}
    }) }}
    {% if not first_sms_sender %}
      {{ form.is_default }}
    {% endif %}
    {{ page_footer('Save') }}
  {% endcall %}

{% endblock %}
