{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/copy-to-clipboard.html" import copy_to_clipboard %}
{% from "components/table.html" import mapping_table, row, settings_row, text_field, callable_text_field, optional_text_field, edit_field, field, boolean_field with context %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Manage text message sender ID
{% endblock %}

{% block backLink %}
  {% if not request.args.get('from_template') %}
    {{ govukBackLink({ "href": url_for('main.service_sms_senders', service_id=current_service.id) }) }}
  {% endif %}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Manage text message sender ID') }}

  <div class="settings-table body-copy-table">
    {% call mapping_table(
      caption='General',
      field_headings=['Label', 'Value', 'Action'],
      field_headings_visible=False,
      caption_visible=False
    ) %}

      {% call row() %}
        {{ text_field('Sender ID') }}
        {% if inbound_number %}
          {% call text_field() %}
            {{ sms_sender.sms_sender }}
            <span class="hint"> This phone number receives replies and cannot be changed </span>
          {% endcall %}
          {{ text_field('') }}
        {% else %}
          {{ text_field(sms_sender.sms_sender) }}
          {{ edit_field(
              'Change',
              '#',
              permissions=['manage_service'],
              suffix='sender ID',
            )
          }}
        {% endif %}
      {% endcall %}

      {% call row() %}
        {{ text_field('Default') }}
        {{ optional_text_field('Yes' if sms_sender.is_default else None, default='No') }}
        {{ edit_field(
            'Change',
            '#',
            permissions=['manage_service'],
            suffix='sender ID',
          )
        }}
      {% endcall %}

      {% call row() %}
        {{ text_field('Verified') }}
        {% if inbound_number %}
          {{ optional_text_field(None, default='No (phone numbers cannot be verified)') }}
        {% else %}
          {{ optional_text_field(None, default='No') }}
        {% endif %}
        {{ edit_field(
            'Change',
            url_for(".service_verify_sms_sender", service_id=current_service.id, sms_sender_id=sms_sender.id),
            permissions=['manage_service'],
            suffix='sender ID',
          )
        }}
      {% endcall %}

      {% call row() %}
        {{ text_field('API ID') }}
        {% call field(colspan=2) %}
          {{ copy_to_clipboard(sms_sender.id, name=sms_sender, thing="ID") }}
        {% endcall %}
      {% endcall %}

    {% endcall %}
  </div>

{% endblock %}
