
{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/copy-to-clipboard.html" import copy_to_clipboard %}
{% from "components/table.html" import mapping_table, row, settings_row, text_field, callable_text_field, optional_text_field, edit_field, field, boolean_field with context %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/file-upload.html" import file_upload %}

{% block service_page_title %}
  Upload a logo for your sender name
{% endblock %}

{% block backLink %}
  {% if not request.args.get('from_template') %}
    {{ govukBackLink({ "href": url_for('main.service_verify_sms_sender', service_id=current_service.id, sms_sender_id=sms_sender.id) }) }}
  {% endif %}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-!-margin-bottom-6">
    {{ page_header('Upload a logo for your sender name') }}
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      <p class="govuk-body">
        Your logo must be:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a PNG file</li>
        <li>at least 256 pixels high</li>
        <li>a square image with a transparent background</li>
      </ul>
      <p class="govuk-body">
        We do not recommend using landscape or portrait images because they will be cropped to fit inside a circle.
      </p>

      {{ file_upload(form.file) }}

      <p class="govuk-body govuk-!-margin-top-6"><a class="govuk-link govuk-link--no-visited-state" href="#">I do not have a file to upload</a></p>
    </div>
  </div>

{% endblock %}
