
{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/copy-to-clipboard.html" import copy_to_clipboard %}
{% from "components/table.html" import mapping_table, row, settings_row, text_field, callable_text_field, optional_text_field, edit_field, field, boolean_field with context %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Verify your text message sender name
{% endblock %}

{% block backLink %}
  {% if not request.args.get('from_template') %}
    {{ govukBackLink({ "href": url_for('main.service_edit_sms_sender', service_id=current_service.id, sms_sender_id=sms_sender.id) }) }}
  {% endif %}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-!-margin-bottom-6">
    {{ page_header('Verify your text message sender name') }}
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body">A verified sender name can help you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>build trust with your recipients</li>
        <li>reduce the cost of long text messages</li>
      </ul>

      <p class="govuk-body">Messages from a verified sender name look more trustworthy because they come with:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your own logo</li>
        <li>a verified badge (blue tick)</li>
      </ul>

    </div>
    <div class="govuk-grid-column-one-half" style="position: relative;"">
      <div style="
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        padding-right: 45px;
        top: 44px;
        font-family: roboto, arial, sans-serif;
        font-size: 16px;
        text-align: center;
      ">{{ sms_sender.sms_sender }}</div>
      <img src="{{ asset_url('images/rcs/example.svg') }}" style="display:block;margin-right:15px">
    </div>
  </div>
  <div class="keyline-block govuk-!-margin-bottom-4"></div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      <h2 class="govuk-heading-m">
        How it works
      </h2>
      <p class="govuk-body">Once you verify your sender name, Notify will use RCS to send your messages.</p>

      <p class="govuk-body">RCS (Rich Communication Services) is a newer, more secure type of text&nbsp;messaging.</p>

    {% set who_can %}
      <p class="govuk-body">Currently, about 20% of phones can receive RCS messages. By the end of 2024 we expect the number to be more than 50%.</p>
      <p class="govuk-body">If a recipient’s phone is not compatible with RCS, Notify will send a standard text message instead. </p>
      <p class="govuk-body">You cannot send RCS messages to international phone numbers.</p>
    {% endset %}

          {{ govukDetails({
        "summaryText": "Who can receive RCS messages",
        "html": who_can
      }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      <h2 class="govuk-heading-m">Save money</h2>
      <p class="govuk-body">If your message is over 160 characters long, an RCS message is cheaper than a standard text message.</p>
    </div>
  </div>

  {% set verified_rates %}
    <div class="body-copy-table">
        {% call mapping_table(
        caption='Text message pricing',
        field_headings=['Message length', 'Standard text message', 'RCS message'],
        field_headings_visible=True,
        caption_visible=False
      ) %}
        {% for message_length, charge, charge_verified in [
          ('Up to 160 characters', 2.27, '2.27p'),
          ('Up to 306 characters', 2.27 * 2, '4.40p'),
          ('Up to 459 characters', 2.27 * 3, '4.40p'),
          ('Up to 612 characters', 2.27 * 4, '4.40p'),
          ('Up to 765 characters', 2.27 * 5, '4.40p'),
          ('Up to 918 characters', 2.27 * 6, '4.40p'),
        ] %}
          {% call row() %}
            {{ text_field(message_length) }}
            {{ text_field(charge|round(2)|format_pennies_as_currency(long=False)) }}
            {{ text_field(charge_verified) }}
          {% endcall %}
        {% endfor %}
      {% endcall %}
    </div>
  {% endset %}

  {{ govukDetails({
    "summaryText": "RCS message rates",
    "html": verified_rates
  }) }}




  <div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-five-sixths">
      <h2 class="govuk-heading-m">
        Before you can verify your sender name
      </h2>
      <p class="govuk-body">
        You will need to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>provide contact details for your service</li>
        <li>upload a logo</li>
      </ul>
      <p class="govuk-body">
        It’s free to verify your sender name. The process takes around 2&nbsp;weeks.
      </p>
    </div>
  </div>

  {% call form_wrapper(method="get", action=url_for(".service_verify_sms_sender_contact_details", service_id=current_service.id, sms_sender_id=sms_sender.id)) %}
    {{ page_footer('Start') }}
  {% endcall %}

{% endblock %}
