
{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/copy-to-clipboard.html" import copy_to_clipboard %}
{% from "components/table.html" import mapping_table, row, settings_row, text_field, callable_text_field, optional_text_field, edit_field, field, boolean_field with context %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Verify your text message sender ID
{% endblock %}

{% block backLink %}
  {% if not request.args.get('from_template') %}
    {{ govukBackLink({ "href": url_for('main.service_edit_sms_sender', service_id=current_service.id, sms_sender_id=sms_sender.id) }) }}
  {% endif %}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-!-margin-bottom-6">
    {{ page_header('Verify your text message sender ID') }}
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body">Sending text messages from a verified sender ID can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>save you money</li>
        <li>make your messages look more trustworthy</li>
      </ul>

      <p class="govuk-body">When you verify your sender ID, your text messages will come with:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your own branding</li>
        <li>a verified badge (blue tick)</li>
      </ul>

    </div>
    <div class="govuk-grid-column-one-half" style="position: relative;"">
      <div style="
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        padding-right: 45px;
        top: 44px;
        font-family: roboto, arial, sans-serif;
        font-size: 16px;
        text-align: center;
      ">{{ sms_sender.sms_sender }}</div>
      <img src="{{ asset_url('images/rcs/example.svg') }}" style="display:block;margin-right:15px">
    </div>
  </div>
  <div class="keyline-block govuk-!-margin-bottom-4"></div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      <h2 class="govuk-heading-m">Save money on long text messages</h2>
      <p class="govuk-body">Using a verified sender ID can cut the cost of sending text messages longer than 160 characters. </p>
      <p class="govuk-body">It’s free to verify your sender ID and there’s no monthly charge for sending verified text messages.</p>
    </div>
  </div>

  {% set verified_rates %}
    <div class="body-copy-table">
        {% call mapping_table(
        caption='Text message pricing',
        field_headings=['Message length', 'Normal text message', 'Verified text message'],
        field_headings_visible=True,
        caption_visible=False
      ) %}
        {% for message_length, charge, charge_verified in [
          ('Up to 160 characters', 1.97, '1.97'),
          ('Up to 306 characters', 1.97 * 2, '3.90'),
          ('Up to 459 characters', 1.97 * 3, '3.90'),
          ('Up to 612 characters', 1.97 * 4, '3.90'),
          ('Up to 765 characters', 1.97 * 5, '3.90'),
          ('Up to 918 characters', 1.97 * 6, '3.90'),
        ] %}
          {% call row() %}
            {{ text_field(message_length) }}
            {{ text_field(charge|string + 'p') }}
            {{ text_field(charge_verified|string + 'p') }}
          {% endcall %}
        {% endfor %}
      {% endcall %}

    </div>
  {% endset %}

  {{ govukDetails({
    "summaryText": "Verified text message rates",
    "html": verified_rates
  }) }}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      <h2 class="govuk-heading-m">
        How it works
      </h2>
      <p class="govuk-body">Verified text messages use a technology called Rich Communication Services (RCS).</p>
      <p class="govuk-body">Using RCS means we can give the recipient more information about who the message is from.</p>
      <p class="govuk-body">Currently, about 20% of phones can receive verified text messages. By the end of 2024 we expect the number to be more than 50%.</p>
      <p class="govuk-body">If the recipient’s phone is not compatible with RCS, Notify will send a standard text message instead.</p>
      <p class="govuk-body">You cannot send verified text messages to international phone numbers.</p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-five-sixths">
      <h2 class="govuk-heading-m">
        Before you verify your sender ID
      </h2>
      <p class="govuk-body">
        You will need to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>provide contact details for your service</li>
        <li>upload a logo</li>
      </ul>
      <p class="govuk-body">
        It takes around 2 weeks to get your sender ID verified.
      </p>
    </div>
  </div>

  {% call form_wrapper(method="get", action=url_for(".service_verify_sms_sender_name", service_id=current_service.id, sms_sender_id=sms_sender.id)) %}
    {{ page_footer('Continue') }}
  {% endcall %}

{% endblock %}
