{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radio, conditional_radio_panel %}
{% from "components/select-input.html" import select_wrapper %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block per_page_title %}
  Accept our data sharing and financial agreement
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.request_to_go_live', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}
  {{ page_header('Accept our data sharing and financial agreement') }}
  {% call form_wrapper() %}
    {% call select_wrapper(form.same_as_service_name) %}
      {% for option in form.same_as_service_name %}
        {{ radio(option, data_target='custom-organisation-name' if option.data == False else '') }}
      {% endfor %}
    {% endcall %}
    {% call conditional_radio_panel('custom-organisation-name') %}
      {{ form.name }}
    {% endcall %}
    {{ page_footer('Continue') }}
  {% endcall %}
{% endblock %}
