{% from "components/page-footer.html" import page_footer %}

<div id="sticky_template_forms template-forms">
  <h2 class="govuk-heading-m js-hidden">Sjabloon- en mapacties</h2>
  <button name="operation" value="unknown" hidden></button>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  {% if form.move_to.choices and template_list.templates_to_show %}
    {% set move_to_folder_heading_and_aria_label_text = 'Verplaats geselecteerde items naar een map' %}
    {% set move_to_a_new_folder_heading_and_aria_label_text = 'Voeg een nieuwe map toe om geselecteerde items naartoe te verplaatsen' %}
    <div id="move_to_folder_radios" class="sticky-template-form" role="region" aria-label="{{ move_to_folder_heading_and_aria_label_text }}">
      <h3 class="govuk-heading-s js-hidden">{{ move_to_folder_heading_and_aria_label_text }}</h3>
      <div class="js-will-stick-at-bottom-when-scrolling">
        {{ form.move_to }}
      </div>
      <div class="js-will-stick-at-bottom-when-scrolling">
        {{ page_footer('Verplaatsen', button_name='operation', button_value='move-to-existing-folder', button_text_hidden_suffix=' selectie naar map') }}
      </div>
    </div>
    <div id="move_to_new_folder_form" class="sticky-template-form" role="region" aria-label="{{ move_to_a_new_folder_heading_and_aria_label_text }}">
      <h3 class="govuk-heading-s js-hidden">{{ move_to_a_new_folder_heading_and_aria_label_text }}</h3>
      <div class="js-will-stick-at-bottom-when-scrolling">
        {{ form.move_to_new_folder_name(param_extensions={"classes": "govuk-!-width-full"}) }}
        {{ page_footer('Toevoegen aan nieuwe map', button_name='operation', button_value='move-to-new-folder') }}
      </div>
    </div>
  {% endif %}
  {% set add_a_folder_heading_and_aria_label_text = 'Nieuwe map toevoegen' %}
  {% set add_a_template_heading_and_aria_label_text = 'Nieuw sjabloon toevoegen' %}
  <div id="add_new_folder_form" class="sticky-template-form" role="region" aria-label="{{ add_a_folder_heading_and_aria_label_text }}">
    <h3 class="govuk-heading-s js-hidden">{{ add_a_folder_heading_and_aria_label_text }}</h3>
    <div class="js-will-stick-at-bottom-when-scrolling">
      {{ form.add_new_folder_name(param_extensions={"classes": "govuk-!-width-full"}) }}
      {{ page_footer('Nieuwe map toevoegen', button_name='operation', button_value='add-new-folder') }}
    </div>
  </div>
  <div id="add_new_template_form" class="sticky-template-form" role="region" aria-label="{{ add_a_template_heading_and_aria_label_text }}">
    <h3 class="govuk-heading-s js-hidden">{{ add_a_template_heading_and_aria_label_text }}</h3>
    <div class="js-will-stick-at-bottom-when-scrolling">
      {{ form.add_template_by_template_type }}
    </div>
    <div class="js-will-stick-at-bottom-when-scrolling">
      {{ page_footer('Doorgaan', button_name='operation', button_value='add-new-template') }}
    </div>
  </div>
  <div class="selection-counter govuk-visually-hidden" role="status" aria-live="polite">
    Niets geselecteerd
  </div>
</div>
