{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block per_page_title %}
  Een probleem melden buiten kantooruren
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.support') }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header('Een probleem melden buiten kantooruren')}}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          Controleer eerst de
          <a class="govuk-link govuk-link--no-visited-state" href="https://status.notifications.service.gov.uk">statuspagina van GOV.UK Notify</a>.
        </p>
        <p class="govuk-body">
          U hoeft geen contact met ons op te nemen als uw probleem al op die pagina staat.
        </p>
        <p class="govuk-body">
          Staat uw probleem niet op de statuspagina? Neem dan contact met ons op via ons nood-e-mailadres.
        </p>
        <p class="govuk-body">
          Dit is het e-mailadres dat wij naar uw servicemanager hebben gestuurd toen uw dienst is geactiveerd.
        </p>
        <p class="govuk-body">
          Als u contact opneemt via ons nood-e-mailadres, reageren wij binnen 30 minuten.
        </p>

        <h2 class="heading-medium">Gebruik ons nood-e-mailadres niet als</h2>

        <ul class="govuk-list govuk-list--bullet">
        <li>
          u geen foutmelding ‘technische storing’ kreeg bij het uploaden van een bestand
        </li>
        <li>
          u geen 500-responsecode kreeg bij gebruik van de API
        </li>
        <li>
          uw dienst nog in de testfase is
        </li>
      </ul>

        <p class="bottom-gutter-2">
          Vul in dat geval <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.feedback', ticket_type='report-problem', severe='no') }}">ons ondersteuningsformulier</a> in.
        </p>
        <p class="govuk-body">
          U ontvangt uiterlijk de volgende werkdag een reactie.
        </p>
      </div>
    </div>

{% endblock %}
