.api-notifications {

  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-bottom: 1px solid $border-colour;

  &-item {

    border-top: 1px solid $border-colour;
    padding: 10px 0 0 0;

    &__heading,
    &__data,
    &__view {
      font-family: monospace;
    }

    &__heading {
      display: block;
      margin-bottom: govuk-spacing(3);

      &::before {
        top: -1.3em;
      }
    }

    &__meta {

      display: block;
      color: $secondary-text-colour;
      text-decoration: none;

      &-key,
      &-time {
        color: $secondary-text-colour;
        display: inline-block;
        width: auto;
      }

      @include govuk-media-query($from: tablet) {
        &-key,
        &-time {
          width: 50%;
        }

        &-time {
          text-align: right;
        }
      }

    }

    &__data {

      border-left: none;
      padding-left: 25px;

      &-name {
        color: $secondary-text-colour;
      }

      &-value {
        color: $text-colour;
        padding-bottom: 15px;
      }

    }

  }

}
