.api-notifications {

  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-bottom: 1px solid $border-colour;

  &-item {

    border-top: 1px solid $border-colour;
    padding: 10px 0 0 0;

    // We can't assign classes to the summary.govuk-details__summary or div.govuk-details__text
    // elements so we have to target them as children of details.api-notifications-item
    // This will result in selectors like .api-notifications-item > .govuk-details__summary
    > .govuk-details__summary,
    > .govuk-details__text {
      font-family: monospace;
    }

    > .govuk-details__summary {
      display: block;
      margin-bottom: govuk-spacing(3);

      &::before {
        top: -1.3em;
      }
    }

    &__meta {

      display: block;
      color: $secondary-text-colour;
      text-decoration: none;

      &-key,
      &-time {
        color: $secondary-text-colour;
        display: inline-block;
        width: auto;
      }

      @include govuk-media-query($from: tablet) {
        &-key,
        &-time {
          width: 50%;
        }

        &-time {
          text-align: right;
        }
      }

    }

    // We can't assign classes to the div.govuk-details__text element so we have to target it as a
    // child of details.api-notifications-item instead
    // This will result in .api-notifications-item > .govuk-details__text
    > .govuk-details__text {

      border-left: none;
      padding-left: 25px;
      padding-top: 0;

    }

    &__data-name {
      color: $secondary-text-colour;
    }

    &__data-value {
      color: $govuk-text-colour;
      padding-bottom: 15px;
    }

  }

}
