.cookie-settings__form-wrapper {
  display: none;

  .js-enabled & {
    display: block;
  }
}

.cookie-settings__no-js {
  .js-enabled & {
    display: none;
  }
}

.cookie-settings__confirmation {
  display: none;
}
