.dashboard {

  table {
    th {
      @include core-19;
      border-bottom: 0;
    }

    td {
      @include core-19;
      border: 0;
    }
  }

  > .heading-medium:first-of-type {
    margin-top: $gutter-half;
  }

}

.keyline-block {
  border-top: 1px solid $border-colour;
  padding-top: $gutter-half;
}

.spark-bar {

  @include core-16;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: $gutter-half;
  height: $gutter-half;
  color: $text-colour;
  text-align: left;

  span {
    box-sizing: border-box;
    display: inline-block;
    overflow: visible;
    background: $panel-colour;
    color: $black;
    padding: 5px 5px 2px 5px;
    text-indent: -2px;
    margin: 3px 0 5px 0;
    transition: width 0.6s ease-in-out;
  }

}

.file-list {

  &-filename {
    @include bold-19;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-bottom: -30px;
    margin-top: -10px;
  }

  &-hint {
    @include core-16;
    display: block;
    color: $secondary-text-colour;
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 580px;
  }

}

.failure-highlight {
  @include bold-19;
  color: $error-colour;
}

.template-usage-table {

  border-top: 1px solid $border-colour;
  border-bottom: 1px solid $border-colour;
  margin-top: 10px;
  margin-bottom: $gutter * 1.3333;

  .table {
    margin-bottom: 5px;
  }

}

.align-with-message-body {
  display: block;
  margin-top: $gutter * 5 / 6;
}
