.dashboard {

  table {
    th {
      @include core-19;
      border-bottom: 0;
    }

    td {
      @include core-19;
      border: 0;
    }
  }

  > .heading-medium {
    margin-top: 10px;
  }

}

.keyline-block {
  border-top: 1px solid $border-colour;
  padding-top: $gutter-half;
}

.spark-bar {

  @include core-16;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: $gutter-half;
  height: $gutter-half;
  color: $text-colour;

  span {
    box-sizing: border-box;
    display: inline-block;
    overflow: visible;
    background: $panel-colour;
    color: $black;
    padding: 5px 5px 2px 5px;
    text-indent: -2px;
    margin: 3px 0 5px 0;
    transition: width 0.6s ease-in-out;
  }

  &-label {
    @include bold-19;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $govuk-blue;
    max-width: 100%;
    background: $white;
  }

}

.file-list {

  &-filename {
    @include bold-19;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-hint {
    @include core-16;
    display: block;
    color: $secondary-text-colour;
  }

}
