.documentation {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: $gutter 0 $gutter-half 0;
  }
  
  h1 {
    @include heading-48;    
    font-weight: bold;
  }

  h2 {
    @include heading-36;    
    font-weight: bold;
  }

  h3 {
    @include heading-24;    
    font-weight: bold;
  }

  h4,
  h5,
  h6 {
    @include bold-19;    
  }

  p,
  ul {
    margin: 0 0 20px 0;
  }

  ul {
    list-style: disc;
    margin: 0 0 20px 20px;
  }

  ol {
    list-style: decimal;
    margin: 0 0 20px 20px;
  }

  blockquote {
    border-left: 8px solid $border-colour;
    padding: 0 0 0 20px;
    margin: 0 0 20px 0;
  }

  .highlight {
    margin: 0 0 20px 0;
    background: #F8F8F8;
  }

  strong,
  em {
    font-weight: bold;
  }

}
