.placeholder-hint {

  display: block;

  &-title {
    @include bold-19;
  }

  &-action {

    @include bold-19;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;

    &:active {
      background: $yellow-25;
      outline: none;
    }

  }
  
}
