.get-started-list {

  counter-reset: get-started-counter;

  &__item {

    counter-increment: get-started-counter;
    padding: 0 0 0 govuk-spacing(6) + 5px;
    margin: govuk-spacing(8) 0 0 0;
    position: relative;

    &:before {
      @include govuk-font(24, $weight: bold);
      content: counter(get-started-counter) ".";
      position: absolute;
      top: 5px;
      left: 0;
    }

    summary[aria-expanded=false] {
      margin-bottom: 0;
    }

  }

  &__heading {
    @include govuk-font(24, $weight: bold);
    display: inline-block;
    margin: 5px 0 govuk-spacing(3) 0;
  }

}
