$item-top-padding: govuk-spacing(3);

.history-list {

  @include core-19;
  margin-bottom: govuk-spacing(6);

  &-item {

    padding: $item-top-padding 0 govuk-spacing(3) 0;
    border-top: 1px solid $border-colour;
    position: relative;

    &:last-child {
      border-bottom: 1px solid $border-colour;
    }

    .page-footer {
      margin-bottom: 5px;
    }

  }

  &-user {
    display: block;
  }

  &-time {
    display: block;
    color: $secondary-text-colour;
  }
}
