.notification-status {

  @include govuk-font(16);
  color: $govuk-secondary-text-colour;
  margin-top: -1 * govuk-spacing(3);

  &.error {

    color: $govuk-error-colour;
    font-weight: bold;

  }

  &-cancelled {
    @include govuk-font(19, $weight: bold);
    color: $govuk-error-colour;
  }

}
