.notification-status {

  @include govuk-font(16);
  color: govuk-functional-colour(secondary-text);
  margin-top: -1 * govuk-spacing(3);

  &.error {

    color: govuk-functional-colour(error);
    font-weight: bold;

  }

  &-cancelled {
    @include govuk-font(19, $weight: bold);
    color: govuk-functional-colour(error);
  }

}
