.notification-status {

  @include core-16;
  color: $secondary-text-colour;
  margin-top: -$gutter-half;

  &.error {

    color: $error-colour;
    font-weight: bold;

    a {
      color: $error-colour;
    }

  }

  &-cancelled {
    @include bold-19;
    color: $error-colour;
  }

}
