// Styles specific to the performance page

.totals__wrapper {
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content
}

.totals--messages,
.dashboard-table--4-column,
.dashboard-table--4-column > .table,
.dashboard-table--4-column > .table > thead,
.dashboard-table--4-column > .table > thead > tr {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

table dashboard-table--2-column > table > thead > tr,
table dashboard-table--2-column > table > tbody > tr,
.totals--2-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.table-show-more-link {
  grid-column: 1 / -1;
}

.dashboard-table .table-field-heading-first {
  width: auto;
}

.totals__all,
.totals__set-type {
  margin: 0; // cancel the vertical margins from using <p> tags
}

// Separate 'grand total' from others in vertical stack of totals
.totals__all {
  padding-bottom: 15px;
}

.totals__all > .product-page-big-number {
  display: block; // Put label for number on new line
}

// Make totals block-level by default
.totals--2-column > .totals__all,
.totals--2-column > .totals__set-type,
.totals--4-column > .totals__all,
.totals--4-column > .totals__set-type {
  display: block;
  width: 100%;
}
