.product-page {

  &-intro {

    margin: -10px 0 $gutter * 1.5 0;
    padding: $gutter 0 $gutter * 1.5 0;
    background: $govuk-blue;
    color: $white;

    &-wrapper {
      @extend %site-width-container;
    }

    h1 {
      @include bold-48;
      margin: 0 0 $gutter 0;
    }

    p {
      @include core-24;
      margin: $gutter-half 0 $gutter;
    }

    .button-container {
      line-height: 45px;
    }

    .button {

      background: $white;
      margin-right: 5px;

      &:link,
      &:visited,
      &:hover {
        color: $govuk-blue;
      }

      &:hover {
        background: $light-blue-25;
        outline: none;
      }

    }

    a {

      &:link,
      &:visited {
        color: $white;
      }

      &:hover,
      &:active {
        color: $light-blue-25;
      }

    }

  }

  &-section {
    @extend %site-width-container;
    margin-bottom: $gutter * 1.5;
  }

}
