.template-container {
  position: relative;
}

%edit-template-link,
.edit-template-link {

  @include core-19;
  position: absolute;
  background: $link-colour;
  color: $white;
  padding: 10px $gutter-half;
  z-index: 10000;

  &:link, &:visited {
    color: $white;
  }

  &:hover {
    color: $light-blue-25;
  }

}

.edit-template-link-letter-contact {
  @extend %edit-template-link;
  right: -25px;
  top: 232px; // align to bottom of contact block
}

.edit-template-link-letter-address {
  @extend %edit-template-link;
  top: 14.65%; // align bottom edge to bottom of address
  left: -5px;
}

.edit-template-link-letter-body {
  @extend %edit-template-link;
  top: 400px; // aligns to top of subject
  left: -5px;
}

.edit-template-link-letter-postage {
  @extend %edit-template-link;
  top: 51px; // aligns bottom edge to bottom of postmark
  right: 145px; // Aligns right edge to midpoint of postmark and fold
}
