// Function to make distance from the top scale when the image of the first page of the letter PDF does
// We go by the image's largest dimensions, which are: 712px width and 1008px height
// It has 2 parts:
// - the fraction of the height of the image (1008) the distance from the top (285) represents: (285 / 1008)
// - the height, calculated from the width, which is made of:
//   - the width of the image, in container query width units: 100cqw
//   - the height of the image as a fraction of the width: (1008 / 712)
@mixin scalable-top($top) {
  $max_height_of_image: 1008;
  $max_width_of_image: 712;

  top: $top * 1px; // for browsers that don't support container queries
  top: calc((#{$top} / #{$max_height_of_image}) * (100cqw * (#{$max_height_of_image} / #{$max_width_of_image})));
}

.template-container {
  container-name: template-container;
  container-type: inline-size;

  position: relative;

  &--with-attach-pages-button {
    .page--last {
      margin-bottom: govuk-spacing(4);
    }
  }
}

%edit-template-link,
.edit-template-link {
  position: absolute;
  z-index: 10000;
}

.edit-template-link-letter-contact {
  @extend %edit-template-link;

  @include scalable-top(285);
  // position underneath contact block
  left: 61.3%;

  &:active {
    @include scalable-top(285);
    margin-top: -2px;
  }
}

.edit-template-link-letter-address {
  @extend %edit-template-link;
  top: 14.65%; // align bottom edge to bottom of address
  left: -5px;

  &:active {
    margin-top: -2px;
    top: 14.65%;
  }

}

.edit-template-link-letter-body {
  @extend %edit-template-link;
  @include scalable-top(393);
  left: -20px;

  &:active {
    @include scalable-top(393);
    margin-top: -2px;
  }
}

.edit-template-link-letter-postage {
  @extend %edit-template-link;
  @include scalable-top(51);
  left: 61.3%; // Aligns left edge to ‘Change sender address’ button

  &:active {
    @include scalable-top(51);
    margin-top: -2px;
  }
}

.edit-template-link-letter-branding {
  @extend %edit-template-link;
  @include scalable-top(51);
  left: 51px; // Aligns to left of logo area

  &:active {
    @include scalable-top(51);
    margin-top: -2px;
  }
}

.change-language {
  float: right;
}

.edit-template-link-get-ready-to-send {
  @extend %edit-template-link;
  @include scalable-top(234);
  left: 51px; // Aligns to left of logo area

  &:active {
    @include scalable-top(234);
    margin-top: -2px;
  }
}

.template-content-count {
  @include govuk-font(19, $tabular: true);
  color: $govuk-secondary-text-colour;
  padding: 0 0 govuk-spacing(6) 0;

  & .govuk-error-message {
    margin: 0;
  }
}

#first-page-of-attachment,
#first-page-of-english-in-bilingual-letter {
  position: absolute;
  left: 0;

  .page--odd & {
    // Odd pages have a gutter between them and the previous
    // page. We need to account for this so that the page number
    // of the previous page is at the same position in the viewport
    top: -1 * (govuk-spacing(9) + govuk-spacing(6));
  }

  .page--even & {
    top: -1 * govuk-spacing(9);
  }

}
