$item-top-padding: govuk-spacing(3);

.user-list {

  @include core-19;
  margin-bottom: govuk-spacing(6);

  &-item {

    padding: $item-top-padding 150px govuk-spacing(3) 0;
    border-top: 1px solid $border-colour;
    position: relative;

    h3 {

      padding-right: govuk-spacing(3);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $secondary-text-colour;  // So the ellipsis is grey

      .heading-small {
        color: $black;
      }

    }

    &:last-child {
      border-bottom: 1px solid $border-colour;
    }

  }

  &-edit-link {
    text-align: right;
    position: absolute;
    top: $item-top-padding;
    right: 0px;
  }

}
