.user-list {

  @include core-16;
  margin-bottom: $gutter * 1.5;

  &-item {

    padding: $gutter-half 0;
    border-top: 1px solid $border-colour;

    &:last-child {
      border-bottom: 1px solid $border-colour;
    }

  }

}
