{% from "components/big-number.html" import big_number, big_number_with_status %}
{% from "components/message-count-label.html" import message_count_label %}

<div class="ajax-block">
  {% if inbound_sms_summary != None %}
    <a id="total-received" class="govuk-link govuk-link--no-visited-state banner-dashboard" href="{{ url_for('.inbox', service_id=current_service.id) }}">
      <span class="banner-dashboard-count">
        {{ inbound_sms_summary.count|format_thousands }}
      </span>
      <span class="banner-dashboard-count-label">
        {{ message_count_label(inbound_sms_summary.count, 'sms', suffix='received') }}
      </span>
      {% if inbound_sms_summary.most_recent %}
        <span class="banner-dashboard-meta">
          latest message {{ inbound_sms_summary.most_recent | format_delta }}
        </span>
      {% endif %}
    </a>
  {% endif %}
</div>
