{% from "components/big-number.html" import big_number_with_status %}

{% set whitespace = "&ensp;"|safe %}

<div class="ajax-block-container">
  <div class="govuk-grid-row">
    <div id="total-email" class="govuk-grid-column-one-third">
      {{ big_number_with_status(
        "<span class='loading-indicator loading-indicator--vertically-centered loading-indicator--1'></span>"|safe,
        999|message_count_label('email', suffix='sent'),
        whitespace,
        whitespace,
        False,
        failure_link=url_for("main.view_notifications", service_id=current_service.id, message_type='email', status='failed'),
        link=url_for("main.view_notifications", service_id=current_service.id, message_type='email', status='sending,delivered,failed'),
        smaller=True,
      ) }}
    </div>
    <div id="total-sms" class="govuk-grid-column-one-third">
      {{ big_number_with_status(
        "<span class='loading-indicator loading-indicator--vertically-centered loading-indicator--2'></span>"|safe,
        999|message_count_label('sms', suffix='sent'),
        whitespace,
        whitespace,
        False,
        failure_link=url_for("main.view_notifications", service_id=current_service.id, message_type='sms', status='failed'),
        link=url_for("main.view_notifications", service_id=current_service.id, message_type='sms', status='sending,delivered,failed'),
        smaller=True,
      ) }}
    </div>
    <div id="total-letters" class="govuk-grid-column-one-third">
      {{ big_number_with_status(
        "<span class='loading-indicator loading-indicator--vertically-centered loading-indicator--3'></span>"|safe,
        999|message_count_label('letter', suffix='sent'),
        whitespace,
        whitespace,
        False,
        failure_link=url_for("main.view_notifications", service_id=current_service.id, message_type='letter', status='failed'),
        link=url_for("main.view_notifications", service_id=current_service.id, message_type='letter', status=''),
        smaller=True,
      ) }}
    </div>
  </div>
</div>
