{% from "components/big-number.html" import big_number_with_status %}
{% from "components/message-count-label.html" import message_count_label %}

<div class="ajax-block-container total-wrapper">
  <div class="grid-row">
    <div id="total-email" class="{{column_width}}">
      {{ big_number_with_status(
        statistics['email']['requested'] * 1234,
        message_count_label(99, 'email', suffix='sent'),
        42,
        1.1,
        statistics['email']['show_warning'],
        failure_link=url_for(".view_notifications", service_id=service_id, message_type='email', status='failed'),
        link=url_for(".view_notifications", service_id=service_id, message_type='email', status='sending,delivered,failed'),
        smaller=True
      ) }}
    </div>
    <div id="total-sms" class="{{column_width}}">
      {{ big_number_with_status(
        80918,
        message_count_label(80918, 'sms', suffix='sent'),
        4098,
        5.0,
        True,
        failure_link=url_for(".view_notifications", service_id=service_id, message_type='sms', status='failed'),
        link=url_for(".view_notifications", service_id=service_id, message_type='sms', status='sending,delivered,failed'),
        smaller=True
      ) }}
    </div>
    <div id="total-letters" class="{{column_width}}">
      {{ big_number_with_status(
        12,
        message_count_label(12, 'letter', suffix='sent'),
        statistics['letter']['failed'],
        statistics['letter']['failed_percentage'],
        statistics['letter']['show_warning'],
        failure_link=url_for(".view_notifications", service_id=service_id, message_type='letter', status='failed'),
        link=url_for(".view_notifications", service_id=service_id, message_type='letter', status=''),
        smaller=True
      ) }}
    </div>
  </div>
</div>
