{% from "components/big-number.html" import big_number_with_status %}

<div class="ajax-block-container">
  <div class="govuk-grid-row">
    <div id="total-email" class="govuk-grid-column-one-third">
      {{ big_number_with_status(
        statistics['email']['requested'],
        statistics['email']['requested']|message_count_label('email', suffix='sent'),
        statistics['email']['failed'],
        statistics['email']['failed_percentage'],
        statistics['email']['show_warning'],
        failure_link=url_for(".view_notifications", service_id=service_id, message_type='email', status='failed'),
        link=url_for(".view_notifications", service_id=service_id, message_type='email', status='sending,delivered,failed'),
        smaller=True,
      ) }}
    </div>
    <div id="total-sms" class="govuk-grid-column-one-third">
      {{ big_number_with_status(
        statistics['text']['requested'],
        statistics['text']['requested']|message_count_label('sms', suffix='sent'),
        statistics['text']['failed'],
        statistics['text']['failed_percentage'],
        statistics['text']['show_warning'],
        failure_link=url_for(".view_notifications", service_id=service_id, message_type='sms', status='failed'),
        link=url_for(".view_notifications", service_id=service_id, message_type='sms', status='sending,delivered,failed'),
        smaller=True,
      ) }}
    </div>
    <div id="total-letters" class="govuk-grid-column-one-third">
      {{ big_number_with_status(
        statistics['letter']['requested'],
        statistics['letter']['requested']|message_count_label('letter', suffix='sent'),
        statistics['letter']['failed'],
        statistics['letter']['failed_percentage'],
        statistics['letter']['show_warning'],
        failure_link=url_for(".view_notifications", service_id=service_id, message_type='letter', status='failed'),
        link=url_for(".view_notifications", service_id=service_id, message_type='letter', status=''),
        smaller=True,
      ) }}
    </div>
  </div>
</div>
