{% from "components/table.html" import list_table, field, right_aligned_field_heading, row_heading %}
{% from "components/show-more.html" import show_more %}

<div class="ajax-block-container">
  {% if current_service.scheduled_job_stats.count %}
    <h2 class="heading-medium heading-upcoming-jobs">
      In the next few days
    </h2>
    <a class="govuk-link govuk-link--no-visited-state banner-dashboard" href="{{ url_for('.uploads', service_id=current_service.id) }}">
      <span class="banner-dashboard-count">
        {{ current_service.scheduled_job_stats.count }}
      </span>
      <span class="banner-dashboard-count-label">
        {% if current_service.scheduled_job_stats.count == 1 %}
          file waiting to send
        {% else %}
          files waiting to send
        {% endif %}
      </span>
      <span class="banner-dashboard-meta">
        sending starts
        {{ current_service.scheduled_job_stats.soonest_scheduled_for|format_datetime_relative }}
      </span>
    </a>
  {% endif %}
</div>
