{% from "components/table.html" import list_table, field, right_aligned_field_heading, row_heading %}
{% from "components/big-number.html" import big_number, big_number_with_status %}
{% from "components/show-more.html" import show_more %}

<h2 class="heading-medium heading-upcoming-jobs">
  In the next few days
</h2>

<div id="upcoming">
  <div id="total-received" class="big-number-meta-wrapper">
    {{
      big_number_with_status(
        5,
        'files waiting to send',
        link=url_for('.uploads', service_id=current_service.id),
        show_failures=False,
        smaller=True
      )
    }}
    <div class="big-number-meta">
      sending starts at 5:00pm today
    </div>
  </div>
</div>
