{% from "components/big-number.html" import big_number %}

{% set loading_indicator = "<span class='loading-indicator'></span>"|safe %}

<div class='govuk-grid-row ajax-block-container'>
  <div class='govuk-grid-column-one-third'>
    <div class="keyline-block">
      {{ big_number(loading_indicator, 'free email allowance', smaller=True) }}
    </div>
  </div>
  <div class='govuk-grid-column-one-third'>
    <div class="keyline-block">
      {{ big_number(
        loading_indicator,
        'text messages',
        smaller=True,
      ) }}
    </div>
  </div>
  <div class='govuk-grid-column-one-third'>
    <div class="keyline-block">
      {{ big_number(
        loading_indicator,
        'spent on letters',
        currency="£",
        smaller=True
      ) }}
    </div>
  </div>
</div>
