{% from "components/big-number.html" import big_number %}

<div class='grid-row ajax-block-container'>
  <div class='{{ column_width }}'>
    <div class="keyline-block">
      {{ big_number("Unlimited", 'free email allowance', smaller=True) }}
    </div>
  </div>
  <div class='{{ column_width }}'>
    <div class="keyline-block">
        {{ big_number(
          24365,
          'spent on text messages',
          currency="£",
          smaller=True
        ) }}

    </div>
  </div>
  <div class='{{ column_width }}'>
    <div class="keyline-block">
      {{ big_number(
        820.75,
        'spent on letters',
        currency="£",
        smaller=True
      ) }}
    </div>
  </div>
</div>
