{% from "components/big-number.html" import big_number %}

<div class='govuk-grid-row ajax-block-container'>
  <div class='govuk-grid-column-one-third'>
    <div class="keyline-block">
      {{ big_number(
        "<span class='loading-indicator loading-indicator--vertically-centered loading-indicator--3'></span>"|safe,
        'free email allowance',
        smaller=True
      ) }}
    </div>
  </div>
  <div class='govuk-grid-column-one-third'>
    <div class="keyline-block">
      {{ big_number(
        "<span class='loading-indicator loading-indicator--vertically-centered loading-indicator--2'></span>"|safe,
        'text messages',
        smaller=True,
      ) }}
    </div>
  </div>
  <div class='govuk-grid-column-one-third'>
    <div class="keyline-block">
      {{ big_number(
        "<span class='loading-indicator loading-indicator--vertically-centered loading-indicator--1'></span>"|safe,
        'spent on letters',
        currency="£",
        smaller=True
      ) }}
    </div>
  </div>
</div>
