{% extends "withnav_template.html" %}

{% block page_title %}
  {{ session.get('service_name', 'Dashboard') }} – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  {% if service.restricted %}
    {% include 'views/dashboard/trial-mode-banner.html' %}
  {% endif %}

  {% if not jobs %}
    {% include 'views/dashboard/get-started.html' %}
  {% else %}

    <div
      data-module="update-content"
      data-resource="{{url_for(".service_dashboard_updates", service_id=service_id)}}"
      data-key="today"
    >
      {% include 'views/dashboard/today.html' %}
    </div>
    
    {% include 'views/dashboard/jobs.html' %}
  {% endif %}

{% endblock %}
