{% extends "withnav_template.html" %}

{% from "components/big-number.html" import big_number, big_number_with_status %}
{% from "components/show-more.html" import show_more %}
{% from "components/message-count-label.html" import message_count_label %}
{% from "components/table.html" import list_table, field, right_aligned_field_heading, hidden_field_heading %}
{% from "components/ajax-block.html" import ajax_block %}

{% block service_page_title %}
  Dashboard
{% endblock %}

{% block maincolumn_content %}

  <div class="dashboard">

    <h1 class="govuk-visually-hidden">Dashboard</h1>
    {% if current_user.has_permissions('manage_templates') and not current_service.all_templates %}
      {% include 'views/dashboard/write-first-messages.html' %}
    {% endif %}

    {{ ajax_block(partials, updates_url, 'upcoming', interval=5) }}

    <h2 class="heading-medium">
      In the last 7 days
    </h2>

    {{ ajax_block(partials, updates_url, 'inbox', interval=5) }}

    {{ ajax_block(partials, updates_url, 'totals', interval=5) }}
    {{ show_more(
      url_for('.monthly', service_id=current_service.id),
      'See messages sent per month'
    ) }}

    {{ ajax_block(partials, updates_url, 'template-statistics', interval=5) }}

    {% if partials['has_jobs'] %}
      {{ ajax_block(partials, updates_url, 'jobs', interval=5) }}
      {{ show_more(
        url_for('.view_jobs', service_id=current_service.id),
        'See all uploaded files'
      ) }}
    {% endif %}

    {% if current_user.has_permissions('manage_service') %}
      <h2 class='heading-medium'>This year</h2>
      {{ ajax_block(partials, updates_url, 'usage') }}
      {{ show_more(
        url_for(".usage", service_id=current_service['id']),
        'See usage'
      ) }}
    {% endif %}

  </div>

{% endblock %}
