{% from "components/banner.html" import banner_wrapper %}

{% if current_user.has_permissions(['manage_templates']) %}
  {% call banner_wrapper(type='tour') %}
    <h2 class="heading-large">You’re ready to get started</h2>
    <p>
      <a href='{{ url_for(".add_service_template", service_id=service_id, template_type="sms") }}'>
        Set up a text message template
      </a>
    </p>
    <p>
      <a href='{{ url_for(".add_service_template", service_id=service_id, template_type="email") }}'>
        Set up an email template
      </a>
    </p>
  {% endcall %}
{% else %}
  {% call banner_wrapper(type='mode') %}
    <p>
      You need to ask your service manager to set up some templates before you can send messages
    </p>
  {% endcall %}
{% endif %}
