{% from "components/banner.html" import banner_wrapper %}

<h2 class="heading-medium">Get started</h2>
{% if current_user.has_permissions(['manage_templates']) %}
  <p>
    You need to set up a template before you can send messages
  </p>
  <ol class="grid-row">
    <li class="column-half">
      {% call banner_wrapper(type="tip") %}
        <a href='{{ url_for(".add_service_template", service_id=service_id, template_type="sms") }}' style="white-space: nowrap;">
          Set up a text message template
        </a>
      {% endcall %}
    </li>
    <li class="column-half">
      {% call banner_wrapper(type="tip") %}
        <a href='{{ url_for(".add_service_template", service_id=service_id, template_type="email") }}'>
          Set up an email template
        </a>
      {% endcall %}
    </li>
  </ol>
{% else %}
  <p>
    <p>
      You need to ask your service manager to set up some templates before you can send messages
    </p>
  </p>
{% endif %}
