{% from "components/table.html" import list_table, field, right_aligned_field_heading %}
{% call(item, row_number) list_table(
  template_statistics,
  caption="Recent templates used",
  empty_message='You haven’t sent any batch messages yet',
  field_headings=['Template', 'Type', right_aligned_field_heading('Usage')]
) %}
  {% call field() %}
    <a href="{{ url_for('.edit_service_template', service_id=current_service.id, template_id=item.template.id) }}">
      {{ item.template.name }}
    </a>
  {% endcall %}
  {% call field() %}
    {{item.template.template_type}}
  {% endcall %}
   {% call field(align='right') %}
    {{ item.usage_count }}
  {% endcall %}
{% endcall %}

