{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}

{% set title = "Uw dienst is al actief" if current_user.belongs_to_service(current_service.id) else "Deze dienst is al actief" %}

{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block maincolumn_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ page_header(title) }}

      <p class="govuk-body">
        {% if current_service.go_live_at %}
          ‘{{ current_service.name }}’ is actief sinds {{ current_service.go_live_at | format_date_normal }}.
        {% else %}
          ‘{{ current_service.name }}’ is al actief.
        {% endif %}
        </p>

      {% if prompt_to_switch_service %}
      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.your_services') }}">Overschakelen naar een andere dienst</a>
         als u een andere dienst actief wilt maken.
      </p>
      {% endif %}

    </div>
  </div>
{% endblock %}
