{% extends "withnav_template.html" %}
{% from "components/ajax-block.html" import ajax_block %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set page_title = "Dagelijkse limiet voor internationale sms-berichten" %}

{% block service_page_title %}
{{ page_title }}
{% endblock %}

{% block backLink %}
{{ govukBackLink({ "href": url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
        {{ page_header(page_title) }}
        <p class="govuk-body">
            Aantal internationale sms-berichten dat deze dienst per dag mag versturen.
        </p>

        {{ ajax_block(partials, updates_url, 'remaining_limit') }}

        <p class="govuk-body">
            Bij het kiezen van een limiet moet u rekening houden met:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>hoeveel internationale berichten uw dienst moet versturen</li>
            <li>de mogelijke kosten voor uw dienst bij fraude, zoals
                <a class="govuk-link govuk-link--no-visited-state"
                    href="https://www.ncsc.gov.uk/blog-post/ait-fraud-what-you-need-to-know">kunstmatige toename van verkeer</a>
            </li>
        </ul>
        {% call form_wrapper() %}
        {{
        form.message_limit()
        }}
        {{ page_footer('Opslaan') }}
        {% endcall %}
    </div>
</div>

{% endblock %}
