{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Internationale sms-berichten versturen
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {{ page_header('Internationale sms-berichten versturen') }}
      <p class="govuk-body">
        Berichten naar internationale mobiele nummers kosten tussen 1 en 12 keer zoveel als berichten naar Britse mobiele nummers.
      </p>
      <p class="govuk-body">
        Bekijk de <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_pricing_text_messages', _anchor='international-numbers') }}">tarieven</a> voor een overzicht van de kosten.
      </p>
      <p class="govuk-body">De dagelijkse limiet voor uw service is {{current_service.international_sms_message_limit}}. U kunt de dagelijkse limiet voor internationale sms-berichten wijzigen in <b class="govuk-!-font-weight-bold">Instellingen</b>.</p>
      {% call form_wrapper() %}
        {{ form.enabled }}
        {{ page_footer('Opslaan') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
