<div class="govuk-grid-row">
  {% if current_user.has_permissions('send_messages', restrict_admin_usage=True) %}
    <div class="govuk-grid-column-one-half govuk-!-margin-bottom-4">
      {{ govukButton({
        "element": "a",
        "text": "Get ready to send",
        "href": url_for(".set_sender", service_id=current_service.id, template_id=template.id),
        "classes": "govuk-button--secondary template-action-button"
        }) }}
    </div>
  {% endif %}
  {% if current_user.has_permissions('manage_templates') %}
    <div class="govuk-grid-column-one-half govuk-!-margin-bottom-4">
      {{ govukButton({
        "element": "a",
        "text": "Edit",
        "href": url_for(".edit_service_template", service_id=current_service.id, template_id=template.id),
        "classes": "govuk-button--secondary template-action-button"
        }) }}
    </div>
  {% endif %}
</div>

{{ template|string }}