{% if template_list.template_folder_id and not template_list.templates_to_show %}
  <p class="template-list-empty">
    {% if template_list.folder_is_empty %}
      This folder is empty
    {% else %}
      There are no {{ 1|message_count_label(template_type, suffix='') }} templates in this folder
    {% endif %}
  </p>
{% else %}
  <div id="template-list" class="{{ 'govuk-!-margin-top-1' if (not show_template_nav and not show_search_box) else 'govuk-!-margin-top-6' }}">

    {% if current_user.has_permissions('manage_templates') %}
      {{ form.templates_and_folders(param_extensions={
        "formGroup": {"classes": "govuk-!-margin-bottom-0"}
      }) }}
    {% else %}
      {% for link in form.links %}
        {{ link }}
      {% endfor %}
    {% endif %}

  </div>
{% endif %}
