{% from "components/email-message.html" import email_message %}
{% from "components/sms-message.html" import sms_message %}
{% from "components/letter.html" import letter %}

<div class="column-whole">
  <h2 class="message-name">{{ template.name }}</h2>
</div>

<div class="column-two-thirds">
  {% if 'email' == template.template_type %}
    {{ email_message(
      template.formatted_subject,
      template.formatted,
    ) }}
  {% elif 'sms' == template.template_type %}
    {{ sms_message(
      template.formatted
    ) }}
  {% elif 'letter' == template.template_type %}
    {{ letter(template.formatted)}}
  {% endif %}
</div>

<div class="column-one-third">
  <div class="message-use-links">
    {% if template.get_raw('version', 1) > 1 %}
      {% if template.get_raw('updated_at', None) %}{{ template.get_raw('updated_at')|format_datetime_normal }}{% endif %}
    {% else %}
      Created<br/>{% if template.get_raw('created_at', None) %}{{ template.get_raw('created_at')|format_datetime_normal }}{% endif %}
    {% endif %}
    <br/>by {{ template.get_raw('created_by').name }}
  </div>
</div>
