{% from "components/message-count-label.html" import folder_contents_count, message_count_label %}

{% macro format_item_name(name) -%}
  {%- if name is string -%}
    {{- name -}}
  {%- else -%}
    {%- for part in name -%}
      {{- format_item_name(part) -}}
      {%- if not loop.last %} <span class="message-name-separator"></span> {% endif -%}
    {%- endfor -%}
  {% endif %}
{%- endmacro %}

{% if template_list.template_folder_id and not template_list.templates_to_show %}
  <p class="template-list-empty">
    {% if template_list.folder_is_empty %}
      This folder is empty
    {% else %}
      There are no {{ message_count_label(1, template_type, suffix='') }} templates in this folder
    {% endif %}
  </p>
{% else %}
  <nav id="template-list" class="{{ 'govuk-!-margin-top-1' if (not show_template_nav and not show_search_box) else 'govuk-!margin-top-6' }}">
    {% set checkboxes_data = [] %}

    {% for item in template_list %}

      {% set item_label_content %}
        {% for ancestor in item.ancestors %}
          <a href="{{ url_for('.choose_template', service_id=current_service.id, template_type=template_type, template_folder_id=ancestor.id) }}" class="govuk-link govuk-link--no-visited-state template-list-folder">
            {{- format_item_name(ancestor.name) -}}
          </a> <span class="message-name-separator"></span>
        {% endfor %}
        {% if item.is_folder %}
          <a href="{{ url_for('.choose_template', service_id=current_service.id, template_type=template_type, template_folder_id=item.id) }}" class="govuk-link govuk-link--no-visited-state template-list-folder">
            <span class="live-search-relevant">{{ format_item_name(item.name) }}</span>
          </a>
        {% else %}
          <a href="{{ url_for('.view_template', service_id=current_service.id, template_id=item.id) }}" class="govuk-link govuk-link--no-visited-state template-list-template">
            <span class="live-search-relevant">{{ format_item_name(item.name) }}</span>
          </a>
        {% endif %}
      {% endset %}

      {# create the item config now to include the label content -#}
      {% set checkbox_config = {
        "html": item_label_content,
        "label": {
          "classes": "template-list-item-label govuk-!-font-size-24 govuk-!-font-weight-bold"
        },
        "id": "templates-or-folder-" ~ item.id,
        "hint": {
          "text": item.hint,
         "classes": "template-list-item-hint"
        },
        "classes": "template-list-item {}".format(
          "template-list-item-hidden-by-default" if item.ancestors else "template-list-item-without-ancestors")
      } %}
      {% set _ = checkboxes_data.append(checkbox_config) %}

      {% if not current_user.has_permissions('manage_templates') %}
        <div class="template-list-item {%- if item.ancestors %} template-list-item-hidden-by-default {%- else %} template-list-item-without-ancestors{%- endif %}">
          <h2 class="message-name">
            {{ item_label_content }}
          </h2>
          <p class="message-type govuk-!-margin-bottom-4">
            {{ item.hint }}
          </p>
        </div>
      {% endif %}
    {% endfor %}

    {% if current_user.has_permissions('manage_templates') %}
      {{ templates_and_folders_form.templates_and_folders(param_extensions={ "items": checkboxes_data }) }}
    {% endif %}
  </nav>
{% endif %}
