<div class="govuk-grid-column-full">
  <h2 class="message-name">{{ template.name }}</h2>
  <p class="hint">
    {% if template.get_raw('version', 1) > 1 %}
      Edit made {% if template.get_raw('updated_at', None) %}{{ template.get_raw('updated_at')|format_datetime_normal }}{% endif %}
    {% else %}
      Created
      {% if template.get_raw('created_at', None) %}{{ template.get_raw('created_at')|format_datetime_normal }}{% endif %}
    {% endif %}
    by {{ template.get_raw('created_by').name }}
  </p>
</div>

<div class="govuk-grid-column-full">
  {{ template|string }}
</div>
