{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/message-count-label.html" import message_count_label %}

{% block service_page_title %}
  {{ notification_type.capitalize() }} are disabled
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="column-five-sixths">
      {{ page_header(
        '{} are disabled'.format(notification_type.capitalize()),
        back_link=back_link,
      ) }}
      <p>
        Sending {{ message_count_label(999, notification_type, suffix='') -}} has been disabled for your service.
      </p>
      <p>
        If you need to send {{ message_count_label(999, notification_type, suffix='') }}
        <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.support') }}">get in touch with the GOV.UK Notify team</a>.
      </p>

    </div>
  </div>

{% endblock %}
