{% extends "withnav_template.html" %}

{% from "components/confirm-breaking-change.html" import confirm_breaking_change %}
{% from "components/form.html" import form_wrapper %}
{% from "components/list.html" import list_of_code_snippets %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}

{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Confirm changes
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for(".edit_service_template", service_id=current_service.id, template_id=new_template.id) }) }}
{% endblock %}

{% set email_files_removed = template_change.email_filenames_removed %}

{% block maincolumn_content %}

  {{ page_header("Confirm changes") }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {% set confirm_button = "Save changes to template" %}

      <!-- Only regular placeholders got added (placeholders being removed only is not a breaking change) -->
      {% if template_change.placeholders_added and not email_files_removed %}

        {% if template_change.placeholders_removed %}
          {{ confirm_breaking_change(
            name="placeholder",
            list_of_changes=template_change.placeholders_removed,
            with_confirm_step=False
          ) }}
        {% endif %}

        {{ confirm_breaking_change(
          name="placeholder",
          list_of_changes=template_change.placeholders_added,
          with_confirm_step=False,
          action={"present": "add", "past": "added"}
        ) }}

        <p class="govuk-body">
          Before you send any messages, make sure your API calls include {{ list_of_code_snippets(template_change.placeholders_added) }}.
        </p>

      <!-- Only email files got removed -->
      {% elif email_files_removed and not template_change.placeholders_added %}
        {% set confirm_button = "Yes, remove" %}

        {{ confirm_breaking_change(
          name="file",
          list_of_changes=email_files_removed,
          with_confirm_step=True
        ) }}

      <!-- Both regular placeholders added and email files removed -->
      {% elif email_files_removed and template_change.placeholders_added %}

        {% set confirm_button = "Confirm changes to template" %}

        <h2 class="heading-medium">Remove file{{ email_files_removed|format_pluralise }}</h2>
          {{ confirm_breaking_change(
            name="file",
            list_of_changes=email_files_removed,
            with_confirm_step=False
          ) }}

        {% if template_change.placeholders_removed %}
          <h2 class="heading-medium">Remove placeholder{{ template_change.placeholders_removed|format_pluralise }}</h2>
            {{ confirm_breaking_change(
              name="placeholder",
              list_of_changes=template_change.placeholders_removed,
              with_confirm_step=False
            ) }}
        {% endif %}

        <h2 class="heading-medium">Add placeholder{{ template_change.placeholders_added|format_pluralise }}</h2>
        {{ confirm_breaking_change(
          name="placeholder",
          list_of_changes=template_change.placeholders_added,
          with_confirm_step=False,
          action={"present": "add", "past": "added"}
        ) }}

        <p class="govuk-body">
          Confirm that you:
          <ul class="govuk-list govuk-list--bullet">
          <li>want to remove {% if email_files_removed|length == 1 %} this file. {% else %} these files. {% endif %}
          <li>will modify any API calls for this template to include {{
          list_of_code_snippets(template_change.placeholders_added) }} before sending any messages.
          </ul>
      {% endif %}

    </div>
  </div>

  {% call form_wrapper() %}
    <input type="hidden" name="name" value="{{ new_template.name }}" />
    {% if form.subject %}
      <input type="hidden" name="subject" value="{{ form.subject.data or '' }}" />
    {% endif %}
    <input type="hidden" name="template_content" value="{{ form.template_content.data }}" />
    <input type="hidden" name="template_id" value="{{ new_template.id }}" />

    <input type="hidden" name="confirm" value="true" />
    {{ page_footer(confirm_button) }}
  {% endcall %}

{% endblock %}
