{% extends "withnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  {{ form.languages.label.text }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.view_template', service_id=current_service.id, template_id=template.id) }) }}
{% endblock %}

{% block maincolumn_content %}
  {% call form_wrapper(class="govuk-!-margin-bottom-7") %}
    {{ form.languages(param_extensions={
      "hint": {"text": "This will change the language used for the date and page numbers of your letter template."},
      "fieldset": {
          "legend": {
              "isPageHeading": True,
              "classes": "govuk-fieldset__legend--l",
          },
      }
    }) }}
    {{ page_footer('Save') }}
  {% endcall %}
{% endblock %}
