{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% set title = 'Change language' %}
{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.view_template', service_id=current_service.id, template_id=template_id) }) }}
{% endblock %}

{% block maincolumn_content %}
  {% if confirmation_banner %}
    {{ banner(
      'Are you sure you want to change the language to English only?<br><br>This will delete the English pages of your letter template.<br><br>You cannot undo this.'|safe,
      type='dangerous',
      delete_button='Yes, change the language',
      action=url_for('main.letter_template_change_language', service_id=current_service.id, template_id=template.id, confirm="yes", languages=languages)
    ) }}
  {% endif %}


  {{ page_header(title) }}
  {% call form_wrapper(class="govuk-!-margin-bottom-7") %}
    {{ form.languages(param_extensions={
      "fieldset": {
          "legend": {
              "classes": "",
          },
      }
    }) }}
    {{ page_footer('Save') }}
  {% endcall %}



{% endblock %}
