{% extends "withnav_template.html" %}

{% block page_title %}
  Previous versions – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}
  <h1 class="heading-large">Previous versions</h1>
  <div class="grid-row">
    {% for template in versions %}
      {% with show_title=True %}
        {% include 'views/templates/_template_history.html' %}
      {% endwith %}
    {% endfor %}
  </div>
  <p>
    <a href="{{ url_for(".choose_template", service_id=current_service.id, template_type=versions[0].template_type) }}">Back to current templates</a>
  </p>
{% endblock %}
