{% extends "withnav_template.html" %}

{% block service_page_title %}
  Templates
{% endblock %}

{% block maincolumn_content %}

  {% if not templates %}

    <h1 class="heading-large">Templates</h1>

    {% if current_user.has_permissions(permissions=['manage_templates'], any_=True) %}
       <p class="bottom-gutter">
         You need a template before you can send
         {% if current_service.can_send_letters %}
           emails, text messages or letters
         {%- else -%}
           emails or text messages
         {%- endif %}.
       </p>
      <a href="{{ url_for('.add_template_by_type', service_id=current_service.id) }}" class="button">Add a new template</a>
    {% else %}
      <p>
        You need to ask your service manager to add templates before you can send
        {% if current_service.can_send_letters %}
          emails, text messages or letters
        {%- else -%}
          emails or text messages
        {%- endif %}.
      </p>
    {% endif %}

  {% else %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">Templates</h1>
      </div>
      {% if current_user.has_permissions(permissions=['manage_templates'], admin_override=True) %}
        <div class="column-one-third">
          <a href="{{ url_for('.add_template_by_type', service_id=current_service.id) }}" class="button align-with-heading">Add new template</a>
        </div>
      {% endif %}
    </div>

    <div class="grid-row">
      {% for template in templates %}
        <div class="column-whole">
          <h2 class="message-name">{{ template.name }}</h2>
          {% if template.get_raw('updated_at', None) %}
            <p class="message-updated-at">
              Edited {{ template.get_raw('updated_at', None)|format_date_short }}&ensp;<a href="{{ url_for('.view_template_versions', service_id=current_service.id, template_id=template.id) }}">see previous versions</a>
            </p>
          {% endif %}
        </div>
        {% include 'views/templates/_template.html' %}
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
