{% extends "withnav_template.html" %}

{% block service_page_title %}
  Previous versions
{% endblock %}

{% block maincolumn_content %}
  <h1 class="heading-large">Previous versions</h1>
  <div class="govuk-grid-row">
    {% for template in versions %}
      {% with show_title=True %}
        {% include 'views/templates/_template_history.html' %}
      {% endwith %}
    {% endfor %}
  </div>
  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for(".choose_template", service_id=current_service.id) }}">Back to current templates</a>
  </p>
{% endblock %}
