{% extends "withnav_template.html" %}

{% block page_title %}
  {{ page_heading }} – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  {% if not templates %}

    <h1 class="heading-large">{{ page_heading }}</h1>

    {% if current_user.has_permissions(permissions=['manage_templates'], any_=True) %}
       <p class="bottom-gutter">
         You need a template before you can send
         {{ 'emails' if 'email' == template_type else 'text messages' }}
       </p>
      <a href="{{ url_for('.add_service_template', service_id=current_service.id, template_type=template_type) }}" class="button">Add a new template</a>
    {% else %}
      <p>You need to ask your service manager to add templates before you can send messages</p>
    {% endif %}

  {% else %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">{{ page_heading }}</h1>
      </div>
      {% if current_user.has_permissions(permissions=['manage_templates'], admin_override=True) %}
        <div class="column-one-third">
          <a href="{{ url_for('.add_service_template', service_id=current_service.id, template_type=template_type) }}" class="button align-with-heading">Add new template</a>
        </div>
      {% endif %}
    </div>

    <div class="grid-row">
      {% for template in templates %}
        <div class="column-whole">
          <h2 class="message-name">{{ template.name }}</h2>
          {% if template.get_raw('updated_at', None) %}
            <p class="message-updated-at">
              Edited {{ template.get_raw('updated_at', None)|format_date_short }}&ensp;<a href="{{ url_for('.view_template_versions', service_id=current_service.id, template_id=template.id) }}">see previous versions</a>
            </p>
          {% endif %}
        </div>
        {% include 'views/templates/_template.html' %}
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
