{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% set title = 'Manage files' if template.attachments else 'Attach files' %}
{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.view_template', service_id=current_service.id, template_id=template.id) }) }}
{% endblock %}

{% block maincolumn_content %}
  {{ page_header(title) }}

  {% if not rows %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-five-sixths">
        {{ page_footer(
          button_url=url_for("main.email_template_upload_attachment", service_id=current_service.id, template_id=template.id),
          button_text="Add a file"
        ) }}
      </div>
    </div>
  {% else %}
    {{ govukSummaryList({
      "classes": "notify-summary-list service-base-settings",
      "rows": rows
    }) }}
    {{ page_footer(
      button_url=url_for("main.email_template_upload_attachment", service_id=current_service.id, template_id=template.id),
      button_text="Add another file"
    )}}
  {% endif %}
{% endblock %}
