{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% set title = 'You need to attach files to your template' %}
{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.view_template', service_id=current_service.id, template_id=template.id) }) }}
{% endblock %}

{% block maincolumn_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {{ page_header(title) }}
      <p class="govuk-body">
        You need to do this before you can send your email.
      </p>
      <p class="govuk-body">
        When you upload a file, Notify will replace the placeholder with a link to download the file.
      </p>
      <p class="govuk-body">
        <a href="{{ url_for('main.email_template_manage_attachments', service_id=current_service.id, template_id=template.id)}} ">Attach files</a>
      </p>
    </div>
  </div>

{% endblock %}
