{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% set title = 'Ask recipient for their email address' %}
{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.email_template_manage_attachment', service_id=current_service.id, template_id=template.id, attachment_id=attachment.id) }) }}
{% endblock %}

{% block maincolumn_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {{ page_header(title) }}
      <p class="govuk-body">
        The recipient must enter their email address before they can download the file. This is for added security.
      </p>
      {% call form_wrapper() %}
        {{ form.enabled(
          param_extensions={
            'fieldset': {
              'legend': {
                'isPageHeading': False,
                'classes': 'govuk-visually-hidden'
              }
            }
          }
        ) }}
        {{ page_footer('Continue') }}
        <p class="govuk-body">
          You should choose ‘Yes’ if you send files that contain:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>personally identifiable information</li>
          <li>commercially sensitive information</li>
          <li>information classified as ‘OFFICIAL’ or ‘OFFICIAL-SENSITIVE’ under the <a href="https://www.gov.uk/government/publications/government-security-classifications" class="govuk-link govuk-link--no-visited-state">Government Security Classifications</a> policy</li>
        </ul>
      {% endcall %}
    </div>
  </div>

{% endblock %}
