{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/file-upload.html" import file_upload %}


{% set page_title = template.attachment.original_filename %}

{% block service_page_title %}
    {{ page_title }}
{% endblock %}

{% block backLink %}
    {{ govukBackLink({ "href": url_for('main.view_template', service_id=current_service.id, template_id=template.id) }) }}
{% endblock %}

{% block maincolumn_content %}
    {% if error %}
        <div class="govuk-!-margin-bottom-4">
            {% call banner_wrapper(type='dangerous') %}
                <h1 class="banner-title">{{ error.title }}</h1>
                {% if error.detail %}
                    <p class="govuk-body">{{ error.detail | safe }}</p>
                {% endif %}
            {% endcall %}
        </div>
    {% else %}
        {{ page_header(page_title) }}
    {% endif %}

    <div class="govuk-!-padding-top-1 govuk-!-margin-bottom-6">
    {{ file_upload(
        form.file,
        allowed_file_extensions=['pdf'],
        action=url_for('main.letter_template_attach_pages', service_id=current_service.id, template_id=template.id),
        button_text='Upload your file again' if error else 'Choose a different file',
        show_errors=False,
        alternate_link=url_for('main.letter_template_attach_pages', service_id=current_service.id, template_id=template.id) if error else None,
        alternate_link_text='cancel'
    )}}
    </div>
    <div class="template-container">

        {% for page_number in page_numbers %}
          <div class="letter page--{{ loop.cycle('odd', 'even') }}{% if loop.first %} page--first{% endif %}{% if loop.last %} page--last{% endif %}">
            <img src="{{ letter_attachment_image_url }}?page={{ page_number }}" alt="" loading="{{ 'eager' if (page_number==1) else 'lazy' }}">
          </div>
        {% endfor %}

    </div>
    {% if not error %}
    <div class="govuk-!-margin-bottom-2">
      <div class="js-stick-at-bottom-when-scrolling">
        {{ page_footer(
            delete_link=url_for('main.letter_template_edit_pages', template_id=template.id, service_id=service_id),
            delete_link_text='Remove attachment'
        ) }}
      </div>
    </div>
    {% endif %}


{% endblock %}
