{% extends "withnav_template.html" %}
{% from "components/folder-path.html" import folder_path, page_title_folder_path %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ page_title_folder_path(template_folder_path) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row bottom-gutter-1-2">
    <div class="column-whole">
      {{ folder_path(
        folders=template_folder_path,
        service_id=current_service.id,
        template_type='all',
        link_current_item=True
      ) }}
    </div>
  </div>

  {% call form_wrapper(action=url_for('main.manage_template_folder', service_id=current_service.id, template_folder_id=template_folder_id)) %}
    {{ textbox(form.name) }}
    {% if current_service.has_permission("edit_folder_permissions") %}
      <p id="users-with-permissions">Users who can see this folder:</p>
    {% endif %}
    {{ page_footer(
      'Save',
      delete_link=url_for(
        '.delete_template_folder',
        service_id=current_service_id,
        template_folder_id=template_folder_id
      ),
      delete_link_text="Delete this folder") }}
  {% endcall %}

{% endblock %}
