{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% set title = 'Remove Welsh pages' %}
{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.letter_template_change_language', service_id=current_service.id, template_id=template.id) }) }}
{% endblock %}

{% block maincolumn_content %}
  {{ page_header(title) }}

  <p class="govuk-body">Are you sure you want to change the language to English only?</p>

  <p class="govuk-body">This will delete the Welsh pages of your letter template.</p>

  {% call form_wrapper() %}
    <input type="hidden" name="confirm" value="true" />
    {{ page_footer('Remove Welsh pages') }}
  {% endcall %}

{% endblock %}
