{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Set letter contact block
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    'Set letter contact block',
    back_link=url_for('.view_template', service_id=current_service.id, template_id=template_id)
  ) }}
  <div class="grid-row">
    <div class="column-three-quarters">
      {% call form_wrapper() %}
        {{ radios(
          form.sender,
          option_hints=option_hints,
          hide_legend=True
        ) }}
        {{ page_footer('Continue') }}
        <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.service_add_letter_contact', service_id=current_service.id, from_template=template_id) }}">Add new sender</a>
      {% endcall %}
    </div>
  </div>

{% endblock %}
