{% extends "withnav_template.html" %}
{% from "components/api-key.html" import api_key %}
{% from "components/button/macro.njk" import govukButton %}

{% block service_page_title %}
  {{ template.name }}
{% endblock %}

{% block maincolumn_content %}


  <h1 class="heading-large">{{ template.name }}</h1>

  {{ template|string }}

  <div class="page-footer">
    {{ govukButton({
      "element": "a",
      "text": "Continue",
      "href": url_for('.send_test', service_id=current_service.id, template_id=template.id, help=2),
    }) }}
  </div>

{% endblock %}
