{% extends "withnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  {{ template.name }}
{% endblock %}

{% block maincolumn_content %}


  <h1 class="heading-large">{{ template.name }}</h1>

  <div class="govuk-grid-row">
    {% with show_title=False %}
      {% include 'views/templates/_template_history.html' %}
    {% endwith %}
  </div>

  {{ page_footer(
    secondary_link=url_for('.view_template_versions', service_id=current_service.id, template_id=template.id),
    secondary_link_text='See all versions of this template'
  ) }}

{% endblock %}
