{% extends "withnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/textbox.html" import textbox %}
{% from "components/api-key.html" import api_key %}

{% block service_page_title %}
  {{ template.name }}
{% endblock %}

{% block maincolumn_content %}


  <h1 class="heading-large">{{ template.name }}</h1>

  <div class="grid-row">
    {% with show_title=False, expanded=True %}
      {% include 'views/templates/_template.html' %}
    {% endwith %}
  </div>

  <div class="bottom-gutter-2">
    {{ api_key(template.id, name="Template ID", thing='template ID') }}
  </div>

  {{ page_footer(
    secondary_link=url_for('.choose_template', service_id=current_service.id),
    secondary_link_text='All templates'
  ) }}

{% endblock %}
