{% extends "withnav_template.html" %}
{% from "components/email-message.html" import email_message %}
{% from "components/sms-message.html" import sms_message %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/textbox.html" import textbox %}

{% block page_title %}
  {{ template.name }} – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}


  <h1 class="heading-large">{{ template.name }}</h1>

  <div class="grid-row">
    {% include 'views/templates/_template.html' %}
  </div>

  <p>
    <a href="{{ url_for('.choose_template', service_id=current_service.id, template_type=template.template_type) }}">
      All
      {{ 'email' if 'email' == template.template_type else 'text message' }}
      templates
    </a>
  </p>

{% endblock %}
