
{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/banner.html" import banner %}
{% set title = "Add a file" %}
{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.view_template', service_id=current_service.id, template_id=template.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(title) }}
  <div class="govuk-!-margin-bottom-6">
    {{ file_upload(
      form.file,
      allowed_file_extensions=("csv", "jpg", "jpeg", "png", "doc", "docx", "pdf", "json", "odt", "rtf", "txt", "xlsx", "xls", "ods", "xlsm", "tsv")
    ) }}
  </div>

      <p class="govuk-body">
        Upload a file, then send your recipients an email with a link to download it.
      </p>
      <p class="govuk-body">
        You can upload the following file types:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>CSV (.csv)</li>
        <li>image (.jpeg, .jpg, .png)</li>
        <li>Microsoft Excel Spreadsheet (.xlsx)</li>
        <li>Microsoft Word Document (.doc, .docx)</li>
        <li>PDF (.pdf)</li>
        <li>text (.json, .odt, .rtf, .txt)</li>
      </ul>
      <p class="govuk-body">
        Your file must be smaller than 2MB.
      </p>

{% endblock %}
