{% extends "withnav_template.html" %}
{% from "components/radios.html" import radio, conditional_radio_panel, radios_nested %}
{% from "components/select-input.html" import select_wrapper %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer, sticky_page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  Choose the colour of the stripe
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('.branding_request_create_single_identity', service_id=current_service.id, option_chosen='organisation')
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Choose the colour of the stripe') }}

  {% call form_wrapper() %}
    <fieldset class="form-group {% if form.colour.errors %}form-group-error{% endif %} top-gutter">
      <legend class="bottom-gutter-2-3 govuk-visually-hidden">
        Choose the colour of the stripe
      </legend>
      {% if form.coat_of_arms_or_insignia.errors %}
        <span class="error-message" data-module="track-error" data-error-type="Can’t be empty" data-error-label="{{ form.coat_of_arms_or_insignia.name }}">
          You need to choose an option
        </span>
      {% endif %}
      {% for option in form.colour %}
        <div class="multiple-choice" {% if option.data == 'hm-government' %}data-target="colour-selection"{% endif %}>
          <input
            id="{{ option.id }}" name="{{ option.name }}" type="radio" value="{{ option.data }}"
            {% if option.checked %}
              checked
            {% endif %}
          >
          <label class="block-label" for="{{ option.id }}">
            <div style="
              height: 1.4em;
              width: 4px;
              margin-bottom: -0.4em;
              margin-right: 1px;
              margin-left: 5px;
              background: {{ form.organisations[option.data]['colour'] if option.data in form.organisations else 'yellow' }};
              display: inline-block;
            "></div>
            <img src="{{ asset_url('images/branding/insignia/hm-government.png') }}" alt="" height="27"
            style="
            margin-bottom: -0.4em;
            margin-right: 5px;
            ">
            {{ option.label.text }}
            ({{ form.organisations[option.data]['colour-description'] }})
            {% if option.data == 'hm-government' %}
              <div class="block-label-hint" style="margin-left: 55px;">
                Default
              </div>
            {% endif %}
          </label>
        </div>
      {% endfor %}
    </fieldset>

    {{ form.text }}

    {{ sticky_page_footer('Continue') }}

  {% endcall %}

{% endblock %}
