{% extends "withnav_template.html" %}
{% from "components/radios.html" import radio, conditional_radio_panel, radios_nested %}
{% from "components/select-input.html" import select_wrapper %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  Check your new email branding
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('.branding_request_create_single_identity_text', service_id=current_service.id, colour=request.args.get('colour'), coat_of_arms_or_insignia=request.args.get('coat_of_arms_or_insignia'))
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Check your new email branding') }}

  {% call form_wrapper() %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third" style="width: 65px; padding-right:0; padding-top: 3px;">
        <div style="
          height: 1.4em;
          width: 4px;
          margin-right: 1px;
          margin-left: 5px;
          background: {{ form.organisations[request.args.get('colour')]['colour'] }};
          display: inline-block;
        "></div>
        <img src="{{ asset_url('images/branding/insignia/{}.png'.format(request.args.get('coat_of_arms_or_insignia'))) }}" alt="" height="27"
        style="
        display: inline-block;
        margin-top: 5px;
        ">
      </div>
      <div class="govuk-grid-column-three-quarters" style="padding-left: 0">
        <p class="form-group" style="font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 18px; padding-top: 6px;">
          {{ request.args.get('text') }}
        </p>
      </div>
    </div>
    <p class="govuk-body">
      We’ll email you when your branding is ready, or if we need any more information.
    </p>

    {{ page_footer('Request new branding') }}

  {% endcall %}

{% endblock %}
