{% extends "withnav_template.html" %}
{% from "components/radios.html" import radio, conditional_radio_panel %}
{% from "components/select-input.html" import select_wrapper %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  Something else
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    'href': url_for('.branding_request', service_id=current_service.id, branding_type=branding_type)
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Something else') }}

  <p class="govuk-body">
    Should we make an ‘upload’ here?
  </p>

  {% call form_wrapper() %}
    {{ textbox(
      form.something_else,
      hint='Include links to your brand guidelines or examples of how to use your branding',
      width='1-1',
      autosize=True,
    ) }}
    {{ page_footer('Request new branding') }}
  {% endcall %}

{% endblock %}
