{% extends "withnav_template.html" %}
{% from "components/radios.html" import radio, conditional_radio_panel, radios_nested %}
{% from "components/select-input.html" import select_wrapper %}
{% from "components/textbox.html" import textbox %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  Choose your banner colour
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('.branding_request_not_on_file', service_id=current_service.id, option_chosen='organisation')
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Choose your banner colour ') }}

  {% call form_wrapper(class="extra-tracking") %}
    {{ form.colour(param_extensions={"hint": {"text": "For example <span style='font-family:monospace'>#ff0000</span>"|safe}}) }}
    {{ page_footer('Continue') }}
    <p class="govuk-body">
      Don’t know the hex code for your colour? <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.branding_request_create_org_banner_check', service_id=current_service.id, filename=request.args.get('filename')) }}">Skip this step</a>
    </p>
  {% endcall %}

{% endblock %}
