{% extends "withnav_template.html" %}
{% from "components/radios.html" import radio, conditional_radio_panel, radios_nested %}
{% from "components/select-input.html" import select_wrapper %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  Choose a symbol
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('.branding_request_not_on_file', service_id=current_service.id, option_chosen='organisation')
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Choose a symbol') }}

  {% call form_wrapper() %}
    <fieldset class="form-group {% if form.coat_of_arms_or_insignia.errors %}form-group-error{% endif %} top-gutter">
      <legend class="bottom-gutter-2-3 govuk-visually-hidden">
        Choose a symbol
      </legend>
      {% if form.coat_of_arms_or_insignia.errors %}
        <span class="error-message" data-module="track-error" data-error-type="Can’t be empty" data-error-label="{{ form.coat_of_arms_or_insignia.name }}">
          You need to choose an option
        </span>
      {% endif %}
      {% for option in form.coat_of_arms_or_insignia %}
        <div class="multiple-choice">
          <input
            id="{{ option.id }}" name="{{ option.name }}" type="radio" value="{{ option.data }}"
            {% if option.checked %}
              checked
            {% endif %}
          >
          <label class="block-label" for="{{ option.id }}">
            <img src="{{ asset_url('images/branding/insignia/{}.png'.format(option.data)) }}" alt="" height="27"
            style="
            margin-bottom: -0.4em;
            margin-right: 5px;
            ">
            {{ option.label.text }}
            {% if option.data == 'hm-government' %}
              <div class="block-label-hint" style="margin-left: 42px;">
                Default
              </div>
            {% endif %}
          </label>
        </div>
      {% endfor %}
    </fieldset>

    {{ page_footer('Continue') }}

  {% endcall %}

{% endblock %}
