{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}

{% block service_page_title %}
  Check your new branding
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('.email_branding_request', service_id=current_service.id)
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Check your new branding') }}

  <p class="govuk-body">
    Emails from {{ current_service.name }} will look like this.
  </p>

  <iframe src="{{ url_for('main.email_template', branding_style='__NONE__') }}" class="branding-preview"></iframe>

  <h2 class="heading-medium">Before you continue</h2>

  <p class="govuk-body">You can only use GOV.UK branding if people go to GOV.UK to access your service.</p>

  <p class="govuk-body">
    You cannot use GOV.UK branding if your organisation is
    <a class="govuk-link govuk-link--no-visited-state"
      href="https://www.gov.uk/government/publications/govuk-proposition/govuk-proposition#organisations-independent-from-government">independent
      from government</a>.
  </p>

  {% call form_wrapper() %}
    {{ page_footer('Use this branding') }}
  {% endcall %}

{% endblock %}
