{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}

{% block service_page_title %}
  Before you request new branding
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('.email_branding_request', service_id=current_service.id)
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Before you request new branding') }}

  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="https://www.england.nhs.uk/nhsidentity/identity-guidelines/who-can-use-the-nhs-identity/">Check that your service is allowed to use the NHS identity</a>.
  </p>

  <p class="govuk-body">Your new branding should match the rest of your service.</p>

  <p class="govuk-body">We’ll email you once your branding’s ready to use, or if we need any more information.</p>

  {% call form_wrapper() %}
    {{ page_footer('Request new branding') }}
  {% endcall %}

{% endblock %}
