{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/textbox.html" import textbox %}
{% from "components/textarea/macro.njk" import govukTextarea %}

{% block service_page_title %}
  Describe the branding you want
{% endblock %}

{% if branding_options.something_else_is_only_option %}
  {% set back_url = url_for('.service_settings', service_id=current_service.id) %}
{% else %}
  {% set back_url = url_for('.email_branding_request', service_id=current_service.id) %}
{% endif %}

{% block backLink %}
  {{ govukBackLink({"href": back_url}) }}
{% endblock %}

{% block maincolumn_content %}

  {% call form_wrapper(class="govuk-!-margin-top-3") %}
    {{ form.something_else }}
    <p class="form-group">We’ll email you when your branding is ready, or if we need any more information.</p>
    {{ page_footer('Request new branding') }}
  {% endcall %}

{% endblock %}
