{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Change email branding
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    'Change email branding',
    back_link=url_for('main.service_settings', service_id=current_service.id)
  ) }}

  {% call form_wrapper() %}
    {{ radios(form.options) }}
    <p class="form-group">
      We’ll email you once your branding’s ready to use, or if we need any
      more information.
    </p>
    {{ page_footer('Request new branding') }}
  {% endcall %}

{% endblock %}
