{% extends "withnav_template.html" %}
{% from "components/radios.html" import radio %}
{% from "components/select-input.html" import select_wrapper %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}
{% from "components/branding-preview.html" import email_branding_preview %}

{% block service_page_title %}
  Change email branding
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('.service_settings', service_id=current_service.id)
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Change email branding') }}

  <p class="govuk-body">
    Your emails currently have {{ branding_name }} branding.
  </p>

  {{ email_branding_preview(
    current_service.email_branding_id if current_service.email_branding else '__NONE__'
  ) }}

  {% if current_service.needs_to_change_email_branding %}
    <p class="govuk-body">
      You should be using your own branding instead.
    </p>
  {% endif %}

  {% call form_wrapper() %}
      {% call select_wrapper(form.options) %}
        {% for option in form.options %}
          {{ radio(option) }}
        {% endfor %}
      {% endcall %}
    {{ page_footer('Continue') }}
  {% endcall %}

{% endblock %}
