{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/branding-preview.html" import email_branding_preview %}

{% block service_page_title %}
  Change email branding
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('.service_settings', service_id=current_service.id)
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Change email branding') }}

  <p class="govuk-body">
    Your emails currently have {{ current_service.email_branding.name }} branding.
  </p>

  {{ email_branding_preview(
    current_service.email_branding_id if current_service.email_branding else '__NONE__'
  ) }}

  {% if current_service.needs_to_change_email_branding %}
    <p class="govuk-body">
      You should be using your own branding instead.
    </p>
  {% endif %}

  {% call form_wrapper() %}
    {% if form.something_else_is_only_option %}
      <input type="hidden" name="options" value="something_else"/>
    {% else %}
      {{ form.options }}
    {% endif %}
    {{ page_footer('Continue') }}
  {% endcall %}

{% endblock %}
