{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}

{% block service_page_title %}
  Before you request new branding
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('.email_branding_request', service_id=current_service.id)
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Before you request new branding') }}

  <p class="govuk-body">Check that your new branding matches the rest of your service.</p>

  <p class="govuk-body">You can use the GOV.UK logo on your emails if:</p>
  <ul class="list list-bullet">
    <li>your website looks like GOV.UK</li>
    <li>your email links to a website that looks like GOV.UK</li>
    <li>people get an email from your service after using GOV.UK</li>
  </ul>

  <p class="govuk-body">
    You cannot use GOV.UK branding if your organisation is
    <a class="govuk-link govuk-link--no-visited-state"
      href="https://www.gov.uk/government/publications/govuk-proposition/govuk-proposition#organisations-independent-from-government">independent
      from government</a>.
  </p>

  <p class="govuk-body">We’ll email you once your branding’s ready to use, or if we need any more information.</p>

  {% call form_wrapper() %}
    {{ page_footer('Request new branding', button_name='branding_choice', button_value=('govuk_and_org' if with_org == 'True' else 'govuk')) }}
  {% endcall %}

{% endblock %}
