{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "components/branding-preview.html" import email_branding_preview %}

{% block service_page_title %}
  Create a government identity logo
{% endblock %}

{% block backLink %}
  {{ govukBackLink({"href": back_link }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Create a government identity logo') }}

  {% if example %}
    {{ email_branding_preview(example.id) }}
  {% endif %}

  <p class="govuk-body">
    A government identity logo is made up of:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>a coloured line</li>
    <li>a symbol, for example the Royal Coat of Arms</li>
    <li>text, usually the organisation name</li>
  </ul>

  <p class="govuk-body">
    You will need to enter the text that will appear in the logo.
  </p>
  <p class="govuk-body">
    We will select the appropriate symbol and coloured line for you.
  </p>
  <p class="govuk-body">
    It can take up to 1 working day for us to create a new logo.
  </p>

  {{ govukButton({
    "element": "a",
    "text": "Continue",
    "href": url_for('.email_branding_enter_government_identity_logo_text', service_id=service_id)
  }) }}

{% endblock %}
