{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/branding-preview.html" import letter_branding_preview %}

{% set page_title = "Change letter branding" %}

{% block service_page_title %}
  {{  page_title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('.letter_branding_request', service_id=current_service.id)
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(page_title) }}

  <p class="govuk-body">
    If you confirm, your letters will come with {{ chosen_branding.name }} branding.
  </p>

  {{ letter_branding_preview(chosen_branding.id) }}


  {% call form_wrapper() %}
    {{ page_footer('Change letter branding') }}
  {% endcall %}

{% endblock %}
