{% extends "content_template.html" %}

{% from "components/content-metadata.html" import content_metadata %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Over Notify' %}

{% block per_page_title %}
  Routekaart
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Routekaart</h1>

  {{ content_metadata(
    data={
      "Laatst bijgewerkt": "20 maart 2025",
      "Volgende beoordeling": "20 juni 2025"
    }
  ) }}

  <p class="govuk-body">De routekaart van NotifyNL laat zien waar we aan werken en enkele <a class="govuk-link govuk-link--no-visited-state" href="#things-we-have-done">zaken die we hebben afgerond</a>.</p>
  <p class="govuk-body">De routekaart is slechts een richtlijn. Het omvat niet alles wat we doen, en sommige zaken kunnen veranderen.</p>
  <p class="govuk-body">U kunt <a class="govuk-link govuk-link--no-visited-state" href="{{url_for('main.support')}}">contact met ons opnemen</a> als u vragen heeft over de routekaart, wilt meedoen aan gebruikersonderzoek of suggesties heeft voor nieuwe functionaliteiten.</p>

  <h2 class="heading-medium" id="things-we-are-working-on">Waar we nu aan werken</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Verbeteren van de manier waarop we onze prestaties meten</li>
    <li>‘Economy mail’ toevoegen aan de lijst met verzendopties</li>
    <li>Het makkelijker maken om Notify te gaan gebruiken</li>
    <li>Gebruikers laten deelnemen aan een bestaande dienst</li>
    <li>Onze front-end code verbeteren om te voldoen aan <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG22/">WCAG 2.2</a> toegankelijkheidsdoelen</li>
    <li>Websitegebruikers bestanden per e-mail laten versturen</li>
    <li>Verbeteren van de Notify API</li>
    <li>High-volume diensten een rapport laten downloaden van de berichten die zij hebben verstuurd</li>
    <li>Onze <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_security') }}">beveiliging</a> herzien volgens het Cyber Assessment Framework</li>
    <li>Manieren onderzoeken om diensten te helpen betere berichten te schrijven</li>
    <li>Onze interne monitoring- en waarschuwingssystemen bijwerken</li>
    <li>Ons proces voor het opsporen van sms-fraude herzien</li>
  </ul>

  <h2 class="heading-medium" id="things-we-will-do-later">Waar we later aan werken</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Nieuwe manieren onderzoeken om onze capaciteit te vergroten</li>
    <li>Het begrijpelijker maken hoe sms-prijzen werken</li>
    <li>Het facturatie- en betalingsproces verbeteren</li>
    <li>Het makkelijker maken voor diensten om de gebruiksgegevens te zien die ze nodig hebben</li>
    <li>Diensten via de API laten toevoegen en bewerken van berichtsjablonen</li>
    <li>Manieren onderzoeken om de relatie tussen organisaties en hun diensten te vereenvoudigen</li>
    <li>Meer organisaties hun eigen diensten laten goedkeuren (publieke <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/service-manual/agile-delivery/how-the-beta-phase-works">bèta</a>)</li>
  </ul>

  <h2 class="heading-medium" id="things-we-have-done">Wat we hebben gedaan</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>API callbacks toegevoegd voor geretourneerde brieven</li>
    <li>Een nieuwe ontwikkelomgeving toegevoegd voor het prototypen en testen van nieuwe functionaliteiten</li>
    <li>Onze jaarlijkse IT-gezondheidscheck uitgevoerd</li>
    <li>Een nieuwe omgeving en deployment pipeline toegevoegd om ontwikkeling veiliger te maken</li>
    <li>NCSC-richtlijnen voor NHS-diensten nageleefd door gebruik van een consistente <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_text_message_sender') }}">sms-afzender-ID</a></li>
    <li>Onze ontwerpcomponenten gemigreerd naar versie 5 van het <a class="govuk-link govuk-link--no-visited-state" href="https://design-system.service.gov.uk/components/">GOV.UK Design System</a></li>
    <li>Ontvangers kunnen zich met één klik afmelden voor e-mails</li>
    <li>Diensten kunnen <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_unsubscribe_links') }}">afmeldverzoeken beheren</a></li>
    <li>JPG en PNG toegevoegd aan de lijst met bestandstypen die diensten per e-mail kunnen versturen</li>
    <li>Moeilijker gemaakt om brieven naar niet-bestaande adressen te versturen</li>
    <li>Nieuwe manieren gevonden om ontvangers te beschermen tegen sms-fraude</li>
    <li>Diensten die de Notify API gebruiken kunnen hun facturatiegegevens inzien</li>
    <li>Een update van onze <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.terms_of_use') }}">gebruikersvoorwaarden</a> aangekondigd</li>
    <li>Verschillende problemen opgelost die vermeld staan in onze <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.accessibility_statement') }}">toegankelijkheidsverklaring</a></li>
    <li>API-verbeteringen geïdentificeerd en geprioriteerd (ontdekking)</li>
    <li>Onze applicaties gemigreerd van GOV.UK PaaS naar <a class="govuk-link govuk-link--no-visited-state" href="https://gds.blog.gov.uk/2024/08/14/how-we-migrated-gov-uk-notify-to-aws-elastic-container-service">Amazon Elastic Container Service</a></li>
    <li>Nieuwe notificatiekanalen onderzocht (ontdekking)</li>
  </ul>

{% endblock %}
