<h2 class="heading-medium">Een QR-code toevoegen aan een brieftemplate</h2>
<p class="bottom-gutter-1-3">
  Kopieer dit voorbeeld om dezelfde QR-code toe te voegen aan elke brief die u verstuurt:
</p>
<pre class="formatting-example"><code class="lang-md">QR: https://www.gov.uk/example
</code></pre>
<p class="bottom-gutter-1-3">
  Kopieer dit voorbeeld als de hele link bij elke brief verandert:
</p>
<pre class="formatting-example"><code class="lang-md">QR: ((link))
</code></pre>
<p class="bottom-gutter-1-3">
  Kopieer dit voorbeeld als slechts een deel van de link bij elke brief verandert:
</p>
<pre class="formatting-example"><code class="lang-md">QR: https://www.example.com?reference=((link reference))
</code></pre>
