{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "/components/list.html" import render_list_or_string %}
{% from "components/file-upload.html" import file_upload %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}

{% block service_page_title %}
  Error
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.upload_contact_list', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="bottom-gutter-1-2">
    {% call banner_wrapper(type='dangerous') %}

      {% if recipients.too_many_rows %}

        <h1 class='banner-title'>
          Your file has too many rows
        </h1>
        <p class="govuk-body">
          Notify can store files up to
          {{ recipients.max_rows|format_thousands }} rows in size. Your
          file has {{ recipients|length|format_thousands }} rows.
        </p>

      {% elif not recipients.allowed_to_send_to %}

        <h1 class='banner-title'>
          You cannot save
          {{ 'this' if recipients|length == 1 else 'these' }}
          {{ recipients|length|recipient_count_label(recipients.template_type) }}
        </h1>
        <p class="govuk-body">
          In <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_trial_mode') }}">trial mode</a> you can only
          send to yourself and members of your team
        </p>

      {% endif %}
    {% endcall %}
  </div>

  <div class="js-stick-at-top-when-scrolling">
    <div class="govuk-form-group">
      {{ file_upload(
        form.file,
        allowed_file_extensions=allowed_file_extensions,
        action=url_for('main.upload_contact_list', service_id=current_service.id),
        button_text='Upload your file again'
      ) }}
    </div>
    <a href="#main-content" class="govuk-link govuk-link--no-visited-state back-to-top-link">Back to top</a>
  </div>

  <h2 class="heading-medium" id="file-preview">{{ original_file_name }}</h2>

  {% set table_headers = [
    {
      "html": '<span class="govuk-visually-hidden">Row in file</span> <span aria-hidden="true">1</span>'
    }
  ] %}
  {% for header in recipients.column_headers %}
    {% do table_headers.append({ "html": header, "text": "" }) %}
  {% endfor %}

  {% set table_rows = [] %}
  {% for item in recipients.displayed_rows %}
    {% set current_row = [] %}
    {% do current_row.append({ "text": item.index + 2 }) %}

    {% for column in recipients.column_headers %}
      {% set cell_dict = {
        "html": render_list_or_string(item[column].data)
      } %}
      {% if item[column].ignore %}
        {% do cell_dict.update({ "classes": "govuk-table__cell--default" }) %}
      {% endif %}
      {% do current_row.append(cell_dict) %}
    {% endfor %}

    {% if item[None].data %}
      {% for column in item[None].data %}
        {% do current_row.append({
          "html": render_list_or_string(column),
          "classes": "govuk-table__cell--default"
        }) %}
      {% endfor %}
    {% endif %}

    {% do table_rows.append(current_row) %}
  {% endfor %}

  <div class="fullscreen-content" data-notify-module="fullscreen-table">
    {{ govukTable({
      "caption": original_file_name,
      "captionClasses": "govuk-visually-hidden",
      "firstCellIsHeader": true,
      "classes": "notify-table notify-table--body-small",
      "head": table_headers,
      "rows": table_rows
    }) }}
  </div>

  {% if recipients.displayed_rows|list|length < recipients|length %}
    <p class="more-items-available-text">
      Only showing the first {{ recipients.displayed_rows|list|length }} rows
    </p>
  {% endif %}

{% endblock %}
