{% extends "withnav_template.html" %}
{% from "components/big-number.html" import big_number %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{% block service_page_title %}
  {{ contact_list.original_file_name }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.uploads', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(contact_list.original_file_name) }}

  <p class="govuk-body">
    Uploaded by {{ contact_list.created_by }} {{ contact_list.created_at|format_datetime_human }}.
  </p>

  {% if jobs %}
    <p class="govuk-body">
      Used {{ jobs|length|iteration_count }}
      in the last {{ current_service.get_days_of_retention(contact_list.template_type) }}
      days.
    </p>
    <div class="ajax-block-container">
      {% set jobs_list = [] %}
      {% for item in jobs %}
        {% set summary_key_html %}
          <a class="notify-summary-list__filename notify-summary-list__filename--large govuk-link govuk-link--no-visited-state" href="{{ url_for('main.view_job', service_id=current_service.id, job_id=item.id) }}">{{ item.template_name }}</a>
          {% if item.scheduled %}
            <span class="file-list-hint-large">
              Sending {{
                item.scheduled_for|format_datetime_relative
              }}
            </span>
          {% else %}
            <span class="file-list-hint-large">
              Sent {{
                (item.scheduled_for or item.created_at)|format_datetime_relative
              }}
            </span>
          {% endif %}
        {% endset %}
        {% set summary_value_html %}
          {% if item.scheduled %}
            {{ big_number(
              item.notification_count,
              smallest=True,
              label=item.notification_count|message_count_label(
                item.template_type,
                suffix='waiting to send'
              )
            ) }}
          {% else %}
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                {{ big_number(
                  item.notifications_sending,
                  smallest=True,
                  label='delivering',
                ) }}
              </div>
              <div class="govuk-grid-column-one-third">
                {{ big_number(item.notifications_delivered, smallest=True, label='delivered') }}
              </div>
              <div class="govuk-grid-column-one-third">
                {{ big_number(item.notifications_failed, smallest=True, label='failed') }}
              </div>
            </div>
          {% endif %}
        {% endset %}
        {% do jobs_list.append({
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--50-100",
            "html": summary_key_html,
          },
          "value": {
            "classes": "",
            "html":  summary_value_html,
          }
        }) %}
      {% endfor %}

      {{ govukSummaryList({
        "classes": "notify-summary-list",
        "rows": jobs_list
      }) }}
    </div>
  {% else %}
    <p class="govuk-body">
      {% if contact_list.has_jobs %}
        Not used in the last {{ current_service.get_days_of_retention(contact_list.template_type) }} days.
      {% else %}
        Not used yet.
      {% endif %}
    </p>
  {% endif %}

  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
    {{ contact_list.recipients|length|format_thousands }} saved {{ contact_list.recipients|length|recipient_count_label(contact_list.template_type) }}
  </h2>

  {% set recipient_column = contact_list.recipients.column_headers[0] %}

  <ul class="contact-list govuk-list govuk-list--bordered">
    {% for item in contact_list.recipients.displayed_rows %}
    <li>
      {{ item[recipient_column].data }}
    </li>
    {% endfor %}
  </ul>

  {% if contact_list.recipients.displayed_rows|list|length < contact_list.recipients|length %}
    <p class="govuk-body more-items-available-text">
      Only showing the first {{ contact_list.recipients.displayed_rows|list|length }} rows
    </p>
  {% endif %}
 
  <div class="js-stick-at-bottom-when-scrolling">
    <div class="page-footer">
      {% if not confirm_delete_banner %}
        <span class="page-footer-link page-footer-delete-link-without-button">
          <a class="govuk-link govuk-link--destructive" href="{{ url_for('main.delete_contact_list', service_id=current_service.id, contact_list_id=contact_list.id) }}">Delete this contact list</a>
        </span>
      {% endif %}
      <a class="govuk-link govuk-link--no-visited-state page-footer-right-aligned-link-without-button" href="{{ url_for('main.download_contact_list', service_id=current_service.id, contact_list_id=contact_list.id) }}">Download this contact list (<abbr title="Comma separated values">CSV</abbr>)</a>
    </div>
  </div>


{% endblock %}
