{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "/components/list.html" import render_list_or_string %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}

{% block service_page_title %}
  {{ original_file_name }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.upload_contact_list', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(original_file_name) }}

  <p class="govuk-body">
    {{ recipients|length|recipient_count(recipients.template_type) }} found
  </p>

  <div class="bottom-gutter-3-2">
    <form method="post" enctype="multipart/form-data" action="{{ url_for('main.save_contact_list', service_id=current_service.id, upload_id=upload_id) }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {{ govukButton({ "text": "Save contact list" }) }}
    </form>
  </div>

  <h2 class="govuk-heading-m">
    File preview
  </h2>

  {% set table_headers = [
    {
      "html": '<span class="govuk-visually-hidden">Row in file</span> <span aria-hidden="true">1</span>',
      "text": ""
    }
  ] %}
  {% for header in recipients.column_headers %}
    {% do table_headers.append({ "html": header, "text": "" }) %}
  {% endfor %}

  {% set table_rows = [] %}
  {% for item in recipients.displayed_rows %}
    {% set current_row = [] %}
    {% do current_row.append({ "text": item.index + 2 }) %}

    {% for column in recipients.column_headers %}
      {% set cell_dict = {
        "html": render_list_or_string(item[column].data)
      } %}
      {% if item[column].ignore %}
        {% do cell_dict.update({ "classes": "govuk-table__cell--default" }) %}
      {% endif %}
      {% do current_row.append(cell_dict) %}
    {% endfor %}

    {% if item[None].data %}
      {% for column in item[None].data %}
        {% do current_row.append({
          "html": render_list_or_string(column),
          "classes": "govuk-table__cell--default"
        }) %}
      {% endfor %}
    {% endif %}

    {% do table_rows.append(current_row) %}
  {% endfor %}
  <div class="fullscreen-content" data-notify-module="fullscreen-table">
    {{ govukTable({
      "caption": original_file_name,
      "captionClasses": "govuk-visually-hidden",
      "firstCellIsHeader": true,
      "classes": "notify-table notify-table--body-small",
      "head": table_headers,
      "rows": table_rows
    }) }}
  </div>

  {% if recipients.displayed_rows|list|length < recipients|length %}
    <p class="more-items-available-text">
      Only showing the first {{ recipients.displayed_rows|list|length }} rows
    </p>
  {% endif %}

{% endblock %}
