{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/file-upload.html" import file_upload %}
{% from "/components/list.html" import render_list_or_string %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}

{% block service_page_title %}
  Error
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.upload_contact_list', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="bottom-gutter-1-2">
    {% call banner_wrapper(type='dangerous') %}

      {% if not recipients|length %}

        <h1 class='banner-title'>
          Your file is missing some rows
        </h1>
        <p class="govuk-body">
          It needs at least one row of data
          {%- if template_type %}.{% else %}, in a column called ‘email address’ or ‘phone number’.{% endif %}
        </p>

      {% elif recipients.column_headers|length == 1 %}

        <h1 class='banner-title'>
          Your file needs a column called ‘email address’ or ‘phone number’.
        </h1>
        <p class="govuk-body">
          Right now it has 1 column called ‘{{ recipients._raw_column_headers[0] }}’.
        </p>

      {% else %}

        <h1 class='banner-title'>
          Your file has too many columns
        </h1>
        <p class="govuk-body">
          It needs to have 1 column, called ‘email address’ or ‘phone number’.
        </p>
        <p class="govuk-body">
          Right now it has {{ recipients._raw_column_headers|length }} columns called {{ recipients._raw_column_headers | formatted_list(max_items_shown=512, word_for_items_not_shown="more")  }}.
        </p>

      {% endif %}
    {% endcall %}
  </div>


  <div class="js-stick-at-top-when-scrolling">
    <div class="govuk-form-group">
      {{ file_upload(
        form.file,
        allowed_file_extensions=allowed_file_extensions,
        action=url_for('main.upload_contact_list', service_id=current_service.id),
        button_text='Upload your file again'
      ) }}
    </div>
    <a href="#main-content" class="govuk-link govuk-link--no-visited-state back-to-top-link">Back to top</a>
  </div>

    {% set column_headers = recipients._raw_column_headers[:512] if recipients.duplicate_recipient_column_headers else recipients.column_headers %}

    <h2 class="heading-medium" id="file-preview">{{ original_file_name }}</h2>

    {% set table_headers = [
      {
        "html": '<span class="govuk-visually-hidden">Row in file</span> <span aria-hidden="true">1</span>',
      }
    ] %}
    {% for header in column_headers %}
      {% do table_headers.append({ "html": header, "text": "" }) %}
    {% endfor %}

    {% set table_rows = [] %}
    {% for item in recipients.displayed_rows %}
      {% set current_row = [] %}
      {% do current_row.append({ "text": item.index + 2 }) %}

      {% for column in column_headers %}
        {% set cell_dict = {
          "html": render_list_or_string(item[column].data)
        } %}
        {% if item[column].ignore %}
          {% do cell_dict.update({ "classes": "govuk-table__cell--default" }) %}
        {% endif %}
        {% do current_row.append(cell_dict) %}
      {% endfor %}

      {% if item[None].data %}
        {% for column in item[None].data %}
          {% do current_row.append({
            "html": render_list_or_string(column),
            "classes": "govuk-table__cell--default"
          }) %}
        {% endfor %}
      {% endif %}

      {% do table_rows.append(current_row) %}
    {% endfor %}

    <div class="fullscreen-content" data-notify-module="fullscreen-table">
      {{ govukTable({
        "caption": original_file_name,
        "classes": "notify-table notify-table--body-small",
        "captionClasses": "govuk-visually-hidden",
        "firstCellIsHeader": true,
        "head": table_headers,
        "rows": table_rows
      }) }}
    </div>

  {% if recipients.displayed_rows|list|length < recipients|length %}
    <p class="more-items-available-text">
      Only showing the first {{ recipients.displayed_rows|list|length }} rows
    </p>
  {% endif %}

{% endblock %}
