{% extends "withnav_template.html" %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Files
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    Uploads
  </h1>

  <p class="hint">No uploads yet</p>

  <div class="js-stick-at-bottom-when-scrolling">
    <a href="{{ url_for('main.new_contact_list', service_id=current_service.id) }}" class="button-secondary">New contact list</a>
    <a href="{{ url_for('main.import_letters', service_id=current_service.id) }}" class="button-secondary">New batch of letters</a>
  </div>
{% endblock %}
