{% extends "withnav_template.html" %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Upload contact list
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    Upload contact list
  </h1>

  <p>
    Contact lists let you save email addresses or phone numbers to use later.
  </p>

  <p class="button">
    Choose a file
  </p>


{% endblock %}
