{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/file-upload.html" import file_upload %}

{% block service_page_title %}
  New batch one
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    Upload letters
  </h1>

  <p>
    Each letter must be saved as a separate file.
  </p>

  <div class="bottom-gutter">
    {{ file_upload(form.file, button_text='Choose files', multiple=True) }}
  </div>

  <p class="bottom-gutter">
    Or <a href="{{ url_for('main.import_letters_collated_chunk', service_id=current_service.id) }}">upload all your letters in one file</a>.
  </p>

  <h2 class="heading-medium">
    Check your files meet the letter specification
  </h2>
  <p>
    Your files must be:
  </p>
  <ul class="list list-bullet">
    <li>saved as PDFs</li>
    <li>no more than 10 pages long</li>
    <li>less than 2MB each</li>
  </ul>
  <p>
    The content of your letter must appear inside the printable area.
  </p>
  <p>
    <a href="https://docs.notifications.service.gov.uk/documentation/images/notify-pdf-letter-spec-v2.3.pdf">Download the letter specification for more information</a>.
  </p>

{% endblock %}
