{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/table.html" import list_table, row_heading, field %}
{% from 'components/big-number.html' import big_number %}
{% from 'components/message-count-label.html' import message_count_label %}

{% block service_page_title %}
  {{ heading }}
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="column-five-sixths">
      <h1 class="heading-medium">
        {{ page_header(heading) }}
      </h1>
    </div>
    <div class="column-one-sixth">
      {% if not done %}<a href="{{ manage_link }}" class="folder-heading-manage-link">Manage</a>{% endif %}
    </div>
  </div>

  {% if done %}
    <p>
      Sent by {{ current_user.name }} today at {{ time_now }}
    </p>

    <div class="grid-row bottom-gutter-2-3">
      <div class="column-half">
        <div class="keyline-block">
          {{ big_number(
            files|length,
            message_count_label(total, 'letter', suffix='')|capitalize,
            smaller=True
          )}}
        </div>
      </div>
      <div class="column-half">
        <div class="keyline-block">
          {{ big_number(
            edd,
            'Estimated delivery date',
            smaller=True
          )}}
        </div>
      </div>
    </div>

  {% else %}

    <div data-module='fake-delay' data-timeout='{{ files|length * 1000 }}' data-message='Checking your files' class="bottom-gutter top-gutter-1-3">

      <p>
        Postage: second class
      </p>

      <p>
        If you send now, printing will start today at 5.30pm
      </p>
      <a href="{{ request.url }}&done=true" class="button">
      {% if files|length == 1 %}
        Send 1 letter
      {% else %}
        Send these {{ files|length }} letters
      {% endif %}

      </a><!--&emsp;<span style="display: inline-block;padding-top: 10px;">If you send now, printing will start today at 5.30pm</span>-->
    </div>

  {% endif %}



  {% if not files %}

    <p class="hint">
      No letters yet…
    </p>

  {% else %}
    {% call(item, row_number) list_table(
      files,
      caption=uploaded_file_name,
      caption_visible=False,
      empty_message="No messages to show",
      field_headings=[
        'Recipient',
        'Status'
      ],
      field_headings_visible=False
    ) %}
      {% call row_heading() %}
        <a class="file-list-filename" href="{{ url_for('.batch_one_file', service_id=current_service.id, filename=item) }}">{{ item }}</a>
        <p class="file-list-hint">
          {% if done %}Uploaded today at {{ time_now }}{% else %}Uploaded just now{% endif %}
        </p>
      {% endcall %}
      {% call field(
        status='',
        align='right'
      ) %}
        {% if done %}
        {% else %}
          <span data-module='fake-delay' data-timeout='{{ range(800, files|length * 1000) | random }}' data-message='Checking'>
            Ready to send
          </span>
        {% endif %}
      {% endcall %}
    {% endcall %}
  {% endif %}

  <div class="js-stick-at-bottom-when-scrolling">
    {% if done %}
      <span class="page-footer-delete-link page-footer-delete-link-without-button">
        <a href="{{ url_for('main.cancel_letter', service_id=current_service.id, notification_id=notification_id) }}">Cancel sending these letters</a>
      </span>
    {% else %}
      <a href="{{ url_for('main.import_letters', service_id=current_service.id) }}" class="button-secondary">Upload more letters</a>
    {% endif %}
  </div>


{% endblock %}
