{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}
{% from "components/radios.html" import radios %}
{% from "components/textbox.html" import textbox %}

{% block service_page_title %}
  {{ heading }}
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    {{ heading }}
  </h1>

  {{ textbox(form.name) }}
  {{ radios(form.postage) }}
  <a class="button" href="{{ back_link }}">Save</a>

{% endblock %}
