{% extends "withnav_template.html" %}
{% from "components/radios.html" import radio %}
{% from "components/select-input.html" import select_wrapper %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/table.html" import list_table, row_heading, field %}
{% from 'components/big-number.html' import big_number %}
{% from 'components/message-count-label.html' import message_count_label %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/banner.html" import banner_wrapper %}

{% block service_page_title %}
  {{ heading }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(heading) }}

  {% if done %}

    {{ banner("Your letters have been sent. Printing starts today at 5:30pm.", type='default', with_tick=True) }}

    <div class="grid-row bottom-gutter-2-3">
      <div class="column-half">
        <div class="keyline-block">
          {{ big_number(
            files|length,
            message_count_label(total, 'letter', suffix='')|capitalize,
            smaller=True
          )}}
        </div>
      </div>
      <div class="column-half">
        <div class="keyline-block">
          {{ big_number(
            edd,
            'Estimated delivery date',
            smaller=True
          )}}
        </div>
      </div>
    </div>

  {% else %}

    <div data-module='fake-delay' data-timeout='{{ files|length * 2000 }}' data-message='Checking your letters' data-progress='true' class="bottom-gutter top-gutter-1-3">

      {% if pages_with_errors %}
        {% call banner_wrapper(type='dangerous') %}
          <h1 class='banner-title'>
            There is a problem with one of your letters
          </h1>
          <p>
            Make sure your file meets our <a href="https://docs.notifications.service.gov.uk/documentation/images/notify-pdf-letter-spec-v2.3.pdf">letter specification</a> and try again
          </p>
        {% endcall %}
        <div class="bottom-gutter-3-2">
          {{ file_upload(
            reupload_form.file,
            button_text='Re-upload your file',
            multiple=False,
            action=url_for('main.import_letters', service_id=current_service.id)
          ) }}
        </div>
      {% else %}
        <p>
          If you send now, printing will start today at 5.30pm
        </p>

        <div style="margin-bottom: -15px;">
        {% call select_wrapper(form.postage, hide_legend=True, inline=True) %}
          {% for option in form.postage %}
            {{ radio(option) }}
          {% endfor %}
        {% endcall %}
        </div>

        <a href="{{ request.url }}&done=true" class="button">
        {% if files|length == 1 %}
          Send 1 letter
        {% else %}
          Send {{ files|length }} letters
        {% endif %}
        </a>
      {% endif %}

    </div>

  {% endif %}



  {% if not files %}

    <p class="hint">
      No letters yet…
    </p>

  {% else %}

    <div class="dashboard-table">
      {% call(item, row_number) list_table(
        files,
        caption=uploaded_file_name,
        caption_visible=False,
        empty_message="No messages to show",
        field_headings=[
          'Recipient',
          'Status'
        ],
        field_headings_visible=False
      ) %}
        {% call row_heading() %}
          {% if done %}
            <a class="file-list-filename" href="{{ url_for('.batch_one_file', service_id=current_service.id, filename=item) }}">
              {{ addresses[row_number - 2] }}
            </a>
          {% else %}
            <a class="file-list-filename" href="{{ url_for('.batch_one_file_preview', service_id=current_service.id, filename=item, index=row_number) }}">
              {{ addresses[row_number - 2] }}
            </a>
          {% endif %}
          <p class="file-list-hint">
            1 page
          </p>
        {% endcall %}
        {% call field(
          status='error' if row_number in pages_with_errors else '',
          align='right'
        ) %}
          <span class="align-with-message-body">
            {% if done %}
            {% elif row_number in pages_with_errors %}
              Cannot print
            {% else %}
              <span data-module='fake-delay' data-timeout='{{ range(800, files|length * 2000) | random }}' data-message='Checking'>
                Ready to send
              </span>
            {% endif %}
          </span>
        {% endcall %}
      {% endcall %}
    </div>

  {% endif %}

  {% if done %}
  <div class="js-stick-at-bottom-when-scrolling">
    <span class="page-footer-delete-link page-footer-delete-link-without-button">
      <a href="{{ url_for('main.cancel_letter', service_id=current_service.id, notification_id=notification_id) }}">Cancel sending these letters</a>
    </span>
  </div>
  {% endif %}


{% endblock %}
