{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/radios.html" import radios %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}

{% block service_page_title %}
  {{ heading }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(heading, back_link=back_link) }}
  {{ textbox(form.name) }}
  {{ radios(form.postage) }}
  <a class="button" href="{{ back_link }}">Save</a>

{% endblock %}
