{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  New batch one
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    Import letters
  </h1>

  <p class="button">
    Choose file(s)
  </p>

  <h2 class="heading-medium">
    Check your files meet the letter specification
  </h2>
  <p>
    Your files must be:
  </p>
  <ul class="list list-bullet">
    <li>a PDF</li>
    <li>no more than 10 pages long</li>
    <li>less than 2MB</li>
  </ul>
  <p>
    <a href="{{ url_for('main.import_letters_collated_chunk', service_id=current_service.id) }}">I want to upload a file that contains more than one letter</a>
  </p>
  <p>
    The content of your letter must appear inside the printable area.
  </p>
  <p>
    Download the letter specification for more information.
  </p>

{% endblock %}
