{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radios %}

{% block service_page_title %}
  New batch one
{% endblock %}

{% block maincolumn_content %}

  {{ page_header("How many pages long is each letter?", back_link=url_for('main.import_letters', service_id=current_service.id)) }}

  {% call form_wrapper() %}
    {{ radios(form.page_count, hide_legend=True) }}
    {{ page_footer('Continue') }}
  {% endcall %}

{% endblock %}
