<h2 class="heading-medium">Opmaak</h2>
<h3 class="heading-small">Koppen</h3>
<p class="govuk-body">
  Gebruik één hekje gevolgd door een spatie voor een kop, bijvoorbeeld:
</p>
<pre class="formatting-example"><code class="lang-md"># Dit is een kop</code></pre>

{% include "partials/templates/guidance-bullet-points.html" %}

<h3 class="heading-small">Genummerde stappen</h3>
<p class="bottom-gutter-1-3">
  Kopieer dit voorbeeld om een genummerde lijst toe te voegen:
</p>
<pre class="formatting-example"><code class="lang-md">1. Laat één lege regel voordat je met de lijst begint.
2. Typ een nummer gevolgd door een punt en een spatie om een item toe te voegen.
3. Begin elk item met een hoofdletter en eindig met een punt.
4. Laat één lege regel na het laatste item.
</code></pre>
<p class="govuk-body">Om subitems te maken, voeg je 2 spaties in vóór het nummer.</p>
<h3 class="heading-small">Pagina-einden</h3>
<p class="govuk-body">
  Om een pagina-einde in te voegen, gebruik je 3 sterretjes. Bijvoorbeeld:
</p>
<pre class="formatting-example"><code class="lang-md">Inhoud op pagina 1

***

Inhoud op pagina 2
</code></pre>
