<h2 class="heading-medium">Opmaak</h2>
<h3 class="heading-small">Koppen en subkoppen</h3>
<p class="bottom-gutter-1-3">
  Gebruik één hekje gevolgd door een spatie voor een kop, bijvoorbeeld:
</p>
<pre class="formatting-example"><code class="lang-md"># Dit is een kop
</code></pre>
<p class="bottom-gutter-1-3">
  Om een subkop toe te voegen, gebruik je 2 hekjes:
</p>
<pre class="formatting-example"><code class="lang-md">## Dit is een subkop
</code></pre>

{% include "partials/templates/guidance-bullet-points.html" %}

<h3 class="heading-small">Genummerde stappen</h3>
<p class="bottom-gutter-1-3">
  Kopieer dit voorbeeld om genummerde stappen toe te voegen:
</p>
<pre class="formatting-example"><code class="lang-md">1. Laat één lege regel voordat je met de lijst begint.
2. Typ een nummer gevolgd door een punt en een spatie om een item toe te voegen.
3. Begin elk item met een hoofdletter en eindig met een punt.
4. Laat één lege regel na het laatste item.
</code></pre>
<p class="govuk-body">Om subitems te maken, voeg je 2 spaties in vóór het nummer.</p>
<h3 class="heading-small">Ingezette tekst</h3>
<p class="govuk-body">
  Om ingezette tekst toe te voegen, gebruik je een dakje. Bijvoorbeeld:
</p>
<pre class="formatting-example"><code class="lang-md">^ Je moet ons informeren als je situatie verandert.
</code></pre>
<h3 class="heading-small">Horizontale lijnen</h3>
<p class="govuk-body">
  Om een horizontale lijn tussen 2 alinea’s toe te voegen, gebruik je 3 streepjes. Laat één lege regel na de eerste alinea. Bijvoorbeeld:
</p>
<pre class="formatting-example"><code class="lang-md">Eerste alinea

---
Tweede alinea
</code></pre>
