<h2 class="heading-medium">
  Bestanden per e-mail versturen
</h2>
<p class="govuk-body">
  Gebruik dubbele haken om een placeholderveld aan uw template toe te voegen. Dit bevat een beveiligde link om het bestand te downloaden.
</p>
<pre class="formatting-example"><code class="lang-md">Download uw bestand via: ((link_to_file))
</code></pre>

<p class="govuk-body">Gebruik vervolgens de API om uw bestand te uploaden. Volg de instructies om een bestand per e-mail te versturen in de <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_api_documentation') }}">API-documentatie</a>.</p>
