<h2 class="heading-medium">
  Optionele inhoud
</h2>
<p class="govuk-body">
  Om uw berichten aan te passen voor verschillende doelgroepen:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>zet de optionele inhoud tussen dubbele haakjes</li>
  <li>geef het een unieke naam voor de placeholder, gevolgd door 2 vraagtekens</li>
</ul>
<p class="bottom-gutter-1-3">
  Bijvoorbeeld, als u iets alleen aan mensen onder de 18 wilt laten zien:
</p>
<pre class="formatting-example"><code class="lang-md">((under18??Vraag een ouder of voogd om uw aanvraag te ondertekenen.))
</code></pre>
<div class="govuk-inset-text">
  <p class="govuk-body">U kunt geen placeholder voor personalisatie toevoegen binnen optionele inhoud.</p>
</div>
<p class="govuk-body">
  Voor elke persoon aan wie u dit bericht stuurt, geeft u ‘ja’ of ‘nee’ op om deze inhoud wel of niet te tonen.
</p>
