{% extends "org_template.html" %}

{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/error-summary.html" import errorSummary %}

{% block org_page_title %}
  Invite a team member
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.manage_org_users', org_id=current_org.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ errorSummary(form) }}

  {{ page_header("Invite a team member") }}

  {% call form_wrapper() %}

    {{ form.email_address(
      param_extensions={
        "classes": "govuk-!-width-full"
      },
      error_message_with_html=True
    ) }}

    {{ form.permissions_field }}

    {{ page_footer('Send invitation email') }}
  {% endcall %}

{% endblock %}
