{% extends "org_template.html" %}

{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Invite a team member
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    "Invite a team member",
    back_link=url_for('.manage_org_users', org_id=current_org.id)
  ) }}
  <div class="grid-row">
    {% call form_wrapper(class="column-three-quarters") %}
	    {{ textbox(form.email_address, width='1-1', safe_error_message=True) }}

	    <div class="bottom-gutter">
			  <p class="form-label">
			    All team members can see:
			  </p>
			  <ul class="list list-bullet">
			    <li>dashboard</li>
			    <li>who the other team members are</li>
			  </ul>
			</div>

	    {{ page_footer('Send invitation email') }}
	  {% endcall %}
  </div>

{% endblock %}
