{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  {{ heading_action }} e-mailsjabloon
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": back_link
  }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header('{} e-mailsjabloon'.format(heading_action)) }}

    {% call form_wrapper() %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-five-sixths">
          {{ form.name(param_extensions={
            "classes": "govuk-!-width-full",
            "hint": {"text": "Ontvangers zien dit niet"}
          }) }}
          {{ form.subject(param_extensions={
            "classes": "govuk-!-width-full govuk-textarea-highlight__textbox",
            "rows": "2",
            "attributes": {
              "data-notify-module": "enhanced-textbox",
              "data-highlight-placeholders": "true"
            },
            "formGroup": {
              "classes": "govuk-textarea-highlight",
            }
          }) }}
          {{ form.has_unsubscribe_link }}
          {{ form.template_content(param_extensions={
            "classes": "govuk-!-width-full govuk-textarea-highlight__textbox",
            "attributes": {
              "data-notify-module": "enhanced-textbox",
              "data-highlight-placeholders": "true"
            },
            "formGroup": {
              "classes": "govuk-textarea-highlight",
            }
          }) }}
          {{ sticky_page_footer(
            'Opslaan'
          ) }}
        </div>
        <div class="govuk-grid-column-full">
          {% include "partials/templates/guidance-formatting.html" %}
          {% include "partials/templates/guidance-personalisation.html" %}
          {% include "partials/templates/guidance-optional-content.html" %}
          {% include "partials/templates/guidance-links-urls-emails.html" %}
          {% include "partials/templates/guidance-send-files-by-email.html" %}
        </div>
      </div>
    {% endcall %}

{% endblock %}
