{% extends "withoutnav_template.html" %}
{% from "components/content-metadata.html" import content_metadata %}

{% block per_page_title %}
  Privacyverklaring: hoe wij uw gegevens gebruiken
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="heading-large">Privacyverklaring: hoe wij uw gegevens gebruiken</h1>

    {{ content_metadata(
      data={
        "Laatst bijgewerkt": "11 januari 2023"
      }
    ) }}

    <h2 class="heading-medium" id="who-we-are">Wie wij zijn</h2>

    <p class="govuk-body">NotifyNL is een dienst waarmee teams van publieke diensten in het Verenigd Koninkrijk e-mails, sms-berichten en brieven kunnen sturen naar gebruikers van hun dienst.</p>

    <p class="govuk-body">NotifyNL wordt geleverd door de Government Digital Service (GDS), onderdeel van het Cabinet Office.</p>

    <p class="govuk-body">Organisaties die meldingen versturen via NotifyNL zijn de verantwoordelijken voor de verwerking van gegevens en het Cabinet Office is de verwerker. De verantwoordelijke moet u informeren over wat zij doen met uw persoonsgegevens.</p>

    <p class="govuk-body">Voor de inloggegevens waarmee toegang wordt verkregen tot NotifyNL is het Cabinet Office de verantwoordelijke.</p>

    <p class="govuk-body">Meer informatie vindt u in het Data Protection Public Register van de Information Commissioner’s Office (ICO) via <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/esdwebpages/search">deze link</a>. Het registratienummer van het Cabinet Office is: Z7414053</p>

    <h2 class="heading-medium" id="what-data-we-collect-from-you">Welke gegevens wij van u verzamelen</h2>

    <p class="govuk-body">De persoonsgegevens die wij verzamelen van medewerkers in de publieke sector die een NotifyNL-account aanmaken, zijn onder andere:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>uw naam</li>
        <li>uw e-mailadres</li>
        <li>uw mobiele telefoonnummer</li>
        <li>het IP-adres waarmee u toegang krijgt tot NotifyNL</li>
    </ul>

    <p class="govuk-body">De juridische grondslag voor het verwerken van deze gegevens is ‘publieke taak’ – dit stelt u in staat NotifyNL te gebruiken om meldingen te versturen aan gebruikers van uw publieke dienst.</p>

    <h2 class="heading-medium" id="why-we-need-your-data">Waarom wij uw gegevens nodig hebben</h2>

    <p class="govuk-body">Wij hebben uw persoonsgegevens nodig om te zorgen dat alleen bevoegde gebruikers NotifyNL kunnen gebruiken voor het versturen van meldingen.</p>

    <h2 class="heading-medium" id="what-we-do-with-your-data">Wat wij met uw gegevens doen</h2>

    <p class="govuk-body">Wij gebruiken uw gegevens om te controleren of u toegang mag krijgen tot NotifyNL en om uw activiteiten binnen de dienst vast te leggen. Hiervoor maken wij gebruik van externe leveranciers.</p>

    <p class="govuk-body">Wij zullen nooit:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>uw gegevens verkopen of verhuren aan derden</li>
        <li>uw gegevens delen met derden voor marketingdoeleinden</li>
    </ul>

    <p class="govuk-body">Wij delen uw gegevens alleen als wij daartoe wettelijk verplicht zijn – bijvoorbeeld door een gerechtelijk bevel of ter voorkoming van fraude of andere strafbare feiten.</p>

    <h2 class="heading-medium" id="how-long-we-keep-your-data">Hoe lang wij uw gegevens bewaren</h2>

    <p class="govuk-body">Wij bewaren uw persoonsgegevens zolang u een NotifyNL-account heeft.</p>

    <p class="govuk-body">Wanneer u ons vraagt uw account te sluiten, zullen wij uw gegevens binnen 1 jaar verwijderen.</p>

    <p class="govuk-body">Bij het sluiten van uw account verwijderen wij uw:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>naam</li>
        <li>mobiele telefoonnummer</li>
        <li>NotifyNL-wachtwoord</li>
    </ul>

    <p class="govuk-body">Voor het uitvoeren van veiligheidscontroles bewaren wij uw e-mailadres en IP-adressen 1 jaar voordat wij deze verwijderen.</p>

    <h2 class="heading-medium" id="where-your-data-is-processed">Waar uw gegevens worden verwerkt en opgeslagen</h2>

    <p class="govuk-body">Wij ontwerpen, bouwen en beheren onze systemen zo dat uw gegevens op elk moment zo veilig mogelijk zijn, zowel tijdens verwerking als opslag.</p>

    <p class="govuk-body">Uw persoonsgegevens worden verwerkt in het Verenigd Koninkrijk en in de Europese Economische Ruimte (EER). Uw gegevens krijgen binnen de EER dezelfde bescherming als in het VK dankzij de zogeheten <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/for-organisations/dp-at-the-end-of-the-transition-period/data-protection-and-the-eu-in-detail/adequacy/">Adequacy Decisions</a>.</p>

    <h2 class="heading-medium" id="how-we-protect-your-data">Hoe wij uw gegevens beschermen en beveiligen</h2>

    <p class="govuk-body">Wij zetten ons in om uw gegevens zo goed mogelijk te beveiligen. Om ongeautoriseerde toegang of openbaarmaking te voorkomen, hebben wij technische en organisatorische maatregelen getroffen, zoals verschillende niveaus van encryptie. Ook zorgen wij dat derden die namens ons persoonsgegevens verwerken, verplicht zijn deze veilig te houden.</p>

    <h2 class="heading-medium" id="childrens-privacy-protection">Bescherming van privacy van kinderen</h2>

    <p class="govuk-body">Wij begrijpen het belang van het beschermen van de privacy van kinderen online. Onze diensten zijn niet bedoeld voor kinderen jonger dan 13 jaar en richten zich ook niet op hen. Het is niet ons beleid om bewust gegevens te verzamelen of te bewaren over personen jonger dan 13 jaar.</p>

    <h2 class="heading-medium" id="your-rights">Wat zijn uw rechten</h2>

    <p class="govuk-body">U heeft het recht om te verzoeken om:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>informatie over hoe uw persoonsgegevens worden verwerkt</li>
      <li>een kopie van uw persoonsgegevens - deze wordt geleverd in een gestructureerd, gangbaar en machineleesbaar formaat</li>
      <li>onjuistheden in uw persoonsgegevens direct te laten corrigeren</li>
    </ul>

    <p class="govuk-body">Daarnaast kunt u ook:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>bezwaar maken tegen de verwerking van uw persoonsgegevens</li>
      <li>verzoek indienen om uw persoonsgegevens te laten wissen als er geen geldige reden meer is om deze te bewaren</li>
      <li>verzoek indienen om de verwerking van uw persoonsgegevens onder bepaalde omstandigheden te beperken</li>
    </ul>

    <p class="govuk-body">Heeft u een van deze verzoeken, neem dan contact op met onze Functionaris voor Gegevensbescherming (FG) – de contactgegevens vindt u hieronder.</p>

    <h2 class="heading-medium" id="changes-to-this-notice">Wijzigingen in deze verklaring</h2>

    <p class="govuk-body">Wij kunnen deze privacyverklaring naar eigen inzicht op elk moment aanpassen. Wanneer wij wijzigingen aanbrengen, zullen wij de datum van de laatste wijziging bovenaan deze pagina aanpassen. Elke wijziging is vanaf die datum van toepassing op u en uw gegevens. Wij raden u aan deze verklaring periodiek te bekijken om op de hoogte te blijven van hoe wij uw gegevens beschermen.</p>

    <h2 class="heading-medium" id="questions-and-complaints">Vragen en klachten</h2>

    <p class="govuk-body">Neem contact op met het GDS Privacy Team als u:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>vragen heeft over deze verklaring</li>
      <li>denkt dat uw persoonsgegevens verkeerd worden gebruikt of behandeld</li>
    </ul>

    <p class="govuk-body">
    GDS Privacy Team<br>
    <a class="govuk-link govuk-link--no-visited-state" href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a>
    </p>

    <p class="govuk-body">
    U kunt ook contact opnemen met de Functionaris voor Gegevensbescherming van het Cabinet Office.
    </p>

    <p class="govuk-body">
    Functionaris voor Gegevensbescherming<br>
    <a class="govuk-link govuk-link--no-visited-state" href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a><br>
    Functionaris voor Gegevensbescherming<br>
    Cabinet Office<br>
    70 Whitehall<br>
    London SW1A 2AS
    </p>

    <p class="govuk-body">Als u een klacht heeft, kunt u ook contact opnemen met de <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/">Information Commissioner’s Office</a> (ICO). De ICO is een onafhankelijke toezichthouder die verantwoordelijk is voor de bescherming van informatie.</p>

    <p class="govuk-body">
    Information Commissioner’s Office<br>
    <a class="govuk-link govuk-link--no-visited-state" href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a><br>
    0303 123 1113<br>
    Wycliffe House<br>
    Water Lane<br>
    Wilmslow<br>
    Cheshire SK9 5AF
    </p>

  </div>
</div>

{% endblock %}
