{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
Account aanmaken
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Account aanmaken</h1>
    {% call form_wrapper(autocomplete=True) %}
      {{ form.name(param_extensions={"classes": "govuk-!-width-three-quarters"}) }}
      {{ form.email_address(
        param_extensions={
          "hint": {"text": "Moet van een overheidsorganisatie zijn"},
          "classes": "govuk-!-width-three-quarters",
          "autocomplete": "email"
        },
        error_message_with_html=True
      ) }}
      <div class="extra-tracking">
        {{ form.mobile_number(param_extensions={
          "hint": {"text": "We sturen u een beveiligingscode per sms"},
          "classes": "govuk-!-width-three-quarters"
        }) }}
      </div>
      {{ form.password(param_extensions={"hint": {"text": "Minimaal 8 tekens"}, "classes": "govuk-!-width-three-quarters", "autocomplete": "new-password"}) }}
      {{form.auth_type}}
      {{ page_footer("Doorgaan") }}
    {% endcall %}
  <p class="bottom-gutter">Door een account aan te maken accepteert u onze <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.terms_of_use') }}">gebruiksvoorwaarden</a>.</p>
  </div>
</div>

{% endblock %}
