{% extends "withoutnav_template.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}

{% block per_page_title %}
  Als u geen beveiligingscode ontvangt
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="heading-large">Als u geen beveiligingscode ontvangt</h1>

    <ol class="govuk-list govuk-list--number">
      <li>Controleer of u tekstberichten van andere nummers kunt ontvangen.</li>
      <li>Zet uw telefoon uit en daarna weer aan.</li>
      <li>Als u nog steeds geen beveiligingscode ontvangt, kunnen wij een nieuwe naar u verzenden.</li>
    </ol>

    <p class="govuk-body">
      {{ govukButton({
        "element": "a",
        "text": "Beveiligingscode opnieuw verzenden",
        "href": url_for('main.check_and_resend_verification_code', next=redirect_url)
      }) }}
    </p>

    <p class="govuk-body">Als dit niet werkt, <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.support') }}">neem contact met ons op</a>.</p>

    {% set change_number %}
        <p class="govuk-body">Vraag een teamlid met de toestemming ‘Instellingen, team en gebruik beheren’ om uw telefoonnummer bij te werken.</p>

        <p class="govuk-body">Hiervoor moeten zij het volgende doen:</p>

        <ol class="govuk-list govuk-list--number">
          <li>Log in op NotifyNL.</li>
          <li>Ga naar de pagina <span class="govuk-body govuk-!-font-weight-bold">Teamleden</span>.</li>
          <li>Zoek uw naam en selecteer <span class="govuk-body govuk-!-font-weight-bold">Gegevens wijzigen</span>.</li>
          <li>Selecteer <span class="govuk-body govuk-!-font-weight-bold">Wijzigen</span> naast uw telefoonnummer.</li>
        </ol>
    {% endset %}

    {{ govukDetails({
      "summaryText": "Als uw telefoonnummer is veranderd",
      "html": change_number
    }) }}

    {% set email_link %}
        <p class="govuk-body">Vraag een teamlid met de toestemming ‘Instellingen, team en gebruik beheren’ om <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_sign_in_method') }}">uw inlogmethode te wijzigen</a>.</p>
    {% endset %}

    {{ govukDetails({
      "summaryText": "Als u in plaats daarvan met een e-maillink wilt inloggen",
      "html": email_link
    }) }}

  </div>
</div>

{% endblock %}
