{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import sticky_page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  Ask a question or give feedback
{% endblock %}

{% block maincolumn_content %}

    {{ page_header(
      'Ask a question or give feedback',
      back_link=url_for('.support')
    ) }}
    <div class="grid-row">
      <div class="column-two-thirds">
        {% call form_wrapper() %}
            {{ textbox(form.feedback, width='1-1', hint='', rows=10, autosize=True) }}
            {% if not current_user.is_authenticated %}
              <h3 class="heading-medium">Do you want a reply?</h3>
              <p>Leave your details below if you’d like a response.</p>
              {{ textbox(form.name, width='1-1') }}
              {{ textbox(form.email_address, width='1-1') }}
            {% else %}
              <p>We’ll reply to {{ current_user.email_address }}</p>
            {% endif %}
            {{ sticky_page_footer('Send') }}
        {% endcall %}
      </div>
    </div>

{% endblock %}
