{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block per_page_title %}
  Send us an email
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.support') }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header('Send us an email')}}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          You can find our emergency email address in the email we sent you (or one of your team) when we made your service live.
        </p>
        <p class="govuk-body">
          When you contact our emergency email address we’ll reply within 30 minutes.
        </p>

        <h2 class="heading-medium">Do not use our emergency email address</h2>

        <ul class="govuk-list govuk-list--bullet">
        <li>
          if you did not get a ‘technical difficulties’ error when uploading a file
        </li>
        <li>
          if you did not get a 500 response code when using the API
        </li>
        <li>
          if your service is still in trial mode
        </li>
        <li>
          if your problem is already listed on the <a class="govuk-link govuk-link--no-visited-state" href="https://status.notifications.service.gov.uk">status page</a>.
        </li>
      </ul>

      <p class="bottom-gutter-2">
        Instead you’ll need to <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.feedback', ticket_type='report-problem', category='problem-sending', severe='no') }}">fill in our support form</a>.
      </p>
      </div>
    </div>


{% endblock %}
