{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block per_page_title %}
  Out of hours emergencies
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('.support') }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header('Out of hours emergencies')}}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          First, check the
          <a class="govuk-link govuk-link--no-visited-state" href="https://status.notifications.service.gov.uk">system status page</a>.
          You do not need to contact us if
          the problem you’re having is listed on that page.
        </p>
        <p class="govuk-body">
          Otherwise, contact us using the emergency email address we
          gave you or your service manager when we made your service live.
        </p>
        <p class="govuk-body">
          We’ll reply within 30 minutes and give you hourly updates
          until the problem’s fixed.
        </p>
        <p class="govuk-body">
          We do not offer out of hours support if your service is in
          trial mode.
        </p>
        <h2 class="heading-medium">Any other problems</h2>
        <p class="bottom-gutter-2">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.feedback', ticket_type='report-problem', severe='no') }}">Fill in this form</a>
          and we’ll get back to you by the next working day.
        </p>
      </div>
    </div>


{% endblock %}
