{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block per_page_title %}
  Report an emergency out of hours
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('.support') }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header('Report an emergency out of hours')}}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          First, check the
          <a class="govuk-link govuk-link--no-visited-state" href="https://status.notifications.service.gov.uk">GOV.UK Notify status page</a>.
        </p>
        <p class="govuk-body">
          You do not need to contact us if your problem is already listed on that page.
        </p>
        <p class="govuk-body">
          If your problem is not listed on the status page, contact us using our emergency email address.
        </p>
        <p class="govuk-body">
          This is the email address we sent to your service manager in an email called ‘Your service is live’.
        </p>
        <p class="govuk-body">
          We do not offer out of hours support if your service is in
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.trial_mode') }}">trial mode</a>.
        </p>

        <h2 class="heading-medium">When you report an emergency</h2>
        <p class="govuk-body">
          We’ll reply within 30 minutes and update you every hour until we fix the problem.
        </p>

        <h2 class="heading-medium">If it’s not an emergency</h2>
        <p class="bottom-gutter-2">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.feedback', ticket_type='report-problem', severe='no') }}">Fill in this form</a>
          and we’ll reply within 1 working day.
        </p>
      </div>
    </div>


{% endblock %}
