{% extends "withoutnav_template.html" %}
{% from "components/govuk-page-header.html" import govuk_page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block per_page_title %}
  {{ page_title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% block maincolumn_content %}

{{ govuk_page_header(page_title) }}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% call form_wrapper() %}
            {{ form.feedback(param_extensions={
              "classes": "govuk-!-width-full",
              "rows": "10",
              "attributes": {
                "data-notify-module": "enhanced-textbox",
                "data-highlight-placeholders": "false"
              },
              "label": {"classes": "govuk-visually-hidden"}
            }) }}
            {% if not current_user.is_authenticated %}
              {{ form.name(param_extensions={"classes": "govuk-!-width-full", "autocomplete": "name"}) }}
              {{ form.email_address(param_extensions={"classes": "govuk-!-width-full", "autocomplete": "email"}) }}
            {% else %}
              <p class="govuk-body">We’ll reply to {{ current_user.email_address }}</p>
            {% endif %}
            {{ sticky_page_footer('Send') }}
        {% endcall %}
      </div>
    </div>

{% endblock %}
