{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import sticky_page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block per_page_title %}
  {{ page_title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header(page_title) }}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if show_status_page_banner %}
          <div class="panel panel-border-wide">
            <p class="govuk-body">
              Check our <a class="govuk-link govuk-link--no-visited-state" href="https://status.notifications.service.gov.uk">system status</a>
              page to see if there are any known issues with GOV.UK Notify.
            </p>
          </div>
        {% endif %}
        {% call form_wrapper() %}
            {{ textbox(form.feedback, width='1-1', hint='', rows=10, autosize=True) }}
            {% if not current_user.is_authenticated %}
              {{ form.name(param_extensions={"classes": "govuk-!-width-full"}) }}
              {{ form.email_address(param_extensions={"classes": "govuk-!-width-full"}) }}
            {% else %}
              <p class="govuk-body">We’ll reply to {{ current_user.email_address }}</p>
            {% endif %}
            {{ sticky_page_footer('Send') }}
        {% endcall %}
      </div>
    </div>

{% endblock %}
