{% extends "withoutnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  Support
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">Support</h1>
    <p>We provide 24-hour online support for teams with a live service on GOV.UK Notify.</p>

    {% call form_wrapper(class="bottom-gutter-2") %}
      {{ radios(form.support_type) }}
      {{ page_footer('Continue') }}
    {% endcall %}

    <p>You can also <a class="govuk-link govuk-link--no-visited-state" href="https://ukgovernmentdigital.slack.com/messages/C0E1ADVPC">contact us on Slack</a>.</p>
    
    <h2 class="heading-medium">Office hours</h2>
    <p>Our office hours are 9:30am to 5:30pm, Monday to Friday.</p>
    <p>When you report a problem in office hours, we’ll aim to read it within 30 minutes and reply within one working day.</p>
    
    <h2 class="heading-medium">Out-of-hours</h2>
    <p>Outside office hours, response times depend on whether you’re reporting an emergency.</p>
    <p>If it’s an emergency, we’ll reply within 30 minutes and update you every hour until the problem’s fixed.</p>
    <p>If your problem is not an emergency, we’ll reply within one working day.</p>
    <p>A problem is only classed as an emergency if:</p>
    <ul class="list list-bullet">
      <li>nobody on your team can sign in</li>
      <li>a ‘technical difficulties’ error appears when you try to upload a file</li>
      <li>a 500 response code appears when you try to send messages using the API</li>
    </ul>
  </div>
</div>

{% endblock %}
