{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block per_page_title %}
  Is your service in trial mode?
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.support_what_happened') }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call form_wrapper() %}
        {{ form.is_service_in_trial_mode(param_extensions={
          'fieldset': {
            'legend': {
              'isPageHeading': True,
              'classes': 'govuk-fieldset__legend--l'
            }
          }
        }) }}

        {{ page_footer('Continue') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
