{% extends "withoutnav_template.html" %}
{% from "components/govuk-page-header.html" import govuk_page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block per_page_title %}
  Enter your account details
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for("main.support_no_email_link") }) }}
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govuk_page_header("Enter your account details") }}

    <p class="govuk-body">
      We’ll use them to investigate why your email link has not arrived yet.
    </p>
      {% call form_wrapper() %}
        {{ form.name(param_extensions={"classes": "govuk-!-width-full", "autocomplete": "name"}) }}
        {{ form.email_address(param_extensions={"classes": "govuk-!-width-full", "autocomplete": "email"}) }}
        {{ sticky_page_footer('Send') }}
      {% endcall %}
  </div>
</div>

{% endblock %}
