{% extends "withoutnav_template.html" %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import sticky_page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  Report a problem
{% endblock %}

{% block maincolumn_content %}

    {{ page_header(
      'Report a problem',
      back_link=url_for('.support')
    ) }}
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="panel panel-border-wide">
          <p>
            Check our <a class="govuk-link govuk-link--no-visited-state" href="https://status.notifications.service.gov.uk">system status</a>
            page to see if there are any known issues with GOV.UK Notify.
          </p>
        </div>
        {% call form_wrapper() %}
            {{ textbox(form.feedback, width='1-1', hint='', rows=10, autosize=True) }}
            {% if not current_user.is_authenticated %}
              {{ textbox(form.name, width='1-1') }}
              {{ textbox(form.email_address, width='1-1') }}
            {% else %}
              <p>We’ll reply to {{ current_user.email_address }}</p>
            {% endif %}
            {{ sticky_page_footer('Send') }}
        {% endcall %}
      </div>
    </div>

{% endblock %}
