{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block per_page_title %}
  Thanks for contacting us
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.support') }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header('Thanks for contacting us') }}
    <p class="govuk-body">
      {% if emergency_ticket %}
        We’ll reply in the next 30 minutes.
      {% else %}
        We’ll reply by the end of the next working day.
      {% endif %}
    </p>

{% endblock %}
