{% from "components/previous-next-navigation.html" import previous_next_navigation %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "components/notification-state.html" import notification_state %}

<div class="ajax-block-container" id='pill-selected-item'>

  {% if not notifications %}
    <p class="govuk-body no-data">
      No messages found &thinsp;(messages are kept for {{ limit_days | format }} days)
    </p>
  {% else %}
    {% set notifications_list = [] %}
    {% for item in notifications %}
      {% set truncate_class = "notify-summary-list__metadata--truncate" if item.notification_type == 'sms' else "" %}
      {% set summary_key_html %}
        {% if item.status in ('pending-virus-check', 'virus-scan-failed') %}
          <span class="notify-summary-list__filename loading-indicator">Checking</span>
        {% else %}
          <a class="govuk-link govuk-link--no-visited-state notify-summary-list__filename" href="{{ single_notification_url(notification_id=item.id) }}">{{ item.to.splitlines()|join(', ') if item.to else '' }}</a>
        {% endif %}
        <p class="govuk-body notify-summary-list__metadata notify-summary-list__metadata--small {{ truncate_class }}">
          {{ item.preview_of_content }}
        </p>
      {% endset %}

      {% do notifications_list.append({
        "key": {
          "classes": "notify-summary-list__key notify-summary-list__key--50-100",
          "html": summary_key_html,
        },
        "value": {
          "classes": "govuk-summary-list__value--align-right govuk-summary-list__value--small",
          "text":  notification_state(item),
        }
      }) %}
    {% endfor %}
    {{ govukSummaryList({
      "classes": "notify-summary-list",
      "rows": notifications_list
    }) }}
  {% endif %}

  {% if show_pagination %}
    {{ previous_next_navigation(prev_page, next_page) }}
  {% elif next_page %}
    <p class="govuk-body more-items-available-text">
      Only showing the first 50 messages
    </p>
  {% endif %}

</div>
