{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/page-footer.html" import page_footer %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="column-one-quarter">
      <p class="heading-medium">
        Platform admin
      </p>
      <nav class="navigation">
          {% for link_text, url in [
          ('Summary', url_for('main.platform_admin')),
          ('Live services', url_for('main.live_services')),
          ('Trial mode services', url_for('main.trial_services')),
          ('Providers', url_for('main.view_providers')),
          ('Reports', url_for('main.platform_admin_reports')),
          ('Email branding', url_for('main.email_branding')),
          ('Letter branding', url_for('main.letter_branding')),
          ('Inbound SMS numbers', url_for('main.inbound_sms_admin')),
          ('Find services by name', url_for('main.find_services_by_name')),
          ('Find users by email', url_for('main.find_users_by_email')),
          ('Email Complaints', url_for('main.platform_admin_list_complaints')),
          ('Returned letters', url_for('main.platform_admin_returned_letters')),
          ('Clear cache', url_for('main.clear_cache')),
        ] %}
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="{{ url }}">
              {{ link_text }}
            </a>
          </li>
        {% endfor %}
      </nav>
    </div>
    <div class="column-three-quarters">
      {% block platform_admin_content %}{% endblock %}
    </div>
  </div>

{% endblock %}
