{% extends "views/platform-admin/_base_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/table.html" import mapping_table, row, text_field %}

{% block per_page_title %}
  Billing Report
{% endblock %}

{% block platform_admin_content %}

  <h1 class="heading-large">
    Billing Report
  </h1>

  {% call form_wrapper() %}
    {{ form.start_date(param_extensions={"hint": {"text": "Enter start date in format YYYY-MM-DD"}}) }}
    {{ form.end_date(param_extensions={"hint": {"text": "Enter end date in format YYYY-MM-DD"}}) }}
    {{ page_footer('Download report') }}
  {% endcall %}

  <h2 class="heading-medium">
    Data included in the report
  </h2>
<div class="bottom-gutter-3-2">
    {% call mapping_table(
      caption='Descriptions of billing report data',
      field_headings=['Name', 'Description'],
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for message_length, charge in [
        ('sms cost', 'The total cost of text messages sent after a service has used its free allowance.'),
        ('sms chargeable units', 'The number of fragments sent after a service has used its free allowance. This number takes into account the cost multiplier for <a class="govuk-link govuk-link--no-visited-state" href="https://www.notifications.service.gov.uk/pricing#international-numbers">sending international text messages</a>.'),
        ('letter cost', 'The total cost of letters sent by a service.'),
        ('letter breakdown', 'The number and cost of letters sent by a service, grouped by postage.'),
        ('purchase order number, contact names, contact email addresses and billing reference', 'We add this data manually based on the information we get from services. You can help by adding it to the service settings page.'),
      ] %}
        {% call row() %}
          {{ text_field(message_length) }}
          {{ text_field(charge | safe) }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>

{% endblock %}
