{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  Guidance
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Branding and customisation</h1>
  
  <p>This page explains how to:</p>
  
  <ul class="list list-bullet">
    <li><a href="#email-branding">change email branding</a></li>
    <li><a href="#reply-to-address">add a reply-to email address</a></li>
    <li><a href="#text-message-sender">change the text message sender</a></li>
    <li><a href="#letter-branding">change letter branding</a></li>
  </ul>
  
  <h2 class="heading-medium" id="email-branding">Change email branding</h2>

  <p>To change your email branding:</p>

  <ol class="list list-number">
    <li><a href="{{ url_for('.register') }}">Sign in to Notify</a>.</li>
    <li>Go to the Settings page.</li>
    <li>In the Email settings section, select Change on the Email branding row.</li>
  </ol>

  <h2 class="heading-medium" id="reply-to-address">Add a reply-to email address</h2>
  
  <p>Notify lets you choose the email address that users reply to. You must add at least one reply-to address before your service can go live.</p>

  <p>To add a reply-to email address:</p>

  <ol class="list list-number">
    <li><a href="{{ url_for('.register') }}">Sign in to Notify</a>.</li>
    <li>Go to the Settings page.</li>
    <li>In the Email settings section, select Manage on the Reply-to email addresses row.</li>
    <li>Select Add reply-to address.</li>
    <!--<li>Enter the email address you want to use, and select Add.</li>-->
  </ol>
  
  <h2 class="heading-medium" id="text-message-sender">Change the text message sender</h2>
  
  <p>The text message sender name tells your users who the message is from.</p>

  <p>To change the text message sender from the default of ‘GOVUK’:</p>
  
  <ol class="list list-number">
    <li><a href="{{ url_for('.register') }}">Sign in to Notify</a>.</li>
    <li>Go to the Settings page.</li>
    <li>In the Text message settings section, select Manage on the Text message senders row.</li>
  
  <h2 class="heading-medium" id="letter-branding">Change letter branding</h2>
  
  <p>To change your letter branding:</p>
  
  <ol class="list list-number">
    <li><a href="{{ url_for('.register') }}">Sign in to Notify</a>.</li>
    <li>Go to the Settings page.</li>
    <li>In the Letter settings section, select Change on the Letter branding row.</li>
  </ol>

{% endblock %}
