{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  Guidance
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Create and send messages</h1>
  
  <p><a href="{{ url_for('main.register') }}">Create an account</a> to see a short tutorial explaining how to create and send messages.</p>
  
  <h2 class="heading-medium" id="bulk-sending">Bulk sending</h2>

  <p>To send a batch of messages at once:</p>
  <ol class="list list-number">
    <li><a href="{{ url_for('.register') }}">Sign in to Notify</a>.</li>
    <li>Go to the Templates page and choose an existing template.</li>
    <li>Select Send.</li>
    <li>If you’re sending emails, select Upload a list of email addresses. If you’re sending text messages, select Upload a list of phone numbers. If you’re sending letters, select Upload a list of addresses.</li>
  
  {% endblock %}
