{% extends "content_template.html" %}
{% from "components/service-link.html" import service_link %}

{% block per_page_title %}
  Send messages
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Send messages</h1>

  <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.register') }}">Create an account</a> to see a short tutorial explaining how to create and send messages.</p>

  <h2 class="heading-medium" id="bulk-sending">Bulk sending</h2>

  <p class="govuk-body">To send a batch of messages at once:</p>
  <ol class="govuk-list govuk-list--number">
    <li>Go to the {{ service_link(current_service, 'main.choose_template', 'templates') }} page and choose an existing template.</li>
    <li>Select <b class="govuk-!-font-weight-bold">Send</b>.</li>
    <li>If you’re sending emails, select <b class="govuk-!-font-weight-bold">Upload a list of email addresses</b>. If you’re sending text messages, select <b class="govuk-!-font-weight-bold">Upload a list of phone numbers</b>. If you’re sending letters, select <b class="govuk-!-font-weight-bold">Upload a list of addresses</b>.</li>

  {% endblock %}
