{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  Edit and format messages
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Edit and format messages</h1>

  <p>This page explains how to:</p>
  <ul class="list list-bullet">
    <li><a href="#formatting">format your content</a></li>
    <li><a href="#links">add links</a></li>
    <li><a href="#personalised-content">personalise your content</a></li>
    <li><a href="#optional-content">add optional content</a></li>
  </ul>

  <h2 class="heading-medium" id="formatting">Format your content</h2>

  <p>You can see a list of formatting instructions on the edit template page:</p>

  <ol class="list list-number">
    <li><a href="{{ url_for('.sign_in') }}">Sign in to Notify</a>.</li>
    <li>Go to the <b class="govuk-!-font-weight-bold">Templates</b> page.</li>
    <li>Add a new template or choose an existing template and select <b class="govuk-!-font-weight-bold">Edit</b>.</li>
  </ol>

  <p>Email templates can include:</p>
  <ul class="list list-bullet">
    <li>headings</li>
    <li>bullets</li>
    <li>call-outs (<a href="https://design-system.service.gov.uk/components/inset-text/">inset text</a>)</li>
    <li>horizontal rules</li>
  </ul>

  <p>Letter templates can include headings and bullets.</p>

  <p>Notify does not allow bold, italics, subheadings, underlined text or different fonts. This is because they can make it harder for users to read what you’ve written.</p>

  <h2 class="heading-medium" id="links">Add links</h2>

  <p>When composing an email or text message, write URLs in full and Notify will convert them into links for you.</p>

  <p>You cannot convert text into a link. Research shows that recipients like to read the URL to check a link looks genuine before they click it. This is hard to do if the URL is hidden behind clickable link text.</p>

  <p>We do not recommend using a third-party link shortening service because:</p>

  <ul class="list list-bullet">
    <li>your users cannot see where the link will take them</li>
    <li>your link might stop working if there’s a service outage</li>
    <li>you can no longer control where the redirect goes</li>
  </ul>

  <h2 class="heading-medium" id="personalised-content">Personalise your content</h2>

  <p>To personalise the content of your messages, add a placeholder to the template.</p>

  <p>Placeholders are filled in with details, like a name or reference number, each time you send a message.</p>

  <p>To add a placeholder to the template:</p>

  <ol class="list list-number">
    <li><a href="{{ url_for('.sign_in') }}">Sign in to Notify</a>.</li>
    <li>Go to the <b class="govuk-!-font-weight-bold">Templates</b> page.</li>
    <li>Add a new template or choose an existing template and select <b class="govuk-!-font-weight-bold">Edit</b>.</li>
    <li>Add a placeholder using double brackets. For example: Hello ((first&nbsp;name)), your reference is ((ref&nbsp;number)).</li>
    <li>Select <b class="govuk-!-font-weight-bold">Save</b>.</li>
  </ol>

  <p>When you send a message you can either:</p>

  <ul class="list list-bullet">
    <li>manually fill in the placeholders yourself</li>
    <li>upload a list of personal details and let Notify do it for you</li>
  </ul>

  <p>If you upload a list, the column names need to match the placeholders in your template.</p>

  <h2 class="heading-medium" id="optional-content">Add optional content</h2>

  <p>To add optional content to your emails and text messages:</p>

  <ol class="list list-number">
    <li><a href="{{ url_for('.sign_in') }}">Sign in to Notify</a>.</li>
    <li>Go to the <b class="govuk-!-font-weight-bold">Templates</b> page.</li>
    <li>Add a new template or choose an existing template and select <b class="govuk-!-font-weight-bold">Edit</b>.</li>
    <li>Use double brackets and ?? to define optional content. For example, if you only want to show something to people who are under 18: ((under18??Please get your application signed by a parent or guardian.))</li>
    <li>Select <b class="govuk-!-font-weight-bold">Save</b>.</li>
  </ol>

  <p>For each person you send this message to, specify ‘yes’ or ‘no’ to show or hide this content. You can either:</p>

  <ul class="list list-bullet">
    <li>do this yourself</li>
    <li>upload a list of personal details and let Notify do it for you</li>
  </ul>

  <p>If you upload a list, the column names need to match the optional content in your template.</p>

  <p>You cannot add optional content to a letter.</p>

{% endblock %}
