{% extends "content_template.html" %}
{% from "components/service-link.html" import service_link %}

{% block per_page_title %}
  Edit and format messages
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Edit and format messages</h1>

  <p class="govuk-body">This page explains how to:</p>
  <ul class="list list-bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="#formatting">format your content</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#links">add links</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#personalised-content">personalise your content</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#optional-content">add optional content</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#api-formatting">formatting when using our API</a></li>
  </ul>

  <h2 class="heading-medium" id="formatting">Format your content</h2>

  <p class="govuk-body">You can see a list of formatting instructions on the edit template page:</p>

  <ol class="list list-number">
    <li>Go to the {{ service_link(current_service, 'main.choose_template', 'templates') }} page.</li>
    <li>Add a new template or choose an existing template and select <b class="govuk-!-font-weight-bold">Edit</b>.</li>
  </ol>

  <p class="govuk-body">Email templates can include:</p>
  <ul class="list list-bullet">
    <li>headings</li>
    <li>bullets</li>
    <li>inset text</li>
    <li>horizontal rules</li>
  </ul>

  <p class="govuk-body">Letter templates can include headings and bullets.</p>

  <p class="govuk-body">Notify does not allow bold, italics, subheadings, underlined text or different fonts. This is because they can make it harder for users to read what you’ve written.</p>

  <h2 class="heading-medium" id="links">Add links</h2>

  <p class="govuk-body">When composing an email or text message, write URLs in full and Notify will convert them into links for you.</p>

  <p class="govuk-body">You cannot convert text into a link. Research shows that people like to check a URL looks genuine before clicking the link in an email. This is hard to do if the URL is hidden behind clickable link text.</p>

  <p class="govuk-body">We do not recommend using a third-party link shortening service because:</p>

  <ul class="list list-bullet">
    <li>your users cannot see where the link will take them</li>
    <li>your link might stop working if there’s a service outage</li>
    <li>you can no longer control where the redirect goes</li>
  </ul>

  <h2 class="heading-medium" id="personalised-content">Personalise your content</h2>

  <p class="govuk-body">To personalise the content of your messages, add a placeholder to the template.</p>

  <p class="govuk-body">Placeholders are filled in with details, like a name or reference number, each time you send a message.</p>

  <p class="govuk-body">To add a placeholder to the template:</p>

  <ol class="list list-number">
    <li>Go to the {{ service_link(current_service, 'main.choose_template', 'templates') }} page.</li>
    <li>Add a new template or choose an existing template and select <b class="govuk-!-font-weight-bold">Edit</b>.</li>
    <li>Add a placeholder using double brackets. For example: Hello ((first&nbsp;name)), your reference is ((ref&nbsp;number)).</li>
    <li>Select <b class="govuk-!-font-weight-bold">Save</b>.</li>
  </ol>

  <p class="govuk-body">When you send a message you can either:</p>

  <ul class="list list-bullet">
    <li>manually fill in the placeholders yourself</li>
    <li>upload a list of personal details and let Notify do it for you</li>
  </ul>

  <p class="govuk-body">If you upload a list, the column names need to match the placeholders in your template.</p>

  <h2 class="heading-medium" id="optional-content">Add optional content</h2>

  <p class="govuk-body">To add optional content to your messages:</p>

  <ol class="list list-number">
    <li>Go to the {{ service_link(current_service, 'main.choose_template', 'templates') }} page.</li>
    <li>Add a new template or choose an existing template and select <b class="govuk-!-font-weight-bold">Edit</b>.</li>
    <li>Use double brackets and ?? to define optional content. For example, if you only want to show something to people who are under 18: ((under18??Please get your application signed by a parent or guardian.))</li>
    <li>Select <b class="govuk-!-font-weight-bold">Save</b>.</li>
  </ol>

  <p class="govuk-body">For each person you send this message to, specify ‘yes’ or ‘no’ to show or hide this content. You can either:</p>

  <ul class="list list-bullet">
    <li>do this yourself</li>
    <li>upload a list of personal details and let Notify do it for you</li>
  </ul>

  <p class="govuk-body">If you upload a list, the column names need to match the optional content in your template.</p>

  <p class="govuk-body">You cannot use personalisation within optional content.</p>

  <h2 class="heading-medium" id="api-formatting">Formatting when using our API</h2>

  <p class="govuk-body">Placeholders can contain all the usual Notify content formatting, except for:</p>

  <ul class="list list-bullet">
    <li>line breaks</li>
    <li>bullet points</li>
  </ul>

  <p class="govuk-body">To create a line break, use the new line character \n in the placeholder.</p>

  <p class="govuk-body">To create a list of bullet points, set the placeholder value to be a list of strings. Each string will become a new bullet point. For example: placeholder_name = ["my first bullet", "my second bullet", "my third bullet"]</p>

  <p class="govuk-body">If you prefer, you can generate all your content on your side and send it to our API. To do this, add a single placeholder to your Notify template, for example ((content)).</p>
{% endblock %}
