{% extends "content_template.html" %}

{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  Reply-to email address
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Reply-to email address</h1>

  <p class="govuk-body">You can choose the email address that your users reply to. You must add at least one reply-to address for your service before you can request to go live.</p>

  <p class="govuk-body">Emails with a reply-to address seem more trustworthy and are less likely to be labelled as spam.</p>

  <p class="govuk-body">To add a reply-to email address:</p>

  <ol class="govuk-list govuk-list--number">
    <li>Go to the <b class="govuk-!-font-weight-bold">Email settings</b> section of the {{ service_link(current_service, 'main.service_settings', 'settings') }} page.</li>
    <li>Select <b class="govuk-!-font-weight-bold">Manage</b> on the <b class="govuk-!-font-weight-bold">Reply-to email addresses</b> row.</li>
    <li>Select <b class="govuk-!-font-weight-bold">Add reply-to address</b>.</li>
  </ol>


{% endblock %}
