{% extends "content_template.html" %}

{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  Schedule emails and text messages
{% endblock %}

{% block content_column_content %}
  <h1 class="heading-large">Schedule emails and text messages</h1>

  <p class="govuk-body">You can schedule sending emails and text messages up to 4 days in advance.</p>

  <p class="govuk-body">To schedule a batch of messages:</p>
  <ol class="govuk-list govuk-list--number">
    <li>Go to the {{ service_link(current_service, 'main.choose_template', 'templates') }} page.</li>
    <li>Add a new template or choose an existing template and select <b class="govuk-!-font-weight-bold">Get ready to send</b>.</li>
    <li>Upload a list or recipients.</li>
    <li>Set the date and time you want to send your messages.</li>
  </ol>

  <p class="govuk-body">Your scheduled messages will appear on the dashboard and uploads pages.</p>
{% endblock %}
