{% extends "content_template.html" %}

{% block per_page_title %}
  Send files by email
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Send files by email</h1>

  <p><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.support') }}">Contact us</a> if you want to send files by email.</p>

  <p>Then follow the instructions to send a file by email in our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.documentation') }}">API documentation</a>.</p>

{% endblock %}
