{% extends "content_template.html" %}
{% from "components/current-service-link.html" import current_service_link %}

{% block per_page_title %}
  Upload a letter
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Upload a letter</h1>

  <p>You can upload and send your own letters instead of creating a reusable letter template.</p>

  <p>To upload and send a letter from a PDF file:</p>

  <ol class="list list-number">
    <li>Go to the {{ current_service_link('main.uploads', 'uploads') }} page.</li>
    <li>Select <b class="govuk-!-font-weight-bold">Upload a letter</b>.</li>
    <li>Select <b class="govuk-!-font-weight-bold">Choose file</b>.</li>
  </ol>

  <h2 class="heading-medium" id="letter-specification">Letter specification</h2>

  <p>Your file must be:</p>

  <ul class="list list-bullet">
    <li>a PDF</li>
    <li>A4 portrait size (210 × 297 mm)</li>
    <li>10 pages or less</li>
    <li>smaller than 2MB</li>
  </ul>

  <p>The content of your letter must appear inside the printable area.</p>

  <p>To help you set up your letter, you can download our:</p>

  <ul class="list list-bullet">
    <li><a href="{{ url_for('.letter_spec') }}">letter specification document (PDF)</a></li>
    <li><a href="https://docs.notifications.service.gov.uk/documentation/images/notify-pdf-letter-word-template-v1.0.docx">print margin checker for Microsoft Word (.docx)</a></li>
  </ul>


{% endblock %}
