{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  Guidance
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Upload a letter</h1>
  
  <p>You can upload and send your own letters instead of creating a reusable letter template.</p>
  
  <p>To upload and send your own letter from a PDF file:</p>
  
  <ol class="list list-number">
    <li><a href="{{ url_for('.register') }}">Sign in to Notify</a>.</li>
    <li>Go to the Uploads page.</li>
    <li>Select Upload a letter.</li>
    <li>Select Choose file.</li>
  </ol>

  <p>Your file must meet our <a href="https://www.notifications.service.gov.uk/docs/notify-pdf-letter-spec-latest.pdf">letter specification</a>.</p>

  <p>To help you create your letter, you can download a <a href="https://docs.notifications.service.gov.uk/documentation/images/notify-pdf-letter-word-template-v1.0.docx">Word document template</a>.</p>

{% endblock %}
