{% extends "content_template.html" %}
{% from "components/page-header.html" import page_header %}

{% block per_page_title %}
  Who can use Notify
{% endblock %}

{% block content_column_content %}

  {{ page_header(
    'Who can use Notify'
  ) }}

  <p class="govuk-body">
    GOV.UK Notify is available to:
  </p>
  <ul class="list list-bullet">
    <li>central government departments</li>
    <li>emergency services</li>
    <li>local authorities</li>
    <li>the armed forces</li>
    <li>the NHS and GP practices</li>
    <li>state-funded schools</li>
  </ul>
  <p class="govuk-body">
    If you work for one of these organisations but get an error when you try to create an account, <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.support') }}">contact support</a>.
  </p>

  <h2 class="govuk-heading-m" id="suppliers">Suppliers</h2>
  <p class="govuk-body">
    If you’re doing work for a public sector organisation you can use GOV.UK&nbsp;Notify.
  </p>
  <p class="govuk-body">
    Someone from the public sector organisation you’re working with needs to set up the account. Then they can invite you as a team member.
  </p>

  <h2 class="govuk-heading-m" id="charities">Charities</h2>
  <p class="govuk-body">
    Notify is not currently available to charities.
  </p>

  <h2 class="govuk-heading-m" id="public">Members of the public</h2>
  <p class="govuk-body">
    The GOV.UK Notify service is only for people who work in the government
    or other public sector organisations.
  </p>
  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk">Find government services and information on GOV.UK</a>.
  </p>

{% endblock %}
