{% extends "content_template.html" %}
{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Notify gebruiken' %}

{% block per_page_title %}
  Bewaartermijn gegevens
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Bewaartermijn gegevens</h1>

  <p class="govuk-body">NotifyNL houdt tijdelijk een record bij van:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>de inhoud van de e-mails, sms-berichten en brieven die u verstuurt</li>
    <li>e-mailadressen, mobiele nummers en adressen van ontvangers</li>
  </ul>

  <p class="govuk-body">Standaard worden deze gegevens slechts 7 dagen bewaard.</p>

  <p class="govuk-body">Zodra uw dienst live is, kunt u zelf bepalen hoe lang Notify de details van de verzonden berichten bewaart.</p>

  <h2 class="heading-medium">Hoe u de bewaartermijn aanpast</h2>

  <ol class="govuk-list govuk-list--number">
    <li>Ga naar de {{ service_link(current_service, 'main.service_settings', 'Instellingen') }}-pagina.</li>
    <li>Selecteer <b class="govuk-!-font-weight-bold">Wijzigen</b> bij de regel <b class="govuk-!-font-weight-bold">Bewaartermijn gegevens</b>.</li>
  </ol>

{% endblock %}
