{% extends "content_template.html" %}

{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Notify gebruiken' %}

{% block per_page_title %}
  Links en URL’s
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Links en URL’s</h1>

  <p class="govuk-body">Om een link toe te voegen aan een bericht, schrijf de volledige URL. Bijvoorbeeld:</p>

  <pre class="formatting-example"><code class="lang-md">Meld u nu aan via https://www.gov.uk/example</code></pre>

  <p class="govuk-body">NotifyNL zet de URL automatisch om in een klikbare link.</p>

  <p class="govuk-body">URL’s moeten makkelijk leesbaar zijn.</p>

  <p class="govuk-body">Heeft u een lange, complexe webadres? Dan kunt u overwegen een korte URL te gebruiken.</p>

  <p class="govuk-body">Als uw webpagina gepubliceerd is op GOV.UK, kunt u contact opnemen met <abbr title="Government Digital Service">GDS</abbr> om een <a class="govuk-link govuk-link--no-visited-state"
    href="https://www.gov.uk/guidance/contact-the-government-digital-service/request-a-thing#short-url">korte URL aan te vragen</a>.
  </p>

  <p class="govuk-body">Is uw webpagina niet gepubliceerd op GOV.UK? Vraag uw ICT-afdeling om een korte URL voor u aan te maken.</p>

  <p class="govuk-body">Gebruik geen diensten van derden voor het inkorten van links, omdat:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>gebruikers niet kunnen zien waar de link naartoe leidt</li>
    <li>de link kan stoppen met werken bij een storing</li>
    <li>u geen controle meer heeft over waar de link heen verwijst</li>
  </ul>

  <h2 class="heading-medium" id="link-text-in-emails">Linktekst in e-mails</h2>

  <p class="govuk-body">Bij het schrijven van een e-mail kunt u tekst omzetten in een link in plaats van het volledige webadres te tonen.</p>

  <p class="govuk-body">Linktekst kan handig zijn bij:</p>
  <ul class="govuk-list govuk-list--bullet">
  <li>lange, complexe URL’s</li>
  <li>afmeldlinks</li>
  <li>e-mails met meer dan 2 links</li>
  </ul>

  <p class="govuk-body">Als de ontvanger geen e-mail verwacht van u, raden we aan de URL te gebruiken in plaats van linktekst.</p>

  <p class="govuk-body">Linktekst moet duidelijk maken welke actie de ontvanger moet nemen en waar de link naartoe leidt.</p>

  <p class="govuk-body">Gebruik nooit ‘klik hier’, ‘klik link’, ‘deze link’ of ‘meer’, want deze zinnen zijn onduidelijk buiten de context.</p>

  <h3 class="heading-small">Hoe voegt u linktekst toe aan een e-mail</h3>
  <p class="govuk-body">NotifyNL gebruikt Markdown om linktekst op te maken.</p>
  <p class="govuk-body">Om tekst om te zetten in een link, gebruikt u vierkante haken om de linktekst en ronde haken om de URL. Zorg dat er geen spaties tussen de haken staan, anders werkt de link niet. Bijvoorbeeld:</p>

  <pre class="formatting-example"><code class="lang-md">[Meld u nu aan](https://www.gov.uk/example)</code></pre>

  <p class="govuk-body">Markdown kan niet worden gebruikt om linktekst toe te voegen aan sms- of brieftemplates.</p>

  <p class="govuk-body">Om de opmaakinstructies te zien tijdens het bewerken van een e-mailtemplate:</p>
   <ol class="govuk-list govuk-list--number">
    <li>Ga naar de {{ service_link(current_service, 'main.choose_template', 'templates') }}-pagina.</li>
    <li>Voeg een nieuwe e-mailtemplate toe of kies een bestaande en selecteer <b class="govuk-!-font-weight-bold">Bewerken</b>.</li>
    <li>Scroll naar beneden om de beschikbare Markdown-handleiding te zien.</li>
  </ol>

{% endblock %}
