{% extends "content_template.html" %}

{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  Text message sender ID
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Text message sender ID</h1>

<p class="govuk-body">The text message sender ID tells your users who the message is from.</p>

  <p class="govuk-body">To change the text message sender ID from the default of ‘GOVUK’:</p>

  <ol class="govuk-list govuk-list--number">
    <li>Go to the <b class="govuk-!-font-weight-bold">Text message settings</b> section of the {{ service_link(current_service, 'main.service_settings', 'settings') }} page.</li>
    <li>Select <b class="govuk-!-font-weight-bold">Manage</b> on the <b class="govuk-!-font-weight-bold">Text message sender IDs</b> row.</li>
    <li>Select <b class="govuk-!-font-weight-bold">Change</b> or <b class="govuk-!-font-weight-bold">Add text message sender ID</b>.</li>
</ol>

<p class="govuk-body">If you want to <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_receive_text_messages') }}">receive text messages</a>, your sender ID will be an 11-digit phone number.</p>

{% endblock %}
