{% extends "content_template.html" %}
{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Notify gebruiken' %}

{% block per_page_title %}
  Afmeldlinks
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Afmeldlinks</h1>

  <p class="govuk-body">U moet mensen de mogelijkheid geven om zich af te melden voor abonnementsemails, anders kunnen zij u melden voor het versturen van spam.</p>
  <p class="govuk-body">Met GOV.UK Notify kunt u:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>een afmeldlink toevoegen aan uw e-mails</li>
    <li>een lijst krijgen van ontvangers die zich afmelden</li>
  </ul>
  <p class="govuk-body">Het is uw verantwoordelijkheid om te stoppen met het versturen van e-mails naar iedereen die zich afmeldt.</p>

  <p class="govuk-body">Doet u dit niet, dan kunnen wij uw gebruik van GOV.UK Notify stopzetten.</p>

  <div class="govuk-inset-text">
    <p class="govuk-body">Lees de <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/service-manual/design/sending-emails-and-text-messages#transactional-messages">GOV.UK Service Manual</a> om te bepalen of uw e-mails <em>transactionele</em> of abonnementsemails zijn.</p>
  </div>

  <h2 class="govuk-heading-m">Hoe u een afmeldlink toevoegt</h2>
  <ol class="govuk-list govuk-list--number">
    <li>Ga naar de {{ service_link(current_service, 'main.choose_template', 'sjablonen') }} pagina.</li>
    <li>Voeg een nieuw e-mailsjabloon toe of kies een bestaand e-mailsjabloon.</li>
    <li>Selecteer het selectievakje <b class="govuk-!-font-weight-bold">Afmeldlink toevoegen</b>.</li>
  </ol>

  <p class="govuk-body">Ontvangers kunnen zich afmelden voor ongewenste e-mails door op de afmeldlink te klikken.</p>
  <p class="govuk-body">We rapporteren alle afmeldverzoeken op de {{ service_link(current_service, 'main.service_dashboard', 'dashboard') }}.</p>
  <p class="govuk-body">U dient het rapport te downloaden en de ontvangers uit uw verzendlijst te verwijderen. Doe dit voordat u opnieuw e-mails naar deze ontvangers stuurt.</p>
  <p class="govuk-body">Dit rapport is tot 90 dagen beschikbaar.</p>

  <h3 class="govuk-heading-m">Als u een eigen afmeldlink wilt toevoegen</h3>
  <p class="govuk-body">Dit is een API-only functie. Volg de instructies in onze <a class="govuk-link govuk-link--no-visited-state" href="https://www.notifications.service.gov.uk/using-notify/api-documentation">API-documentatie</a>.</p>
  <p class="govuk-body">U heeft een ontwikkelaar in uw team nodig om dit voor u in te stellen.</p>

{% endblock %}
