{% extends "org_template.html" %}

{% block org_page_title %}
  Services
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-medium">
    Services
  </h1>
  <ul>
  {% for service in organisation_services %}
    <li class="browse-list-item">
      {% if service.has_permission_to_view or current_user.platform_admin %}
        <a href="{{ url_for('main.service_dashboard', service_id=service.id) }}" class="browse-list-link">{{ service['name'] }}</a>
      {% else %}
        {{ service['name'] }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>

{% endblock %}
