{% from "components/banner.html" import banner_wrapper %}

{% extends "admin_template.html" %}

{% block per_page_title %}
  You’ve been invited to send live emergency alerts.
{% endblock %}

{% set mainClasses = "govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% block main %}

  <div class="govuk-width-container">
    {% include "service_navigation.html" %}
    <main class="govuk-main-wrapper column-main {{ mainClasses }}" id="main-content" role="main">
      <div class="banner-tour banner-tour-no-fixed-height banner-tour-with-service-name">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h1 class="heading-medium">
              You’ve been invited to send live emergency alerts.
            </h1>
            <p class="govuk-body heading-medium">
              Members of the public will receive alerts you send from this service.
            </p>
            <p class="govuk-body heading-medium">
              <a class="govuk-link govuk-link--no-visited-state" href='{{ url_for(".broadcast_tour_live", service_id=current_service.id, step_index=2) }}'>
                Continue
              </a>
            </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <img src="{{ asset_url('images/broadcast-tour/live/1.png') }}" alt="">
            <link rel="preload" href="{{ asset_url('images/broadcast-tour/live/2.png') }}" as="image">
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
