{% extends "content_template.html" %}
{% from "components/content-metadata.html" import content_metadata %}

{% block per_page_title %}
Toegankelijkheidsverklaring
{% endblock %}

{% block content_column_content %}

<h1 class="heading-large">Toegankelijkheidsverklaring</h1>

{{ content_metadata(
data={
"Gepubliceerd": "23 september 2020",
"Laatst bijgewerkt": "15 juli 2025",
"Volgende beoordeling": "31 juli 2025"
}
) }}
{# Last non-functional changes: 13 December 2024 #}

<p class="govuk-body">
  Deze toegankelijkheidsverklaring is van toepassing op het domein https://admin.notifynl.nl/. Het geldt niet voor het
  subdomein met de NotifyNL API-documentatie.
</p>

<p class="govuk-body">
  Deze website wordt beheerd door Worth Systems. De website is ontworpen om door zoveel mogelijk mensen te worden
  gebruikt. Je moet het volgende kunnen doen:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>kleuren, contrastniveaus en lettertypes aanpassen via browser- of apparaatinstellingen</li>
  <li>tot 400% inzoomen zonder dat de tekst buiten het scherm valt</li>
  <li>het grootste deel van de website navigeren met een toetsenbord of spraakherkenningssoftware</li>
  <li>het grootste deel van de website beluisteren met een schermlezer (inclusief de meest recente versies van JAWS,
    NVDA en VoiceOver)</li>
</ul>

<p class="govuk-body">
  We hebben de tekst van de website ook zo eenvoudig mogelijk gemaakt om te begrijpen.
</p>

<p class="govuk-body">
  <a class="govuk-link govuk-link--no-visited-state" href="https://mcmw.abilitynet.org.uk">AbilityNet</a> geeft advies
  over hoe je je apparaat gemakkelijker kunt gebruiken als je een beperking hebt.
</p>

<h2 class="heading-medium" id="how-accessible-this-website-is">Hoe toegankelijk deze website is</h2>

<p class="govuk-body">
  We weten dat sommige onderdelen van deze website niet volledig toegankelijk zijn.
</p>
{#
<p class="govuk-body">
  de Notify-statuspagina heeft verschillende toegankelijkheidsproblemen
</p>
#}

<p class="govuk-body">
  We weten ook dat de e-mails die NotifyNL verstuurt niet volledig toegankelijk zijn. De NVDA-schermlezer kondigt extra
  spaties aan in e-mails wanneer je ze bekijkt in Microsoft Outlook.
</p>

{#
<h2 class="heading-medium" id="feedback-and-contact-information">Feedback en contactinformatie</h2>
<p class="govuk-body">
  Als je een deel van deze dienst in een ander formaat nodig hebt, zoals grootletterdruk, geluidsopname of braille, <a
    class="govuk-link govuk-link--no-visited-state" href="{{ url_for(" main.support") }}">neem contact op met het GOV.UK
    Notify-team</a>.
</p>
<p class="govuk-body">
  We nemen je verzoek in overweging en nemen uiterlijk aan het einde van de volgende werkdag contact met je op.
</p>
#}

<h2 class="heading-medium" id="reporting-accessibility-problems">Toegankelijkheidsproblemen met deze website melden</h2>

<p class="govuk-body">
  We willen de toegankelijkheid van deze website voortdurend verbeteren. Als je problemen vindt die niet op deze pagina
  staan of denkt dat we niet voldoen aan de toegankelijkheidseisen, <a class="govuk-link govuk-link--no-visited-state"
    href="{{ url_for('main.support') }}">neem contact op met het Notify-team</a>.
</p>

{#
<h2 class="heading-medium" id="enforcement-procedure">Handhavingsprocedure</h2>

<p class="govuk-body">
  De Equality and Human Rights Commission (EHRC) is verantwoordelijk voor de handhaving van de Public Sector Bodies
  (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (de ‘toegankelijkheidsregels’). Als je niet
  tevreden bent met hoe we op je klacht reageren, <a class="govuk-link govuk-link--no-visited-state"
    href="https://www.equalityadvisoryservice.com/">neem contact op met de Equality Advisory and Support Service
    (EASS)</a>.
</p>

<h2 class="heading-medium" id="technical-information">Technische informatie over de toegankelijkheid van deze website
</h2>

<p class="govuk-body">
  GDS zet zich in om zijn websites toegankelijk te maken, in overeenstemming met de Public Sector Bodies (Websites and
  Mobile Applications) (No. 2) Accessibility Regulations 2018.
</p>

<h2 class="heading-medium" id="compliance-status">Conformiteitsstatus</h2>

<p class="govuk-body">
  We hebben de Notify-website getest aan de hand van de Web Content Accessibility Guidelines (WCAG) 2.2 AA-standaard.
</p>

<p class="govuk-body">
  Deze website is gedeeltelijk conform de Web Content Accessibility Guidelines versie 2.2 AA-standaard, vanwege een
  hieronder vermelde niet-naleving.
</p>

<h2 class="heading-medium" id="non-accessible-content">Niet-toegankelijke inhoud</h2>
#}
<h3 class="heading-small" id="non-compliance">Niet-naleving van de toegankelijkheidsregels</h3>

<p class="govuk-body">
  De volgende inhoud op de Notify-website is niet conform de WCAG versie 2.2 AA-standaard:
</p>

<h3 class="heading-small" id="pdfs-documents">
  PDF’s en andere documenten
</h3>

<h3 class="heading-small" id="emails">
  E-mails
</h3>

<p class="govuk-body">
  De NVDA-schermlezer kondigt extra spaties aan in e-mails wanneer ze worden bekeken in Microsoft Outlook.
</p>

<h3 class="heading-small" id="status-page">
  Statuspagina
</h3>

<p class="govuk-body">
  De volgende inhoud op de <a class="govuk-link govuk-link--no-visited-state"
    href="https://status.notifications.service.gov.uk/">Notify-statuspagina</a> is niet conform de WCAG versie 2.2
  AA-standaard:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>een onjuiste koppenhiërarchie die niet voldoet aan <a class="govuk-link govuk-link--no-visited-state"
      href="https://www.w3.org/TR/WCAG21/#info-and-relationships">succescriterium 1.3.1: info en relaties</a></li>
  <li>ontbrekende niveau 1-koppen (gebruikers kunnen mogelijk de structuur van de inhoud op de pagina niet goed bepalen)
  </li>
  <li>onze incidentenpagina mist de hoofdkop en de status-homepagina heeft een onjuiste koppenhiërarchie – dit voldoet
    niet aan <a class="govuk-link govuk-link--no-visited-state"
      href="https://www.w3.org/TR/WCAG21/#info-and-relationships">succescriterium 1.3.1: info en relaties</a></li>
  <li>onze formulieren om je te abonneren op statusupdates geven bij invoer van onjuiste gegevens geen melding aan
    schermlezergebruikers wanneer het foutbericht beschikbaar komt – dit voldoet niet aan <a
      class="govuk-link govuk-link--no-visited-state"
      href="https://www.w3.org/TR/WCAG21/#status-messages">succescriterium 4.1.3: statusmeldingen</a></li>
  <li>incidenttitels zijn kleurgecodeerd zonder andere visuele aanwijzing of tekst – dit voldoet niet aan <a
      class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG21/#use-of-color">succescriterium
      1.4.1: gebruik van kleur</a></li>
  <li>er is slechts één manier om sommige pagina’s te bereiken. Veel van deze pagina’s zijn alleen bereikbaar via
    ontoegankelijke bedieningselementen – dit voldoet niet aan <a class="govuk-link govuk-link--no-visited-state"
      href="https://www.w3.org/TR/WCAG21/#multiple-ways">succescriterium 2.4.5: meerdere manieren</a></li>
</ul>

<h2 class="heading-medium" id="how-we-tested-this-service">
  Hoe we deze dienst hebben getest
</h2>

<p class="govuk-body">
  Alle statuspagina’s binnen GDS zijn in januari 2025 beoordeeld door een interne toegankelijkheidsspecialist. De
  daaruit voortgekomen problemen zijn nu opgenomen in deze verklaring en worden aangepakt.
</p>
<p class="govuk-body">
  We hebben opnieuw bepaald welke taken Notify-gebruikers doorgaans moeten uitvoeren en deze in september 2024 getest
  aan de hand van WCAG 2.2.
</p>
<p class="govuk-body">
  De onderdelen van de website die worden gebruikt voor het toevoegen van <a
    class="govuk-link govuk-link--no-visited-state"
    href="{{ url_for('main.guidance_email_branding') }}">e-mailbranding</a> of <a
    class="govuk-link govuk-link--no-visited-state"
    href="{{ url_for('main.guidance_letter_branding') }}">briefbranding</a> zijn getest op 9 oktober 2023. De knop om
  tekst van de pagina naar je klembord te kopiëren en de component om de dag en tijd voor het versturen van meldingen te
  kiezen, zijn hierbij ook getest.
</p>
<p class="govuk-body">
  De onderdelen van de website die worden gebruikt om sms’jes, e-mails en brieven te versturen, zijn voor het laatst
  getest in februari 2021. De e-mails die we versturen, de webpagina’s die gebruikers zien wanneer ze een bestand van
  NotifyNL ontvangen en een voorbeeldbrief in PDF zijn voor het laatst getest op 11 maart 2019.
</p>
<p class="govuk-body">
  Oorspronkelijk hebben we bepaald welke pagina’s getest moesten worden op basis van de meest voorkomende taken die
  NotifyNL-gebruikers uitvoeren. We hebben ook een steekproef van pagina’s met veelgebruikte interfacecomponenten
  getest. Sindsdien testen we alle nieuwe functies of substantiële wijzigingen aan de dienst.
</p>
{% endblock %}
