{% extends "withoutnav_template.html" %}
{% from "components/govuk-page-header.html" import govuk_page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set heading = 'Voer een servicenaam in' %}

{% block backLink %}
  {% if request.args.get("back") == "your_services" %}
    {{ govukBackLink({ "href": url_for('main.your_services') }) }}
  {% endif %}
{% endblock %}

{% block per_page_title %}
  {{ heading }}
{% endblock %}

{% block maincolumn_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
       {{ govuk_page_header(heading) }}
      <p class="govuk-body">Dit is de naam waarvandaan uw e-mails worden verzonden.</p>
      <p class="govuk-body">U kunt deze naam ook laten weergeven aan het begin van elk sms-bericht dat u verstuurt.</p>

    {% if default_organisation_type == 'central' or default_organisation_type == 'local'  %}
      <p class="govuk-body">Uw servicenaam moet de ontvanger duidelijk maken waar uw bericht over gaat en van wie het afkomstig is. Bijvoorbeeld:</p>

      <ul class="govuk-list govuk-list--bullet">
        {% if default_organisation_type == 'central' %}
          <li>Inschrijven voor stemmen</li>
          <li>Uw paspoort verlengen</li>
          <li>Controleer uw AOW</li>
        {% elif default_organisation_type == 'local' %}
          <li>Schoolinschrijvingen – {{ current_user.default_organisation.name }}</li>
          <li>Kiesdiensten – {{ current_user.default_organisation.name }}</li>
          <li>Blauwe kaart – {{ current_user.default_organisation.name }}</li>
        {% endif %}
      </ul>
    {% else %}
      <p class="govuk-body">Uw servicenaam moet de ontvanger duidelijk maken waar uw bericht over gaat en van wie het afkomstig is.</p>
    {% endif %}

    <p class="govuk-body">Gebruik geen acroniem, initialisme of afkorting, tenzij uw ontvangers er al bekend mee zijn.</p>

    {% call form_wrapper() %}
      {{ form.name(param_extensions={"hint": {"text": "U kunt dit later wijzigen"} }) }}

      {% if not default_organisation_type %}
        {{ form.organisation_type }}
      {% endif %}

      {{ page_footer('Service toevoegen') }}
    {% endcall %}

    </div>
  </div>

{% endblock %}
