{% extends "withoutnav_template.html" %}
{% from "components/content-metadata.html" import content_metadata %}

{% block per_page_title %}
  Privacyverklaring: hoe we jouw gegevens gebruiken
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="heading-large">Privacyverklaring: hoe we jouw gegevens gebruiken</h1>

    {{ content_metadata(
      data={
        "Laatst bijgewerkt": "02 juni 2025"
      }
    ) }}

    <h2 class="heading-medium" id="who-we-are">Wie we zijn</h2>

    <p class="govuk-body">GOV.UK Notify is een dienst waarmee teams in de Britse publieke sector e-mails, sms-berichten en brieven kunnen versturen
      naar gebruikers van hun dienst.</p>

    <p class="govuk-body">Organisaties die meldingen versturen via GOV.UK Notify zijn de verwerkingsverantwoordelijken en GDS is de verwerker. De verwerkingsverantwoordelijke moet je informeren over wat er met jouw persoonsgegevens gebeurt.</p>

    <p class="govuk-body">Voor de inloggegevens die worden gebruikt om toegang te krijgen tot GOV.UK Notify, is GDS – als onderdeel van het Department for Science, Innovation and Technology – de verwerkingsverantwoordelijke.</p>

    <p class="govuk-body">Voor meer informatie zie het Information Commissioner’s Office (ICO) <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/esdwebpages/search">Register gegevensbescherming</a>.
      Het DSIT-registratienummer is: ZB546218</p>

    <h2 class="heading-medium" id="what-data-we-collect-from-you">Welke gegevens we van je verzamelen</h2>

    <p class="govuk-body">De persoonsgegevens die we verzamelen van medewerkers in de publieke sector die een GOV.UK Notify-account aanmaken zijn:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>je naam</li>
        <li>je e-mailadres</li>
        <li>je mobiele telefoonnummer</li>
        <li>het IP-adres dat je gebruikt om GOV.UK Notify te openen</li>
    </ul>

    <p class="govuk-body">De rechtsgrondslag voor het verwerken van deze gegevens is ‘publieke taak’ – zodat je toegang kunt krijgen tot GOV.UK Notify om meldingen te versturen naar gebruikers van je publieke dienst.</p>

    <h2 class="heading-medium" id="why-we-need-your-data">Waarom we je gegevens nodig hebben</h2>

    <p class="govuk-body">We hebben je persoonsgegevens nodig om ervoor te zorgen dat alleen bevoegde gebruikers GOV.UK Notify kunnen gebruiken om meldingen te versturen.</p>

    <h2 class="heading-medium" id="what-we-do-with-your-data">Wat we met je gegevens doen</h2>

    <p class="govuk-body">We gebruiken je gegevens om te controleren dat je toegang hebt tot GOV.UK Notify en om je activiteiten bij te houden tijdens het gebruik ervan. Hiervoor maken we gebruik van externe leveranciers.</p>

    <p class="govuk-body">We zullen je gegevens niet:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>verkopen of verhuren aan derden</li>
        <li>delen met derden voor marketingdoeleinden</li>
    </ul>

    <p class="govuk-body">We delen je gegevens alleen als we dat wettelijk verplicht zijn – bijvoorbeeld door een gerechtelijk bevel, of om fraude of andere criminaliteit te voorkomen.</p>

    <h2 class="heading-medium" id="how-long-we-keep-your-data">Hoe lang we je gegevens bewaren</h2>

    <p class="govuk-body">We bewaren je persoonsgegevens zolang je een GOV.UK Notify-account hebt.</p>

    <p class="govuk-body">Wanneer je ons vraagt je account te sluiten, verwijderen we je gegevens binnen 1 jaar.</p>

    <p class="govuk-body">Wanneer we je account sluiten, verwijderen we je:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>naam</li>
        <li>mobiele telefoonnummer</li>
        <li>wachtwoord voor GOV.UK Notify</li>
    </ul>

    <p class="govuk-body">Om beveiligingsaudits uit te kunnen voeren, bewaren we je e-mailadres en IP-adressen nog 1 jaar voordat we ze verwijderen.</p>

    <h2 class="heading-medium" id="where-your-data-is-processed">Waar je gegevens worden verwerkt en opgeslagen</h2>

    <p class="govuk-body">We ontwerpen, bouwen en beheren onze systemen om ervoor te zorgen dat je gegevens zo veilig mogelijk zijn in elke fase, zowel tijdens verwerking als opslag.</p>

    <p class="govuk-body">Je persoonsgegevens worden verwerkt in zowel het VK als de Europese Economische Ruimte (EER). Je gegevens krijgen in de EER hetzelfde beschermingsniveau als in het VK dankzij de <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/for-organisations/dp-at-the-end-of-the-transition-period/data-protection-and-the-eu-in-detail/adequacy/">adequaatheidsbesluiten</a>.</p>

    <h2 class="heading-medium" id="how-we-protect-your-data">Hoe we je gegevens beschermen en beveiligen</h2>

    <p class="govuk-body">We doen er alles aan om je gegevens veilig te houden. Om ongeoorloofde toegang of openbaarmaking te voorkomen hebben we technische en organisatorische maatregelen genomen om de gegevens die we over je verzamelen te beveiligen – bijvoorbeeld door je gegevens met verschillende niveaus van versleuteling te beschermen. We zorgen er ook voor dat derden waarmee we samenwerken verplicht zijn alle persoonsgegevens die ze namens ons verwerken veilig te houden.</p>

    <h2 class="heading-medium" id="childrens-privacy-protection">Bescherming van de privacy van kinderen</h2>

    <p class="govuk-body">We begrijpen hoe belangrijk het is om de privacy van kinderen online te beschermen. Onze diensten zijn niet ontworpen voor of bewust gericht op kinderen van 13 jaar of jonger. Het is niet ons beleid om bewust gegevens te verzamelen of te bewaren over personen jonger dan 13 jaar.</p>

    <h2 class="heading-medium" id="your-rights">Wat zijn je rechten</h2>

    <p class="govuk-body">Je hebt het recht om het volgende te verzoeken:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>informatie over hoe je persoonsgegevens worden verwerkt</li>
      <li>een kopie van die persoonsgegevens – deze kopie wordt verstrekt in een gestructureerd, veelgebruikt en machinaal leesbaar formaat</li>
      <li>dat onnauwkeurigheden in je persoonsgegevens onmiddellijk worden gecorrigeerd</li>
    </ul>

    <p class="govuk-body">Je kunt ook:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>bezwaar maken tegen hoe je persoonsgegevens worden verwerkt</li>
      <li>verzoeken dat je persoonsgegevens worden verwijderd als daar geen rechtvaardiging meer voor is</li>
      <li>vragen dat de verwerking van je persoonsgegevens in bepaalde omstandigheden wordt beperkt</li>
    </ul>

    <p class="govuk-body">Als je een van deze verzoeken hebt, neem dan contact op met onze Functionaris Gegevensbescherming – je vindt de contactgegevens hieronder.</p>

    <h2 class="heading-medium" id="changes-to-this-notice">Wijzigingen in deze verklaring</h2>

    <p class="govuk-body">We kunnen deze privacyverklaring op elk moment naar eigen goeddunken wijzigen of aanpassen. Wanneer we wijzigingen doorvoeren, passen we de datum van de laatste wijziging bovenaan deze pagina aan. Elke wijziging of aanpassing van deze privacyverklaring is vanaf die datum op jou en je gegevens van toepassing. We raden je aan deze privacyverklaring regelmatig te bekijken zodat je op de hoogte blijft van hoe we je gegevens beschermen.</p>

    <h2 class="heading-medium" id="questions-and-complaints">Vragen en klachten</h2>

    <ol class="govuk-list govuk-list--number">
      <li>
        <p class="govuk-body">Neem contact op met het GDS Data Protection Team als je:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>vragen hebt over iets in dit document</li>
          <li>denkt dat je persoonsgegevens verkeerd zijn gebruikt of behandeld</li>
        </ul>

        <p class="govuk-body">
        GDS Data Protection Team<br>
        <a class="govuk-link govuk-link--no-visited-state" href="mailto:gds-data-protection@digital.cabinet-office.gov.uk">gds-data-protection@digital.cabinet-office.gov.uk</a>
        </p>
      </li>
      <li>
        <p class="govuk-body">De Functionaris Gegevensbescherming geeft onafhankelijk advies en houdt toezicht op het gebruik van persoonsgegevens door DSIT en GDS.</p>
        <p class="govuk-body">
        Je kunt ook contact opnemen met de Functionaris Gegevensbescherming.<br>
        <a class="govuk-link govuk-link--no-visited-state" href="mailto:dataprotection@dsit.gov.uk">dataprotection@dsit.gov.uk</a>
        </p>
      </li>
      <li>
        <p class="govuk-body">Als je een klacht hebt, kun je ook contact opnemen met het <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/">Information Commissioner’s Office</a> (ICO). Het ICO is een onafhankelijke toezichthouder die is opgericht om de rechten op informatie te waarborgen.</p>
        <p class="govuk-body">
        Information Commissioner’s Office<br>
        <a class="govuk-link govuk-link--no-visited-state" href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a><br>
        0303 123 1113<br>
        Wycliffe House<br>
        Water Lane<br>
        Wilmslow<br>
        Cheshire SK9 5AF
        </p>
      </li>
    </ol>


  </div>
</div>

{% endblock %}
