{% extends "fullwidth_template.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% block meta %}
<meta name="description"
  content="NotifyNL stelt u in staat om e-mails, sms-berichten en brieven naar uw gebruikers te sturen. Probeer NotifyNL nu als u werkt bij de rijksoverheid of een gemeente.">
{% endblock %}

{% block pageTitle %}
NotifyNL
{% endblock %}

{% block content %}

<div class="product-page-intro">
  <div class="product-page-intro-wrapper" data-notify-module="homepage">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1>
          Verstuur e-mails, sms-berichten en brieven naar uw gebruikers
        </h1>
        <p class="govuk-body">
          Probeer NotifyNL nu als u werkt bij de rijksoverheid of een gemeente.
        </p>
        <div class="button-container">
          {{ govukButton({
          "element": "a",
          "text": "Maak een account aan",
          "classes": "product-page-button button-container__button govuk-button--inverse govuk-!-margin-right-3",
          "href": url_for('main.register' )
          }) }}
          of <a class="govuk-link govuk-link--inverse" href="{{ url_for('main.sign_in' )}}">log in</a> als u eerder al een account had
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-page-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2>
        Beheer uw inhoud
      </h2>
      <p class="govuk-body">
        U heeft geen technische kennis nodig om sjablonen voor e-mails,
        sms-berichten of brieven aan te maken.
      </p>
    </div>
    <div class="govuk-grid-column-one-half">
      <img src="{{ asset_url('images/product_nl/01-templates.svg') }}" alt="">
    </div>
  </div>
</div>
<div class="product-page-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2>
        Bekijk hoe uw berichten presteren
      </h2>
      <p class="govuk-body">
        Volg hoeveel berichten u heeft verstuurd en
        ontdek welke niet zijn afgeleverd.
      </p>
    </div>
    <div class="govuk-grid-column-one-half">
      <img src="{{ asset_url('images/product_nl/02-reporting.svg') }}"
        alt="Een schermafbeelding van NotifyNL met het aantal verzonden e-mails en sms-berichten">
    </div>
  </div>
</div>
<div class="product-page-section">
  <h2 class="with-keyline">
    Verstuur berichten handmatig of automatisch
  </h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body">
        Upload een spreadsheet met e-mailadressen of
        telefoonnummers en Notify verstuurt de berichten.
      </p>
      <img src="{{ asset_url('images/product_nl/03-spreadsheet.svg') }}"
        alt="Een schermafbeelding van een spreadsheet met kolommen voor e-mailadres, naam en kleur">
    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body">
        Koppel de NotifyNL API aan uw webapplicatie of
        backofficesysteem.
      </p>
      <img src="{{ asset_url('images/product_nl/04-api.svg') }}"
        alt="Een schermafbeelding van computercode met een notify.send_email functie">
    </div>
  </div>
</div>
<div class="product-page-section nl-hide-demo" >
  <div class="with-keyline bottom-gutter-2" id="whos-using-notify">
    <h2>Wie gebruikt NotifyNL</h2>
    <div class="govuk-grid-row bottom-gutter">
      <div class="govuk-grid-column-one-half">
        <span class="govuk-visually-hidden">Er zijn</span>
        <div class="product-page-big-number">{{ counts.organisations|format_thousands }}</div>
        organisaties
      </div>
      <div class="govuk-grid-column-one-half">
        <span class="govuk-visually-hidden">en</span>
        <div class="product-page-big-number">{{ counts.services|format_thousands }}</div>
        diensten
        <span class="govuk-visually-hidden">die Notify gebruiken.</span>
      </div>
    </div>
    <p class="govuk-body">
      Bekijk de
      <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.performance') }}">lijst van diensten en
        organisaties</a>.
    </p>
  </div>
</div>
<div class="product-page-section nl-hide-demo">
  <div class="with-keyline bottom-gutter-2">
    <h2>Prijzen</h2>
    <div class="govuk-grid-row bottom-gutter">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-visually-hidden">E-mails</h3>
        <div class="product-page-big-number">Onbeperkt</div>
        gratis e-mails
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-visually-hidden">Sms-berichten</h3>
        <div class="product-page-big-number">{{ sms_rate }}</div>
        per bericht
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-visually-hidden">Brieven</h3>
        <div class="product-page-big-number">{{ one_page_second_class_letter_cost|format_pennies_as_currency(long=True)
          }}</div>
        om een eenzijdige brief te printen en te verzenden
      </div>
      <div class="govuk-grid-column-one-half">
        <p class="align-with-big-number-hint">
          Er zijn geen maandelijkse kosten, geen opstartkosten en geen&nbsp;aanbesteding nodig.
        </p>
        <p class="govuk-body">Lees meer over <a class="govuk-link govuk-link--no-visited-state" href={{
            url_for("main.guidance_pricing") }}>prijzen</a>.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="product-page-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="with-keyline">
        Het team
      </h2>
      <p class="govuk-body">
        NotifyNL wordt ontwikkeld en ondersteund door <a href="https://worth.systems" class="govuk-link govuk-link--no-visited-state" target="_blank">Worth Systems</a>.
      </p>
      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="mailto:info@worth.nl">Neem contact met ons op</a> als u
        een vraag heeft of feedback wilt geven.
      </p>
    </div>
    <div class="govuk-grid-column-one-half">
      <img src="{{ asset_url('images/product_nl/team.png') }}"
        alt="Een foto van het NotifyNL-team rond een groot scherm. Een teamlid wijst naar een grafiek op het scherm.">
    </div>
  </div>
</div>

{% endblock %}
