{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/webauthn-api-check.html" import webauthn_api_check %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}

{% set page_title = 'Haal uw beveiligingssleutel' %}

{% block extra_javascripts_before_body %}
  {{ webauthn_api_check() }}
{% endblock %}

{% block per_page_title %}
  {{ page_title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.your_account') }) }}
{% endblock %}

{% block maincolumn_content %}

{% set errorSummaries %}
  {{ govukErrorSummary({
    "classes": "webauthn__api-missing",
    "titleText": "Er is een probleem",
    "descriptionText": "Uw browser ondersteunt beveiligingssleutels niet. Probeer in te loggen bij Notify met een andere browser.",
    "errorList": [],
  }) }}

  {{ govukErrorSummary({
    "classes": "webauthn__no-js",
    "titleText": "Er is een probleem",
    "descriptionText": "JavaScript is niet beschikbaar op deze pagina. Beveiligingssleutels hebben JavaScript nodig om te functioneren.",
    "errorList": [],
  }) }}

  {% set keyProblemDescription %}
    Controleer of u de juiste sleutel heeft en probeer het opnieuw. Werkt dit niet,
     <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.support') }}">neem contact met ons op</a>.
  {% endset %}

  {{ govukErrorSummary({
    "classes": "govuk-!-display-none",
    "attributes": { "aria-live": "polite", "tabindex":"-1" },
    "titleText": "Er is een probleem met uw beveiligingssleutels",
    "descriptionHtml": keyProblemDescription,
    "errorList": [],
  }) }}
{% endset %}

  {{ errorSummaries }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ page_header(page_title) }}

      <p class="govuk-body">
        U heeft uw beveiligingssleutel nodig om in te loggen.
      </p>

      {{ govukButton({
        "element": "button",
        "text": "Beveiligingssleutel controleren",
        "classes": "govuk-button--secondary webauthn__api-required",
        "attributes": {
          "data-notify-module": "authenticate-security-key",
          "data-csrf-token": csrf_token(),
        }
      }) }}
    </div>
    <div class="govuk-grid-column-one-quarter">
      <img src="{{ asset_url('images/security-key.svg') }}" alt="" class="webauthn-illustration" width="149" height="150">
    </div>
  </div>
{% endblock %}
