{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block per_page_title %}
  Change your {{ thing }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Change your {}'.format(thing)) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

    {% call form_wrapper(autocomplete=True) %}
      {{ form.password(param_extensions={"autocomplete": "current-password"}) }}
      {{ page_footer('Confirm') }}
    {% endcall %}
    </div>
  </div>

{% endblock %}
