{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block per_page_title %}
  Change your password
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('.user_profile') }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Change your password') }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% call form_wrapper(autocomplete=True) %}
        {{ form.old_password }}
        {{ form.new_password }}
        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
