{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block per_page_title %}
  Change your {{ thing }}
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Change your {{ thing }}</h1>

  <div class="grid-row">
    <div class="column-three-quarters">
      <p>
        We’ve sent a security code to your new {{ thing }}.
      </p>
      <form method="post" autocomplete="off" novalidate>
        {{ textbox(
          form_field,
          width='5em',
          autofocus=True
        ) }}
        {{ page_footer(
          'Confirm',
          destructive=destructive,
          back_link=url_for('.user_profile')
        ) }}
      </form>
    </div>
  </div>

{% endblock %}
