{% extends "withoutnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% set page_title = 'Use platform admin view' %}

{% block per_page_title %}
  {{ page_title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('.user_profile') }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">

      {% call form_wrapper(class="govuk-!-margin-top-3") %}
        {{ form.enabled(param_extensions={
          'fieldset': {
            'legend': {
              'isPageHeading': True,
              'classes': 'govuk-fieldset__legend--l'
            }
          },
          'hint': {
            'text': 'Signing in again clears this setting'
          }
        }) }}
        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
