{% extends "govuk_frontend_jinja/template.html"%}

{% set cspNonce = request.csp_nonce %}
{# govukRebrand needs to be set due to a check #}
{# upstream but as there no favicons or header or footer #}
{# nothing changes #}
{% set govukRebrand = False %}

{% block headIcons %}
{% endblock %}

{% block head %}
  {% block extra_stylesheets %}
  {% endblock %}
  <style>
    body {
      background: #f3f2f1;
      color: #0b0c0c;
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    }
    .govuk-skip-link {
      display: none;
    }
    #main-content {
      box-sizing: border-box;
      max-width: 540px;
      margin: 48px auto;
      padding: 30px 30px 20px 30px;
      background: #ffffff;
    }
    footer {
      box-sizing: border-box;
      max-width: 540px;
      padding: 0 30px;
      margin: 48px auto;
    }
    h1 {
      font-size: 30px;
      line-height: 36px;
      margin: 0 0 20px 0;
    }
    p {
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 20px 0;
    }
    footer p {
      color: #505a5f;
    }
    button {
      margin: 0 0 20px 0;
      background: #505a5f;
      color: #ffffff;
      font-size: 20px;
      padding: 12px 20px;
      border: none;
      border-bottom: 2px solid #0b0c0c;
      cursor: pointer;
    }
    button:focus {
      outline: 3px solid #ffdd00;
    }
    button:active {
      background: #ffdd00;
      color: #0b0c0c;
    }
  </style>
  {% block meta %}
    {% if g.hide_from_search_engines %}
      <meta name="robots" content="noindex" />
    {% endif %}
  {% endblock %}
{% endblock %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}
