{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Wijzig afzendadres
{% endblock %}

{% block backLink %}
  {% if not request.args.get('from_template') %}
    {{ govukBackLink({ "href": url_for('main.service_letter_contact_details', service_id=current_service.id) }) }}
  {% endif %}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Wijzig afzendadres') }}
  {% call form_wrapper() %}
      {{ form.letter_contact_block(param_extensions={
        "classes": "govuk-!-width-one-half govuk-textarea-highlight__textbox",
        "rows": "10",
        "attributes": {
          "data-notify-module": "enhanced-textbox",
          "data-highlight-placeholders": "true"
        },
        "label": {
          "text": "Dit wordt het afzendadres op uw brieven"
        },
        "hint": {
          "text": "Maximaal 10 regels"
        },
        "formGroup": {
          "classes": "govuk-textarea-highlight",
        }
      }) }}

    {% if form.is_default.data %}
      <p class="form-group">
        Dit is momenteel het standaardadres voor {{ current_service.name }}.
      </p>
    {% else %}
      {{ form.is_default }}
    {% endif %}

    {{ page_footer(
      'Opslaan',
      delete_link=url_for('main.service_confirm_delete_letter_contact', service_id=current_service.id, letter_contact_id=letter_contact_id),
      delete_link_text='Verwijderen'
    ) }}

  {% endcall %}

{% endblock %}
