<h1 class='banner-title'>
  {% if original_file_name %}
    Te veel ontvangers
  {% else %}
    Daglimiet bereikt
  {% endif %}
</h1>
<p class="govuk-body">
  U kunt per dag slechts {{ current_service.get_message_limit(template.template_type) | message_count(template.template_type) }} versturen
  {%- if current_service.trial_mode %}
    in de <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_trial_mode')}}">proefmodus</a>
  {%- endif -%}
  .
</p>
{% if original_file_name %}
  <p class="govuk-body">
    {% if (current_service.get_message_limit(template.template_type)) != remaining_messages %}
      U kunt vandaag nog {{ remaining_messages|format_thousands }} {{ remaining_messages|message_count_noun(template.template_type) }} versturen, maar
    {% endif %}
    ‘{{ original_file_name }}’ bevat
    {{ count_of_recipients|recipient_count(template.template_type) }}.
  </p>
{% endif %}
