{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Free text message allowance' %}

{% block per_page_title %}
Free text message allowance
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Free text message allowance</h1>

  <p class="govuk-body">Each eligible service you add will get an annual allowance of free text messages. The free allowance renews on 1 April.</p>
  <p class="govuk-body">The size of the allowance depends on the organisation you work for.</p>

  <div class="bottom-gutter-3-2">
    
    {% set central_government_organisations_text %}
    Central government departments and <br>national organisations
    {% endset %}

    {% call mapping_table(
      caption='Free text message allowance',
      field_headings=['Organisation', 'Allowance per service'],
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for organisation_type, charge in [
        (central_government_organisations_text, '20,000 free text messages'),
        ('Local authorities and regional organisations', '10,000 free text messages'),
        ('State-funded schools', '5,000 free text messages'),
        ('GP surgeries', 'No free allowance'),
        ('Other organisations', '5,000 free text messages'),
      ] %}
        {% call row() %}
          {{ text_field(organisation_type) }}
          {{ text_field(charge) }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>

  <p class="govuk-body">The free allowance is discretionary. We review it every year to make sure GOV.​UK Notify can still support those teams who need it the most.</p>
  <p class="govuk-body">If your service sends a very high volume of text messages in a single financial year, we may not renew its free allowance.</p>

  <p class="govuk-body">You only pay for text messages if you exceed your free allowance. Find out <a class="govuk-link govuk-link--no-visited-state"
    href="{{ url_for('main.guidance_pricing_text_messages') }}">how much text messages cost</a>.</p>

{% endblock %}


