{% extends "content_template.html" %}

{% from "components/content-metadata.html" import content_metadata %}
{% from "components/table.html" import mapping_table, row, text_field, row_heading %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Pricing information' %}

{% block per_page_title %}
  Letter pricing
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Letter pricing</h1>

    {{ content_metadata(
      data={
        "Last updated": letter_rates.last_updated | format_date_normal
      }
    ) }}

  <div class="govuk-inset-text">
    Letter prices may go up on 5 January 2026. This is because Royal Mail is increasing its rates.
  </div>

  <p class="govuk-body">The cost of sending a letter depends on the postage you choose and how many sheets of paper you need.</p>

  <p class="govuk-body">Prices include:</p>
  <ul class="govuk-list govuk-list--bullet">
     <li>paper</li>
     <li>postage</li>
     <li>double-sided colour printing</li>
     <li>C5 size envelopes with an address window</li>
  </ul>

<p class="govuk-body">Letters must be 10 pages or less (5 double-sided sheets of paper).</p>

<p class="govuk-body">Prices do not include VAT.</p>

  <div>
    {%- set tableData = GovukTableData() -%}

    {%- do tableData.add_columns(['Paper'] + letter_rates.post_classes.values()|list) -%}

    {%- for sheets in letter_rates.sheet_counts -%}
      {%- set row_heading = [ sheets|string + ' sheet' + 's' if sheets > 1 else '1 sheet' ] -%}
      {%- set row = [] -%}
      {%- for post_class in letter_rates.post_classes.keys() -%}
        {%- do row.append(letter_rates.get(sheet_count=sheets, post_class=post_class)|format_pennies_as_currency(long=False)) -%}
      {%- endfor -%}
      {%- do tableData.add_row(row_heading + row) -%}
    {%- endfor -%}

    {{ govukTable ({
      "caption": "Letter pricing. Prices do not include VAT.",
      "captionClasses": "govuk-visually-hidden",
      "firstCellIsHeader": True,
      "head": tableData.columns,
      "rows": tableData.rows
    }) }}
  </div>

<p class="govuk-body">See <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_delivery_times', _anchor='letters') }}">delivery times</a>.</p>

{% endblock %}
