{% extends "content_template.html" %}

{% from "components/content-metadata.html" import content_metadata %}
{% from "components/table.html" import mapping_table, row, text_field, row_heading %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Pricing information' %}

{% block per_page_title %}
  Letter pricing
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Letter pricing</h1>

    {{ content_metadata(
      data={
        "Last updated": letter_rates.last_updated | format_date_normal
      }
    ) }}

  <p class="govuk-body">The cost of sending a letter depends on the postage you choose and how many sheets of paper you need.</p>

  <p class="govuk-body">Prices include:</p>
  <ul class="govuk-list govuk-list--bullet">
     <li>paper</li>
     <li>postage</li>
     <li>double-sided colour printing</li>
     <li>C5 size envelopes with an address window</li>
  </ul>

<p class="govuk-body">Letters must be 10 pages or less (5 double-sided sheets of paper).</p>

<p class="govuk-body">Prices do not include VAT.</p>

  <div>
    {% call mapping_table(
      caption='Letter pricing. Prices do not include VAT.',
      field_headings=['Paper'] + letter_rates.post_classes.values()|list,
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for sheets in letter_rates.sheet_counts %}
        {% call row() %}
          {% call row_heading() %} {{ sheets }} sheet{{ 's' if sheets > 1 else '' }} {% endcall %}
          {% for post_class in letter_rates.post_classes.keys() %}
            {{ text_field(letter_rates.get(sheet_count=sheets, post_class=post_class)|format_pennies_as_currency(long=False)) }}
          {% endfor %}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>

<p class="govuk-body">See <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_delivery_times', _anchor='letters') }}">delivery times</a>.</p>

{% endblock %}
