{% extends "content_template.html" %}

{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  Attach pages to a letter template
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Attach pages to a letter template</h1>

    <p class="govuk-body">Upload a PDF and we’ll print it as part of your letter.</p>
    <p class="govuk-body">You can attach pages with complex layouts. For example, forms, tables or direct debit mandates.</p>



  <p class="govuk-body">To add an attachment to your letter:</p>

  <ol class="govuk-list govuk-list--number">
    <li>Go to the {{ service_link(current_service, 'main.choose_template', 'templates') }} page.</li>
    <li>Add a new letter template or choose an existing template</li>
    <li>Select <b class="govuk-!-font-weight-bold">Attach pages</b> and <b class="govuk-!-font-weight-bold">choose a file</b>.</li>
  </ol>

  <p class="govuk-body">Your PDF must meet our attachment specification.</p>

  <h2 class="heading-medium">Attachment specification</h2>

  <p class="govuk-body">Page size and layout: A4 portrait (210 × 297 mm)</p>
  <p class="govuk-body">Maximum file size: 2 MB</p>
  <p class="govuk-body">Your letter must be 10 pages or less (5 double-sided sheets of paper).</p>
  <p class="govuk-body">The content of your letter must appear inside the printable area:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Left margin 15mm</li>
    <li>Right margin 15mm</li>
    <li>Top margin 5mm</li>
    <li>Bottom margin 5mm</li>
<ul>

{% endblock %}
