{% extends "content_template.html" %}

{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  Bulk sending
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Bulk sending</h1>

  <p class="govuk-body">You can send a batch of up to {{ max_spreadsheet_rows|format_thousands }} messages at once.</p>

<p class="govuk-body">There’s a <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("main.guidance_daily_limits" )}}">daily limit</a> to the number of messages you can send.</p>

  <p class="govuk-body">To send a batch of messages:</p>

  <ol class="govuk-list govuk-list--number">
    <li>Go to the {{ service_link(current_service, 'main.choose_template', 'templates') }} page.</li>
    <li>Add a new template or choose an existing template and select <b class="govuk-!-font-weight-bold">Get ready to send</b>.</li>
    <li>Select <b class="govuk-!-font-weight-bold">Upload a list of email addresses</b>, <b class="govuk-!-font-weight-bold">Upload a list of phone numbers</b>, or <b class="govuk-!-font-weight-bold">Upload a list of addresses</b>.</li>
  </ol>

  <p class="govuk-body">Find out <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("main.guidance_personalisation" )}}">how to personalise your messages</a>.</p>

  <p class="govuk-body">You can also <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("main.guidance_schedule_messages" )}}">schedule a batch of emails and text messages</a>.</p>

{% endblock %}
