{% extends "content_template.html" %}

{% from "components/table.html" import mapping_table, row, text_field %}
{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = "Using Notify" %}

{% block per_page_title %}
  Daily limits
{% endblock %}

{% block content_column_content %}

<h1 class="heading-large">Daily limits</h1>
<div class="bottom-gutter-3-2">
<p class="govuk-body">There’s a limit to the number of messages you can send each day. </p>
<p class="govuk-body">If you need to discuss these limits, <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("main.support") }}">contact us</a>.</p>
  
  {% call mapping_table(
    caption="Notification Daily limits",
    field_headings=["Message type", "Daily limit"],
    field_headings_visible=True,
    caption_visible=False,
    equal_length=True,
  ) %}
    {% for message, limit in  [
    ("Emails", rate_limits.email),
    ("Text messages", rate_limits.sms),
    ("Letters", rate_limits.letter)]
    %}
      {% call row() %}
        {{ text_field(message) }}
        {{ text_field(limit) }}
      {% endcall %}
    {% endfor %}
  {% endcall %}
  </div>

<h2 class="heading-medium">International text message limit</h2>

  <p class="govuk-body">By default, you can only send 100 text messages a day to international phone numbers. This counts towards your total daily limit of 250,000 text messages.</p>

  <p class="govuk-body">We set this limit to protect you from the threat of text message fraud.</p>

  <p class="govuk-body">Fraud can cost your organisation a lot of money if you do not take steps to protect yourself.</p>

  <p class="govuk-body">The National Cyber Security Centre (NCSC) has written a blog post called <a class="govuk-link govuk-link--no-visited-state" href="https://www.ncsc.gov.uk/blog-post/ait-fraud-what-you-need-to-know">‘AIT fraud: what you need to know’</a>.</p>

<h3 class="heading-small">If you need to change the international text message limit</h3>

  <ol class="govuk-list govuk-list--number">
    <li>Work out how many international text messages you need to send each day and base your new limit on that.</li>
    <li>Go to {{ service_link(current_service, 'main.service_settings', 'Settings') }}.</li>
   <li>Select <b class="govuk-!-font-weight-bold">Change</b> on the <b class="govuk-!-font-weight-bold">International text message limit</b> row.</li>
 </ol>

 <p class="govuk-body">You should also:</p>

    <ul class="govuk-list govuk-list--bullet">
     <li>track how many messages you send each day</li>
     <li>set an alert in your system for anything that is not normal</li>
     <li>stop your service from repeatedly sending messages to the same number</li>
    </ul>

<h3 class="heading-small">If you do not need to send any international text messages:</h3>

  <ol class="govuk-list govuk-list--number">
   <li>Go to {{ service_link(current_service, 'main.service_settings', 'Settings') }}.</li>
   <li>Select <b class="govuk-!-font-weight-bold">Change</b> on the <b class="govuk-!-font-weight-bold">Send international text messages</b> row.</li>
 </ol>

{% endblock %}
