{% from "components/service-link.html" import service_link %}
{% from "components/table.html" import mapping_table, row, text_field %}

{% extends "content_template.html" %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  Delivery times
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Delivery times</h1>

  <p class="govuk-body">The {{ service_link(current_service, 'main.service_dashboard', 'dashboard') }} lets you check the status of a message, to see when it was delivered.</p>
  <p class="govuk-body">To <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("main.guidance_security") }}">keep recipient data safe</a>, this information is only available for 7 days after a message has been sent. You can download a report, including a list of sent messages, for your own records.</p>
  <p class="govuk-body">Find out <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_message_status') }}">what each message status means</a>.</p>

  <h2 id="emails" class="heading-medium">Emails</h2>
  <p class="govuk-body">Notify commits to sending 95% of emails within 10 seconds.</p>
  <p class="govuk-body">Once an email has been sent, our email provider will try to deliver it to the recipient for up to 72 hours.</p>

  <h3 id="open-rates" class="heading-small">Open rates and click-throughs</h3>
  <p class="govuk-body">Notify cannot tell you if your users open an email or click on the links in an email. We do not track open rates and click-throughs because there are privacy issues. Tracking emails without asking permission from users could breach General Data Protection Regulations (GDPR).</p>

  <h2 id="text-messages"  class="heading-medium">Text messages</h2>
  <p class="govuk-body">Notify commits to sending 95% of text messages within 10 seconds.</p>
  <p class="govuk-body">Once a message has been sent, our text message provider will try to deliver it to the recipient for up to 72 hours.</p>
  <p class="govuk-body">We send text messages through different providers. If one provider fails, Notify switches to another so that your text messages are not affected.</p>

  <h2 id="letters" class="heading-medium">Letters</h2>
  <p class="govuk-body">Letters are printed at 5:30pm and dispatched the next working day (Monday to Friday, excluding bank holidays).</p>
  <p class="govuk-body">Estimated delivery times are based on the date a letter is dispatched.</p>

<div class="govuk-inset-text">
    <p class="govuk-body">
    From 28 July, second class letters will take 3 to 4 days to deliver.
    </p>
    <p class="govuk-body">
    For more information, <a class="govuk-link govuk-link--no-visited-state" href="https://www.ofcom.org.uk/post/royal-mail/reforming-the-postal-service-so-it-delivers-what-people-need">visit the Ofcom website</a>.
    </p>
</div>

<div class="bottom-gutter-3-2">
    {% call mapping_table(
      caption='Estimated delivery times for letters',
      field_headings=['Postage', 'Estimated delivery time'],
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for column_heading, description in [
        ('First class', '1 to 2 days (Monday to Saturday)'),
        ('Second class', '3 to 4 working days'),
        ('Economy mail', 'Up to 6 working days'),
        ('International (Europe)', '3 to 5 working days'),
        ('International (rest of the world)', '6 to 7 working days'),
        ] %}
        {% call row() %}
          {{ text_field(column_heading) }}
          {{ text_field(description) }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>

  <p class="govuk-body">See a list of <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_pricing_letters') }}">postage prices</a>.</p>

  <h2 id="returned-mail" class="heading-medium">Returned letters</h2>
  <p class="govuk-body">Every letter we send includes our print provider’s address on the back of the envelope. You cannot customise the return address.</p>
  <p class="govuk-body">Undelivered letters are returned to our print provider and destroyed.</p>
  <p class="govuk-body">You can see a report of returned letters on the dashboard.</p>
  <h3 id="identify-returned-letters" class="heading-small">Identify the returned letters</h3>
 <p class="govuk-body">To help you identify what letters are returned, the report will show details such as the:
 </p>
 <ul class="govuk-list govuk-list--bullet">
   <li>template ID</li>
   <li>date the letter was sent</li>
   <li>a reference for each letter if you include either:
       <ul class="govuk-list govuk-list--bullet">
           <li>a column called ‘reference’ in the list of addresses you upload</li>
           <li>the <code class="lang-py">reference</code> argument when making an API call if you use the Notify API</li>
       </ul>
   </li>
 </ul>
  <h3 id="automate-identifying-returned-letters" class="heading-small">Automate identifying the returned letters</h3>
  <p class="govuk-body">Use the Notify API to get the returned letters report and identify the letters. Follow the instructions in our <a class="govuk-link govuk-link--no-visited-state" href="https://www.notifications.service.gov.uk/using-notify/api-documentation">API documentation</a>.</p>
  <p class="govuk-body">You’ll need a developer on your team to set this up for you.</p>

{% endblock %}
