{% extends "content_template.html" %}

{% from "components/pill.html" import pill %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}
{% set page_title = 'Fonts and typefaces' %}

{% block per_page_title %}
  {{ page_title }}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">{{ page_title }}</h1>

  <p class="govuk-body">This page describes the typefaces and font sizes used by GOV.UK Notify.</p>

  <div class="govuk-!-margin-bottom-3">
    {{ pill(
      (
        ("Emails", "email", url_for(".guidance_fonts_typefaces"), 0),
        ("Text messages", "sms", url_for(".guidance_fonts_typefaces", notification_type="sms"), 0),
        ("Letters", "letter", url_for(".guidance_fonts_typefaces", notification_type="letter"), 0),
      ),
      current_value=notification_type,
      show_count=False,
    ) }}
  </div>

  {% if notification_type == "email" %}

    <p class="govuk-body">Emails use the default sans-serif typeface installed on the recipient’s device.</p>

    <p class="govuk-body">Our first choice is Helvetica, followed by Arial.</p>

    <p class="govuk-body">The default font size for emails is 19 pixels.</p>

    <p class="govuk-body">Recipients can change the font size in their device settings.</p>

    <p class="govuk-body">Emails support any Unicode characters.</p>

    <p class="govuk-body">You cannot change the typeface or font size.</p>

    <p class="govuk-body">See: <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_formatting') }}">Formatting</a></p>


  {% endif %}
  {% if notification_type == "sms" %}

    <p class="govuk-body">The typeface for text messages is set by the recipient’s mobile phone or device.</p>

    <p class="govuk-body">Some characters can affect the cost of sending a text message.</p>

    <p class="govuk-body">See: <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_pricing_text_messages') }}">Text message pricing</a></p>

  {% endif %}
  {% if notification_type == "letter" %}

    <p class="govuk-body">Letters use the Nimbus Sans L typeface at 12.5pt size.</p>

    <p class="govuk-body">You cannot change the typeface or font size.</p>

    <p class="govuk-body">See: <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_formatting') }}">Formatting</a></p>

    <p class="govuk-body">If you need to provide large format print letters, you can <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_upload_a_letter') }}">upload a PDF letter instead</a>.</p>

  {% endif %}

{% endblock %}
