{% extends "content_template.html" %}

{% from "components/service-link.html" import service_link %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}


{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}
{% set bullets_instructions -%}
  <p class="govuk-body">Introduce bullet points with a lead-in line ending in a colon:</p>
  <p class="govuk-body"></p>
  <p class="govuk-body">* leave one empty line space after the lead-in line<br>
      * use * (asterisk) or - (dash) followed by a space to add an item<br>
      * start each item with a lowercase letter, do not end with a full stop<br>
      * leave one empty line space after the last item<br>
  </p>
{%- endset %}
{% set numbered_list_instructions -%}
  <p class="govuk-body">1. Leave one empty line space before starting your list.<br>
      2. Enter a number followed by a full stop and a space to add an item.<br>
      3. Start each item with a capital letter and end it with a full stop.<br>
      4. Leave one empty line space after the last item.<br>
  </p>
{%- endset %}

{% block per_page_title %}
  Formatting emails and letters
{% endblock %}

{% block content_column_content %}
  <h1 class="heading-large">Formatting emails and letters</h1>

<p class="govuk-body">GOV.UK Notify uses Markdown to format content.</p>
<p class="govuk-body">You can see formatting instructions while you’re editing a template:</p>

  <ol class="govuk-list govuk-list--number">
    <li>Go to the {{ service_link(current_service, 'main.choose_template', 'templates') }} page.</li>
    <li>Add a new template or choose an existing template and select <b class="govuk-!-font-weight-bold">Edit</b>.</li>
    <li>Scroll down to see a guide to the available Markdown.</li>
  </ol>

<h2 class="heading-medium">Formatting options</h2>
 <p class="govuk-body">Email templates can include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="#bullets">bullet points</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#headings-and-subheadings">headings</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#horizontal-lines">horizontal lines</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#inset-text">inset text</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#numbered-steps">numbered steps</a></li>
  </ul>

 <p class="govuk-body">Letters can include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="#bullets">bullet points</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#headings-and-subheadings">headings</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#numbered-steps">numbered steps</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#page-breaks">page breaks</a></li>
  </ul>

<p class="govuk-body">You cannot use bold, italics, underlined text, different typefaces or fonts. This is because they can make it harder for people to read what you’ve written.</p>

<h2 class="heading-medium">Guidance</h2>
<h3 class="heading-small" id="bullets">Bullet points</h3>

<p class="govuk-body">Use bullet points to help words or phrases stand out in your emails and letters.</p>

  <p class="govuk-body">Copy this example to add bullet points:</p>

{{ govukInsetText({"html": bullets_instructions,
  "classes": "govuk-!-margin-top-0"})
}}

<p class="govuk-body">To create sub-items, add an indent of 2 spaces before the asterisk or dash.</p>
<p class="govuk-body">There’s more <a class="govuk-link govuk-link--no-visited-state"
    href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#bullet-points-steps">guidance about bullet points on GOV.UK</a>.</p>

<h3 class="heading-small" id="headings-and-subheadings">Headings</h3>
<p class="govuk-body">Use a heading to tell recipients what your email or letter is about.</p>
<p class="govuk-body">For emails, use subheadings to break up the rest of your content. Your first subheading must come after a heading.</p>
<p class="govuk-body">For letters, use headings to break up the rest of your content.</p>
<p class="govuk-body">Write all headings and subheadings in sentence case.</p>
<p class="govuk-body">Use one hashtag followed by a space for a heading in emails and letters, for example:</p>

{{ govukInsetText({"html": "# This is a heading"}) }}

<p class="govuk-body">Use 2 hashtags followed by a space for a subheading in emails, for example:</p>

{{ govukInsetText({"html": "## This is a subheading"}) }}

<p class="govuk-body">There’s more <a class="govuk-link govuk-link--no-visited-state"
    href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#headings">guidance about headings on GOV.UK</a>.</p>

<h3 class="heading-small" id="horizontal-lines">Horizontal lines</h3>
<p class="govuk-body">Use a horizontal line to create separate sections in an email template.</p>
<p class="govuk-body">To add a horizontal line between 2 paragraphs, use 3 dashes. Leave one empty line space after the first paragraph. For example:</p>

{{ govukInsetText({
  "html": '<p class="govuk-body">First paragraph</p>
            <p class="govuk-body"></p>
            <p class="govuk-body" style="letter-spacing: 1px;">---</p>
            <p class="govuk-body">Second paragraph</p>',
  "classes": "govuk-!-margin-top-0"})
}}

<h3 class="heading-small" id="inset-text">Inset text</h3>
<p class="govuk-body">Use inset text to differentiate a block of text from the content that surrounds it, for example:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>quotes</li>
    <li>examples</li>
    <li>additional information</li>
  </ul>
<p class="govuk-body">To add inset text, use a ^ (caret). For example:</p>

{{ govukInsetText({"html": "^ You must tell us if your circumstances change."}) }}

<p class="govuk-body">Use inset text very sparingly - it’s less effective if it’s overused.</p>
<p class="govuk-body">There’s more <a class="govuk-link govuk-link--no-visited-state"
    href="https://design-system.service.gov.uk/components/inset-text/">guidance about inset text in the GOV.UK Design System</a>.</p>

<h3 class="heading-small" id="numbered-steps">Numbered steps</h3>
<p class="govuk-body">Use numbered steps instead of bullet points to guide a user through a process, or when the order of the items in a list is relevant.</p>
<p class="govuk-body">You do not need a lead-in line for numbered lists.</p>
<p class="govuk-body">Copy this example to add a numbered list:</p>

{{ govukInsetText({"html": numbered_list_instructions,
  "classes": "govuk-!-margin-top-0"})
}}

<p class="govuk-body">To create sub-items, add an indent of 2 spaces before the number.</p>
<p class="govuk-body">There’s more <a class="govuk-link govuk-link--no-visited-state"
    href="https://design-system.service.gov.uk/styles/typography/#numbered-lists">guidance about numbered lists in the GOV.UK Design System</a>.</p>

<h3 class="heading-small" id="page-breaks">Page breaks</h3>
<p class="govuk-body">To insert a page break in a letter template, use 3 asterisks. For example:</p>
{{ govukInsetText({
  "html": "Content on page 1<br/>
            <br/>
            ***<br/>
            <br/>
            Content on page 2<br/>",
  "classes": "govuk-!-margin-top-0 govuk-!-margin-bottom-3"})
}}

{% endblock %}
