{% extends "content_template.html" %}

{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  Edit and format messages
{% endblock %}

{% block content_column_content %}
  <h1 class="heading-large">Edit and format messages</h1>

  <p class="govuk-body">You can see a list of formatting instructions on the edit template page:</p>

  <ol class="govuk-list govuk-list--number">
    <li>Go to the {{ service_link(current_service, 'main.choose_template', 'templates') }} page.</li>
    <li>Add a new template or choose an existing template and select <b class="govuk-!-font-weight-bold">Edit</b>.</li>
  </ol>

  <p class="govuk-body">Email templates can include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>headings</li>
    <li>subheadings</li>
    <li>bullets</li>
    <li>inset text</li>
    <li>horizontal rules</li>
  </ul>

  <p class="govuk-body">Letter templates can include headings and bullets.</p>

  <p class="govuk-body">Notify does not allow bold, italics, subheadings, underlined text or different fonts. This is because they can make it harder for users to read what you’ve written.</p>

  <p class="govuk-body">See <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_links_and_URLs') }}">how to format links and URLs</a>.</p>

{% endblock %}
