{% extends "content_template.html" %}

{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  QR codes
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Add a QR code to a letter template</h1>

  <p class="govuk-body">QR codes let recipients visit your website without having to type in the URL.</p>

  <p class="govuk-body">You can either:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>add a QR code that will always link to the same website</li>
    <li>personalise all or part of the link contained in a QR code</li>
  </ul>

  <h2 class="heading-medium">How to add a QR code</h2>

  <p class="govuk-body">When you add a QR code to your letter, you must provide an alternative for people who cannot scan QR codes. For example, a short URL that’s easy to read or written instructions on how to find your website.</p>

  <p class="govuk-body">Do not add more than one QR code per page.</p>

  <h3 class="heading-small">Add a QR code that will always link to the same website</h3>

  <p class="govuk-body">Copy this example to add a QR code to your letter template:</p>

  <pre class="formatting-example"><code class="lang-md">QR: https://www.gov.uk/example</code></pre>

  <p class="govuk-body">Leave one empty line space before and after the QR code.</p>

  <h3 class="heading-small">Add a personalised QR code</h3>

  <p class="govuk-body">Use placeholders to personalise all or part of the link contained in a QR code.</p>

  <p class="govuk-body">Each time you send the letter template, you can either:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>fill in the link yourself</li>
    <li>upload a list of personal details, including links, and let Notify do it for you</li>
  </ul>

  <p class="govuk-body">Copy this example if the link changes each time you send a letter:</p>

  <pre class="formatting-example"><code class="lang-md">QR: ((placeholder))</code></pre>

  <p class="govuk-body">Copy this example if only part of the link changes each time you send a letter:</p>

  <pre class="formatting-example"><code class="lang-md">QR: https://www.example.com?reference=((placeholder))</code></pre>

  <p class="govuk-body">Leave one empty line space before and after the QR code.</p>

  <p class="govuk-body">Choose a unique name for the placeholder inside the double brackets. When you send the letter, Notify will replace this with the QR code link.</p>

{% endblock %}
