{% extends "content_template.html" %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  Add a QR code to a letter template
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Add a QR code to a letter template</h1>

  <p class="govuk-body">A QR code lets the recipient of a letter visit your website without having to type in the URL.</p>

  <p class="govuk-body">When you add a QR code to your letter, you must provide an alternative for people who cannot scan QR codes. For example, a short URL that’s easy to read or written instructions on how to find your website.</p>

  <h2 class="heading-medium">How to add QR codes</h2>

  <p class="govuk-body">You can either:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>add the same QR code to every letter you send</li>
    <li>personalise the QR code each time you send a letter</li>
  </ul>

  <p class="govuk-body">Do not add more than one QR code per page.</p>

  <h3 class="heading-small">Add the same QR code to every letter you send</h3>

  <p class="govuk-body">Copy this example to add a QR code to your letter template:</p>

  <pre class="formatting-example"><code class="lang-md">QR: https://www.gov.uk/example</code></pre>

  <p class="govuk-body">Leave one empty line space before and after the QR code.</p>

  <h3 class="heading-small">Personalise the QR code each time you send a letter</h3>

  <p class="govuk-body">Use <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_personalisation') }}">placeholders</a> to personalise all or part of the link contained in a QR code.</p>

  <p class="govuk-body">Each time you send the letter template, you can either:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>fill in the placeholder with a link yourself</li>
    <li>upload a list of personal details, including links, and let Notify do it for you</li>
  </ul>

  <p class="govuk-body">Copy this example if the whole link changes each time you send a letter:</p>

  <pre class="formatting-example"><code class="lang-md">QR: ((placeholder))</code></pre>

  <p class="govuk-body">Copy this example if only part of the link changes each time you send a letter:</p>

  <pre class="formatting-example"><code class="lang-md">QR: https://www.example.com?reference=((placeholder))</code></pre>

  <p class="govuk-body">Leave one empty line space before and after the QR code.</p>

  <p class="govuk-body">Choose a unique name for the placeholder inside the double brackets. When you send the letter, Notify will replace this with the QR code link.</p>

<p class="govuk-body">If you upload a list of personal details, the column names in your spreadsheet need to match the placeholders in the template.</p>

{% endblock %}
