{% extends "content_template.html" %}
{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  Send files by email
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Send files by email</h1>

  <p class="govuk-body">Notify offers a safe and reliable way to send files by email.</p>

  <p class="govuk-body">Upload a file using our API, then send users an email with a link to download it.</p>

  <p class="govuk-body">For security, choose how long the file is available for and ask recipients for their email address to download it.</p>
 

  <p class="govuk-body">To send a file by email:</p>
 <ol class="govuk-list govuk-list--number">
   <li>Go to the {{ service_link(current_service, 'main.choose_template', 'templates') }} page.</li>
   <li>Add a new email template or choose an existing email template.</li>
   <li>Select <b class="govuk-!-font-weight-bold">Attach files</b></li>
   <li>Upload a file</li>
 </ol>
   
  <h2 class="heading-medium">If you use the Notify API</h2>
  <p class="govuk-body">
    Follow the instructions in our
    <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_api_documentation') }}">API documentation</a>.</p>
  <p class="govuk-body">You’ll need a developer on your team to set it up for you.</p>


{% endblock %}
