{% extends "content_template.html" %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  Send files by email
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Send files by email</h1>

  <p class="govuk-body">Notify offers a safe and reliable way to send files by email.</p>

  <p class="govuk-body">Upload a file using our API, then send users an email with a link to download it.</p>

  <p class="govuk-body">Notify uses encrypted links instead of email attachments because:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>they’re more secure</li>
    <li>email attachments are often marked as spam</li>
  </ul>

  <h2 class="heading-medium">Protect personal information about your users</h2>
  <p class="govuk-body">When a recipient clicks the link in the email you’ve sent them, they have to enter their email address before they can download the file. This security feature is optional.</p>
  <p class="govuk-body">You can also choose the length of time that a file is available to download.</p>

  <h2 class="heading-medium">How to send files by email</h2>
  <p class="govuk-body">This is currently an API-only feature. You’ll need a developer on your team to set it up for you.</p>
  <p class="govuk-body">
    To send a file by email, follow the instructions in our
    <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_api_documentation') }}">API documentation</a>.
  </p>



{% endblock %}
