{% extends "content_template.html" %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  Trial mode
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Trial mode</h1>

  <p class="govuk-body">When you add a new service it will start in trial mode.</p>
  <p class="govuk-body">Trial mode lets you test your service for free before you go live.</p>
  <p class="govuk-body">In trial mode you can only:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>send messages to yourself and your team</li>
    <li>send {{ email_and_sms_daily_limit | message_count('email') }} per day</li>
    <li>send {{ email_and_sms_daily_limit | message_count('sms') }} per day</li>
    <li>create letter templates, but not send them</li>
  </ul>

  <div class="govuk-inset-text">
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_who_can_use_notify') }}">GP surgeries</a> cannot send any text messages in trial mode.</p>
  </div>

  <h2 class="heading-medium">How to make your service live</h2>
  {% if current_service and current_service.trial_mode %}
    <ol class="govuk-list govuk-list--number">
      <li>Complete the <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.request_to_go_live', service_id=current_service.id) }}">Get ready to go live</a> task list.</li>
      <li>Select <b class="govuk-!-font-weight-bold">Ready to go live</b>.</li>
    </ol>
  {% else %}
    <ol class="govuk-list govuk-list--number">
      <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.sign_in') }}">Sign in to GOV.UK Notify</a></li>
      <li>Complete the <b class="govuk-!-font-weight-bold">Get ready to go live</b> task list.</li>
      <li>Select <b class="govuk-!-font-weight-bold">Ready to go live</b>.</li>
    </ol>
  {% endif %}
  <p class="govuk-body">We’ll make your service live within one working day.</p>
  <p class="govuk-body">If your organisation is new to GOV.UK Notify, we’ll ask you to accept our data processing and financial agreement.</p>
{% endblock %}
