{% extends "content_template.html" %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  Trial mode
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Trial mode</h1>

  <p class="govuk-body">When you add a new service it will start in trial mode.</p>

  <p class="govuk-body">In trial mode there are limits on:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>who you can send messages to</li>
    <li>how many messages you can send each day</li>
  </ul>
  <p class="govuk-body">To remove these restrictions, you’ll need to make your service live.</p>

  <h2 class="heading-medium" id="restrictions">Trial mode restrictions</h2>

  <p class="govuk-body">While your service is in trial mode, you can only send messages to yourself and your <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_team_members_and_permissions') }}">team members</a>.</p>
  <p class="govuk-body">There’s a daily limit of {{ email_and_sms_daily_limit | message_count('email') }} and {{ email_and_sms_daily_limit | message_count('sms') }}.</p>
  <p class="govuk-body">You cannot send any letters in trial mode, but you can still create letter templates and upload letters, to see how it works.</p>

    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_who_can_use_notify') }}">GP surgeries</a> cannot send any text messages in trial mode.</p>

  <h2 class="heading-medium" id="how-to-make-your-service-live">How to make your service live</h2>

  <p class="govuk-body">When you have finished testing your service:</p>

  <ol class="govuk-list govuk-list--number">
  {% if current_service and current_service.trial_mode %}
    <li>Go to the <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.request_to_go_live', service_id=current_service.id) }}">Make your service live</a> page.</li>  
  {% else %}
    <li>Go to the <b class="govuk-!-font-weight-bold">Make your service live</b> page.</li>
  {% endif %}
    <li>Complete the tasks.</li>
    <li>Select <b class="govuk-!-font-weight-bold">Send a request to go live</b>.</li>
  </ol>

  <p class="govuk-body">It can take up to one working day to make your service live.</p>
  <p class="govuk-body">This is so we can check that you’ve met our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.terms_of_use') }}">terms of use</a>.</p>

{% endblock %}
