{% extends "content_template.html" %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Using Notify' %}

{% block per_page_title %}
  Unsubscribe links
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Unsubscribe links</h1>

  <p class="govuk-body">You must let people opt out of receiving subscription emails.</p>
  <p class="govuk-body">If recipients report your emails as spam we can stop you from using GOV.UK Notify.</p>
 
  <p class="govuk-body">There are 2 ways to let recipients unsubscribe from subscription emails. We recommend you use both of them.</p>
  <ol class="govuk-list govuk-list--number">
    <li><a class="govuk-link govuk-link--no-visited-state" href=“#oneclick”>Add one-click unsubscribe to the email header</a>.</li>
    <li><a class="govuk-link govuk-link--no-visited-state" href=“#emailbody”>Add a link to the body of your email</a>.</li>
  </ol>

 <p class="govuk-body">Transactional emails do not need to include an unsubscribe link.</p>
   <p class="govuk-body">The GOV.​UK Service Manual explains the difference between <a class="govuk-link govuk-link--no-visited-state"
    href="https://www.gov.uk/service-manual/design/sending-emails-and-text-messages#transactional-messages">transactional and subscription messages</a>.</p>

  <h2 class="govuk-heading-m" id=“oneclick”>Add one-click unsubscribe to the email header</h2>
  <h3 class="heading-small">If you use the Notify website to send emails</h3>
  <p class="govuk-body">To add one-click unsubscribe:</p>
  <ol class="govuk-list govuk-list--number">
    <li>Go to the {{ service_link(current_service, 'main.choose_template', 'templates') }} page.</li>
    <li>Add a new email template or choose an existing email template.</li>
    <li>Select <b class="govuk-!-font-weight-bold">Allow recipients to unsubscribe</b>.</li>
  </ol>
  <p class="govuk-body">This will add a button in the email header. Recipients can opt out of unwanted emails by clicking on the button.
 </p>
  <p class="govuk-body">We will report any email unsubscribe requests on the {{ service_link(current_service, 'main.service_dashboard', 'dashboard') }}.</p>
  <p class="govuk-body">You can download the report to manage your unsubscribe requests. This report is available for up to 90 days.
  </p>
   <h3 class="heading-small">If you use Notify API to send emails</h3>
   <p class="govuk-body">You’ll need a developer on your team to set it up for you.</p> 
   <p class="govuk-body">To add  one-click unsubscribe, follow the instructions in our <a class="govuk-link govuk-link--no-visited-state"
    href="https://www.notifications.service.gov.uk/using-notify/api-documentation">API documentation</a>.</p>

  <h2 class="govuk-heading-m" id=“emailbody”>Add an unsubscribe link to the email body</h2>

  <p class="govuk-body">GOV.UK Notify uses Markdown to format links.</p>
  <p class="govuk-body">To add an unsubscribe link to the body of your email, use square brackets around the link text and round brackets around the URL. Make sure there are no spaces between the brackets or the link will not work.</p>
  <p class="govuk-body">Use this example if you have a webpage for users to manage their email subscriptions:</p>

  <pre class="formatting-example"><code class="lang-md">[Unsubscribe](https://www.example.gov.uk/unsubscribe)</code></pre>
  
  <p class="govuk-body">If you do not have your own webpage, you can add a ‘mailto’ link to let users send an email to your team instead. For example:</p>  
  <pre class="formatting-example"><code class="lang-md">[Unsubscribe](mailto:example@gov.uk?subject=unsubscribe)</code></pre>
  <p class="govuk-body">The email address should be a shared inbox managed by your team, not your own email address.</p>

{% endblock %}
