<span {% if template.is_message_too_long() %}class="govuk-error-message"{% endif %}>
  {% if template.is_message_too_long() %}
    You have {{ template.count_of_characters_above_limit | character_count }} too many
  {% else %}
    Will be charged as {{ template.fragment_count | message_count(template.template_type) }}
    {% if template.placeholders %}
      (not including personalisation)
    {% endif %}
    {% if template.fragment_count > 1 %}
      <p class="govuk-hint govuk-!-margin-bottom-0">
        Reduce the cost of sending this message by removing {{ template.count_of_characters_above_previous_fragment_boundary | character_count }}
      </p>
    {% endif %}
  {% endif %}
</span>
