<h2 class="heading-medium">
  Send files by email
</h2>
<p class="govuk-body">
  Send recipients an email with a secure link to download the file. 
 </p>
<p class="govuk-body">Select ‘Attach files’ when you edit a template. Then follow the instructions to upload a file. </p>
<p class="govuk-body">If you use the Notify API to send emails, follow the ‘Send a file by email’ instructions in the <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_api_documentation') }}">API documentation</a>.</p>

