<h2 class="heading-medium", id="optional-content">
  Optional content
</h2>
<p class="govuk-body">
  To tailor your messages for different audiences:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>put the optional content inside double brackets</li>
    <li>give it a unique placeholder name, followed by 2 question marks</li>
  </ul>
<p class="bottom-gutter-1-3">
  For example if you only want to show something to people who are under
  18:
</p>
<pre class="formatting-example"><code class="lang-md">((under18??Please get your application signed by a parent or guardian.))
</code></pre>
<div class="govuk-inset-text">
    <p class="govuk-body">You cannot add a placeholder for personalisation within optional content. </p>
 </div>
<p class="govuk-body">
  For each person you send this message to, specify ‘yes’ or ‘no’ to
  show or hide this content.
</p>
