<h3 class="heading-small" id="bullets">Bullet points</h3>

<p class="govuk-body">Use bullet points to help words or phrases stand out in your emails and letters.</p>

<p class="govuk-body">You can either:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>add the same bullet points to every message you send</li>
    <li>add personalised bullet points each time you send a message</li>
</ul>
<br>
<p class="govuk-body">1. Add the same bullet points to every message you send</p>
<p class="govuk-body">Copy this example to add bullet points:</p>

<pre class="formatting-example"><code class="lang-md">
    Introduce bullet points with a lead-in line ending in a colon:

    * leave one empty line space after the lead-in line
    * use an asterisk or a dash followed by a space to add an item
    * start each item with a lowercase letter, do not end with a full stop
    * leave one empty line space after the last item
</code></pre>

<p class="govuk-body">To create sub-items, add an indent of 2 spaces before the asterisk or dash.</p>
<p class="govuk-body">There’s more <a class="govuk-link govuk-link--no-visited-state"
        href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#bullet-points-steps">guidance about bullet
        points on GOV.UK</a>.</p>
<br>
<p class="govuk-body">2. Add personalised bullet points each time you send a message</p>
<p class="govuk-body">Copy this example to add personalised bullet points each time you send a message:</p>

<pre class="formatting-example"><code class="lang-md">
    Introduce bullet points with a lead-in line ending in a colon:

    ((bullet points))

    Leave one empty line space before the next paragraph.
</code></pre>

<p class="govuk-body">Your spreadsheet of recipient details should include a column for each of the bullet points. </p>

<p class="govuk-body">
    Create a column with the placeholder name as a title for each bullet point your list will have.
    Then add one list item per column.
</p>

<p class="govuk-body">This is an example of a spreadsheet that will create personalised bullet points:</p>

<pre class="formatting-example"><code class="lang-md">
email address, bullet points, bullet points, bullet points
recipient-email@example.com, item 1, item 2, item 3
recipient2-email@example.com, item 1, item 2

</code></pre>

<p class="govuk-body">When you send a message, Notify will replace the placeholder with the bullet points in your
    spreadsheet.</p>
