<h2 class="heading-medium">Add a QR code to a letter template</h2>
<p class="bottom-gutter-1-3">
  Copy this example to add the same QR code to every letter you send:
</p>
<pre class="formatting-example"><code class="lang-md">QR: https://www.gov.uk/example
</code></pre>
<p class="bottom-gutter-1-3">
  Copy this example if the whole link changes each time you send a letter:
</p>
<pre class="formatting-example"><code class="lang-md">QR: ((link))
</code></pre>
<p class="bottom-gutter-1-3">
  Copy this example if only part of the link changes each time you send a letter:
</p>
  <pre class="formatting-example"><code class="lang-md">QR: https://www.example.com?reference=((link reference))
</code></pre>
