<h2 class="heading-medium">
  Personalisation
</h2>
<p class="govuk-body">
  To personalise a message, use double brackets to add a placeholder to your content. For example:
</p>
<pre class="formatting-example govuk-!-margin-top-0"><code class="lang-md">Hello ((first name)), your reference is ((ref number))
</code></pre>
<h3 class="heading-small">Protect information in placeholders from harmful content</h3>
<p class="govuk-body">Use Notify to remove any malicious content, such as phishing links, from a placeholder. </p>
<p class="govuk-body">This is an API only feature. Follow the instructions in the ‘Send an email’ section of <a class="govuk-link govuk-link--no-visited-state" href="https://www.notifications.service.gov.uk/using-notify/api-documentation">API documentation</a>. </p>
