<h2 class="heading-medium">
  Send a document by email
</h2>
<p>
  Use double brackets to add a placeholder field to your template. This will contain a secure link to download the document.
</p>
<div class="panel panel-border-wide">
  <p>
    Download your document at: ((link_to_document))
  </p>
</div>
  Next, use the API to upload your document. Follow the instructions to send a document by email in the <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.documentation') }}">API documentation</a>.
