<h2 class="heading-medium">
  Send files by email
</h2>
<p class="govuk-body">
  Use double brackets to add a placeholder field to your template. This will contain a secure link to download the file.
</p>
<pre class="formatting-example"><code class="lang-md">Download your file at: ((example::file))
</code></pre>
<p class="govuk-body">
  Select ‘Attach files’ when you’re ready to send your email. Follow the instructions to upload your file.
</p>
<p class="govuk-body">
  If you upload more than one file, you need to identify each one in the placeholder.
</p>
<p class="govuk-body">
  If you use the Notify API, follow the instructions to send a file by email in the <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_api_documentation') }}">API documentation</a>.
</p>
