<h2 class="heading-medium">
  Optional content placeholders
</h2>
<p>
  Use double brackets and ‘??’ to define optional content. You can then
  specify whether to include that content or not for each recipient.
</p>
<p>
  For example if you only want to show something to people who are under
  18:
</p>
<div class="panel panel-border-wide">
  <p>
    ((under18??Please get your application signed by a parent or
    guardian))
  </p>
</div>
<p>
  Specify ‘yes’ or ‘no’ for this content to appear (or not), when sending
  messages.
</p>
