<h2 class="heading-medium">Formatting</h2>
<p>
  To put a heading in your template, use a hash:
</p>
<div class="panel panel-border-wide">
  <p>
    # This is a heading
  </p>
</div>
<p>
  To make bullet points, use asterisks:
</p>
<div class="panel panel-border-wide">
  <p>
    * point 1<br/>
    * point 2<br/>
    * point 3<br/>
  </p>
</div>
<p>
  To insert a page break, use three asterisks:
</p>
<div class="panel panel-border-wide">
  <p>
    Content on page 1<br/>
    <br/>
    ***<br/>
    <br/>
    Content on page 2<br/>
  </p>
</div>
