<h2 class="heading-medium">Message length</h2>
<p class="govuk-body">
  A text message may cost more if it:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>is longer than 160 characters</li>
    <li>is written in a language other than English</li>
    <li>uses certain signs and symbols</li>
  </ul>
<p class="govuk-body">Personalisation can increase the number of characters in a template.</p>
<p class="govuk-body">
  See <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_pricing_text_messages') }}" target="_blank" rel="noopener">pricing (opens in new tab)</a> for details.
</p>
