<h2 class="heading-medium", id="send-files-by-email">
  Send files by email
</h2>
<p class="govuk-body">
  Use double brackets to add a placeholder field to your template. This will contain a secure link to download the file.
</p>
<pre class="formatting-example"><code class="lang-md">Download your file at: ((link_to_file))
</code></pre>

Next, use the API to upload your file. Follow the instructions to send a file by email in the <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_api_documentation') }}">API documentation</a>.
