<div class="bottom-gutter">
  {% call banner_wrapper(type='dangerous') %}
    <h1 class='banner-title'>
      You can’t send to
      {{ 'this' if count_of_recipients == 1 else 'these' }}
      {{ recipients.recipient_column_headers[0] }}
      {%- if count_of_recipients != 1 -%}
        {{ 'es' if 'email address' == recipients.recipient_column_headers[0] else 's' }}
      {%- endif %}
    </h1>
    <p>
      In <a href="{{ url_for('.trial_mode') }}">trial mode</a> you can only
      send to yourself and members of your team
    </p>
    {{ skip_to_file_contents() }}
  {% endcall %}
</div>
