<h1 class='banner-title' data-module="track-error" data-error-type="Trial mode: too many recipients" data-error-label="{{ upload_id }}">
  {% if original_file_name %}
    Too many recipients
  {% else %}
    Daily limit reached
  {% endif %}
</h1>
<p>
  You can only send {{ current_service.message_limit }} messages per day
  {%- if current_service.trial_mode %}
    in <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.trial_mode_new')}}">trial mode</a>
  {%- endif -%}
  .
</p>
{% if original_file_name %}
  <p>
    {% if current_service.message_limit != remaining_messages %}
      You can still send {{ remaining_messages }} messages today, but
    {% endif %}
    ‘{{ original_file_name }}’ contains
    {{ count_of_recipients }}
    {% if count_of_recipients == 1 -%}
      {%- if template.template_type == 'email' -%}
        email address
      {%- elif template.template_type == 'sms' -%}
        phone number
      {%- elif template.template_type == 'letter' -%}
        address
      {%- endif -%}
    {%- else -%}
      {%- if template.template_type == 'email' -%}
        email addresses
      {%- elif template.template_type == 'sms' -%}
        phone numbers
      {%- elif template.template_type == 'letter' -%}
        addresses
      {%- endif -%}
    {%- endif -%}.
  </p>
{% endif %}
