<h1 class='banner-title' data-module="track-error" data-error-type="Trial mode: too many recipients" data-error-label="{{ upload_id }}">
  {% if original_file_name %}
    Too many recipients
  {% else %}
    Daily limit reached
  {% endif %}
</h1>
<p class="govuk-body">
  You can only send {{ current_service.message_limit|format_thousands }} messages per day
  {%- if current_service.trial_mode %}
    in <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.trial_mode_new')}}">trial mode</a>
  {%- endif -%}
  .
</p>
{% if original_file_name %}
  <p class="govuk-body">
    {% if current_service.message_limit != remaining_messages %}
      You can still send {{ remaining_messages|format_thousands }} messages today, but
    {% endif %}
    ‘{{ original_file_name }}’ contains
    {{ count_of_recipients|recipient_count(template.template_type) }}.
  </p>
{% endif %}
