{% if platform_admin %}
      <h3 class="govuk-body govuk-!-font-weight-bold">Before you delete ‘{{service_name}}’, confirm the user: </h3>
           <ul class="govuk-list govuk-list--bullet">
             <li>has given the exact name of the service they want to delete</li>
             <li>understands they can no longer receive text messages (if they use this feature)</li>
           </ul>

      <h3 class="govuk-body govuk-!-font-weight-bold">You also need to:</h3>
           <ul class="govuk-list govuk-list--bullet">
              <li>check the user has the ‘Manage settings, team and usage’ permission for this service</li>
              <li>ask a team member with the ‘Manage settings, team and usage’ permission to confirm the request</li>
              <li>check if the service has exceeded its annual allowance, in case we need to raise an invoice</li>
           </ul>

      <h2 class="banner-title">Are you sure you want to delete ‘{{service_name}}’?</h2>
{% else %}
      <h2 class="govuk-body govuk-!-font-weight-bold">
          Are you sure you want to delete ‘{{current_service.name}}’? There’s no way to undo this.
      </h2>
{% endif %}
