{% if platform_admin %}
      <h3 class="govuk-body govuk-!-font-weight-bold">Before you delete ‘{{service_name}}’, confirm the user: </h3>
           <ul class="govuk-list govuk-list--bullet">
             <li>has given the exact name of the service they want to delete</li>
             <li>is aware they will no longer be able to use the inbound number to receive replies if there is one</li>
           </ul>

      <h3 class="govuk-body govuk-!-font-weight-bold">You will need to:</h3>
           <ul class="govuk-list govuk-list--bullet">
              <li>check the user is a member of the service</li>
              <li>check the user has the ‘Manage settings, team and usage’ permissions’</li>
              <li>contact another team member if there is one with the ‘Manage setting,
                  team and usage’ permissions for a second approval </li>
              <li>check the service has not sent any messages over their allowance that we may need an
                  to raise an invoice for </li>
           </ul>

      <h2 class="banner-title">Are you sure you want to delete ‘{{service_name}}’?</h2>
{% else %}
      <h2 class="govuk-body govuk-!-font-weight-bold">
          Are you sure you want to delete ‘{{current_service.name}}’? There’s no way to undo this.
      </h2>
{% endif %}
