{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Afzender-ID voor sms toevoegen
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_sms_senders', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Afzender-ID voor sms toevoegen') }}

  {% call form_wrapper() %}
    {{ form.sms_sender(param_extensions={
      "classes": "govuk-!-width-one-quarter",
      "hint": {"text": "De afzender-ID mag alleen letters, cijfers, spaties en de volgende tekens bevatten: & . - _"}
    }) }}
    {% if not first_sms_sender %}
      {{ form.is_default }}
    {% endif %}
    {{ page_footer('Opslaan') }}
  {% endcall %}

{% endblock %}
