{% extends "org_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block org_page_title %}
  Confirm organisation name change
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('.organisation_settings', org_id=current_org.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Confirm organisation name change') }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

    {% call form_wrapper() %}
      {{ form.password(param_extensions={"autocomplete": "current-password"}) }}
      <p class="govuk-body"> Your organisation name will be changed from {{ current_org.name }} to {{ new_name }} </p>
      {{ page_footer('Confirm') }}
    {% endcall %}
    </div>
  </div>

{% endblock %}
