{% extends "org_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/textbox.html" import textbox %}
{% from "components/form.html" import form_wrapper %}

{% block org_page_title %}
  Change organisation name
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    'Change organisation name',
    back_link=url_for('.organisation_settings', org_id=current_org.id)
  ) }}

  {% call form_wrapper() %}
    {{textbox(form.name)}}
    {{ page_footer('Save') }}
  {% endcall %}

{% endblock %}
