// Sass bringing in the new focus style from GOVUK Frontend 3.x.x
// TO DO: Delete this file when we upgrade to GOVUK Frontend 3.x.x
//
// See the following for details of the update:
// - https://designnotes.blog.gov.uk/2019/07/29/weve-made-the-gov-uk-design-system-more-accessible/
// - https://design-system.service.gov.uk/get-started/focus-states/
// - https://github.com/alphagov/govuk-frontend/releases/tag/v3.0.0
//
// These styles were added in https://github.com/alphagov/govuk-frontend/pull/1309

// Updates to skip-link component
.govuk-skip-link {
  @include govuk-typography-common;
  @include govuk-focusable-fill;
}

// Updates to header component
.govuk-header__link {
  @include govuk-focusable-text-link;
}

.govuk-header__link--homepage {
  // Remove any borders that show when focused and hovered.
  &:focus {
    border-bottom: 0;
  }
}

// Updates to footer component
.govuk-footer__link {
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }

  @include govuk-focusable-text-link;
}

// Updates to back-link component
.govuk-back-link {
  @include govuk-focusable-text-link;

  // When the back link is focused, hide the bottom link border as the
  // focus styles has a bottom border.
  &:focus {
    border-bottom-color: transparent;
  }
}

// Updates to details component
.govuk-details__summary {
  &:hover {
    color: $govuk-link-hover-colour;
  }

  @include govuk-focusable-text-link;
}

// Remove the underline when focussed to avoid duplicate borders
.govuk-details__summary:focus .govuk-details__summary-text {
  text-decoration: none;
}

.govuk-details__summary:before {
  top: 0;
}

// Updates to buttons
.govuk-button {
  &:focus {
    border-color: $govuk-focus-colour;
    // When colours are overridden, for example when users have a dark mode,
    // backgrounds and box-shadows disappear, so we need to ensure there's a
    // transparent outline which will be set to a visible colour.
    // Since Internet Explorer 8 does not support box-shadow, we want to force the user-agent outlines
    @include govuk-not-ie8 {
      outline: $govuk-focus-width solid transparent;
      outline-offset: 0;
    }
    // Since Internet Explorer does not support `:not()` we set a clearer focus style to match user-agent outlines.
    @include govuk-if-ie8 {
      color: $govuk-text-colour;
      background-color: $govuk-focus-colour;
    }
    box-shadow: inset 0 0 0 1px $govuk-focus-colour;
  }

  &:focus:not(:active):not(:hover) {
    border-color: $govuk-focus-colour;
    color: $govuk-text-colour;
    background-color: $govuk-focus-colour;
    box-shadow: 0 2px 0 $govuk-focus-text-colour;
  }
}
