{% extends "withnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/textbox.html" import textbox %}
{% from "components/radios.html" import radios %}

{% block page_title %}
  Add a new API key – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    Create an API key
  </h1>

  <form method="post">
    {{ radios(form.key_type) }}
    {{ textbox(form.key_name, label='Name for this key') }}
    {{ page_footer('Continue') }}
  </form>

{% endblock %}
