{% extends "withoutnav_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  Features
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-one-third">
    {{ sub_navigation(navigation_links) }}
  </div>
  <div class="column-two-thirds">

    <h1 class="heading heading-large">Email</h1>
    
    <p>It’s free to send emails with GOV.UK Notify.</p>
    
    <p><a href="https://www.notifications.service.gov.uk/register">Create a free account</a> and try Notify for yourself.</p>
   
    <h2 class="heading heading-medium">Features</h2>
    
    <h3 class="heading heading-small">Use your own logo and branding</h3>
    <p>description TBC</p>

    <h3 class="heading heading-small">Send files by email</h3>
    <p>You can use the GOV.UK Notify API to upload a file, then send the recipient an email with a secure link to download it.<p>
    
    <p>Notify uses encrypted links instead of email attachments because:</p>

    <ul class="list list-bullet">
      <li>they're more secure</li>
      <li>you can track when the recipient downloads your document</li>
      <li>email attachments are often marked as spam</li>
    </ul>
    
    <p><a href="https://www.notifications.service.gov.uk/documentation">Read the API documentation</a> for more information.</p>
   
    <h3 class="heading heading-small">Add a reply-to address/add reply-to email addresses</h3>
    <p>Description</p>

    <h3 class="heading heading-small">More features</h3>
    
    <p>Notify makes it easy to:</p>
    <ul class="list list-bullet">
      <li>create reusable email templates</li>
      <li>personalise the content of your emails</li>
      <li>send and schedule bulk messages</li>
    </ul>
    
    <p>You can also <a href="https://www.notifications.service.gov.uk/documentation">integrate with our API</a> to send text messages automatically.</p>
    
    <h2 class="heading heading-medium">Pricing</h2>
    <p>It’s free to send emails through GOV.UK Notify.</p>
    
    <p><a href="https://www.notifications.service.gov.uk/pricing">See pricing</a> for more details.</p>
