
<h3 class="heading heading-small">Send files by email</h3>
<p>You can use the GOV.UK Notify API to upload a file, then send the recipient an email with a secure link to download it.</p>
<p>Notify uses encrypted links instead of email attachments because:</p>
<ul class="list bullet-list">
  <li>they're more secure</li>
  <li>you can track when the recipient downloads your document</li>
  <li>email attachments are often marked as spam</li>
</ul>
<p>Read the API documentation for more information.</p>
