{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}

{% block per_page_title %}
  Letters
{% endblock %}

{% block content_column_content %}

  <h1 class="heading heading-large">Letters</h1>
  <p class="govuk-body">GOV.UK Notify will print, pack and post your letters for you.</p>
  {% if not current_user.is_authenticated %}
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.register') }}">Create an account</a> and try Notify for yourself.</p>
  {% endif %}

  <h2 class="heading heading-medium">Features</h2>
  <p class="govuk-body">Notify makes it easy to:</p>
  <ul class="list list-bullet">
    <li>create reusable letter templates</li>
    <li>personalise the content of your letter</li>
    <li>send bulk mail</li>
  </ul>
  <p class="govuk-body">You can also <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.documentation') }}">integrate with our API</a> to send letters automatically.</p>

  <h3 class="heading-small" id="postage">Choose your postage</h3>
  <p class="govuk-body">Notify can send letters by first or second class post.</p>
  <p class="govuk-body">First class letters are delivered one day after they’re dispatched. Second class letters are delivered 2 days after they’re dispatched.</p>
  <p class="govuk-body">Letters are printed at 5:30pm and dispatched the next working day (Monday to Friday). Royal Mail delivers from Monday to Saturday, excluding bank holidays.</p>

  <h3 class="heading-small" id="branding">Branding</h3>
  <p class="govuk-body">Add your organisation’s logo to your letter templates.</p>
  <p class="govuk-body">See <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.branding_and_customisation', _anchor='letter-branding') }}">how to change your letter branding</a>.</p>

  <h3 class="heading heading-small" id="upload-letters">Upload your own letters</h3>
  <p class="govuk-body">You can create reusable letter templates in Notify, or upload and send your own letters with the Notify API.</p>
  <p class="govuk-body">Read our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.documentation') }}">documentation</a>.</p>

  <h2 class="heading heading-medium">Pricing</h2>
  <p class="govuk-body">It costs between 35p and £1.16 (plus VAT) to send a letter. Prices include:</p>
  <ul class="list list-bullet">
     <li>paper</li>
     <li>double-sided colour printing</li>
     <li>C5 size envelopes with an address window</li>
     <li>first or second class postage</li>
  </ul>
  <p class="govuk-body">Letters can be up to 10 pages long (5 double-sided sheets of paper).</p>
  <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.pricing') }}">See pricing</a> for more details.</p>

{% endblock %}
