{% extends "views/platform-admin/_base_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/button/macro.njk" import govukButton %}

{% block per_page_title %}
  Find users by email
{% endblock %}

{% block platform_admin_content %}

  <h1 class="heading-medium">
    Find users by email
  </h1>


  {% call form_wrapper(
      action=url_for('.find_users_by_email'),
      class='govuk-grid-row'
  ) %}
    <div class="govuk-grid-column-three-quarters">
      {{ form.search(param_extensions={
            "label": {"text": "Find users by email, or by partial email"}
      }) }}
    </div>
    <div class="govuk-grid-column-one-quarter">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      {{ govukButton({
        "text": "Search",
        "classes": "search-form__button"
      }) }}
    </div>
  {% endcall %}

  {% call form_wrapper(id='search-form' ) %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  {% endcall %}

  {% if users_found %}
  <nav class="browse-list">
    <ul>
    {% for user in users_found %}
      <li class="browse-list-item">
        <a href="{{url_for('.user_information', user_id=user.id)}}" class="govuk-link govuk-link--no-visited-state browse-list-link">{{ user.email_address }}</a>
        <p class="browse-list-hint">{{ user.name }}</p>
      </li>
      <hr>
    {% endfor %}
    </ul>
  </nav>
  {% elif users_found == [] %}
    <p class="browse-list-hint">No users found.</p>
  {% endif %}
{% endblock %}
