@import '@rijkshuisstijl-community/design-tokens/dist/index.css';
/* stylelint-disable declaration-no-important */
// NotifyNl overrides


@font-face {
    font-family: FiraSans;
    font-weight: 600;
    src:
        local("FiraSans-Bold"),
        url("../../../fonts/FiraSans-Bold.ttf") format("truetype");
}

/* Add different weights of the same font */
@font-face {
    font-family: FiraSans;
    font-weight: 400;
    src:
        local("FiraSans-Regular"),
        url("../../../fonts/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: FiraSans;
    font-weight: 400;
    font-style: italic;
    src: ("FiraSans-Italic"),
        url("../../../fonts/FiraSans-italic.ttf") format("truetype");
}

@font-face {
    font-family: IBMPlexSans;
    font-weight: 600;
    src:
        local("IBMPlexSans-Bold"),
        url("../../../fonts/IBMPlexSans-Bold.ttf") format("truetype");
}

/* Add different weights of the same font */
@font-face {
    font-family: IBMPlexSans;
    font-weight: 400;
    src:
        local("IBMPlexSans-Regular"),
        url("../../../fonts/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: IBMPlexSans;
    font-weight: 400;
    font-style: italic;
    src:
        local("IBMPlexSans-Italic"),
        url("../../../fonts/IBMPlexSans-italic.ttf") format("truetype");
}

html.rhc-theme {
    background: var(--rhc-color-lichtblauw-100);
}

.rhc-theme {
    * {


        font-family: FiraSans, IBMPlexSans, sans-serif !important;


    }

    // hide inconcistent data with NL service
    .nl-hide-demo,
    .nl-hide,
    .govuk-footer__licence-description,
    .govuk-footer__licence-logo,
    .govuk-footer__copyright-logo {
        display: none;
    }

    .dutch-logo-above-header {
        align-items: center;
        display: flex;
        justify-content: center;


        .logo-bg {
            align-items: center;
            display: inline-flex;
            width: auto;

            svg {
                display: none;
                fill: var(--rhc-color-lintblauw-500);
                height: auto;
                width: 60px;
                margin-bottom: 10px;
            }
        }



        .logo-bg::after {
            content: "";
            width: 60px;
            height: 120px;
            margin-bottom: 10px;
            display: inline-block;
            background-repeat: no-repeat;
            background-color: var(--rhc-color-lintblauw-500);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:dc='http://purl.org/dc/elements/1.1/' viewBox='0 0 50 100'%3E%3Cg%3E%3Crect style='fill:%23154273' y='0' x='0'/%3E%3C/g%3E%3Cpath style='fill:%23ffffff' d='m 25.9,77.36 h -0.87 v -2.41 h 0.87 z m 3.93,-10.64 h -0.87 v -2.41 h 0.87 z M 13.71,62.56 c -0.07,0 -0.52,0 -0.52,0.09 0,0.09 0.21,0.05 0.52,0.1 0.7,0.12 0.97,0.47 1.46,0.47 0.44,0 0.9,-0.3 0.72,-0.94 -0.03,-0.11 -0.09,-0.08 -0.11,-0.01 -0.07,0.29 -0.42,0.45 -0.79,0.45 -0.46,0 -0.55,-0.16 -1.28,-0.16 z M 8.92,64.97 C 9,65.08 9.82,66.14 8.56,66.55 8.5,66.57 8.49,66.62 8.57,66.66 9.5,67.05 9.95,66.33 9.95,66.33 10.42,67.41 9.7,68 9.7,68 c 0.1,0.19 0.55,0.52 1.22,0.67 0.26,-0.14 0.62,-0.4 0.77,-0.8 0,0 0.18,0.47 0.02,0.92 1.9,0.17 2.57,-1.35 4.04,-1.07 0.04,0.01 0.06,-0.02 0.06,-0.06 0,-0.94 -0.57,-2.65 -2.39,-3 -1.81,-0.35 -1.32,-1.09 -1.32,-1.09 0.76,-0.03 1.2,0.3 1.2,0.3 0.14,-0.23 -0.06,-0.47 -0.06,-0.47 0.07,-0.09 0.11,-0.4 0.11,-0.4 -0.86,0 -1.08,-0.19 -1.08,-0.19 -0.13,-0.51 0.22,-1.23 1.5,-0.46 0.32,-0.28 0.29,-0.72 0.29,-0.72 0.1,-0.05 0.16,-0.2 0.16,-0.26 0,-0.21 -1.02,-0.78 -1.28,-0.85 -0.06,-0.31 -0.46,-0.75 -1.66,-0.59 -0.57,0.07 -0.98,-0.08 -0.79,-0.41 0.03,-0.06 -0.07,-0.07 -0.12,-0.01 -0.13,0.13 -0.31,0.5 0.18,0.75 0.55,0.28 0.58,0.83 0.59,0.91 0.01,0.12 -0.13,0.13 -0.16,0.01 -0.25,-0.93 -1.53,-1.13 -2.28,-0.64 0.04,0.5 0.58,0.83 0.87,0.83 0.17,0 0.4,-0.17 0.4,-0.4 0,-0.11 0.06,-0.1 0.09,-0.01 0.12,0.33 -0.37,1.02 -1.09,0.6 -0.74,0.74 -0.44,1.66 -0.37,1.99 0.13,0.6 -0.16,1.19 -0.71,0.92 -0.03,-0.01 -0.06,-0.02 -0.06,0.04 0.01,0.36 0.5,0.79 1.09,0.46 z M 13,61.24 c -0.35,0.39 -0.91,0.3 -1.05,-0.34 0.72,-0.04 1.02,0.03 1.05,0.34 z m 22.07,1.48 c -0.37,0 -0.72,-0.16 -0.79,-0.45 -0.02,-0.07 -0.08,-0.1 -0.11,0.01 -0.18,0.64 0.28,0.94 0.72,0.94 0.49,0 0.76,-0.35 1.46,-0.47 0.31,-0.05 0.52,0 0.52,-0.1 0,-0.09 -0.45,-0.09 -0.52,-0.09 -0.72,0 -0.82,0.16 -1.28,0.16 z m 7.16,1.77 c 0,-0.06 -0.03,-0.05 -0.06,-0.04 -0.55,0.27 -0.84,-0.31 -0.71,-0.92 0.07,-0.34 0.37,-1.25 -0.37,-1.99 -0.73,0.42 -1.22,-0.27 -1.09,-0.6 0.03,-0.09 0.09,-0.1 0.09,0.01 0,0.23 0.23,0.4 0.4,0.4 0.29,0 0.83,-0.33 0.87,-0.83 -0.75,-0.49 -2.03,-0.29 -2.28,0.64 -0.03,0.12 -0.17,0.11 -0.16,-0.01 0,-0.08 0.04,-0.63 0.59,-0.91 0.5,-0.25 0.32,-0.62 0.18,-0.75 -0.05,-0.05 -0.16,-0.04 -0.12,0.01 0.19,0.33 -0.22,0.48 -0.78,0.41 -1.2,-0.16 -1.59,0.29 -1.66,0.59 -0.26,0.07 -1.28,0.64 -1.28,0.85 0,0.06 0.06,0.22 0.16,0.26 0,0 -0.02,0.43 0.29,0.72 1.27,-0.77 1.63,-0.05 1.5,0.46 0,0 -0.23,0.18 -1.09,0.19 0,0 0.04,0.31 0.11,0.4 0,0 -0.2,0.25 -0.06,0.47 0,0 0.44,-0.33 1.2,-0.3 0,0 0.49,0.74 -1.32,1.09 -1.81,0.35 -2.39,2.06 -2.39,3 0,0.05 0.02,0.07 0.06,0.06 1.47,-0.27 2.14,1.25 4.04,1.07 -0.17,-0.45 0.02,-0.92 0.02,-0.92 0.15,0.4 0.51,0.67 0.77,0.8 0.68,-0.15 1.12,-0.47 1.22,-0.67 0,0 -0.72,-0.59 -0.25,-1.67 0,0 0.45,0.72 1.38,0.33 0.08,-0.04 0.06,-0.09 0.01,-0.11 -1.26,-0.41 -0.44,-1.47 -0.36,-1.58 0.59,0.35 1.09,-0.08 1.09,-0.46 z M 38.11,60.9 c -0.14,0.64 -0.7,0.73 -1.05,0.34 0.03,-0.31 0.34,-0.38 1.05,-0.34 z M 24.7,50.21 c 0,0.16 0.07,0.3 0.12,0.38 0.11,0.16 0.09,0.25 0.04,0.3 -0.05,0.05 -0.14,0.07 -0.3,-0.04 -0.08,-0.06 -0.22,-0.12 -0.38,-0.12 -0.27,0 -0.41,0.18 -0.41,0.33 0,0.15 0.14,0.33 0.41,0.33 0.16,0 0.3,-0.07 0.38,-0.12 0.16,-0.11 0.25,-0.09 0.3,-0.04 0.05,0.05 -0.02,0.6 -0.09,1.04 -0.45,0.1 -0.67,0.46 -0.67,0.67 0,0.55 0.58,0.86 0.93,1.05 0.34,-0.18 0.93,-0.5 0.93,-1.05 0,-0.21 -0.22,-0.58 -0.67,-0.67 -0.06,-0.43 -0.14,-0.99 -0.09,-1.04 0.05,-0.05 0.14,-0.07 0.3,0.04 0.08,0.06 0.22,0.12 0.38,0.12 0.27,0 0.41,-0.18 0.41,-0.33 0,-0.15 -0.14,-0.33 -0.41,-0.33 -0.16,0 -0.3,0.07 -0.38,0.12 -0.16,0.11 -0.25,0.09 -0.3,0.04 -0.05,-0.05 -0.07,-0.14 0.04,-0.3 0.06,-0.08 0.12,-0.22 0.12,-0.38 0,-0.27 -0.18,-0.41 -0.33,-0.41 -0.15,0 -0.33,0.14 -0.33,0.41 z m 0.33,4.06 c -0.37,0 -0.67,0.3 -0.67,0.67 0,0.37 0.3,0.67 0.67,0.67 0.37,0 0.67,-0.3 0.67,-0.67 0,-0.37 -0.3,-0.67 -0.67,-0.67 z m 0,6.41 c 2.67,0 4.17,0.51 4.17,0.51 0.01,-1.35 0.01,-2.1 0.78,-1.99 -0.42,-1.13 1.4,-1.58 1.4,-3.05 0,-0.97 -0.69,-1.08 -0.89,-1.08 -0.6,0 -0.51,0.39 -1.02,0.39 -0.06,0 -0.13,-0.02 -0.13,0.03 0,0.17 0.14,0.46 0.38,0.46 0.32,0 0.32,-0.32 0.56,-0.32 0.1,0 0.25,0.08 0.25,0.41 0,0.63 -0.41,1.32 -0.9,1.86 -0.11,-0.15 -0.26,-0.25 -0.45,-0.25 -0.29,0 -0.54,0.3 -0.54,0.67 0,0.14 0.02,0.24 0.07,0.35 -0.16,0.09 -0.31,0.14 -0.41,0.14 -0.22,0 -0.55,-0.09 -0.55,-0.57 0,-1.07 1.43,-2.01 1.43,-3.37 0,-0.65 -0.43,-1.29 -1.34,-1.29 -0.97,0 -0.79,0.88 -1.63,0.88 -0.04,0 -0.07,0.01 -0.07,0.05 0,0.06 0.15,0.55 0.58,0.55 0.46,0 0.59,-0.8 1.01,-0.8 0.15,0 0.38,0.09 0.38,0.63 0,0.42 -0.21,1.11 -0.51,1.76 -0.11,-0.11 -0.26,-0.19 -0.42,-0.19 -0.36,0 -0.62,0.35 -0.62,0.76 0,0.26 0.1,0.52 0.28,0.68 -0.21,0.27 -0.43,0.49 -0.72,0.49 -0.58,0 -0.83,-0.33 -0.83,-0.69 0,-0.39 0.71,-0.53 0.71,-1.13 0,-0.41 -0.27,-0.64 -0.52,-0.64 -0.28,0 -0.42,0.18 -0.45,0.18 -0.03,0 -0.17,-0.18 -0.45,-0.18 -0.26,0 -0.52,0.23 -0.52,0.64 0,0.6 0.71,0.75 0.71,1.13 0,0.36 -0.26,0.69 -0.83,0.69 -0.29,0 -0.51,-0.22 -0.72,-0.49 0.18,-0.17 0.28,-0.42 0.28,-0.68 0,-0.42 -0.26,-0.76 -0.62,-0.76 -0.17,0 -0.31,0.08 -0.42,0.19 -0.3,-0.66 -0.51,-1.34 -0.51,-1.76 0,-0.54 0.23,-0.63 0.38,-0.63 0.41,0 0.54,0.8 1.01,0.8 0.43,0 0.58,-0.49 0.58,-0.55 0,-0.03 -0.03,-0.05 -0.07,-0.05 -0.84,0 -0.66,-0.88 -1.63,-0.88 -0.9,0 -1.34,0.64 -1.34,1.29 0,1.36 1.43,2.3 1.43,3.37 0,0.48 -0.33,0.57 -0.55,0.57 -0.11,0 -0.25,-0.05 -0.41,-0.14 0.05,-0.12 0.07,-0.21 0.07,-0.35 0,-0.37 -0.25,-0.67 -0.54,-0.67 -0.18,0 -0.33,0.1 -0.44,0.25 -0.49,-0.54 -0.9,-1.23 -0.9,-1.86 0,-0.32 0.15,-0.41 0.25,-0.41 0.23,0 0.24,0.32 0.56,0.32 0.24,0 0.38,-0.29 0.38,-0.46 0,-0.05 -0.07,-0.03 -0.13,-0.03 -0.51,0 -0.42,-0.39 -1.02,-0.39 -0.2,0 -0.89,0.11 -0.89,1.08 0,1.48 1.82,1.92 1.4,3.05 0.77,-0.11 0.76,0.64 0.78,1.99 -0.01,0 1.49,-0.51 4.16,-0.51 z m -4.89,1.99 c -0.73,0.16 -1.25,0.31 -1.48,0.38 0.01,-0.32 0.13,-0.62 0.42,-0.68 0.04,-0.01 0.05,-0.06 0.01,-0.08 -0.65,-0.43 -0.99,0.39 -1,0.42 -0.23,-0.02 -0.58,0.05 -0.58,0.36 0,0.93 -2.12,1.44 -2.61,1.52 0.87,0.33 1.23,1.43 1.23,1.43 0.63,-0.63 1.36,-1.18 1.53,-1.18 0.17,0 0.23,0.21 0.24,0.33 0,0.04 0.04,0.05 0.07,0.02 0.33,-0.49 0.17,-0.6 0.14,-0.75 -0.02,-0.11 0.01,-0.54 0.49,-0.49 v 6.19 l -0.25,0.05 c -0.11,0.02 -1.02,-0.75 -2.05,-1.47 -1.04,-0.72 -1.59,-0.29 -2.77,0.35 -1.55,0.84 -3.11,0.08 -3.11,0.08 -1.33,0.95 -1.79,3.71 -1.79,3.71 -0.27,0.11 -0.71,0.23 -1.12,0.23 -1.02,0 -1.2,-0.62 -1.2,-0.98 0,-1.57 1.97,-2.24 1.97,-3.79 0,-0.38 -0.17,-1.9 -2.06,-1.9 -0.24,0 -1.68,0 -1.69,0 -0.71,0 -0.88,-0.51 -0.98,-0.7 -0.04,-0.08 -0.11,-0.03 -0.08,0.03 0.05,0.13 -0.08,0.33 -0.08,0.72 0,0.63 0.37,1.01 1.06,1.01 0.31,0 0.61,-0.09 0.7,-0.15 0.06,-0.04 0.1,0.02 0.07,0.06 -0.3,0.35 -0.32,1.01 -0.2,1.16 0.03,0.04 0.07,0.03 0.07,0 0.17,-0.66 0.79,-1.29 1.63,-1.29 1.03,0 1.02,0.87 1.02,1.08 0,1.26 -2.21,2.18 -2.21,3.92 0,1.76 1.86,2.13 2.93,1.86 -0.06,1.76 -2.08,2.36 -2.14,1.1 0,-0.06 -0.05,-0.07 -0.08,0.01 -0.25,0.62 -0.15,1.17 0.63,1.34 0.05,0.01 0.03,0.04 -0.02,0.08 -0.78,0.49 -0.36,2.43 -0.32,3 0.06,0.82 -0.76,0.72 -0.83,0.7 -0.03,-0.01 -0.07,0 -0.01,0.07 0.58,0.71 1.3,0.06 1.3,0.06 0.54,0.17 0.21,0.63 -0.16,0.87 -0.06,0.04 -0.05,0.08 0.01,0.08 0.08,0.01 0.92,0.08 1.07,-0.59 0.37,0.44 0.92,0.28 1.03,0.22 0.16,-0.08 0.95,-0.37 1.02,0.51 0,0.06 0.04,0.02 0.07,-0.01 0.59,-0.75 -0.04,-1.21 -0.4,-1.26 0.03,-0.04 0.5,-0.44 0.93,0.11 0.03,0.04 0.06,0.05 0.06,-0.03 0.05,-0.95 -0.72,-1.03 -1.22,-0.62 -0.02,-0.1 -0.19,-0.63 0.56,-0.61 0.02,0 0.05,-0.03 0.02,-0.06 -0.58,-0.62 -1.06,-0.06 -1.18,0.08 -0.26,0.31 -0.91,0.18 -0.97,0.18 0.2,-3.29 3.1,-2.12 3.5,-3.72 0.02,-0.08 0.06,-0.05 0.06,-0.02 0.11,0.39 1.09,0.44 1.27,-0.32 0.01,-0.05 0,-0.08 -0.03,-0.05 -0.84,0.84 -2.73,-1.78 -0.15,-3.91 2.2,-1.81 4.17,-0.8 4.92,-0.21 0.04,0.26 -0.12,0.35 -0.22,0.38 -0.04,0.01 -0.05,0.04 0.01,0.07 0.21,0.08 0.5,0.05 0.64,-0.14 0.47,0.33 0.07,0.75 -0.12,0.86 -0.05,0.03 -0.03,0.06 0.01,0.07 0.43,0.08 0.79,-0.36 0.81,-0.62 l 0.07,0.04 v 1.87 c 0,2.66 3.07,3.03 6.44,5.28 3.37,-2.26 6.43,-2.62 6.43,-5.28 v -1.87 l 0.07,-0.04 c 0.02,0.25 0.37,0.7 0.81,0.62 0.04,-0.01 0.06,-0.04 0.01,-0.07 -0.19,-0.12 -0.6,-0.53 -0.12,-0.86 0.14,0.2 0.43,0.22 0.64,0.14 0.06,-0.02 0.05,-0.06 0.01,-0.07 -0.1,-0.03 -0.26,-0.12 -0.22,-0.38 0.75,-0.6 2.72,-1.61 4.92,0.21 2.58,2.13 0.69,4.74 -0.15,3.91 -0.04,-0.04 -0.04,0 -0.03,0.05 0.18,0.77 1.16,0.71 1.27,0.32 0.01,-0.03 0.05,-0.06 0.06,0.02 0.4,1.6 3.29,0.43 3.5,3.72 -0.06,0.01 -0.71,0.13 -0.97,-0.18 -0.11,-0.13 -0.59,-0.7 -1.18,-0.08 -0.04,0.04 0,0.06 0.02,0.06 0.75,-0.02 0.59,0.51 0.56,0.61 -0.5,-0.41 -1.27,-0.33 -1.22,0.62 0,0.07 0.03,0.07 0.06,0.03 0.43,-0.55 0.9,-0.15 0.93,-0.11 -0.35,0.05 -0.99,0.51 -0.4,1.26 0.03,0.03 0.06,0.07 0.07,0.01 0.08,-0.88 0.86,-0.6 1.02,-0.51 0.11,0.06 0.66,0.22 1.03,-0.22 0.15,0.67 0.99,0.6 1.07,0.59 0.06,0 0.06,-0.04 0.01,-0.08 -0.36,-0.24 -0.7,-0.7 -0.16,-0.87 0,0 0.72,0.65 1.3,-0.06 0.05,-0.06 0.02,-0.08 -0.01,-0.07 -0.07,0.02 -0.89,0.12 -0.83,-0.7 0.04,-0.57 0.46,-2.51 -0.32,-3 -0.05,-0.03 -0.07,-0.06 -0.02,-0.08 0.78,-0.17 0.88,-0.72 0.63,-1.34 -0.03,-0.08 -0.08,-0.06 -0.08,-0.01 -0.06,1.26 -2.07,0.66 -2.14,-1.1 1.08,0.28 2.93,-0.1 2.93,-1.86 0,-1.73 -2.21,-2.66 -2.21,-3.92 0,-0.21 -0.01,-1.08 1.02,-1.08 0.84,0 1.46,0.63 1.63,1.29 0.01,0.03 0.04,0.04 0.07,0 0.12,-0.16 0.1,-0.81 -0.2,-1.16 -0.03,-0.03 0,-0.1 0.07,-0.06 0.09,0.06 0.39,0.15 0.7,0.15 0.69,0 1.06,-0.38 1.06,-1.01 0,-0.39 -0.14,-0.59 -0.08,-0.72 0.03,-0.06 -0.05,-0.1 -0.08,-0.03 -0.1,0.2 -0.28,0.7 -0.98,0.7 -0.01,0 -1.45,0 -1.69,0 -1.89,0 -2.06,1.53 -2.06,1.9 0,1.55 1.97,2.22 1.97,3.79 0,0.37 -0.19,0.98 -1.2,0.98 -0.42,0 -0.86,-0.12 -1.12,-0.23 0,0 -0.45,-2.75 -1.79,-3.71 0,0 -1.56,0.76 -3.11,-0.08 -1.18,-0.64 -1.74,-1.07 -2.78,-0.35 -1.04,0.72 -1.94,1.49 -2.05,1.47 l -0.25,-0.05 v -6.19 c 0.48,-0.05 0.51,0.38 0.49,0.49 -0.03,0.14 -0.18,0.26 0.14,0.75 0.03,0.04 0.06,0.02 0.07,-0.02 0.01,-0.12 0.08,-0.33 0.24,-0.33 0.16,0 0.9,0.55 1.53,1.18 0,0 0.36,-1.09 1.23,-1.43 -0.49,-0.08 -2.61,-0.59 -2.61,-1.52 0,-0.31 -0.35,-0.38 -0.58,-0.36 -0.01,-0.03 -0.36,-0.85 -1,-0.42 -0.03,0.02 -0.03,0.07 0.01,0.08 0.29,0.07 0.41,0.36 0.42,0.68 -0.62,-0.19 -3.25,-0.93 -6.37,-0.93 -1.52,0 -2.91,0.18 -4.02,0.38 v 2.14 h -0.87 v -1.97 0 M 14.38,84.65 C 14.15,84.56 14,84.41 14,84.1 v -1.33 c -0.38,-0.13 -1.42,-0.53 -3.51,-0.53 -1.73,0 -2.27,0.39 -2.3,0.53 L 7.73,85.3 c 0,0 0.7,-0.64 3.21,-0.48 3.02,0.19 6.15,1.98 6.15,0.07 v -1.12 c -2.36,0.01 -2.71,0.77 -2.71,0.88 z m 18.59,-0.87 v 1.12 c 0,1.9 3.13,0.12 6.15,-0.07 2.51,-0.16 3.21,0.48 3.21,0.48 l -0.46,-2.54 c -0.02,-0.14 -0.57,-0.53 -2.3,-0.53 -2.08,0 -3.12,0.4 -3.51,0.53 v 1.33 c 0,0.3 -0.15,0.45 -0.38,0.55 0.01,-0.11 -0.34,-0.87 -2.71,-0.87 z m -7.94,-1.15 c 4.87,0 9.81,0.25 10.45,0.99 0.05,0.06 0.07,0 0.07,-0.05 v -2.58 c 0,-0.75 -5.1,-1.19 -10.53,-1.19 -5.43,0 -10.53,0.44 -10.53,1.19 v 2.58 c 0,0.04 0.02,0.1 0.07,0.05 0.67,-0.73 5.61,-0.99 10.47,-0.99 z M 20.69,70.47 20.2,70.34 20.16,70.4 19.59,70.15 c 0,0 0.42,0 0.51,0 0.05,0 0.05,-0.03 0.03,-0.05 -0.23,-0.23 -0.44,-0.43 -0.44,-0.43 0,0 0.23,0.09 0.56,0.21 0.04,0.01 0.05,-0.01 0.03,-0.04 -0.16,-0.23 -0.38,-0.55 -0.38,-0.55 0,0 0.46,0.31 0.55,0.37 0.03,0.02 0.05,0 0.04,-0.03 -0.12,-0.3 -0.26,-0.65 -0.26,-0.65 l 0.5,0.48 c 0.02,0.02 0.05,0.01 0.04,-0.02 -0.05,-0.23 -0.14,-0.65 -0.14,-0.65 L 21,69.33 c 0.02,0.03 0.05,0.02 0.05,-0.01 0,-0.11 0.01,-0.59 0.01,-0.59 0,0 0.16,0.36 0.23,0.54 0.02,0.04 0.04,0.04 0.06,-0.01 0.02,-0.06 0.19,-0.46 0.19,-0.46 l 0.02,0.62 -0.08,0.02 -0.1,0.74 c 0.73,-0.17 1.65,-1.43 2.35,-1.43 0.84,0 1.14,0.98 2.68,0.48 0.39,0.58 0.53,1.08 0.68,1.77 0.6,0.56 1.43,0.37 1.43,-0.22 0,-0.8 -0.87,-0.95 -0.87,-1.79 0,-0.37 0.26,-0.91 0.97,-0.91 0.38,0 0.93,0.16 1.25,0.16 0.38,0 0.46,-0.27 0.5,-0.39 0.03,-0.08 0.14,-0.06 0.13,0.01 -0.01,0.08 0.04,0.19 0.04,0.37 0,0.53 -0.77,0.6 -0.86,0.53 -0.04,-0.03 -0.07,0.01 -0.04,0.04 0.12,0.09 0.09,0.41 -0.05,0.61 -0.02,0.02 -0.04,0.02 -0.04,0 -0.08,-0.38 -0.53,-0.85 -0.92,-0.85 -0.14,0 -0.43,0.08 -0.43,0.42 0,0.47 0.95,0.91 0.95,1.89 0,1.02 -1.01,1.27 -2.03,1.01 0.03,0.97 1.48,1.54 1.51,0.85 0,-0.05 0.03,-0.02 0.04,0 0.21,0.3 0.12,0.52 -0.16,0.64 0.25,0.11 0.3,0.62 0.37,0.93 0.11,0.46 0.59,0.2 0.62,0.19 0.03,-0.02 0.04,0 0.02,0.03 -0.18,0.47 -0.67,0.29 -0.67,0.29 -0.25,0.18 0.05,0.34 0.28,0.41 0.03,0.01 0.03,0.03 0.01,0.05 -0.17,0.06 -0.53,0.18 -0.71,-0.13 -0.13,0.32 -0.4,0.31 -0.5,0.31 -0.19,0 -0.31,0.19 -0.27,0.45 0,0.02 -0.01,0.03 -0.03,0.02 -0.44,-0.29 -0.19,-0.64 -0.01,-0.73 -0.03,-0.02 -0.34,-0.15 -0.47,0.21 -0.01,0.03 -0.03,0.03 -0.04,0 -0.19,-0.52 0.23,-0.67 0.53,-0.54 -0.02,-0.07 -0.18,-0.33 -0.58,-0.24 -0.02,0.01 -0.03,0 -0.02,-0.03 0.07,-0.16 0.26,-0.39 0.63,-0.16 0.19,0.12 0.51,-0.05 0.54,-0.07 -0.65,-1.29 -1.9,-0.21 -2.19,-1.22 -0.01,-0.02 -0.03,-0.04 -0.05,0.02 -0.07,0.21 -0.62,0.23 -0.72,-0.19 -0.01,-0.03 0,-0.04 0.03,-0.02 0.08,0.08 0.25,0.15 0.48,-0.17 0.15,-0.22 0.17,-0.51 0.17,-0.7 0,-0.78 -0.78,-2.1 -2,-2.1 -0.77,0 -1.6,0.3 -2.22,0.75 l 0.57,0.13 c -0.05,0.58 -0.61,0.92 -1.12,0.77 l 0.09,-0.66 c -0.09,0.03 -0.31,0.11 -0.43,0.28 -0.01,0.01 -0.03,0.01 -0.03,-0.01 -0.1,-0.38 0.21,-0.57 0.3,-0.61 0.01,-0.01 0.01,-0.01 -0.01,-0.01 -0.28,-0.01 -0.43,0.19 -0.48,0.26 -0.01,0.01 -0.02,0.01 -0.02,0 0.03,-0.08 -0.02,-0.27 0.11,-0.41 z m 1.71,4.48 c -0.22,0.27 -0.41,0.01 -0.7,0.01 -0.27,0 -0.32,0.23 -0.32,0.32 0,0.02 -0.01,0.02 -0.02,0.01 -0.31,-0.42 0.04,-0.65 0.24,-0.68 -0.03,-0.03 -0.33,-0.23 -0.52,0.05 -0.01,0.02 -0.03,0.01 -0.03,-0.01 -0.01,-0.52 0.4,-0.56 0.68,-0.33 0.05,-0.2 -0.08,-0.33 -0.3,-0.34 -0.03,0 -0.03,-0.02 -0.02,-0.03 0.09,-0.1 0.18,-0.14 0.27,-0.14 0.29,0 0.33,0.37 0.52,0.37 0.28,0 0.69,-0.38 0.72,-0.42 -0.01,-0.02 -0.28,-0.76 -0.23,-1.2 0,-0.02 -0.01,-0.02 -0.02,-0.01 -0.14,0.08 -0.48,0.07 -0.48,-0.35 0,-0.03 0.01,-0.04 0.03,-0.01 0.15,0.21 0.4,-0.03 0.52,-0.17 0.13,-0.15 0.85,-1.19 1.8,-1.19 0.21,0 0.48,0.12 0.7,0.27 -0.33,0.4 0,0.78 0.24,0.73 0.03,-0.01 0.03,0.02 0.01,0.03 -1.26,0.47 -1.82,0.66 -1.82,1.72 0,0.55 0.19,0.86 0.51,0.78 0.02,-0.01 0.03,0 0.01,0.02 -0.12,0.14 -0.25,0.19 -0.36,0.19 -0.26,0 -0.31,-0.14 -0.45,-0.14 -0.14,0 -0.61,0.28 -0.61,0.51 0,0.09 0.06,0.21 0.22,0.31 0.01,0.01 0,0.02 0,0.02 -0.14,0 -0.51,0.03 -0.59,-0.32 z M 25.71,64.7 c -0.39,-0.02 -0.65,0.06 -0.63,0.19 0.19,0.2 0.44,0.18 0.63,-0.19 z m -1.45,0.97 c 0.28,-0.07 0.58,-0.04 0.62,-0.03 0.04,0.01 0.04,0.08 -0.01,0.09 -0.58,0.07 -0.61,0.34 -0.98,0.34 -0.24,0 -0.51,-0.25 -0.41,-0.61 0.01,-0.05 0.05,-0.05 0.06,0 0.04,0.16 0.27,0.33 0.72,0.21 z m -7.53,12.86 c 0.38,0.49 0.75,0.03 1.26,0.03 0.25,0 0.55,0.08 0.6,0.58 0,0.03 0.02,0.03 0.05,0 0.55,-0.75 -0.08,-1.17 -0.44,-1.23 0.08,-0.07 0.61,-0.4 0.96,0.09 0.02,0.03 0.06,0.02 0.06,-0.02 0,-0.95 -0.71,-1.02 -1.23,-0.61 -0.1,-0.37 0.18,-0.61 0.54,-0.61 0.04,0 0.06,-0.03 0.04,-0.05 -0.64,-0.68 -1.11,0.18 -1.22,0.31 -0.25,0.34 -1.16,-0.3 -1.53,-0.68 0,0 0.8,-0.84 0.8,-1.61 0,-0.05 -0.01,-0.11 -0.01,-0.14 0,-0.02 0.01,-0.03 0.03,-0.02 0.08,0.05 0.19,0.08 0.3,0.08 0.18,0 0.53,-0.06 0.53,-0.71 0,-0.05 -0.02,-0.05 -0.04,-0.02 -0.1,0.14 -0.2,0.17 -0.28,0.17 -0.65,0 -2,-2.16 -3.6,-2.16 -0.42,0 -1.21,0.3 -1.6,0.73 0.19,0.11 0.23,0.35 0.21,0.52 -0.03,0.27 -0.25,0.41 -0.47,0.47 -0.04,0.01 -0.04,0.04 0,0.06 0.81,0.31 2.27,0.86 2.61,1.15 0.39,0.34 0.32,0.98 0.09,1.87 -0.22,0.85 -0.69,0.74 -0.87,0.71 -0.03,0 -0.03,0.01 -0.02,0.03 0.21,0.26 0.46,0.35 0.68,0.35 0.42,0 0.58,-0.26 0.79,-0.26 0.36,0 1.13,0.52 1.13,0.92 0,0.22 -0.17,0.43 -0.4,0.57 -0.01,0.01 -0.01,0.03 0.01,0.03 0.17,0.03 0.88,0.09 1.02,-0.55 z m 17.63,0.55 c 0.02,0 0.03,-0.02 0.01,-0.03 -0.22,-0.15 -0.4,-0.35 -0.4,-0.57 0,-0.4 0.76,-0.92 1.13,-0.92 0.22,0 0.37,0.26 0.79,0.26 0.22,0 0.47,-0.09 0.68,-0.35 0.02,-0.02 0.01,-0.04 -0.02,-0.03 -0.17,0.03 -0.65,0.14 -0.87,-0.71 -0.23,-0.89 -0.31,-1.53 0.09,-1.87 0.33,-0.29 1.8,-0.84 2.61,-1.15 0.04,-0.02 0.04,-0.05 0,-0.06 -0.22,-0.06 -0.44,-0.2 -0.47,-0.47 -0.02,-0.17 0.02,-0.4 0.21,-0.52 -0.4,-0.43 -1.19,-0.73 -1.61,-0.73 -1.6,0 -2.95,2.16 -3.6,2.16 -0.08,0 -0.19,-0.03 -0.28,-0.17 -0.02,-0.03 -0.04,-0.03 -0.04,0.02 0,0.65 0.35,0.71 0.53,0.71 0.1,0 0.22,-0.03 0.3,-0.08 0.02,-0.01 0.03,0 0.03,0.02 0,0.03 -0.01,0.09 -0.01,0.14 0,0.77 0.8,1.61 0.8,1.61 -0.36,0.38 -1.27,1.01 -1.53,0.68 -0.11,-0.14 -0.58,-0.99 -1.22,-0.31 -0.02,0.03 -0.01,0.05 0.04,0.05 0.36,0 0.64,0.24 0.54,0.61 -0.52,-0.41 -1.23,-0.34 -1.23,0.61 0,0.04 0.04,0.05 0.06,0.02 0.34,-0.49 0.88,-0.16 0.95,-0.09 -0.36,0.05 -0.98,0.48 -0.44,1.23 0.02,0.03 0.04,0.03 0.05,0 0.06,-0.49 0.36,-0.58 0.6,-0.58 0.5,0 0.87,0.46 1.26,-0.03 0.16,0.64 0.87,0.58 1.04,0.55 z M 21.45,66.61 c -0.05,0.07 -0.22,0 -0.28,-0.03 -0.01,-0.01 -0.02,0 -0.01,0.01 0.04,0.09 0.2,0.36 0.44,0.36 0.11,0 0.27,-0.06 0.31,-0.14 0,0 0.94,0.31 1.4,0.43 -0.18,0.24 -0.29,0.53 -0.32,0.84 -0.37,-0.23 -1.87,-1.03 -1.87,-1.03 l -0.46,0.64 c -0.08,0.1 -0.45,-0.17 -0.37,-0.27 l 0.35,-0.49 c -0.12,-0.12 -0.4,-0.05 -0.48,-0.02 -0.01,0 -0.02,0 -0.01,-0.02 0.05,-0.1 0.22,-0.39 0.66,-0.26 0,-0.27 -0.4,-0.18 -0.51,-0.15 -0.01,0 -0.02,0 -0.01,-0.01 0.11,-0.12 0.44,-0.38 0.8,-0.16 l 0.16,-0.22 -0.32,-0.34 0.2,-0.28 0.23,0.3 1.73,-2.37 c 0.04,-0.06 0.39,-0.16 0.51,-0.19 0.01,0.13 0.03,0.49 -0.01,0.55 l -1.7,2.39 0.36,0.12 -0.2,0.28 -0.42,-0.2 z m 6.07,-0.39 c 0,0.22 0.13,0.54 0.42,0.44 0.01,-0.01 0.03,0 0.02,0.01 -0.04,0.24 -0.48,0.46 -0.67,0.18 -0.18,0.37 -0.13,0.72 0.24,0.92 0.02,0.01 0.02,0.04 0,0.06 -0.23,0.16 -0.58,0.13 -0.74,-0.19 -0.31,0.23 -0.27,0.73 -0.08,0.9 0,0 -0.86,0.51 -1.64,0.15 -0.52,-0.25 -0.94,-0.57 -1.61,-0.51 0.09,-0.94 0.56,-1.18 1.42,-1.32 0.69,-0.11 0.77,-0.43 0.68,-0.67 -0.23,-0.06 -0.66,0.15 -0.66,0.15 -0.08,-0.13 0.03,-0.26 0.03,-0.26 -0.04,-0.05 -0.06,-0.22 -0.06,-0.22 0.48,0 0.57,-0.11 0.57,-0.11 0.09,-0.5 -0.42,-0.55 -0.81,-0.28 -0.18,-0.16 -0.15,-0.37 -0.15,-0.37 -0.05,-0.03 -0.09,-0.11 -0.09,-0.15 0,-0.12 0.57,-0.44 0.72,-0.48 0.04,-0.17 0.24,-0.4 0.85,-0.34 0.07,-0.16 -0.05,-0.75 -0.12,-0.9 -0.02,-0.05 0.01,-0.07 0.06,-0.04 0.21,0.13 0.42,0.63 0.57,0.64 0,0 0.68,-0.36 0.71,-0.34 0.03,0.02 0.13,0.78 0.13,0.78 0.09,0.11 0.62,0 0.85,0.1 0.06,0.03 0.06,0.07 0,0.08 -0.17,0.03 -0.72,0.27 -0.81,0.42 0.32,0.47 0.17,1.16 0.17,1.35 z'/%3E%3C/svg%3E");

        }
    }


    .govuk-header {
        background-color: var(--rhc-color-lintblauw-500);
        padding: 10px 0;
        border: none;


        .govuk-header__container,
        .govuk-header__logo {
            padding: 0px;
            border: none;
        }
    }

    .product-page-intro {
        background-color: var(--rhc-color-lichtblauw-100);
        padding-top: 20px;
        color: var(--rhc-color-lintblauw-500);
        margin: 0 0 45px;

        .breadcrumbs.breadcrumbs--inverse a,
        .govuk-body,
        .govuk-link.govuk-link--inverse {
            color: var(--rhc-color-lintblauw-500);
        }
    }

    a.govuk-link {
        color: var(--utrecht-link-color);
        text-decoration-color: var(--utrecht-link-text-decoration-color);

        &.govuk-link--no-visited-state:link,
        &.govuk-link--no-visited-state:visited {
            color: var(--utrecht-link-color);
        }

        &:focus {
            color: var(--utrecht-link-focus-color);
            background-color: var(--utrecht-link-focus-background-color);
            text-decoration-thickness: var(--utrecht-link-focus-text-decoration-thickness);
            text-decoration: var(--utrecht-link-focus-text-decoration);
        }

        :visited {
            color: var(--utrecht-link-visited-color);
        }
    }

    a.govuk-link.govuk-link--inverse {
        color: var(--utrecht-focus-inverse-outline-color);
    }

    button.govuk-button {
        min-height: var(--utrecht-button-min-block-size);
    }

    .govuk-button {
        // color: var(--utrecht-button-primary-action-color);
        // border-color: var(--utrecht-button-primary-action-border-color);
        // border-width: 0;
        // background-color: var(--utrecht-button-primary-action-background-color);


        align-items: center;
        background-color: var(--utrecht-button-background-color);
        block-size: fit-content;
        border-block-end-color: var(--utrecht-button-border-bottom-color);
        border-block-end-width: var(--utrecht-button-border-block-end-width);
        border-color: var(--utrecht-button-border-color);
        border-radius: var(--utrecht-button-border-radius);
        border-style: solid;
        border-width: var(--utrecht-button-border-width);
        box-sizing: border-box;
        color: var(--utrecht-button-color);
        column-gap: var(--utrecht-button-column-gap);
        cursor: var(--utrecht-action-activate-cursor, revert);
        display: inline-flex;
        font-family: var(--utrecht-button-font-family, var(--utrecht-document-font-family));
        font-size: var(--utrecht-button-font-size, var(--utrecht-document-font-family, inherit));
        font-weight: var(--utrecht-button-appearance-font-weight, var(--utrecht-button-font-weight));
        inline-size: var(--utrecht-button-inline-size, auto);
        justify-content: center;
        line-height: var(--utrecht-button-line-height);
        max-inline-size: var(--utrecht-button-max-inline-size, fit-content);
        min-block-size: var(--utrecht-button-min-block-size, 44px);
        min-inline-size: var(--utrecht-button-min-inline-size, 44px);
        padding-block-end: var(--utrecht-button-padding-block-end);
        padding-block-start: var(--utrecht-button-padding-block-start);
        padding-inline-end: var(--utrecht-button-padding-inline-end);
        padding-inline-start: var(--utrecht-button-padding-inline-start);
        scale: 1;
        text-transform: var(--utrecht-button-text-transform);
        -webkit-user-select: none;
        user-select: none;


        &:hover {
            color: var(--utrecht-button-primary-action-hover-color);
            border-color: var(--utrecht-button-primary-action-hover-border-color);
            background-color: var(--utrecht-button-primary-action-hover-background-color);
        }

        &.govuk-button--inverse,
        &:focus:not(:active):not(:hover) {
            color: var(--utrecht-button-primary-action-focus-color);
            border-color: var(--utrecht-button-primary-action-focus-border-color);
            background-color: var(--utrecht-button-primary-action-focus-background-color);

        }

    }

    .govuk-footer {
        background: var(--rhc-color-lichtblauw-100);

        .govuk-footer__heading+ul {
            margin-top: 30px;

        }

        .govuk-footer__section,
        .govuk-footer__section-break,
        .govuk-footer__heading {
            border-color: var(--rhc-color-lintblauw-500);
        }
    }
}


// headings
.rhc-theme {

    h3 {
        margin-block-start: var(--utrecht-heading-5-margin-block-start);
        margin-block-end: var(--utrecht-heading-5-margin-block-end);
        font-size: var(--utrecht-heading-5-font-size);
        line-height: var(--utrecht-heading-5-line-height);
        font-weight: var(--utrecht-heading-5-font-weight);
        font-family: var(--utrecht-heading-5-font-family);
        color: var(--utrecht-heading-5-color)
    }

    h2,
    .big-number-smaller .big-number-number {
        margin-block-start: var(--utrecht-heading-4-margin-block-start);
        margin-block-end: var(--utrecht-heading-4-margin-block-end);
        font-size: var(--utrecht-heading-4-font-size);
        line-height: var(--utrecht-heading-4-line-height);
        font-weight: var(--utrecht-heading-4-font-weight);
        font-family: var(--utrecht-heading-4-font-family);
        color: var(--utrecht-heading-4-color)
    }



    h1 {
        margin-block-start: var(--utrecht-heading-3-margin-block-start);
        margin-block-end: var(--utrecht-heading-3-margin-block-end);
        font-size: var(--utrecht-heading-3-font-size);
        line-height: var(--utrecht-heading-3-line-height);
        font-weight: var(--utrecht-heading-3-font-weight);
        font-family: var(--utrecht-heading-3-font-family);
        color: var(--utrecht-heading-3-color)
    }

    @media (min-width: 40.0625em) {
        .heading-large {
            margin-bottom: .5555555556em;
            margin-top: 1.25em;
        }

        .heading-medium {
            margin-top: .8333333333em;
            margin-bottom: .8333333333em;
        }
    }



    .big-number-with-status {

        .govuk-link.govuk-link--inverse.big-number-link {
            background: var(--rhc-color-lichtblauw-100);
            min-height: 110px;
        }

        .big-number-link {
            .big-number-label {
                color: var(--utrecht-heading-5-color);
                font-size: 0.84em;
                text-decoration: none;
            }
        }

    }
}

// forms
.rhc-theme form {
    label {
        font-weight: var(--utrecht-form-label-font-weight);
        font-size: var(--utrecht-form-label-font-size);
        color: var(--utrecht-form-label-color);

    }

    // textbox
    .govuk-input {
        background-color: var(--utrecht-textbox-background-color, var(--utrecht-form-control-background-color));
        border-width: var(--utrecht-textbox-border-width, var(--utrecht-form-control-border-width));
        border-block-end-width: var(--utrecht-textbox-border-bottom-width, var(--utrecht-textbox-border-width, var(--utrecht-form-control-border-width)));
        border-color: var(--utrecht-textbox-border-color, var(--utrecht-form-control-border-color));
        border-radius: var(--utrecht-textbox-border-radius, var(--utrecht-form-control-border-radius, 0));
        border-style: solid;
        box-sizing: border-box;
        color: var(--utrecht-textbox-color, var(--utrecht-form-control-color));
        font-family: var(--utrecht-textbox-font-family, var(--utrecht-form-control-font-family));
        font-size: var(--utrecht-textbox-font-size, var(--utrecht-form-control-font-size, inherit));
        font-weight: var(--utrecht-textbox-font-weight, var(--utrecht-form-control-font-weight, initial));
        inline-size: 100%;
        line-height: var(--utrecht-textbox-line-height, var(--utrecht-form-control-line-height, initial));
        min-block-size: var(--utrecht-pointer-target-min-size, 44px);
        min-inline-size: var(--utrecht-pointer-target-min-size, 44px);
        padding-block-end: var(--utrecht-textbox-padding-block-end, var(--utrecht-form-control-padding-block-end, 0));
        padding-block-start: var(--utrecht-textbox-padding-block-start, var(--utrecht-form-control-padding-block-start, 0));
        padding-inline-end: var(--utrecht-textbox-padding-inline-end, var(--utrecht-form-control-padding-inline-end, initial));
        padding-inline-start: var(--utrecht-textbox-padding-inline-start, var(--utrecht-form-control-padding-inline-start, initial));
    }

    .notify-simple-search-form__form-group .govuk-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

// tabs / accordions
.rhc-theme .pill {
    border: 1px solid var(--rhc-accordion-section-border-color);
}

.rhc-theme .pill-item {
    background: var(--rhc-color-lichtblauw-100);
    border: 1px solid var(--rhc-color-lichtblauw-100);
    padding: 12px 2px;

    .pill-item__label {
        text-decoration: none;
        color: var(--rhc-accordion-color);
    }

    &.pill-item--selected {
        background-color: var(--rhc-accordion-button-expanded-background-color);

        &:focus,
        &:focus-visible {
            padding: 12px 2px;
        }

        .pill-item__label {
            color: var(--rhc-accordion-button-expanded-color);
        }
    }

}

@media (max-width: 48.0624em) {
    .dashboard {

        .govuk-grid-row {
            display: flex;
            flex-direction: column;

            .govuk-grid-column-one-third {
                width: 100%;

            }
        }

    }
}

@media (min-width: 48.0625em) {
    .govuk-header {
        .govuk-header__container {
            display: flex;
            flex-direction: row;

            .govuk-header__logo {
                width: auto;
                flex: 0;
                padding-right: 0;
            }

            .govuk-header__content {
                width: auto;
                flex: 1;
            }

            .govuk-header__navigation-list {
                display: flex;
                width: 100%;
                justify-content: end;
            }
        }
    }
}


.rhc-theme {

    a,
    button,
    .pill-item {

        &:active,
        &:focus {
            box-shadow: inset 0 -2px var(--utrecht-focus-outline-color);
            border: initial !important;
            outline-color: var(--utrecht-focus-outline-color, revert);
            outline-offset: var(--utrecht-focus-outline-offset, revert);
            outline-style: var(--utrecht-focus-outline-style, revert);
            outline-width: var(--utrecht-focus-outline-width, revert);
            z-index: 1;
            background: initial;
            color: initial;

        }
    }
}

/*
    --utrecht-textbox-hover-color: #0F172A;
    --utrecht-textbox-hover-border-color: #738eab;
    --utrecht-textbox-hover-background-color: #fff;
    --utrecht-textbox-hover-border-width: 1px;
    --utrecht-textbox-read-only-color: #0F172A;
    --utrecht-textbox-read-only-border-color: transparent;
    --utrecht-textbox-read-only-background-color: #F1F5F9;
    --utrecht-textbox-disabled-color: #475569;
    --utrecht-textbox-disabled-border-color: #94A3B8;
    --utrecht-textbox-disabled-background-color: #CBD5E1;
    --utrecht-textbox-focus-color: #0F172A;
    --utrecht-textbox-focus-border-color: #154273;
    --utrecht-textbox-focus-background-color: #fff;
    --utrecht-textbox-focus-border-width: 2px;
    --utrecht-textbox-border-width: 1px;
    --utrecht-textbox-border-block-end-width: auto;
    --utrecht-textbox-placeholder-color: #64748B;
    --utrecht-textbox-invalid-border-width: 1px;
    --utrecht-textbox-invalid-color: #0F172A;
    --utrecht-textbox-invalid-border-color: #d52b1e;
    --utrecht-textbox-invalid-background-color: #f9dfdd;
    --utrecht-textbox-color: #0F172A;
    --utrecht-textbox-border-color: #154273;
    --utrecht-textbox-background-color: #fff;
    --utrecht-textbox-padding-inline-start: 0.75rem;
    --utrecht-textbox-padding-inline-end: 0.75rem;
    --utrecht-textbox-padding-block-start: 0.5rem;
    --utrecht-textbox-padding-block-end: 0.5rem;
    --utrecht-textbox-max-inline-size: 400px;
    --utrecht-textbox-line-height: 150%;
    --utrecht-textbox-font-weight: 400;
    --utrecht-textbox-font-size: 1.25rem;
    --utrecht-textbox-font-family: RijksoverheidSansWeb, Fira Sans, Arial, Verdana, sans-serif;
    --utrecht-textbox-border-radius: 2.5px;
*/

/* stylelint-enable declaration-no-important */
