{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block per_page_title %}
  Enter your text message code – Change your mobile number
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.your_account') }) }}
{% endblock %}

{% block maincolumn_content %}
  <span class="govuk-caption-xl">Change your mobile number</span>
  {{ page_header("Enter your text message code", classes='govuk-!-margin-top-0') }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-body">
        We’ve sent a security code to your new mobile number.
      </p>
      {% call form_wrapper() %}
        {{ form_field() }}
        {{ page_footer('Confirm') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
