{% extends "withnav_template.html" %}
{% from "components/radios.html" import radio %}
{% from "components/select-input.html" import select_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}

{% set page_title = form.branding_options.label.text %}

{% block service_page_title %}
  {{ page_title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('.email_branding_request', service_id=current_service.id)
  }) }}
{% endblock %}

{% block maincolumn_content %}
  {% if form.branding_options.errors %}
    {% set params = {
        "titleText": "There is a problem",
        "errorList": [{"href": "#" + form.branding_options.id, "text": form.branding_options.errors[0]}]
      }
    %}
    {{ govukErrorSummary(params) }}
  {% endif %}

  {% call form_wrapper() %}
    {% if current_service.email_branding_id %}
      {% set param_extensions = {} %}
    {% else %}
      {% set param_extensions = {
        "hint":{
          "html": current_service.name + " branding is not set up yet.",
          "classes": "notify-hint--paragraph",
        }
      } %}
    {% endif %}
    {{ form.branding_options(param_extensions=param_extensions) }}
    {{ page_footer('Continue') }}
  {% endcall %}

{% endblock %}
