{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner %}
{% from "components/ajax-block.html" import ajax_block %}
{% from "components/message-count-label.html" import message_count_label %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  {{ message_count_label(1, template.template_type, suffix='') | capitalize }}
{% endblock %}

{% block maincolumn_content %}

    <h1 class="heading-large">
      {{ message_count_label(1, template.template_type, suffix='') | capitalize }}
    </h1>

    <p>
      {% if is_precompiled_letter %}
        Provided as PDF
      {% else %}
        {% if help %}
          ‘{{ template.name }}’
        {% else %}
          <a href="{{ url_for('.view_template', service_id=current_service.id, template_id=template.id) }}">‘{{ template.name }}’</a>
        {% endif %}
        was sent
      {% endif %}
      {% if job and job.original_file_name != 'Report' %}
        {% set destination =
          {'letter': 'an address', 'email': 'an email address', 'sms': 'a phone number'} %}
        to {{ destination[template.template_type] }} from
        <a href="{{ url_for('.view_job', service_id=current_service.id, job_id=job.id) }}">{{ job.original_file_name }}</a>
      {% elif created_by %}
        by {{ created_by.name }}
      {% endif %}
      on {{ created_at|format_datetime_short }}
    </p>

    {% if template.template_type == 'letter' %}
      {% if notification_status in ('permanent-failure', 'cancelled') %}
        <p class="notification-status-cancelled">
          Cancelled {{ updated_at|format_datetime_short }}
        </p>
      {% elif notification_status == 'validation-failed' %}
        <p class="notification-status-cancelled">
          Validation failed – content is outside the printable area
        </p>
      {% elif notification_status == 'technical-failure' %}
        <p class="notification-status-cancelled">
          Technical failure – Notify will resend once the team have
          fixed the problem
        </p>
      {% else %}
        {% if sent_with_test_key %}
          {% if is_precompiled_letter %}
            <p>
              This letter passed our checks, but we will not print it because you used a test key.
            </p>
          {% else %}
            <p>
              We will not print this letter because you used a test key.
            </p>
          {% endif %}
        {% else %}
          <p>
            {{ letter_print_day }}
          </p>
          <p>
            Estimated delivery date: {{ estimated_letter_delivery_date|string|format_date_short }}
          </p>
        {% endif %}
      {% endif %}
    {% endif %}

    {{ template|string }}

    {% if template.template_type == 'letter' %}
      <div class="js-stick-at-bottom-when-scrolling">
        <div class="page-footer">
          {% if show_cancel_button %}
            <span class="page-footer-delete-link page-footer-delete-link-without-button">
              <a href="{{ url_for('main.cancel_letter', service_id=current_service.id, notification_id=notification_id) }}">Cancel sending this letter</a>
            </span>
          {% else %}
            <div>&nbsp;</div>
          {% endif %}
          <a class="page-footer-right-aligned-link" href="{{ url_for('main.view_letter_notification_as_preview', service_id=current_service.id, notification_id=notification_id, filetype='pdf') }}" download>Download as a PDF</a>
        </div>
      </div>
    {% elif template.template_type == 'email' %}
      <div class="js-stick-at-bottom-when-scrolling">
        {{ ajax_block(partials, updates_url, 'status', finished=finished) }}
      </div>
    {% elif template.template_type == 'sms' %}
      {{ ajax_block(partials, updates_url, 'status', finished=finished) }}
    {% endif %}

    {% if current_user.has_permissions('send_messages') and current_user.has_permissions('view_activity') and template.template_type == 'sms' and can_receive_inbound %}
      <p>
        <a href="{{ url_for('.conversation', service_id=current_service.id, notification_id=notification_id, _anchor='n{}'.format(notification_id)) }}">See all text messages sent to this phone number</a>
      </p>
    {% endif %}

{% endblock %}
