{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner %}
{% from "components/ajax-block.html" import ajax_block %}
{% from "components/message-count-label.html" import message_count_label %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  {{ message_count_label(1, template.template_type, suffix='') | capitalize }}
{% endblock %}

{% block maincolumn_content %}

    <h1 class="heading-large">
      {{ message_count_label(1, template.template_type, suffix='') | capitalize }}
    </h1>

    <p>
      {% if is_precompiled_letter %}
      Provided as PDF, sent
      {% else %}
        {% if help %}
          {{ template.name }}
        {% else %}
          <a href="{{ url_for('.view_template', service_id=current_service.id, template_id=template.id) }}">{{ template.name }}</a>
        {% endif %}
        sent
      {% endif %}
      {% if job and job.original_file_name != 'Report' %}
        from
        <a href="{{ url_for('.view_job', service_id=current_service.id, job_id=job.id) }}">{{ job.original_file_name }}</a>
      {% elif created_by %}
        by {{ created_by.name }}
      {% endif %}
      on {{ created_at|format_datetime_short }}
    </p>

    {% if template.template_type == 'letter' %}
      <p>
        Estimated delivery date: {{ estimated_letter_delivery_date|string|format_date_short }}
      </p>
      <p class="bottom-gutter">
        <a href="{{ url_for('main.view_letter_notification_as_preview', service_id=current_service.id, notification_id=notification_id, filetype='pdf') }}" download>Download as a PDF</a>
      </p>
    {% endif %}

    {{ template|string }}

    {% if template.template_type != 'letter' %}
      {{ ajax_block(partials, updates_url, 'status', finished=finished) }}
    {% endif %}

    {% if current_user.has_permissions('send_messages') and current_user.has_permissions('view_activity') and template.template_type == 'sms' and can_receive_inbound %}
      <p>
        <a href="{{ url_for('.conversation', service_id=current_service.id, notification_id=notification_id, _anchor='n{}'.format(notification_id)) }}">See all text messages sent to this phone number</a>
      </p>
    {% endif %}

{% endblock %}
