{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/banner.html" import banner_wrapper %}

{% block page_title %}
  {{heading}} – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  {% call banner_wrapper(type='tour') %}
	<h2 class="heading-large">{{ heading }}</h2>
	<p>
		Add recipients by uploading a .csv spreadsheet:
	</p>
	<p>
	    <picture>
		  <source
			  type="image/svg+xml"
			  srcset="/static/images/tour/{{ current_page }}.svg"
			  alt="A screenshot of a spreadsheet containing data about three people"
			  width="554" height="118"
		  >
		  <img
			src="/static/images/tour/{{ current_page }}.png"
			width="554" height="118"
			alt="A screenshot of a spreadsheet containing data about three people"
		  >
		</picture>
	</p>
	<p>
		Developers, you can add data automatically using an API
	</p>
    <a href='{{ url_for('.tour', page=next_page) }}'>
      Next
    </a>
  {% endcall %}

{% endblock %}
