{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/banner.html" import banner_wrapper %}

{% block page_title %}
  {{heading}} – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  {% call banner_wrapper(type='tour') %}
	<h2 class="heading-large">Send your messages</h2>
	<p>
		Notify merges your data with the template and sends the messages
	</p>
	<a href="{{ url_for('.service_dashboard', service_id=service_id) }}">
      Next
    </a>
    <picture class="banner-tour-image-flush-bottom">
	  <source
		  type="image/svg+xml"
		  srcset="/static/images/tour/{{ current_page }}.svg"
		  alt="Three mobiles phones, each showing a text message personalised with data about the recipient"
		  width="840" height="290"
	  >
	  <img
		src="/static/images/tour/{{ current_page }}.png"
		class="banner-tour-image-flush-bottom"
		width="840" height="290"
		alt="Three mobiles phones, each showing a text message personalised with data about the recipient"
	  >
	</picture>
  {% endcall %}

{% endblock %}
