{% from "components/banner.html" import banner, banner_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/button/macro.njk" import govukButton %}

<div class="ajax-block-container">
  {% if verification_status == "pending" %}
    <p class="govuk-body">
      We’re checking that ‘{{ reply_to_email_address }}’ is a real email address.
    </p>
    <p class="govuk-body">
      <span class='loading-indicator'>This can take a minute</span>
    </p>

    <p class="js-hidden govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.service_verify_reply_to_address', service_id=service_id, notification_id=notification_id, is_default=is_default, replace=replace) }}">Refresh</a>
    </p>
  {% elif verification_status == "success" %}
    {{ banner("‘{}’ is ready to use".format(reply_to_email_address), type='default', with_tick=True) }}
    <div class="js-stick-at-bottom-when-scrolling">
      {{ govukButton({
        "element": "a",
        "text": "Continue",
        "href": url_for('.service_email_reply_to', service_id=service_id)
      }) }}
    </div>
  {% elif verification_status == "failure" %}
    <div class="bottom-gutter">
      {% call banner_wrapper(type='dangerous') %}
        <h2 class='banner-title' data-module="track-error" data-error-type="reply-to-email-not-working" data-error-label="{{ upload_id }}">
          There’s a problem with your reply-to address
        </h2>
        <p class="govuk-body">
          We sent an email to ‘{{ reply_to_email_address }}’ but it could not be delivered.
        </p>
        <p class="govuk-body">
          You can try again, or use a different address.
        </p>
      {% endcall %}
    </div>
    {% if replace %}
      {% set form_url = url_for('.service_edit_email_reply_to', service_id=service_id, reply_to_email_id=replace) %}
    {% else %}
      {% set form_url = url_for('.service_add_email_reply_to', service_id=service_id) %}
    {% endif %}
    {% call form_wrapper(
      action = form_url
    ) %}
      {{ form.email_address(
          param_extensions={
            "hint": {"text": "This should be a shared inbox managed by your team, not your own email address"},
            "classes": "govuk-!-width-full"
          },
          error_message_with_html=True
      ) }}
      {% if not first_email_address and not existing_is_default %}
        {{ form.is_default }}
      {% endif %}
      {{ page_footer('Try again') }}
    {% endcall %}
  {% endif %}
</div>
