{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  Add reply-to email address
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_email_reply_to', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Add reply-to email address') }}

  {% call form_wrapper() %}
    {{ form.email_address(
        param_extensions={
          "hint": {"text": "This should be a shared inbox managed by your team, not your own email address"},
          "classes": "govuk-!-width-full"
        },
        error_message_with_html=True
    ) }}
    {% if not first_email_address %}
      {{ form.is_default }}
    {% endif %}
    {{ page_footer('Add') }}
  {% endcall %}

{% endblock %}
