{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
 Edit email reply to address
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    Edit email reply to address
  </h1>
  {% call form_wrapper() %}
    {{ textbox(
      form.email_address,
      width='2-3',
      safe_error_message=True
    ) }}
    {% if form.is_default.data %}
      <p class="form-group">
        This is the default reply-to address for {{ current_service.name }} emails
      </p>
      {{ page_footer(
        'Save',
        back_link=url_for('.service_email_reply_to', service_id=current_service.id),
        back_link_text='Back'
      ) }}
    {% else %}
      <div class="form-group">
        {{ checkbox(form.is_default) }}
      </div>
      {{ page_footer(
        'Save',
        back_link=url_for('.service_email_reply_to', service_id=current_service.id),
        back_link_text='Back',
        delete_link=url_for('.service_confirm_delete_email_reply_to', service_id=current_service.id, reply_to_email_id=reply_to_email_address_id),
        delete_link_text='Delete'
      ) }}
    {% endif %}
  {% endcall %}

{% endblock %}
