{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Verifying your reply-to email address
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    'Verifying your reply-to email address',
    back_link=url_for('main.service_email_reply_to', service_id=current_service.id)
  ) }}
  {% if verification_status == "pending" %}
    <p>
      We have sent a notification to {{ reply_to_email_address }} to check if it's a working email address.

    </p>
    <p>
      Once we receive a delivery confirmation, we will update your list of reply-to email addresses.
    </p>

    <p>
      <a href="{{ url_for('main.verify_reply_to_address', service_id=service_id, notification_id=notification_id) }}"">Refresh</a>
    </p>
  {% elif verification_status == "success" %}
    {{ banner("Yay success! Your new reply-to email has been added ^__^", type='message', with_tick=True) }}
  {% elif verification_status == "failure" %}
    {{ banner("Sorry dawg, this email address doesn't seem to be working :d", type='dangerous') }}
  {% endif %}
{% endblock %}
