{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/ajax-block.html" import ajax_block %}

{% block service_page_title %}
  Verifying your reply-to email address
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    'Verifying your reply-to email address',
    back_link=url_for('main.service_email_reply_to', service_id=current_service.id)
  ) }}
  {{ ajax_block(
      partials,
      url_for('main.service_verify_reply_to_address_updates', service_id=service_id, notification_id=notification_id),
      'status',
      finished=finished
    ) }}
{% endblock %}
