{% extends "views/platform-admin/_base_template.html" %}
{% from "components/live-search.html" import live_search %}

{% block per_page_title %}
  Email branding
{% endblock %}

{% block platform_admin_content %}

  <div class="grid-row bottom-gutter-2-3">
    <div class="column-two-thirds">
      <h1 class="heading-large">Email branding</h1>
    </div>
    <div class="column-one-third">
      <a href="{{ url_for('.create_email_branding') }}" class="button align-with-heading">Add new brand</a>
    </div>
  </div>
  {{ live_search(target_selector='.email-brand', show=True, form=search_form) }}
  <nav>
    {% for brand in email_brandings %}
      <div class="email-brand">
        <div class="message-name">
          <a href="{{ url_for('.update_email_branding', branding_id=brand.id) }}">
            {{ brand.name or 'Unnamed' }}
          </a>
        </div>
      </div>
    {% endfor %}
  </nav>

{% endblock %}
