{% extends "views/platform-admin/_base_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/live-search.html" import live_search %}
{% from "components/button/macro.njk" import govukButton %}

{% set page_title = "Email branding" %}

{% block per_page_title %}
  {{ page_title }}
{% endblock %}

{% block platform_admin_content %}

  <h1 class="heading-medium">{{ page_title }}</h1>
  {{ live_search(target_selector='.email-brand', show=True, form=search_form, autofocus=True) }}
  <nav>
    {% for brand in email_brandings %}
      <div class="email-brand">
        <div class="message-name">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.update_email_branding', branding_id=brand.id) }}">
            {{ brand.name or 'Unnamed' }}
          </a>
        </div>
      </div>
    {% endfor %}
  </nav>
  <div class="js-stick-at-bottom-when-scrolling">
    {{ govukButton({
      "element": "a",
      "text": "New brand",
      "href": url_for('.create_email_branding'),
      "classes": "govuk-button--secondary"
    }) }}
  </div>

{% endblock %}
