{% extends "content_template.html" %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'About Notify' %}

{% block per_page_title %}
  Features
{% endblock %}

{% block content_column_content %}

<h1 class="heading-large">Features</h1>

<p class="govuk-body">GOV.UK Notify makes it easy for public sector service teams to send emails, text messages and letters.</p>
<p class="govuk-body">You do not need any technical knowledge to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_templates') }}">create and send messages</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_formatting') }}">edit and format content</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_personalisation') }}">add personalisation</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_bulk_sending') }}">send messages in bulk</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_delivery_times') }}">see when your messages have been delivered</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_team_members_and_permissions') }}">collaborate with your team</a></li>
</ul>

<p class="govuk-body">Find out <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_who_can_use_notify') }}">who can use GOV.UK Notify</a>.</p>

{% if not current_user.is_authenticated %}
  {% set insetHtml %}
    <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.register') }}">Create an account</a> for free and try it yourself.
  {% endset %}
  {{ govukInsetText({"html": insetHtml}) }}
{% endif %}

<h2 class="heading-medium">Unlimited free emails</h2>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_send_files_by_email') }}">Send files by email</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_email_branding') }}">Add email branding</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_reply_to_email_address') }}">Choose a reply-to email address</a></li>
</ul>

<h2 class="heading-medium">Send and receive text messages</h2>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_pricing_text_messages') }}">Send thousands of free text messages</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_receive_text_messages') }}">Receive text messages</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_pricing_text_messages', _anchor='international-numbers') }}">Send text messages to international numbers</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_text_message_sender') }}">Tell recipients who your messages are from</a></li>
</ul>

<h2 class="heading-medium">GOV.UK Notify prints and posts your letters for you</h2>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_pricing_letters') }}">Choose your postage</a></li>
  <li>Send international letters</li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_letter_branding') }}">Add letter branding</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_upload_a_letter') }}">Upload a letter from a PDF</a></li>
</ul>

<h2 class="heading-medium">Automatic sending</h2>
<p class="govuk-body">To send messages automatically, you’ll need a developer to integrate with the GOV.UK Notify API.</p>
<p class="govuk-body">For more information, read our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.guidance_api_documentation') }}">API documentation</a>.</p>

<h2 class="heading-medium">Keep your data secure</h2>
<p class="govuk-body">Find out more about <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_security') }}">security on GOV.UK Notify</a>.</p>

<h2 class="heading-medium">Performance</h2>
<p class="govuk-body">GOV.UK Notify commits to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>sending 95% of emails and text messages within 10 seconds</li>
  <li>printing and posting letters by 3pm the next working day</li>
</ul>
<p class="govuk-body">See the latest <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.performance') }}">performance data</a>.</p>

<h2 class="heading-medium" id="support">24-hour online support</h2>
<p class="govuk-body">If you have an emergency outside office hours, we’ll reply within 30 minutes.</p>
<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.support') }}">Contact the GOV.UK Notify team</a>.</p>

{% endblock %}
