{% extends "content_template.html" %}

{% from "components/content-metadata.html" import content_metadata %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'About Notify' %}

{% block per_page_title %}
  Roadmap
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Roadmap</h1>

  {{ content_metadata(
    data={
      "Last updated": "3 April 2024",
      "Next review due": "15 April 2024"
    }
  ) }}

  <p class="govuk-body">The GOV.UK Notify roadmap shows what we’re working on and some of the <a class="govuk-link govuk-link--no-visited-state" href="#things-we-have-done">things we’ve done</a>.</p>
  <p class="govuk-body">The roadmap is only a guide. It does not cover everything we do, and some things may change.</p>
  <p class="govuk-body">You can <a class="govuk-link govuk-link--no-visited-state" href="{{url_for('main.support')}}">contact us</a> if you have any questions about the roadmap, want to get involved in user research or have suggestions for new features.</p>

  <h2 class="heading-medium" id="things-we-are-working-on">Things we’re working on now</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Make it easier for users to join an existing service</li>
    <li>Improve our front-end code to meet our targets for accessibility</li>
    <li>Let organisations approve new services (<a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/service-manual/agile-delivery/how-the-beta-phase-works">public beta</a>)</li>
    <li>Provide more detailed reporting and usage data for services</li>
    <li>Test Rich Communication Services (RCS)</li>
    <li>Explore alternative letter suppliers</li>
  </ul>

  <h2 class="heading-medium" id="things-we-will-do-later">Things we’ll do later</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Launch RCS messaging (<a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/service-manual/agile-delivery/how-the-alpha-phase-works">alpha</a>)</li>
    <li>Explore ways to make it easier for services to send one-off messages</li>
    <li>Scale Notify’s infrastructure</li>
    <li>Improve the Notify API</li>
  </ul>

  <h2 class="heading-medium" id="things-we-have-done">Things we’ve done</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Migrated our applications from <a class="govuk-link govuk-link--no-visited-state" href="https://gds.blog.gov.uk/2022/07/12/why-weve-decided-to-decommission-gov-uk-paas-platform-as-a-service/">GOV.UK PaaS</a> to Amazon ECS</li>
    <li>Explored new channels for notifications (discovery)</li>
    <li>Let services set a custom sender name and email address</li>
    <li>Let services create letter templates that comply with the <a class="govuk-link govuk-link--no-visited-state" href="https://law.gov.wales/culture/welsh-language/welsh-language-act-1993">Welsh Language Act 1993</a></li>
    <li>Launched a regular email about new features and improvements to GOV.UK Notify</li>
    <li>Let services <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_qr_codes') }}">add a QR code to a letter template</a></li>
    <li>Let services <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_attach_pages') }}">attach pages to a letter template</a></li>
    <li>Added more <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_formatting') }}">formatting options for email and letter templates</a></li>
    <li>Integrated with our letter provider’s API to improve the letter sending process</li>
    <li>Gave users the option to set a <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_data_retention_period') }}">custom data retention period</a></li>
    <li>Migrated our database from GOV.UK PaaS to one hosted using Amazon RDS</li>
    <li>Made choosing the date and time to send a message easier for screen reader users</li>
    <li>Let users opt in to emails about taking part in user research</li>
    <li>Conducted user research around data and reporting needs</li>
  </ul>

{% endblock %}
