{% extends "content_template.html" %}

{% from "components/content-metadata.html" import content_metadata %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'About Notify' %}

{% block per_page_title %}
  Roadmap
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Roadmap</h1>

  {{ content_metadata(
    data={
      "Last updated": "2 August 2023",
      "Next review due": "26 October 2023"
    }
  ) }}


  <p class="govuk-body">The GOV.UK Notify roadmap shows what we’re working on and some of the <a class="govuk-link govuk-link--no-visited-state" href="#things-we-have-done">things we’ve done</a>.</p>
  <p class="govuk-body">The roadmap is only a guide. It does not cover everything we do, and some things may change.</p>
  <p class="govuk-body">You can <a class="govuk-link govuk-link--no-visited-state" href="{{url_for('main.support')}}">contact us</a> if you have any questions about the roadmap, want to get involved in user research or have suggestions for new features.</p>

  <h2 class="heading-medium" id="things-we-are-working-on">Things we’re working on now</h2>

  <ul class="govuk-list govuk-list--bullet">
    
    <li>Launch a regular email about new features and improvements to GOV.UK Notify</a></li>
    <li>Let services add QR codes to letter templates</li>   
    <li>Let services create letter templates that comply with the <a class="govuk-link govuk-link--no-visited-state" href="https://law.gov.wales/culture/welsh-language/welsh-language-act-1993">Welsh Language Act 1993</a></li>
    <li>Integrate with our letter provider’s API to improve the letter sending process</li>
    <li>Add more formatting options to email and letter templates</li>
    <li>Continue to improve our front-end code to meet our <a class="govuk-link govuk-link--no-visited-state" href="{{url_for('main.accessibility_statement')}}">targets for accessibility</a></li>
    <li>Give users the option to set a custom data retention period that’s more than 7 days</li>
    <li>Support services to write better notifications</li>
    <li>Migrate our database from <a class="govuk-link govuk-link--no-visited-state" href="https://gds.blog.gov.uk/2022/07/12/why-weve-decided-to-decommission-gov-uk-paas-platform-as-a-service/">GOV.UK PaaS</a> to one hosted using <a class="govuk-link govuk-link--no-visited-state" href="https://aws.amazon.com/rds/">Amazon RDS</a></li>
    <li>Provide more detailed reporting and usage data for services</li>
  </ul>

  <h2 class="heading-medium" id="things-we-will-do-later">Things we’ll do later</h2>

  <h3 class="heading-small" id="april-to-june">August to October 2023</h3>

  <ul class="govuk-list govuk-list--bullet">

    <li>Support services to write better notifications through reusable text message templates</li>
    <li>Explore new channels for notifications </li>
    <li>Explore ways to make it easier for services to send one-off messages</li>
    <li>Migrate our applications from GOV.UK PaaS to <a class="govuk-link govuk-link--no-visited-state" href="https://aws.amazon.com/ecs/">Amazon ECS</a></li>

  </ul>

  <h2 class="heading-medium" id="things-we-have-done">Things we’ve done</h2>

  <ul class="govuk-list govuk-list--bullet">

    <li>Let services attach pages to letter templates</li>
    <li>Give organisations permission to approve new services</li>
    <li>Users can consent to take part in research</li>
    <li>Introduce <a class="govuk-link govuk-link--no-visited-state" href="https://www.notifications.service.gov.uk/using-notify/formatting#headings-and-subheadings">subheadings for emails</a></li>
    <li>Make it easier to find information and guidance on the Notify website</li>
    <li>Make it easier for services to request to go live (private beta)</li>

  </ul>


{% endblock %}
