{% extends "content_template.html" %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'About Notify' %}

{% block per_page_title %}
  Security
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Security features</h1>
  <p class="govuk-body">GOV.UK Notify is built for the security needs of government services.</p>
  <p class="govuk-body">This page describes our approach to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="#running-a-secure-service">running a secure service</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#storing-and-processing-your-data">storing and processing your data</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#protecting-data-in-transit">protecting data in transit</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#protecting-data-at-rest">protecting data at rest</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#building-and-managing-notify">building and managing Notify</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#finding-and-fixing-security-issues">finding and fixing security issues</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#security-incidents">security incidents</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#sign-in-and-api-access">sign in and API access</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#protecting-our-website-and-api">protecting our website and API</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#email-security">email security</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#security-classifications">security classifications</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="#staff-suppliers-and-governance">staff, suppliers and governance</a></li>
  </ul>

  <h2 class="heading-medium" id="running-a-secure-service">Running a secure service</h2>
  <p class="govuk-body">GOV.UK Notify:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>follows the principles of the <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/service-manual/service-standard">Service Standard</a></li>
    <li>has been through a successful <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/service-manual/service-assessments">live service assessment</a></li>
  </ul>
  <p class="govuk-body">We monitor the threat landscape so we can:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>continue to improve our security</li>
    <li>meet <a class="govuk-link govuk-link--no-visited-state" href="https://www.ncsc.gov.uk/collection/caf/caf-principles-and-guidance">UK government cyber security standards</a></li>
    <li>deal with common threats like Distributed Denial of Service (DDoS) attacks</li>
  </ul>
  <p class="govuk-body">We conduct regular <a class="govuk-link govuk-link--no-visited-state" href="https://www.ncsc.gov.uk/information/check-penetration-testing">CHECK penetration testing</a> to confirm that our data protection is effective.</p>
  <p class="govuk-body">Notify’s cyber security is periodically assessed in line with the <a class="govuk-link govuk-link--no-visited-state" href="https://www.security.gov.uk/guidance/govassure/">GovAssure approach</a>.</p>

  <h2 class="heading-medium" id="storing-and-processing-your-data">Storing and processing your data</h2>
  <p class="govuk-body">GOV.UK Notify uses Amazon Web Services (AWS) as our cloud service provider.</p>
  <p class="govuk-body">Data on Notify is stored and processed in:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>AWS data centres in the UK and Ireland</li>
    <li>locations where our sub-processors store and process data (UK and EEA)</li>
  </ul>

  <h3 class="heading-small" id="how-long-we-keep-your-data">How long we keep your data</h3>
  <p class="govuk-body">GOV.UK Notify keeps a temporary record of:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the content of the emails, text messages and letters you send</li>
    <li>recipient email addresses, mobile numbers and addresses</li>
  </ul>
  <p class="govuk-body">By default, we keep this data for 7 days.</p>
  <p class="govuk-body">Once your service is live, you can choose the number of days you want Notify to keep details of the messages you send.</p>
  <p class="govuk-body">For more information, see <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_data_retention_period') }}">data retention period</a>.</p>

  <h3 class="heading-small" id="who-can-access-your-data">Who can access your data</h3>
  <p class="govuk-body">Your data could be accessed by:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the Notify team</li>
    <li>our sub-processors</li>
    <li>law enforcement agencies (where legally required)</li>
  </ul>
  <p class="govuk-body">Teams using GOV.UK Notify can only access their own data.</p>
  <p class="govuk-body">You can set <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_team_members_and_permissions') }}">different permissions for each member of your team</a>.</p>
  <p class="govuk-body">AWS provides logical separation between different AWS customers.</p>

  <h3 class="heading-small" id="data-centre-security">Data centre security</h3>
  <p class="govuk-body">AWS provides a description of their:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="https://aws.amazon.com/compliance/data-center/controls/">physical security measures, data sanitisation and equipment disposal arrangements</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="https://aws.amazon.com/compliance/programs/">security assurance materials</a></li>
  </ul>

  <h3 class="heading-small" id="how-text-messages-are-stored-and-processed">How text messages are stored and processed</h3>
  <p class="govuk-body">Text messages are stored and processed in:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the UK and Ireland</li>
    <li>the country where the recipient’s phone is</li>
    <li>the phone’s country of origin (for international numbers)</li>
  </ul>

  <h2 class="heading-medium" id="protecting-data-in-transit">Protecting data in transit</h2>
  <p class="govuk-body">GOV.UK Notify uses Transport Layer Security (TLS) version 1.2 to encrypt data when:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>users access the Notify website or API</li>
    <li>data passes through Notify</li>
    <li>we exchange data with our sub-processors</li>
  </ul>

  <h3 class="heading-small">Emails</h3>
  <p class="govuk-body">We always try to encrypt emails using TLS 1.2, 1.1 or 1.0. If the recipient’s mail server does not support TLS, we will send the email without protection.</p>
  <p class="govuk-body">Email cannot provide end-to-end encryption.</p>

  <h3 class="heading-small">Text messages</h3>
  <p class="govuk-body">Text messages cannot provide end-to-end encryption.</p>

  <h2 class="heading-medium" id="protecting-data-at-rest">Protecting data at rest</h2>
  <p class="govuk-body">GOV.UK Notify encrypts the data stored in our databases and backups using AES-256 encryption.</p>
  <p class="govuk-body">This includes any files that you upload to Notify when you:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_bulk_sending') }}">send a batch of messages</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_attach_pages') }}">attach pages to a letter template</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_upload_a_letter') }}">upload a letter</a></li>
  </ul>

  <h3 class="heading-small" id="sending-files-by-email">Sending files by email</h3>
  <p class="govuk-body">When you upload a file we encrypt it with <a class="govuk-link govuk-link--no-visited-state" href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/ServerSideEncryptionCustomerKeys.html">AWS SSE-C</a>, which uses AES-256 encryption.</p>
  <p class="govuk-body">We will only share the unique link with the intended recipient. We cannot access or decrypt your file.</p>
  <p class="govuk-body">For more information about this feature, see <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_send_files_by_email') }}">send files by email</a>.</p>

  <h2 class="heading-medium" id="building-and-managing-notify">Building and managing GOV.UK Notify</h2>
  <p class="govuk-body">We follow an Agile software development lifecycle.</p>
  <p class="govuk-body">To protect our code, we:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>run separate development, testing and production environments</li>
    <li>deploy code through a continuous integration/continuous delivery (CI/CD) pipeline</li>
    <li>track vulnerabilities for any third-party libraries we use</li>
    <li>use AWS Secrets Manager</li>
  </ul>

  <h3 class="heading-small" id="how-we-manage-code-changes">How we manage code changes</h3>
  <p class="govuk-body">To manage GOV.UK Notify, we use:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>GDS-managed devices</li>
    <li>multi-factor authentication (MFA)</li>
  </ul>
  <p class="govuk-body">We manage Notify through the www.notifications.service.gov.uk website.</p>
  <p class="govuk-body">AWS manages the hardware we use.</p>
  <p class="govuk-body">We use infrastructure as code (IaC) to manage the systems and services that host Notify.</p>
  <p class="govuk-body">All code changes must be reviewed by the team before we can deploy them.</p>
  <p class="govuk-body">We monitor our production environment for unauthorised changes.</p>
  <p class="govuk-body">We give our users appropriate notice before:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>any planned outages or downtime</li>
    <li>making significant functional changes</li>
  </ul>
  <p class="govuk-body">We announce planned downtime on the <a class="govuk-link govuk-link--no-visited-state" href="https://status.notifications.service.gov.uk">Notify status page</a>.</p>

  <h2 class="heading-medium" id="finding-and-fixing-security-issues">Finding and fixing security issues</h2>
  <p class="govuk-body">GOV.UK Notify:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>follows <a class="govuk-link govuk-link--no-visited-state" href="https://www.ncsc.gov.uk/collection/developers-collection/principles">secure development principles</a></li>
    <li>tracks third-party dependencies in our code base</li>
    <li>monitors our logs for attacks, misuse and malfunctions</li>
    <li>provides <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.support') }}">24-hour online support</a></li>
  </ul>
  <p class="govuk-body">We use <a class="govuk-link govuk-link--no-visited-state" href="https://www.ncsc.gov.uk/information/web-check">Web Check</a> and other services to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>scan for vulnerabilities</li>
    <li>prioritise which software patches to test and deploy first</li>
  </ul>
  <p class="govuk-body">AWS is responsible for patching our infrastructure:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>firmware</li>
    <li>hardware</li>
    <li>operating system (OS) kernel</li>
  </ul>

  <h2 class="heading-medium" id="security-incidents">Security incidents</h2>
  <p class="govuk-body">We provide a 24-hour response in case of an incident.</p>
  <p class="govuk-body">If there is a data loss event, we will contact you directly.</p>
  <p class="govuk-body">If there is another type of incident, we’ll publish details and updates on our <a class="govuk-link govuk-link--no-visited-state" href="https://status.notifications.service.gov.uk">system status page</a>.</p>

  <h2 class="heading-medium" id="sign-in-and-api-access">Sign in and API access</h2>
  <h3 class="heading-small">Signing in to Notify</h3>
  <p class="govuk-body">GOV.UK Notify uses two-factor authentication for sign-in.</p>
  <p class="govuk-body">Find out more about the <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_sign_in_method') }}">sign-in method</a>.</p>
  <p class="govuk-body">You must keep to our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.terms_of_use') }}">terms of use for signing in to Notify</a>.</p>
  <h3 class="heading-small">Accessing the GOV.UK Notify API</h3>
  <p class="govuk-body">Services access the GOV.UK Notify API with an API key, encoded using <a class="govuk-link govuk-link--no-visited-state" href="https://jwt.io/">JSON Web Tokens</a>.</p>
  <p class="govuk-body">For more information, see our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_api_documentation') }}">API documentation</a>.</p>

  <h2 class="heading-medium" id="protecting-our-website-and-api">Protecting our website and API</h2>
  <p class="govuk-body">The GOV.UK Notify website, API and any files sent by email are protected by:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>AWS <a class="govuk-link govuk-link--no-visited-state" href="https://aws.amazon.com/waf/">Web Application Firewall</a> (WAF)</li>
    <li>AWS <a class="govuk-link govuk-link--no-visited-state" href="https://aws.amazon.com/shield/">Shield Advanced</a></li>
    <li>rate limiting</li>
  </ul>
  <p class="govuk-body">We use publicly-verifiable digital certificates, so you’ll always know you’ve connected to the real GOV.UK Notify.</p>

  <h2 class="heading-medium" id="email-security">Email security</h2>
  <p class="govuk-body">To make it easier for recipients’ email services to spot spam, we use:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/email-security-standards/domainkeys-identified-mail-dkim#:~:text=DomainKeys%20Identified%20Mail%20(%20DKIM%20)%20verifies,that%20fails%20the%20DKIM%20check.">DomainKeys Identified Mail (DKIM)</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/email-security-standards/sender-policy-framework-spf#:~:text=Sender%20Policy%20Framework%20(%20SPF%20)%20lets,service%20in%20your%20SPF%20record.">Sender Policy Framework (SPF) records</a></li>
  </ul>

  <h2 class="heading-medium" id="security-classifications">Security classifications</h2>
  <p class="govuk-body">We have designed GOV.UK Notify for sending messages classified as ‘OFFICIAL’, including ‘OFFICIAL-SENSITIVE’, under the <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/government-security-classifications">Government Security Classifications policy</a>.</p>
  <p class="govuk-body">Before you send any messages classified as ‘OFFICIAL’, you must make sure that GOV.UK Notify meets your organisation’s standards for:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>using, processing, storing and sending information</li>
    <li>cyber security</li>
    <li>data protection</li>
  </ul>
  <p class="govuk-body">Notify must not be used to process data classified as ‘SECRET’ or ‘TOP SECRET’.</p>

  <h2 class="heading-medium" id="staff-suppliers-and-governance">Staff, suppliers and governance</h2>
  <h3 class="heading-small">GOV.UK Notify staff</h3>
  <p class="govuk-body">We restrict the number of people that can access your data on GOV.UK Notify.</p>
  <p class="govuk-body">We follow the principle of least privilege. This means we give our team members the lowest level of permissions needed to do their job.</p>
  <p class="govuk-body">All our staff:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>receive security training</li>
    <li>complete <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/government-baseline-personnel-security-standard">personnel screening equivalent to BPSS</a></li>
  </ul>
  <p class="govuk-body">Team members who need greater access to the data stored on Notify must complete <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels/national-security-vetting-clearance-levels#security-check-sc">National Security Vetting to Security Check (SC) level</a>.</p>
  <p class="govuk-body">We only give additional access to GOV.UK Notify’s production environment to privileged users:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>by exception</li>
    <li>on a temporary basis</li>
    <li>in relation to a specific change request or support ticket</li>
  </ul>
  <p class="govuk-body">The GDS security operations team logs and tracks privileged users’ access to our production environment.</p>
  <h3 class="heading-small">Suppliers</h3>
  <p class="govuk-body">GOV.UK Notify uses third-party providers to send emails, text messages and letters.</p>
  <p class="govuk-body">Suppliers sign a contract or memorandum of understanding that includes our security requirements.</p>
  <p class="govuk-body">All our suppliers:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>receive security training</li>
    <li>complete <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/government-baseline-personnel-security-standard">personnel screening equivalent to BPSS</a></li>
  </ul>
  <p class="govuk-body">The GDS Information Assurance team assesses suppliers:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>before we decide whether to use them</li>
    <li>at regular intervals to make sure they still meet our requirements</li>
  </ul>
  <h3 class="heading-small">Governance</h3>
  <p class="govuk-body">The Senior Responsible Owner (SRO) is the senior civil servant accountable for all aspects of our governance.</p>
  <p class="govuk-body">The Chief Operating Officer (COO) ensures that GDS meets its objectives.</p>
  <p class="govuk-body">The Information Assurance team:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>conducts risk assessments of Notify</li>
    <li>reviews whether Notify is following government security policies</li>
    <li>organises information assurance activities</li>
    <li>oversees risk treatment activities</li>
    <li>reports its findings and recommendations to the SRO and COO</li>
    <li>escalates risk management decisions to the GDS Senior Leadership Team as necessary</li>
  </ul>
  <p class="govuk-body">The Data Protection, Privacy and Accessibility Monitoring teams make sure that Notify complies with any legal and regulatory requirements.</p>

{% endblock %}
