{% extends "content_template.html" %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'About Notify' %}

{% block per_page_title %}
  Security
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Security features</h1>
  <p class="govuk-body">GOV.UK Notify is built for the security needs of government services.</p>
  <p class="govuk-body">This page describes our approach to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>running a secure service</li>
    <li>storing and processing your data</li>
    <li>protecting data in transit</li>
    <li>protecting data at rest</li>
    <li>building and managing Notify</li>
    <li>finding and fixing security issues</li>
    <li>security incidents</li>
    <li>sign in and API access</li>
    <li>protecting our website and API</li>
    <li>email security</li>
    <li>security classifications</li>
    <li>staff, suppliers and governance</li>
  </ul>

  <h2 class="heading-medium" id="running-a-secure-service">Running a secure service</h2>
  <p class="govuk-body">GOV.UK Notify:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>follows the principles of the <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/service-manual/service-standard">Service Standard</a></li>
    <li>has been through a successful live service assessment</li>
  </ul>
  <p class="govuk-body">We monitor the threat landscape so we can:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>continue to improve our security</li>
    <li>meet <a class="govuk-link govuk-link--no-visited-state" href="https://www.ncsc.gov.uk/collection/caf/caf-principles-and-guidance">UK government cyber security standards</a></li>
    <li>deal with common threats like Distributed Denial of Service (DDoS) attacks</li>
  </ul>
  <p class="govuk-body">We conduct regular <a class="govuk-link govuk-link--no-visited-state" href="https://www.ncsc.gov.uk/information/check-penetration-testing">CHECK penetration testing</a> to confirm that our data protection is effective.</p>
  <p class="govuk-body">Notify’s cyber security is periodically assessed in line with the <a class="govuk-link govuk-link--no-visited-state" href="https://www.security.gov.uk/guidance/govassure/">GovAssure approach</a>.</p>

  <h2 class="heading-medium" id="storing-and-processing-your-data">Storing and processing your data</h2>
  <p class="govuk-body">GOV.UK Notify uses Amazon Web Services (AWS) as our cloud service provider.</p>
  <p class="govuk-body">Data on Notify is stored and processed in:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>AWS data centres in the UK and Ireland</li>
    <li>locations where our sub-processors store and process data (UK and EEA)</li>
  </ul>

  <h3 class="heading-small" id="how-long-we-keep-your-data">How long we keep your data</h3>
  <p class="govuk-body">GOV.UK Notify keeps a temporary record of:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the content of the emails, text messages and letters you send</li>
    <li>recipient email addresses, mobile numbers and addresses</li>
  </ul>
  <p class="govuk-body">By default, we keep this data for 7 days.</p>
  <p class="govuk-body">Once your service is live, you can choose the number of days you want Notify to keep details of the messages you send.</p>
  <p class="govuk-body">For more information, see <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_data_retention_period') }}">data retention period</a>.</p>

  <h3 class="heading-small" id="who-can-access-your-data">Who can access your data</h3>
  <p class="govuk-body">Your data could be accessed by:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the Notify team</li>
    <li>our sub-processors</li>
    <li>law enforcement agencies (where legally required)</li>
  </ul>
  <p class="govuk-body">Teams using GOV.UK Notify can only access their own data.</p>
  <p class="govuk-body">You can set <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_team_members_and_permissions') }}">different permissions for each member of your team</a>.</p>
  <p class="govuk-body">AWS provides logical separation between different AWS customers.</p>

  <h3 class="heading-small" id="data-centre-security">Data centre security</h3>
  <p class="govuk-body">AWS provides a description of their:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="https://aws.amazon.com/compliance/data-center/controls/">physical security measures, data sanitisation and equipment disposal arrangements</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="https://aws.amazon.com/compliance/programs/">security assurance materials</a></li>
  </ul>

  <h3 class="heading-small" id="how-text-messages-are-stored-and-processed">How text messages are stored and processed</h3>
  <p class="govuk-body">Text messages are stored and processed in:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the UK and Ireland</li>
    <li>the country where the recipient’s phone is</li>
    <li>the phone’s country of origin (for international numbers)</li>
  </ul>

{% endblock %}
