.api-key {

  &-name {
    @include bold-19;
    margin-bottom: 5px;
  }

  &-key {
    font-family: monospace;
    display: block;
    margin-bottom: 10px;
  }

  &-button-show,
  &-button-copy {
    @include button($grey-3);
  }

}
