.broadcast-message {

  &-wrapper {
    position: relative;
    width: 100%;
    max-width: 464px;
    box-sizing: border-box;
    padding: govuk-spacing(9) govuk-spacing(3) govuk-spacing(3) govuk-spacing(3);
    border: solid 1px transparent; // to show it's area in high contrast mode
    background: $panel-colour;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    white-space: normal;
    margin: govuk-spacing(2) 0 govuk-spacing(4) 0;
    clear: both;
    word-wrap: break-word;
  }

  &-heading {
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    padding: govuk-spacing(2) + 1px govuk-spacing(3) (govuk-spacing(2) - 1px) 15px;
    border: solid 1px transparent; // to show it's area in high contrast mode
    width: calc(100% + 2px); // grow to overlap wrapper's border (when combined with top and left)
    box-sizing: border-box;
    font-weight: bold;
    background: $grey-1;
    color: $white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);

    &__icon {
      padding-right: 6px;
      // user agents set this to 'none' by default for svgs so set as 'auto' to allow
      // colours to be overridden in forced-color modes like Windows high contrast mode
      forced-color-adjust: auto;
    }
  }

}
