.browse-list {
  margin-bottom: $gutter-half;

  .browse-sub-list {
    margin-top: $gutter-half;
    margin-left: $gutter;
    @include media('desktop') {
      margin-left: $gutter * 2;
    }
  }

  &-item,
  &-sub-item {
    @include bold-24;
    list-style: none;
    margin-bottom: $gutter-half;
  }

  &-link {
    @include bold-24;

    &-destructive {
      @include bold-24;
      color: $error-colour;

      &:visited,
      &:link {
        @include bold-24;
        color: $error-colour;
      }

      &:hover {
        color: $mellow-red;
      }
    }
  }

  &-hint {
    @include core-19;
    margin: 5px 0 10px 0;
    color: $secondary-text-colour;
  }
}
