.browse-list {
  margin-bottom: govuk-spacing(3);

  .browse-sub-list {
    margin-top: govuk-spacing(3);
    margin-left: govuk-spacing(6);
    @include media('desktop') {
      margin-left: govuk-spacing(9);
    }
  }

  &-item,
  &-sub-item {
    @include bold-24;
    list-style: none;
    margin-bottom: govuk-spacing(3);
  }

  &-link {
    @include govuk-font(24, $weight: bold);
  }

  &-hint {
    @include core-19;
    margin: 5px 0 10px 0;
    color: $secondary-text-colour;
  }
}
