.selection-summary {

  .selection-summary__text {
    padding: .526315em .789473em .263157em 0px;
    margin-bottom: $gutter / 2;

    &:focus {
      outline: none;
    }
  }

  .selection-summary__text--folders {
    padding-left: 51px;
    background-image: file-url('folder-black.svg');
    background-repeat: no-repeat;
    background-size: 39px auto;
    background-position: 0px 4px;

    @include ie-lte(8) {
      background-image: file-url('folder-black.png');
    }
  }

  // revert full-width button for smaller screens
  .button {
    display: inline-block;
    width: auto;
    position: relative;
    top: 1px;
  }

}

.checkboxes-nested {

  margin-bottom: 10px;

  .multiple-choice {

    $circle-diameter: 39px;
    $border-thickness: 4px;
    $border-indent: ($circle-diameter / 2) - ($border-thickness / 2);
    $border-colour: $border-colour;

    float: none;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: $border-indent;
      width: $border-thickness;
      height: 100%;
      background: $border-colour;
    }

    label {
      float: none;
    }

    [type=checkbox]+label::before {
      // To overlap the grey inset line
      background: $white;
    }

    ul {
      // To equalise the spacing between the line and the top/bottom of
      // the radio
      margin-top: 5px;
      margin-bottom: -5px;
      padding-left: 12px;
    }

  }

}

.selection-content {
  margin-bottom: ($gutter / 3) * 2;

  .checkboxes-nested {
    margin-bottom: 0;
  }
}

.selection-footer {
  clear: both;

  .button-secondary {
    // revert full-width button for smaller screens
    display: inline-block;
    width: auto;
  }
}

// styles specific to the collapsible checkboxes module
.selection-wrapper {
  fieldset:focus {
    outline: none;
  }

}
