// https://github.com/alphagov/govuk-frontend/blob/v5.4.1/packages/govuk-frontend/src/govuk/components/checkboxes/_index.scss
$govuk-touch-target-gutter: 4px;
$govuk-checkboxes-size: 40px;
$govuk-touch-target-size: ($govuk-checkboxes-size + $govuk-touch-target-gutter);
.selection-summary {
  position: relative;

  .selection-summary__icon {
    position: absolute;
    top: 4px;
    left: 0;
    width: 39px;
    height: 30px;
    display: none;

    .#{$govuk-frontend-supported-css-class} & {
      display: block;
    }
  }

  .selection-summary__text {
    @include govuk-font(19, $tabular: true);
    padding: 5px 0 0 0;
    margin-bottom: govuk-spacing(3);

    &:focus {
      outline: none;
    }
  }

  .selection-summary__text--folders {
    padding: 10px 15px 5px 51px;
  }

}

.checkboxes-nested {
  margin-bottom: 10px;
}

.govuk-form-group--nested {

  $border-thickness: $govuk-touch-target-size - $govuk-checkboxes-size;
  position: relative;

  // To equalise the spacing between the line and the top/bottom of
  // the radio
  margin-top: govuk-spacing(1) + ($border-thickness / 2);
  margin-bottom: govuk-spacing(1) * -1;
  padding-left: $govuk-checkboxes-size + govuk-spacing(3); //padding of the checkbox label
  flex-basis: 100%;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: $govuk-checkboxes-size / 2;
    width: $border-thickness;
    height: 100%;
    background: $govuk-border-colour;
  }
}
.selection-content {
  margin-bottom: govuk-spacing(4);

  .checkboxes-nested {
    margin-bottom: 0;
  }
}

.selection-footer {
  clear: both;
}

.selection-footer__button {
  // revert full-width button for smaller screens
  display: inline-block;
  width: auto;
}

// styles specific to the collapsible checkboxes module
.selection-wrapper {
  fieldset:focus {
    outline: none;
  }

}

.govuk-checkboxes__input:disabled+.govuk-checkboxes__label,
.govuk-checkboxes__input:disabled~.govuk-hint {
  opacity: 1;
  color: $govuk-secondary-text-colour;
}

.govuk-checkboxes__input:disabled+.govuk-checkboxes__label:before {
  background: govuk-colour("light-grey");
}

// collapsible checkboxes toggle button

// govuk-button with a chevron icon aligned with text
.notify-button--with-chevron__chevron {
  display: inline-block;
  position: relative;
  margin-left: govuk-spacing(3);


  // inner chevron arrow
  &::before {
    transform:translateY(-35%) rotate(45deg) scale(1);
    border-color: black;
    border-bottom:2px solid govuk-colour('black');
    border-right:2px solid govuk-colour('black');
    content:"";
    display: inline-block;
    height: 8px;
    margin: 0 10px 0 -18px; // negative left margin means the element effectively occupies 0 width
    vertical-align: middle;
    width: 8px;
    // position: static; // override GOV.UK Frontend styling from the Button component
  }
}

// Rotate icon to create "Down" version
.notify-button--with-chevron__chevron--active {
  &::before {
    transform:translateY(1px) rotate(225deg) scale(1);
  }
}

.govuk-checkboxes__item--single-with-hint {

  margin-top: -1 * govuk-spacing(2);

  .govuk-checkboxes__label::before {
    top: govuk-spacing(2) + 2px;  // 2px is existing top position
  }

  .govuk-checkboxes__label::after {
    top: govuk-spacing(2) + 13px;  // 13px is existing top position
  }

}
