$border-thickness: 9px;
$top-spacing: $gutter + 5px;

.multiple-choice {

  z-index: 10;

  .block-label {
    &:before {
      box-shadow: 0 5px 0 0 $white;
    }
  }

}

.conditional-radios {

  &-panel {
    border-left: $border-thickness solid $border-colour;
    margin: 0 0 (-$top-spacing - $gutter) $gutter-half;
    padding: $top-spacing 0 0 ($gutter - 3px);
    position: relative;
    top: -$top-spacing;
    z-index: 1;
  }

}
