$border-thickness: 4px;
$top-spacing: govuk-spacing(5);

.multiple-choice {

  z-index: 10;

  .block-label {
    &:before {
      box-shadow: 0 5px 0 0 $white;
    }
  }

}

.conditional-radios {

  &-panel {
    border-left: $border-thickness solid $border-colour;
    margin: 0 0 (-1 * govuk-spacing(3)) (govuk-spacing(3) + ($border-thickness / 2));
    padding: govuk-spacing(3) 0 0 (govuk-spacing(6) - ($border-thickness / 2));
    position: relative;
    top: -$top-spacing;
    z-index: 1;
  }

}
