// GOV.UK Publishing components cookie banner styles
// https://github.com/alphagov/govuk_publishing_components/blob/master/app/assets/stylesheets/govuk_publishing_components/components/_cookie-banner.scss
// sass-lint:disable mixins-before-declarations

// component uses .govuk-body and .govuk-button classes from govuk-frontend
@import 'core/typography';
@import 'components/button/_button';

.notify-cookie-banner__wrapper {
  @include govuk-responsive-padding(4, "top");
  @include govuk-responsive-padding(5, "bottom");
}

.notify-cookie-banner__with-js {
  display: none;
}

.notify-cookie-banner__no-js {
  display: block;
}

.js-enabled {
  .notify-cookie-banner__no-js,
  .notify-cookie-banner {
    display: none; // shown with JS, always on for non-JS
  }

  .notify-cookie-banner__with-js {
    display: block;
  }
}

.notify-cookie-banner__buttons {
  @include govuk-clearfix;

  @include govuk-media-query($from: tablet) {
    display: inline-block;
  }
}

.notify-cookie-banner__button {
  float: left;
  width: 50%;
  box-sizing: border-box;

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    float: none;
    width: auto;
  }
}

.notify-cookie-banner__button-accept {
  padding-right: govuk-spacing(4);
}

.notify-cookie-banner__link {
  @include govuk-font(19);
  display: block;
  clear: both;

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    margin-left: govuk-spacing(6);
  }
}

.notify-cookie-banner__confirmation {
  display: none;
  position: relative;
  padding: govuk-spacing(4) 0;

  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(4);
  }

  // This element is focused using JavaScript so that it's being read out by screen readers
  // for this reason we don't want to show the default outline or emphasise it visually using `govuk-focused-text`
  &:focus {
    outline: none;
  }
}

.notify-cookie-banner__confirmation-message,
.notify-cookie-banner__hide-button {
  display: block;

  @include govuk-media-query($from: desktop) {
    display: inline-block;
  }
}

.notify-cookie-banner__confirmation-message {
  margin-right: govuk-spacing(4);

  @include govuk-media-query($from: desktop) {
    max-width: 90%;
  }
}

.notify-cookie-banner__hide-button {
  @include govuk-font($size: 19);
  color: $govuk-link-colour;
  outline: 0;
  border: 0;
  background: none;
  text-decoration: underline;
  padding: govuk-spacing(0);
  margin-top: govuk-spacing(2);
  right: govuk-spacing(3);
  cursor: pointer;

  @include govuk-media-query($from: desktop) {
    margin-top: govuk-spacing(0);
    position: absolute;
    right: govuk-spacing(4);
  }
}

// Additions

// Override margin-bottom, inherited from using .govuk-body class
.notify-cookie-banner__confirmation-message {
  margin-bottom: 0;
}
