.copy-to-clipboard {

  position: relative;
  padding-bottom: 38px;  // height of button
  display: flex;

  &__name {
    @include bold-19;
    margin-bottom: 5px;
  }

  &__notice,
  &__value {
    font-family: monospace;
    display: block;
    padding: 0 0 10px 0;
    margin: auto 0;
  }

  &__button--show,
  &__button--copy {

    position: absolute;
    bottom: 2px;
    left: 0px;

    &:active {
      top: auto;
    }

  }

}
