%dropdown,
.dropdown {

  position: relative;

  &-toggle {

    color: $link-colour;
    position: relative;
    cursor: pointer;
    outline-offset: 2px;

    &:hover {
      color: $link-hover-colour;
      text-decoration: underline;
    }

  }

  a {

    display: block;
    margin-top: 7px;
    padding-left: 20px;

    &:hover {
      text-decoration: underline;
    }

  }

}
