%dropdown,
.dropdown {

  position: relative;

  .js-enabled &-toggle {

    color: $link-colour;
    position: relative;
    padding-left: 20px;
    cursor: pointer;

    &:hover {
      color: $link-hover-colour;
      text-decoration: underline;
    }

    &::before {
      content: '▼';
      font-size: 12px;
      position: absolute;
      top: 1px;
      left: -1px;
    }

  }

  .js-closed &-toggle::before {
    content: '▶';
    left: -1px;
    top: 2px;
  }

  a {

    display: block;
    margin-top: 7px;

    .js-enabled & {

      padding-left: 20px;

      &:hover {
        text-decoration: underline;
      }

    }

  }

  &.js-closed {

    a {
      left: -9999em;
      position: absolute;
    }

  }

}
