$email-message-gutter-desktop: govuk-spacing(9);
$email-message-gutter-mobile: govuk-spacing(3);

/* stylelint-disable declaration-no-important */

.email-message {

  margin-bottom: govuk-spacing(6);
  border: 1px solid $govuk-border-colour;

  &-meta {

    // Persist table view on smaller screens
    // The summary-list component stacks its content on smaller screens by default
    &.govuk-summary-list {
      display: table;
      border-collapse: collapse;
      margin-bottom: 0;
    }

    & > .govuk-summary-list__row {
      display: table-row;

      & > .govuk-summary-list__key,
      & > .govuk-summary-list__value {
        display: table-cell;
        padding: govuk-spacing(2) $email-message-gutter-mobile;
      }

      & > .govuk-summary-list__key {
        color: $govuk-secondary-text-colour;
        font-weight: normal;
        padding-right: govuk-spacing(3);
        // set to max width of content (currently 'Reply to'), sized by character, with padding
        width: 1em * ((55 + 5) / 16);

        @include govuk-media-query($from: tablet) {
          padding-left: $email-message-gutter-desktop;
          padding-right: govuk-spacing(4);
        }
      }

      & > .govuk-summary-list__value {
        padding-left: 0;
      }

      // deal with long email addresses
      & > .email-message-meta__reply-to {
        word-break: break-word;
      }

    }

    // Less hacky layout with more accurate and flexible first column, for browsers that support it (see https://caniuse.com/css-subgrid)
    @supports(grid-template-columns: subgrid) {

      &.govuk-summary-list {
        display: grid;
        grid-template-columns: min-content 1fr;

        & > .govuk-summary-list__row {
          grid-column: span 2;
          display: grid;
          grid-template-columns: subgrid;
          margin-bottom: 0;

          & > .govuk-summary-list__key,
          & > .govuk-summary-list__value {
            width: auto;
            margin-bottom: 0
          }
        }

      }

    }

  }

  &-from {
    padding-top: 15px;
  }

  &-body {

    width: 100%;
    box-sizing: border-box;
    padding: govuk-spacing(3) $email-message-gutter-mobile 0 $email-message-gutter-mobile;
    margin: 0 0 0 0;
    clear: both;
    position: relative;
    word-wrap: break-word;

    @include govuk-media-query($from: tablet) {
      padding-left: $email-message-gutter-desktop;
      padding-right: $email-message-gutter-desktop;
    }

    table {
      margin: 0 0 20px 0;

      td {
        border: 0;
        padding: 0;
        font-family: inherit !important;
      }

      li:first-child {
        margin-top: 0 !important;
      }

    }

  }

}
