$white-50-opaque: rgba($white, 0.5);
$button-bottom-border-colour: rgba(0, 0, 0, 0.17);
$email-message-gutter: govuk-spacing(9);

// sass-lint:disable no-important

.email-message {

  margin-bottom: govuk-spacing(6);
  border: 1px solid $border-colour;

  &-meta {

    @include core-19;
    margin: 0;

    td,
    th {
      @include core-19;
      border-top: 0;
      border-bottom: 1px solid $border-colour;
      vertical-align: top;
    }

    th {
      color: $secondary-text-colour;
      padding-left: $email-message-gutter;
    }

    td {

      width: 99%;
      padding-right: $email-message-gutter;
      word-break: break-word;

      &:last-child {
        padding-right: $email-message-gutter;
      }

    }

  }

  &-from {
    padding-top: 15px;
  }

  &-body {

    width: 100%;
    box-sizing: border-box;
    padding: govuk-spacing(3) $email-message-gutter 0 $email-message-gutter;
    margin: 0 0 0 0;
    clear: both;
    position: relative;
    word-wrap: break-word;

    table {
      margin: 0 0 20px 0;

      td {
        border: 0;
        padding: 0;
        font-family: inherit !important;
      }

      li:first-child {
        margin-top: 0 !important;
      }

    }

  }

}
