$white-50-opaque: rgba($white, 0.5);
$button-bottom-border-colour: rgba(0, 0, 0, 0.17);

.email-message {

  margin-bottom: $gutter;

  &-name {
    @include bold-24;
    margin: 20px 0 5px 0;
  }

  &-updated-at {
    @include copy-16;
    color: $secondary-text-colour;
    margin: 0 0 10px 0;
  }

  &-meta {

    @include core-19;
    margin: 0;

    td,
    th {
      @include core-19;
      border-bottom: 0;
      border-top: 1px solid $border-colour;
      vertical-align: top;
    }

    th {
      color: $secondary-text-colour;
    }

    td {
      width: 99%;
    }

  }

  &-from {
    padding-top: 15px;
    border-top: 1px solid $border-colour;
  }

  &-body {
    
    width: 100%;
    box-sizing: border-box;
    padding: $gutter-half 0 0 0;
    margin: 0 0 $gutter * 1.5 0;
    clear: both;
    border-top: 1px solid $border-colour;
    border-bottom: 1px solid $border-colour;
    position: relative;
    word-wrap: break-word;

    &-wrapper {

      .collapsed & {
        max-height: 92px;
        overflow: hidden;
      }

    }

    .toggle {

      position: absolute;
      left: 50%;
      bottom: -18px;
      height: 27px;
      display: inline-block;
      padding: 0;
      margin: 0 0 0 -30px;
      line-height: 12px;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 2px;
      text-align: center;
      cursor: pointer;
      width: 60px;
      text-decoration: none;
      background: $grey-3;
      color: $text-colour;
      border-style: solid;
      border-width: 3px;
      border-color: $white;
      box-shadow: inset 0 -2px 0 $button-bottom-border-colour, 0 0 0 1px $white-50-opaque;

      &:hover {
        background: $grey-2;
      }

      &:focus,
      &:active {
        border-color: $yellow;
        outline: none;
      }

    }

  }

}
