.file-upload {

  &-label,
  &-button-label {

    @include govuk-font(19, $weight: bold);
    display: block;
    margin: 0 0 10px 0;

  }

  &-label .error-message,
  &-button-label.error-message {
    padding: 0;
  }

  &-field {
    margin-bottom: 10px;
  }

  // Hide normal upload form if we're adding a custom version with JS
  .#{$govuk-frontend-supported-css-class} &-label,
  .#{$govuk-frontend-supported-css-class} &-field,
  .#{$govuk-frontend-supported-css-class} &-submit {
    display: none;
  }

  &-alternate-link {
    display: inline-block;
    line-height: govuk-spacing(7);
    padding-left: govuk-spacing(1);

    a {
      padding-left: govuk-spacing(1) / 2;
    }
  }

}
