.file-upload {

  &-label {

    @include bold-19;
    display: block;
    margin: 0 0 10px 0;

    .error-message {
      padding: 0;
    }

  }

  &-field {
    margin-bottom: 10px;
  }

  // Only show a button added by JS if JS is available
  .js-enabled &-label,
  .js-enabled &-field,
  .js-enabled &-submit {
    display: none;
  }

  &-alternate-link {
    display: inline-block;
    line-height: 35px;

    a {
      font-weight: bold;
    }

  }

}
