.js-enabled {

  .file-upload {

    display: inline-block;

    &-label {

      @include bold-19;
      display: block;
      margin: 0 0 10px 0;

      .error-message {
        padding: 0;
      }

    }

    &-field {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      &:focus + .file-upload-button {
        outline: 3px solid $yellow;
      }

    }

    &-button {
      @include button($button-colour);
      display: inline-block;
      margin-right: 5px;
    }

    &-button-cancel {
      @include button($error-colour);
      display: inline-block;
      margin-right: 5px;
    }

    &-filename {
      @include bold-19;
      display: inline-block;
      padding-left: $gutter-half;
    }

    &-submit {
      display: none;
    }

    &-alternate-link {
      display: inline-block;
      line-height: 35px;

      a {
        @include bold-19;
      }

    }

    &-secondary {
      display: inline-block;
      position: relative;
      left: -10px;
    }

  }

}
