.file-upload {

  &-label,
  &-button-label {

    @include govuk-font(19, $weight: bold);
    display: block;
    margin: 0 0 10px 0;

  }

  &-label .error-message,
  &-button-label.error-message {
    padding: 0;
  }

  &-field {
    margin-bottom: 10px;
  }

  // Hide normal upload form if we're adding a custom version with JS
  .js-enabled &-label,
  .js-enabled &-field,
  .js-enabled &-submit {
    display: none;
  }

  &-alternate-link {
    display: inline-block;
    line-height: 35px;

    a {
      font-weight: bold;
    }

  }

}
