.formatting-example {
  @include govuk-responsive-padding(3, "top");
  @include govuk-responsive-padding(5, "right");
  @include govuk-responsive-padding(3, "bottom");
  @include govuk-responsive-padding(5, "left");
  margin: govuk-spacing(3) 0 govuk-spacing(4) 0;
  background: govuk-colour("light-grey");
  overflow-x: auto;
  white-space: pre-wrap;
}

code.lang-md {
  @include govuk-font(19);
}

code.lang-py {
    background: govuk-colour("light-grey");
    padding: 3px 5px;
    border-radius: 1px;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.4;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    @include govuk-media-query(tablet) {
      font-size: 16px;
      font-size: 1rem;
    }
}