.fullscreen {

  &-content {

    background: govuk-colour("white");
    z-index: 10;
    overflow-y: hidden;
    box-sizing: border-box;
    margin: 0 0 govuk-spacing(6) 0;
    padding: 0 0 0 0;
    overflow: hidden;
    border-bottom: 1px solid $govuk-border-colour;

    .table {

      margin-bottom: 0;

      tbody tr:last-child {
        th, td {
          border-bottom: 1px solid govuk-colour("white");
        }
      }

    }

    th,
    .table-field-error-label,
    .table-field-left-aligned {
      white-space: nowrap;
    }

  }

  &-right-shadow {

    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    z-index: 200;

    &.visible {

      &.with-transition {
        transition: box-shadow 0.6s ease-out;
      }

      box-shadow: inset -1px 0 0 0 $govuk-border-colour, inset -3px 0 0 0 rgba($govuk-border-colour, 0.2);

    }

  }

  &-scrollable-table {

    overflow-x: auto;
    overflow-y: hidden;

    // hide the header cells, but only visually and in a way that doesn't disrupt the table layout
    .table-field-heading-first,
    tbody th.table-field {
      color: transparent;
      border-color: transparent;
      border-right-color: $govuk-border-colour;
      background: govuk-colour("white");
    }

    .table-field-left-aligned {
      position: relative;
      z-index: 150;
      background: govuk-colour("white");
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
      height: 11px;
      background-color: govuk-colour("white");
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid govuk-colour("white");
      background-color: rgb(0, 0, 0, .5);
    }

    &::-webkit-scrollbar-track {
      background-color: govuk-colour("white");
      border-radius: 8px;
    }

  }

  &-fixed-table {

    position: absolute;
    top: 0;
    overflow: hidden;

    // hide all cells except the headers
    .table-field-heading,
    .table-field-left-aligned {
      visibility: hidden;
      border-color: transparent;
    }

    .table-field-left-aligned {
      width: 0;
      position: relative;
      z-index: 100;
      visibility: hidden;
    }

    .table-field-heading-first,
    tbody th.table-field {
      transition: none;
      position: relative;
      z-index: 200;
      background: govuk-colour("white");
    }

  }

  &-scrolled-table {

    padding-bottom: 20px;

    .table-field-heading-first,
    tbody th.table-field {
      transition: box-shadow 0.3s ease-in-out;
      box-shadow: 1px 0 0 0 $govuk-border-colour, 3px 0 0 0 rgba($govuk-border-colour, 0.2);
    }

  }

  &-shim {

    width: 100%;
    position: relative;
    z-index: 9;
    margin-bottom: 30px;
    pointer-events: none;

    & + .table-show-more-link {
      margin-top: -28px;
    }

  }

}

.js-focus-style {
  outline: 3px solid $govuk-focus-text-colour;
  box-shadow: 0 0 0 7px $govuk-focus-colour;

  *:focus {
    outline: none;
  }
}
