$outline-width: 5px;

.letter {

  font-family: Helvetica, Arial, sans-serif;
  box-shadow:
  1px 1px 0 0 $panel-colour,
  2px 2px 0 0 rgba($panel-colour, 0.5),
  -1px 1px 0 0 $panel-colour,
  -2px 2px 0 0 rgba($panel-colour, 0.5);
  outline: $outline-width solid rgba($text-colour, 0.1);
  padding: 0;
  margin: $outline-width $outline-width $gutter;
  height: 50%;
  overflow: hidden;

  a {
    display: block;
  }

  img {
    display: block;
    max-width: 100%;
  }

}
