.input-list {

  .list-entry {
    vertical-align: middle;
    margin-bottom: 20px;
    position: relative;

    @include govuk-media-query($from: tablet) {
      margin-bottom: 15px;
    }

    // move the left border, signifying the error, out of the main column
    .govuk-form-group--error {
      margin-left: ($govuk-border-width + $govuk-gutter-half) * -1;
    }
  }

  .govuk-input--numbered__label--error {
    // - button padding bottom and top and 2px border (7px + 8px + 2px + 2px)
    // - button line-height (1.1875em)
    // - button margin-top (5px)
    // - text input border and padding (2px + 5px = 7px)
    // - half of difference in line-height with text input (0.1875em)
    bottom: calc(19px + 1.1875em + 5px + 7px + 0.1875em);

    @include govuk-media-query($from: tablet) {
      bottom: 7px;
    }
  }

  .list-entry:first-of-type .govuk-input--numbered__label--error {
    bottom: calc(7px + 0.1875em); // the first input doesn't have a 'remove' button

    @include govuk-media-query($from: tablet) {
      bottom: 7px;
    }
  }

  &__button--remove,
  &__button--add {
    width: auto;
  }

  &__button--remove {
    margin-top: 5px;
    position: static;
    overflow: hidden;

    @include govuk-media-query($from: tablet) {
      margin: 0 0 0 10px;
      position: absolute;
      top: 0;
      left: 100%;

      .govuk-form-group--error & {
        top: auto;
        bottom: 2px; // 2px to match the box shadow at the bottom
      }
    }
  }

  &__button--add {
    margin: 0 0 20px 0;
  }

}
