.input-list {

  .list-entry {
    vertical-align: middle;
    margin-bottom: 15px;
    position: relative;
  }

  .list-entry-remove {
    @include core-19;
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
    position: static;
    overflow: hidden;

    @include media(tablet) {
      @include inline-block;
      margin: 0 0 0 10px;
      position: absolute;
      top: 0;
      left: 100%;
    }
  }

  .form-control {
    padding-left: 1.84em;
    width: 100%;
    margin-bottom: 0;

    @include media(desktop) {
      @include inline-block;
    }
  }

  .text-box-number-label {
    @include core-19;
    float: left;
    width: 1.6em;
    margin: 6px -1.6em 0 0;
    position: relative;
    left: 10px;
    color: $secondary-text-colour;
    font-weight: bold;
    pointer-events: none;
  }

  .list-entry-add {
    @include core-19;
    margin: 0 0 20px 0;
  }
}

.button-secondary {
  @include button($grey-3);
}
