@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.loading-indicator {
  &:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4,end) 1.5s infinite;
    content: "\2026"; // ellipsis
    width: 0;
  }
}
