@keyframes ellipsis {
  to {
    width: 1.1em;
  }
}

.loading-indicator {
  &:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4,end) 1.5s infinite;
    content: "\2026"; // ellipsis
    width: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .loading-indicator {
    &:after {
      animation: none;
      width: auto;
    }
  }
}

.loading-indicator--1 {
  &::after {
    animation-delay: -0.6s;
    animation-duration: 3s;
  }
}

.loading-indicator--2 {
  &::after {
    animation-delay: -1.2s;
    animation-duration: 3s;
  }
}

.loading-indicator--3 {
  &::after {
    animation-delay: -1.8s;
    animation-duration: 3s;
  }
}

.loading-indicator--vertically-centered {
  position: relative;
  top: -0.3em;
}
