.management-navigation {

  @extend %site-width-container;
  @include core-16();
  border-bottom: 1px solid $border-colour;
  padding: 10px 0 8px;

  a {

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover {
      color: $link-hover-colour;
      text-decoration: underline;
    }

  }

  &-account {

    @include media(tablet) {

      text-align: right;

      a {
        margin-left: 20px;
      }

    }

  }

}
