.message {

  &-name {
    @include bold-24;
    margin: 0;

    a {
      display: block;
      margin-bottom: -$gutter;
      padding-bottom: $gutter;
    }

  }

  &-type {
    color: $secondary-text-colour;
    margin: 0 0 $gutter-two-thirds 0;
    pointer-events: none;
  }

}

#template-list {
  margin-top: $gutter;
}

.template-list-item,
.template-list-item-with-checkbox {
  position: relative;
}

.template-list-item-with-checkbox {

  padding-left: $gutter * 2;

  .multiple-choice {
    position: absolute;
    left: 0;
  }
}
