.navigation {

  padding: 20px 0 0 0;

  ul,
  h2 {
    @include core-19;
    border-bottom: 1px solid $border-colour;
    margin: 10px 20px 15px 0;
    list-style-type: none;
    padding: 0 0 10px 0;
  }

  h2 {
    font-weight: bold;
  }

  li {
    margin: 10px 0 0 0;
  }

  a {

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover {
      color: $link-hover-colour;
      text-decoration: underline;
    }

  }

}
