.navigation {

  padding: 3px 0 0 0;

  li {
    @include core-16();
    margin: 3px 0;
  }

  ul {
    border-bottom: 1px solid $border-colour;
    margin: 0 20px 0 0;
    list-style-type: none;
    padding: 0;
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  a:hover {
    color: $link-hover-colour;
    text-decoration: underline;
  }

}
