.navigation {

  padding: 0 $gutter 0 0;

  $padding-top: 14px;
  $padding-bottom: 11px;

  &-service {

    border-bottom: 1px solid $border-colour;
    margin: 0 0 10px;
    position: relative;
    font-size: 0;

    &-name {
      @include bold-19;
      padding: $padding-top 0 $padding-bottom 0;
      display: inline-block;
      max-width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-switch {

      @include core-19;
      text-decoration: none;
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
      padding: $padding-top 0 $padding-bottom $gutter-half;

      &:hover {
        color: $link-hover-colour;
        text-decoration: underline;
      }

      &:focus {
        outline: none;
        border-bottom: 1px solid $yellow;
        border-left: 10px solid $yellow;
        border-right: 3px solid $yellow;
        right: -3px;
        color: $text-colour;
      }

    }

    &-back-to {

      @include core-19;
      padding: $padding-top $gutter-half $padding-bottom 0;
      display: inline-block;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: $link-hover-colour;
      }

    }

  }

  &-organisation-link {

    @include core-19;
    display: inline-block;
    max-width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    text-decoration: none;
    background-image: file-url("separator-2x.png");
    background-size: 6px 11px;
    background-repeat: no-repeat;
    background-position: right 5px top ($padding-top + 5px);
    padding: $padding-top 20px $padding-bottom 0;
    margin-right: 7px;
    box-sizing: border-box;

    &:hover {
      color: $link-hover-colour;
      text-decoration: underline;
    }

    &:focus {
      color: $text-colour;
      outline: none;
      box-shadow: 0 1px 0 0 $focus-colour, -3px 0 0 0 $focus-colour, -3px 1px 0 0 $focus-colour;
    }

  }

  li {
    @include core-19;
    margin: 0;
    list-style-type: none;
  }

  a {

    display: block;
    padding: 5px 0;
    position: relative;
    top: 5px;

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover {
      color: $link-hover-colour;
      text-decoration: underline;
    }

    &:focus {
      color: $text-colour;
    }

    &.selected {
      @include bold-19;
      position: relative;
      // These two lines stop the width of the item jumping so much
      // between selected and unselected states
      left: -0.5px;
      letter-spacing: -0.01em;
    }

  }

}

// https://github.com/alphagov/product-page-example/blob/master/source/stylesheets/modules/_sub-navigation.scss
.sub-navigation {
  @include media(tablet) {
    margin-top: $gutter * 1.5;
  }

  ol,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    @include core-16;

    border-bottom: 1px $grey-3 solid;
    display: block;
    padding: $gutter-one-third 0;

    a:link {
      text-decoration: none;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }

    ol ol & {
      padding-left: $gutter;
    }
  }

  &__item--active {
    @include bold-16;

    a:link, a:visited {
      color: $text-colour;
    }
  }
}
