.navigation {

  padding: 0 $gutter 0 0;

  &-service {

    padding: 11px 0 9px 0;
    border-bottom: 1px solid $border-colour;
    margin: 0 0 10px;
    position: relative;

    &-name {
      @include bold-19;
      margin: 0 0 0 0;
    }

    &-switch {

      @include core-16;
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
      padding: 13px 0 9px 15px;

      &:focus {
        outline: none;
        border-bottom: 4px solid $yellow;
        border-left: 10px solid $yellow;
        border-right: 3px solid $yellow;
        right: -3px;
      }

    }

  }

  li {
    @include core-19;
    margin: 10px 0 0 0;
    list-style-type: none;
  }

  a {

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover {
      color: $link-hover-colour;
      text-decoration: underline;
    }

  }

}
