.navigation {

  padding: 0 $gutter 0 0;

  li {
    @include core-19;
    margin: 10px 0 0 0;
    list-style-type: none;
  }

  h2 {
    @include bold-19;
    margin: $gutter 0 0 0;
  }

  a {

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover {
      color: $link-hover-colour;
      text-decoration: underline;
    }

  }

}
