.page-footer {

  margin-bottom: 50px;

  &-back-link {
    @include button($grey-1);
    display: inline-block;
    padding: 0.52632em 0.78947em 0.26316em 0.78947em;
    margin-left: 10px;
  }

  &-delete-link {

    line-height: 40px;
    padding: 0 0 0 5px;

    a {

      &:visited,
      &:link {
        color: $error-colour;
        display: inline-block;
        vertical-align: center;
      }

      &:hover,
      &:active {
        color: $mellow-red;
      }

    }

  }

  &-secondary-link {
    display: block;
    margin-top: $gutter;
  }

  .button-destructive {
    @include button($error-colour);
    padding: 0.52632em 0.78947em 0.26316em 0.78947em;
  }

}
