.page-footer {

  margin-bottom: 30px;

  &-back-link {

    @include button($grey-1);
    display: inline-block;

    @include media('mobile') {
      box-sizing: border-box;
      width: 100%;
      margin-top: $gutter-half;
      text-align: center;
    }

  }

  &-delete-link {

    line-height: 40px;
    padding: 1px 0 0 15px;

    a {

      &:visited,
      &:link {
        color: $error-colour;
        display: inline-block;
        vertical-align: center;
      }

      &:hover,
      &:active {
        color: $mellow-red;
      }

    }

  }

  &-secondary-link {
    display: block;
    margin-top: $gutter;
  }

  .button,
  .button-destructive {
    margin-right: 10px;
  }

  .button-destructive {
    @include button($error-colour);
    padding: 0.52632em 0.78947em 0.26316em 0.78947em;
  }

}
