.page-footer {

  position: relative;
  margin-bottom: 30px;

  &-delete-link {

    line-height: 40px;
    padding: 1px 0 0 15px;

    a {

      &:visited,
      &:link {
        color: $error-colour;
        display: inline-block;
        vertical-align: center;
      }

      &:hover,
      &:active {
        color: $mellow-red;
      }

    }

  }

  &-delete-link-without-button {
    @include core-19;
    padding: 0;
    display: inline-block;
  }

  &-secondary-link {
    display: block;
    margin-top: $gutter;
  }

  &-right-aligned-link {
    position: absolute;
    right: 0;
    top: 10px;  // align baseline with buttons
  }

  .button,
  .button-destructive {
    margin-right: 10px;
  }

  .button-destructive {
    @include button($error-colour);
    padding: 0.52632em 0.78947em 0.26316em 0.78947em;
  }

  .js-cancel {
    margin: 0;
  }

}

.align-button-with-textbox {

  .button {

    @include media(desktop) {
      position: relative;
      top: 32px;
      left: -30px;
      width: 100%;
      margin-right: -30px;
      padding-top: 8px;
      box-sizing: content-box;
    }

  }

}
