.page-footer {

  position: relative;
  margin-bottom: 30px;

  &-link {

    line-height: 40px;
    padding: 1px 0 0 15px;
    font-weight: normal;

    &:first-of-type {
      padding-left: 0px;
    }
  }

  &-delete-link-without-button {
    padding: 0;
    display: inline-block;
  }

  &-secondary-link {
    display: block;
    margin-top: govuk-spacing(6);
  }

  &-right-aligned-link {

    position: absolute;
    right: 0;
    top: 9px;  // align baseline with buttons

    &-without-button {
      position: absolute;
      right: 0;
      top: 0;
    }

  }

  &__button {
    margin-right: 10px;
  }

  .js-cancel {
    margin: 0;
  }

  &__button--centred {
    display: block;
    margin: 0 auto;
  }

}
