.page-footer {

  margin-bottom: 50px;

  &-back-link {
    display: block;
    margin-top: $gutter;
  }

  &-delete-link {

    line-height: 40px;
    padding: 0 0 0 5px;

    a:visited,
    a:link {
      color: $error-colour;
      display: inline-block;
      vertical-align: center;
    }

    a:hover,
    a:active {
      color: $mellow-red;
    }

  }


  .button {}

  .button-destructive {
    @include button($error-colour);
    padding: 0.52632em 0.78947em 0.26316em 0.78947em;
  }

}
