%placeholder,
.placeholder {

  display: inline;
  background: $govuk-focus-colour;
  color: $govuk-text-colour;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border-radius: 11px;
  box-shadow: inset 0.47em 0 0 0 #FFF, inset -0.47em 0 0 0 #FFF, inset 0 -0.05em 0 0 #FFF, inset 0 0.26em 0 0 #FFF;
  .sms-message-wrapper & {
    box-shadow: inset 0.47em 0 0 0 govuk-shade(govuk-colour("light-grey"), 7%), inset -0.47em 0 0 0 govuk-shade(govuk-colour("light-grey"), 7%), inset 0 -0.18em 0 0 govuk-shade(govuk-colour("light-grey"), 7%), inset 0 0.18em 0 0 govuk-shade(govuk-colour("light-grey"), 7%);
  }

}

.placeholder-no-brackets {
  @extend %placeholder;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 1px;
  box-shadow: inset 0 -0.1em 0 0 govuk-colour("white"), inset 0 0.1em 0 0 govuk-colour("white");
}

.placeholder-conditional {

  @extend %placeholder;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: inset 0.47em 0 0 0 govuk-colour("white"), inset -0.89em 0 0 0 govuk-colour("white"), inset 0 -0.16em 0 0 govuk-colour("white"), inset 0 0.16em 0 0 govuk-colour("white");

  .sms-message-wrapper & {
    box-shadow: inset 0.47em 0 0 0 govuk-shade(govuk-colour("light-grey"), 7%), inset -0.89em 0 0 0 govuk-shade(govuk-colour("light-grey"), 7%), inset 0 -0.18em 0 0 govuk-shade(govuk-colour("light-grey"), 7%), inset 0 0.18em 0 0 govuk-shade(govuk-colour("light-grey"), 7%);
  }

}

.placeholder-redacted {

  background: currentColor;
  padding: 0 0.5em;
  opacity: 0.8;
  box-shadow: inset 0 0.05em 0 0 govuk-colour("white"), inset 0 -0.25em 0 0 govuk-colour("white");
  position: relative;
  top: 0.1em;

  .sms-message-wrapper & {
    box-shadow: inset 0 0.05em 0 0 govuk-shade(govuk-colour("light-grey"), 7%), inset 0 -0.25em 0 0 govuk-shade(govuk-colour("light-grey"), 7%);
  }

  *:focus + p & {
    box-shadow: inset 0 -0.35em 0 0 $govuk-focus-colour;
  }

}
