.branding-preview {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: solid 1px $govuk-border-colour;
  min-height: 200px;
  margin-bottom: govuk-spacing(6)
}

#logo-img {
  background-color: govuk-colour("light-grey");
  background-image: linear-gradient(45deg, govuk-shade(govuk-colour("light-grey"), 7%) 25%, transparent 25%), linear-gradient(-45deg, govuk-shade(govuk-colour("light-grey"), 7%) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, govuk-shade(govuk-colour("light-grey"), 7%) 75%), linear-gradient(-45deg, transparent 75%, govuk-shade(govuk-colour("light-grey"), 7%) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

  img {
    display: block;
  }
}

.responsive-image {
  width: 100%;
  height: auto;
}
