// https://github.com/alphagov/govuk-frontend/blob/v5.4.1/packages/govuk-frontend/src/govuk/components/checkboxes/_index.scss
$govuk-touch-target-gutter: 4px;
$govuk-radios-size: 40px;
$govuk-touch-target-size: ($govuk-radios-size + $govuk-touch-target-gutter);
$border-thickness: 4px;
$border-indent: ($govuk-radios-size/ 2) - ($border-thickness / 2);

.radio-select {
  min-height: 39px;
}

.radio-select__selection-and-button {
  @include govuk-responsive-margin(6, "bottom");
}

// make focus ring appear above button
.radio-select__selected-day-and-time:focus {
  position: relative;
  z-index: 1;
}

.radio-select__selected-day-and-time {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 6px 5px 6px;
  border: solid 2px $govuk-input-border-colour;
  text-align: center;
}

.radio-select__selected-day-and-time:focus {
  padding: 5px 5px 5px;
  border-width: 3px;
}

.radio-select__expander {
  border-top-color: rgb(255, 255, 255, 0.2);
  border-left-color: rgb(0, 0, 0, 0.02);
  border-right-color: rgb(0, 0, 0, 0.02);
  display: block;
  width: 100%;
}

.radio-select__expander::before {
  transform:translateY(-35%) rotate(45deg) scale(1);
  border-color: black;
  border-bottom:2px solid govuk-colour('black');
  border-right:2px solid govuk-colour('black');
  content:"";
  display:inline-block;
  height:8px;
  margin: 0 10px 0 -18px; // negative left margin means the element effectively occupies 0 width
  vertical-align:middle;
  width:8px;
  position: static; // override GOV.UK Frontend styling from the Button component
}

.radio-select__expander[aria-expanded=true]::before {
  transform:translateY(1px) rotate(225deg) scale(1);
}

.radio-select__expandee > .radio-select__view {
  @include govuk-responsive-margin(3, "top");
}

.radio-select__expandee > .radio-select__view:nth-of-type(2) {
  margin: 5px 0 3px;
}

.radio-select__days,
.radio-select__times {
  display: flex;
  flex-direction: column;
}

.radio-select__times[hidden] {
  display: none;
}

// Gaps for flexbox layouts for IE11 (which doesn't support column|row-gap or gap)
.radio-select__day {
  @include govuk-responsive-margin(3, "top");
}

.radio-select__day:first-of-type {
  margin-top: 0;
}

.radio-select__return-to-days {
  margin-top: 8px; // 10px minus 2px for drop shadow below expander button
  margin-right: 2px;
  margin-left: 2px;
}

.radio-select__confirm.js-stick-at-bottom-when-scrolling {
  margin-top: 0;
}

.radio-select__confirm__button {
  width: 100%;
}

.govuk-form-group--nested-radio {

  // To equalise the spacing between the line and the top/bottom of
  // the radio
  margin-top: govuk-spacing(2);

  // transparent borders become visible in high contrast modes so set to match background
  @media (-ms-high-contrast: active), (forced-colors: active) {
    background: canvasText;
  }
}

.govuk-form-group--nested-radio .govuk-radios__item > .govuk-form-group{
  padding-left: govuk-spacing(8);
  flex-basis: 100%;
}

.govuk-form-group--nested-radio .govuk-radios__item:before{
  content: "";
  position: absolute;
  bottom: 0;
  top: 2px;
  left: $border-indent;
  width: $border-thickness;
  height: 100%;
  background: $govuk-border-colour;
}

.govuk-form-group--nested-radio .govuk-radios__label:before {
  box-shadow: 0 govuk-spacing(1) 0 0 govuk-colour("white");
  background: govuk-colour("white");
}

.govuk-form-group--nested-radio .govuk-radios__hint{
  margin-top: govuk-spacing(-2) ;
  padding-bottom: govuk-spacing(1) ;
}

.govuk-form-group--nested-radio .govuk-radios__hint:after {
  // Adds an little extra segment of line alongside the ‘current folder’
  // hint so that it extends all the way down to the next radio
  content: "";
  position: absolute;
  top: $govuk-radios-size;
  left: $border-indent;
  width: $border-thickness;
  background: $govuk-border-colour;
}

.inline {
  .multiple-choice {
    margin-right: 15px;
  }
}

.govuk-radios__input:disabled + .govuk-radios__label,
.govuk-radios__input:disabled ~ .govuk-hint {
  opacity: 1;
  color: $govuk-secondary-text-colour;
}

.govuk-radios__input:disabled + .govuk-radios__label {
  &:before {
    border-color: $govuk-secondary-text-colour;
    background-color: govuk-colour("light-grey");
  }
}
