$govuk-touch-target-size: 44px;
$govuk-radios-size: 40px;
$border-thickness: 4px;
$border-indent: ($govuk-radios-size/ 2) - ($border-thickness / 2);

.radio-select {
  min-height: 39px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radio-select__selection-and-button {
  display: flex;
  flex-direction: column;
  padding: 3px 3px 4px;
  border: solid 3px $govuk-input-border-colour;
  @include govuk-responsive-margin(6, "bottom");
}

.radio-select__selected-day-and-time {
  padding-top: 5px;
  padding-bottom: 4px;
}

.radio-select__expander-and-expandee {
  display: flex;
  flex-direction: column;
}

.radio-select__selected-day-and-time {
  margin: 3px;
  border: none;
}

.radio-select__expander::before {
  transform:translateY(-35%) rotate(45deg) scale(1);
  border-color: black;
  border-bottom:2px solid govuk-colour('black');
  border-right:2px solid govuk-colour('black');
  content:"";
  display:inline-block;
  height:8px;
  margin:0 10px 0 2px;
  vertical-align:middle;
  width:8px;
  position: static; // override GOV.UK Frontend styling from the Button component
}

.radio-select__expander[aria-expanded=true]::before {
  transform:translateY(1px) rotate(225deg) scale(1);
}

.radio-select__expandee > .radio-select__column {
  @include govuk-responsive-margin(3, "top");
}

.radio-select__days,
.radio-select__times {
  display: flex;
  flex-direction: column;
}

.radio-select__days:focus-visible,
.radio-select__times:focus-visible {
  outline: 3px solid $govuk-focus-colour;
  outline-offset: 2px;
}

.radio-select__times[hidden] {
  display: none;
}

// Gaps for flexbox layouts for IE11 (which doesn't support column|row-gap or gap)
.radio-select__day {
  @include govuk-responsive-margin(3, "top");
}

.radio-select__day:first-of-type {
  margin-top: 0;
}

.radio-select__return-to-days {
  margin-top: 8px; // 10px minus 2px for drop shadow below expander button
  margin-right: 2px;
  margin-left: 2px;
}

.radio-select__confirm.js-stick-at-bottom-when-scrolling {
  margin-top: 0;
}

.govuk-form-group--nested-radio{
  $border-thickness: $govuk-touch-target-size - $govuk-radios-size;
  $border-indent: $govuk-touch-target-size / 2;

  position: relative;

  // To equalise the spacing between the line and the top/bottom of
  // the radio
  margin-top: govuk-spacing(1) + ($border-thickness / 2) + 2;

  // transparent borders become visible in high contrast modes so set to match background
  @media (-ms-high-contrast: active), (forced-colors: active) {
    background: canvasText;
  }
}

.govuk-form-group--nested-radio .govuk-radios__item > .govuk-form-group{
  // To equalise the spacing between the line and the top/bottom of
  // the radio
  margin-top: govuk-spacing(2);
}


.govuk-form-group--nested-radio .govuk-radios__item{
  padding-left: govuk-spacing(8);
}

.govuk-form-group--nested-radio .govuk-radios__item:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: $border-indent;
  width: $border-thickness;
  height: 100%;
  background: $govuk-border-colour;
}

.govuk-form-group--nested-radio .govuk-radios__label{
  padding-left: govuk-spacing(0);
}

.govuk-form-group--nested-radio .govuk-radios__label:before {
  box-shadow: 0 govuk-spacing(1) 0 0 govuk-colour("white");
  background: govuk-colour("white");
}

.govuk-form-group--nested-radio .govuk-radios__hint{
  padding-left: govuk-spacing(0) ;
}

.govuk-form-group--nested-radio .govuk-radios__hint:after {
  // Adds an little extra segment of line alongside the ‘current folder’
  // hint so that it extends all the way down to the next radio
  content: "";
  position: absolute;
  top: $govuk-radios-size;
  left: $border-indent;
  width: $border-thickness;
  background: $govuk-border-colour;
}

.inline {
  .multiple-choice {
    margin-right: 15px;
  }
}

.govuk-radios__input:disabled + .govuk-radios__label,
.govuk-radios__input:disabled ~ .govuk-hint {
  opacity: 1;
  color: $govuk-secondary-text-colour;
}

.govuk-radios__input:disabled + .govuk-radios__label {
  &:before {
    border-color: $govuk-secondary-text-colour;
    background-color: govuk-colour("light-grey");
  }
}
