.radio-select {

  &-column {

    display: inline-block;
    vertical-align: top;

    .multiple-choice {
      margin-right: 5px;
      padding-right: 10px;
      padding-left: 54px - 10px;
    }

  }

  .js-reset-button,
  .js-category-button {

    background: none;
    text-decoration: underline;
    color: $link-colour;
    border: none;
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 7px 20px 7px 10px;
    margin-right: 5px;
    cursor: pointer;

    &:hover {
      color: $link-hover-colour;
    }

  }

  .js-reset-button-block {
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px 20px $gutter 57px;
  }

  .js-enabled & {

    overflow: visible;

    .multiple-choice {
      display: none;
    }

    .js-multiple-choice {
      display: block;
    }

  }

}
