.radio-select {

  &-column {

    display: inline-block;
    vertical-align: top;

    .block-label {
      margin-right: 5px;
      padding-right: $gutter - 10px;
      padding-left: 54px - 10px;
    }

  }

  .tertiary-button {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 20px $gutter-half 15px $gutter-half;
    margin-right: 5px;
  }

  .js-enabled & {

    height: 60px;
    overflow: visible;

    .block-label {
      display: none;
    }

    .js-block-label {
      display: inline-block;
    }

  }

}
