.notify-radios-with-images {
  display: flex;
}

.notify-radios-with-images__item {
  // Override the lack of margin-right on smaller screens. Inline GOVUK Frontend radios only have it for larger screens.
  @include govuk-responsive-margin(4, "right");

  padding-left: 0;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }
}

.notify-radios-with-images__image {
  display: block;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: govuk-spacing(4);
  padding: govuk-spacing(1);
  border: 1px solid $govuk-border-colour;
}

.notify-radios-with-images__radio {
  display: block;
  position: relative;
  padding-left: govuk-spacing(7) - 3px;
}
