$govuk-touch-target-size: 44px;
$govuk-radios-size: 40px;
$govuk-small-radios-size: 24px;
$border-thickness: 4px;
$border-indent: ($govuk-radios-size/ 2) - ($border-thickness / 2);

.radio-select {

  min-height: 39px;

  &__column {

    display: inline-block;
    vertical-align: top;

    .multiple-choice {
      padding-right: 10px;
      padding-left: 54px - 10px;
    }

  }

  &__button--category {

    margin-right: govuk-spacing(3);
    width: auto;

  }

  &__button--done {

    display: block;
    clear: both;
    margin: 0 0 govuk-spacing(6) 0;
    position: relative;
    top: govuk-spacing(3);

    &:active {
      top: govuk-spacing(3) + 2px;
    }

  }

  .js-enabled & {

    overflow: visible;

    .multiple-choice {
      display: none;
    }

    .js-multiple-choice {
      display: block;
    }

  }

}

.radios-nested {

  margin-bottom: 10px;

  .multiple-choice {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: $border-indent;
      width: $border-thickness;
      height: 100%;
      background: $govuk-border-colour;
    }

    label {
      float: none;
    }

    [type=radio]+label::before {
      // To overlap the grey inset line
      background: govuk-colour("white");
    }

    ul {
      // To equalise the spacing between the line and the top/bottom of
      // the radio
      margin-top: 5px;
      margin-bottom: -5px;
      padding-left: 12px;
    }

    li {
      margin-bottom: 3px;
    }

    .block-label-hint {
      &:after {
        // Adds an little extra segment of line alongside the ‘current folder’
        // hint so that it extends all the way down to the next radio
        content: "";
        position: absolute;
        top: $govuk-radios-size;
        left: $border-indent;
        width: $border-thickness;
        height: $govuk-small-radios-size;
        background: $govuk-border-colour;
      }
    }

  }

}

.govuk-form-group--nested-radio{
  $border-thickness: $govuk-touch-target-size - $govuk-radios-size;
  $border-indent: $govuk-touch-target-size / 2;

  position: relative;

  // To equalise the spacing between the line and the top/bottom of
  // the radio
  margin-top: govuk-spacing(1) + ($border-thickness / 2) + 2;
  margin-bottom: govuk-spacing(1) * -1 * 2;
  padding-left: 12px;

}

[class="govuk-radios__item"]{
  [type=radio]+label::before {
    // To overlap the grey inset line
    background: govuk-colour("white");
  }

}

[class="govuk-radios__item"]:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: $border-indent;
  width: $border-thickness;
  height: 100%;
  background: $govuk-border-colour;
}

[class="govuk-radios__hint"]{
  padding-left: 0;
}

.nested-radios__hint:after {
  // Adds an little extra segment of line alongside the ‘current folder’
  // hint so that it extends all the way down to the next radio
  content: "";
  position: absolute;
  top: $govuk-radios-size;
  left: $border-indent;
  width: $border-thickness;
  background: $govuk-border-colour;
}


.inline {
  .multiple-choice {
    margin-right: 15px;
  }
}

.govuk-radios__input:disabled + .govuk-radios__label,
.govuk-radios__input:disabled ~ .govuk-hint {
  opacity: 1;
  color: $govuk-secondary-text-colour;
}

.govuk-radios__input:disabled + .govuk-radios__label {
  &:before {
    border-color: $govuk-secondary-text-colour;
    background-color: govuk-colour("light-grey");
  }
}
