.settings-summary-list {

  border-top: 1px solid $govuk-border-colour;

  .govuk-summary-list__key {

    @include govuk-media-query($from: tablet) {
      font-weight: normal;
      padding-top: govuk-spacing(3);
      padding-bottom: govuk-spacing(2) + 1px;
      width: 33%;
    }

  }

  &--full-width {
    .govuk-summary-list__key {
      @include govuk-media-query($from: tablet) {
        width: 25%;
      }
    }
  }

}
