.show-more {

  @include core-16;
  display: block;
  padding: 0 0;
  margin: $gutter-half 0 $gutter 0;
  text-align: center;
  border-top: 1px solid $border-colour;

  &:focus {
    
    outline: none;
    color: $text-colour;
    box-shadow: 0 -10px 0 0 $yellow;
    border-color: $yellow;

    span {
      background: $yellow;
      outline: none;
      border-color: $text-colour;
    }

  }

  span {
    position: relative;
    top: -11px;
    outline: 10px solid white;
    background: $white;
    display: inline-block;
    border-bottom: 1px solid $light-blue;
  }

}
