// container for the link which
// - contains the absolutely positioned child pseudo elements
// - sets text size and so line height
// - allows alignment and vertical spacing
.show-more {
  @include govuk-font(16);
  position: relative; // contain all
  text-align: center;
  margin: govuk-spacing(1) 0 govuk-spacing(5) 0;
}

.show-more__link {

  // create the separator line the link sits in front of
  &::before {

    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid $govuk-border-colour;

  }

  // create a click area matching the size of the containing div + 16px extra height
  &::after {

    content: "";
    position: absolute;
    top: govuk-spacing(1) * -1;
    left: 0;
    bottom: govuk-spacing(1) * -1;
    width: 100%;

  }

  // make the link text sit in front of the separator line, with a gap on either side
  span {

    position: relative; // required for z-index
    z-index: 1; // place above ::after pseudo-element
    padding: 0 10px;
    background: govuk-colour('white');

  }

  &:focus {

    box-shadow: none; // turn off the focus style (::after handles this)

    &::before {

      border-color: transparent; // hide the separator line

    }

    // make focus style fill click area
    &::after {

      box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
      background: $govuk-focus-colour;
      outline: 3px solid transparent; // for forced-colour modes

    }

    // hide all styling around link text
    span {

      background: transparent;

    }

  }

}

.show-more--no-border {

  margin-top: govuk-spacing(3) * -1;

  & > .show-more__link::before {

    border-color: transparent;

  }
}
