%show-more,
.show-more {

  @include core-16;
  display: block;
  padding: 0 0;
  margin: govuk-spacing(3) 0 govuk-spacing(3) 0;
  text-align: center;
  border-top: 1px solid $border-colour;

  &:focus {

    border-color: transparent;
    /* override default focus style to increase top yellow box-shadow */
    box-shadow: 0 -15px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;

    span {
      outline: none;
      border-color: transparent;
      background-color: transparent;
    }

  }

  span {
    position: relative;
    top: -11px;
    outline: 10px solid white;
    background: $white;
    display: inline-block;
    border-bottom: 1px solid $light-blue;
  }

}

.show-more-no-border {
  @extend %show-more;
  border-top: 1px solid transparent;
  margin-top: -5px;
}
