#footer {
  .footer-categories {
    margin: 0 auto;

    &-wrapper {
      margin-bottom: govuk-spacing(6);
      padding-bottom: govuk-spacing(9);
      border-bottom: 1px solid $grey-2;
    }

    h2 {
      margin: 20px 0;

      @include media(tablet) {
        margin-top: 0;
      }
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 5px;
      font-size: 16px;
    }
  }
}
