.sms-message-wrapper {

  width: 100%;
  max-width: 464px;
  box-sizing: border-box;
  padding: $gutter-half $gutter-half $gutter-half $gutter-half;
  background: $panel-colour;
  border: 1px solid $panel-colour;
  border-radius: 5px;
  white-space: normal;
  margin: 0 0 $gutter 0;
  clear: both;
  word-wrap: break-word;

}

.sms-message-recipient {
  @include copy-19;
  color: $secondary-text-colour;
  margin: 10px 0 0 0;
}
