$tail-angle: 20deg;

.sms-message-wrapper {

  position: relative;
  width: 100%;
  max-width: 464px;
  box-sizing: border-box;
  padding: govuk-spacing(3);
  background: govuk-colour("grey-3");
  border: 1px solid govuk-colour("grey-3");
  border-radius: 5px;
  white-space: normal;
  margin: 0 0 govuk-spacing(6) 0;
  clear: both;
  word-wrap: break-word;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    right: -20px;
    border: 10px solid transparent;
    border-left-width: 13px;
    border-right-width: 13px;
    border-bottom-color: govuk-colour("grey-3");
    border-left-color: govuk-colour("grey-3");
    transform: rotate($tail-angle);
  }

}

.sms-message-inbound {

  .sms-message-wrapper {

    &:after {
      border-left-color: transparent;
      border-bottom-color: govuk-colour("grey-3");
      border-right-color: govuk-colour("grey-3");
      right: auto;
      left: -20px;
      transform: rotate(-$tail-angle);
    }

  }

}

.sms-message-sender {
  @extend %govuk-body-m;
  color: $govuk-secondary-text-colour;
  margin: 0 0 -10px 0;
}

.sms-message-recipient {
  @extend %govuk-body-m;
  color: $govuk-secondary-text-colour;
  margin: 10px 0 0 0;
}

.sms-message-status {
  @include govuk-font(16);
  color: $govuk-secondary-text-colour;
  margin: -20px govuk-spacing(3) 20px govuk-spacing(3);
}

.sms-message-status-outbound {
  text-align: right;
}

.sms-message-row {

  &:focus {
    outline: none;
    padding-top: 120px;
    margin-top: -120px;
  }

}

.sms-message-reply-link {
  text-align: right;
}
