%sms-message-wrapper,
.sms-message-wrapper {

  width: 100%;
  box-sizing: border-box;
  padding: $gutter-half;
  background: $panel-colour;
  border: 1px solid $panel-colour;
  border-radius: 5px;
  white-space: normal;
  margin: 0 0 $gutter 0;
  clear: both;
  word-wrap: break-word;

  p {
    margin: 0;
  }

  p + p {
    margin-top: 20px;
  }

}

.sms-message-wrapper-with-radio {
  @extend %sms-message-wrapper;
  padding-left: 45px;
  cursor: pointer;
}

.sms-message-recipient {
  @include copy-19;
  color: $secondary-text-colour;
  margin: -20px 0 $gutter 0;
}

.sms-message-name {
  @include bold-24;
  margin: 20px 0 10px 0;
}

.sms-message-picker {
  display: block;
  margin: 7px 0 0 0;
  position: absolute;
  left: 15px;
  top: 50%;
  z-index: 50;
}

%sms-message-use-links,
.sms-message-use-links {

  @include copy-19;
  margin-top: -5px;

  a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    
  }

}

.sms-message-use-links-with-title {
  @extend %sms-message-use-links;
  margin-top: 55px;
}

.sms-message-from {
  @include bold-19;
  display: block;
}
