// CSS adapted from
// https://github.com/alphagov/govuk_frontend_toolkit/blob/d9489a987086471fe30b4b925a81c12cd198c91d/docs/javascript.md#stick-at-top-when-scrolling

.js-stick-at-top-when-scrolling {

  overflow: hidden;
  margin-left: -$gutter-half;
  margin-top: -10px;
  padding: 10px 0 0 $gutter-half;

  .form-group {
    margin-bottom: 20px;
  }

}

.content-fixed {
  position: fixed;
  top: 0;
  background: $white;
  z-index: 100;
  margin-top: 0;
  padding-right: $gutter-half;
  border-bottom: 1px solid $border-colour;
  box-shadow: 0 2px 0 0 rgba($border-colour, 0.2);
}

.shim {
  display: block;
}
