.management-navigation {

  @extend %site-width-container;
  @include core-19();
  border-bottom: 1px solid $border-colour;
  padding: 10px 0 8px;

  a:link,
  a:visited {
    text-decoration: none;
  }

  &-account {

    @include media(tablet) {

      text-align: right;

      a {
        margin-left: 20px;
      }

    }

  }

}
