$indicator-colour: $black;

%task-list-indicator {
  @include bold-16;
  display: inline-block;
  padding: 3px 8px 1px 8px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
  border: 2px solid $indicator-colour;
}

.task-list {

  border-bottom: 1px solid $border-colour;
  margin: $gutter 0;

  &-item {
    border-top: 1px solid $border-colour;
    padding: 15px 0;
    padding-right: 20%;
    position: relative;
  }

  &-indicator-completed {
    @extend %task-list-indicator;
    background-color: $indicator-colour;
    color: $grey-4;
    // Just a pinch of letter spacing to make reversed-out text a bit
    // easier to read
    letter-spacing: 0.02em;
  }

  &-indicator-not-completed {
    @extend %task-list-indicator;
    background-color: transparent;
    color: $indicator-colour;
  }

}
