.template-picker {

  &-name {
    @include bold-19;
    padding-left: 5px;
  }

  &-option {

    white-space: nowrap;
    clear: both;

    .block-label {
      float: none;
      clear: none;
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
    }

    .sms-message {
      display: inline-block;
      vertical-align: top;
    }

  }

}
