.template-picker {

  &-name {
    @include bold-19;
    padding-left: 5px;
  }

  &-option {

    white-space: nowrap;
    clear: both;

    &-radio {
      padding-right: 10px;
      box-sizing: border-box;
      vertical-align: top;
      width: 33%;
      display: inline-block;
    }

    .block-label {
      display: inline-block;
    }

    .sms-message {
      display: inline-block;
      vertical-align: top;
      max-width: 66%;
    }

  }

}
