.yes-no-wrapper {
  border-bottom: 1px solid $border-colour;
  margin: 0 0 $gutter 0;
}

.yes-no {

  border-top: 1px solid $border-colour;
  padding: 10px 0;

  &-label {
    padding-top: 19px;
    float: left;
  }

  &-fields {

    text-align: right;

    .block-label {

      @include media(tablet) {

        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }

      }

    }

  }

}
