// Form validation
// ==========================================================================

// Use .form-group-error to add a red border to the left of a .form-group
.form-group-error {
  margin-right: 15px;
  border-left: 4px solid $govuk-error-colour;
  padding-left: 10px;

  @include govuk-media-query($from: tablet) {
    border-left: 5px solid $govuk-error-colour;
    padding-left: $govuk-gutter-half;
  }
}

// Use .form-control-error to add a red border to .form-control
.form-control-error {
  border: 4px solid $govuk-error-colour;

  // Hack to give GOVUK Frontend styling
  &:focus {
    border-color: $govuk-input-border-colour;
    // Remove `box-shadow` inherited from `:focus` as `input--error`
    // already has the thicker border.
    box-shadow: none;
  }
}


// Error messages should be red and bold
.error-message {
  @include govuk-font(19, $weight: bold);
  color: $govuk-error-colour;

  display: block;
  clear: both;

  margin: 0;
  padding: 2px 0;
}

.form-label .error-message {
  padding-top: 4px;
  padding-bottom: 0;
}
