// Radio buttons & checkboxes

$govuk-radios-size: 40px;
// When the default focus width is used on a curved edge it looks visually smaller.
// So for the circular radios we bump the default to make it look visually consistent.
$govuk-radios-focus-width: $govuk-focus-width + 1px;

// By default, multiple choice inputs stack vertically
.multiple-choice {

  display: block;
  float: none;
  clear: left;
  position: relative;

  padding: 0 0 0 38px;
  margin-bottom: $govuk-gutter / 3;

  @include media(tablet) {
    float: left;
  }

  // Absolutely position inputs within label, to allow text to wrap
  input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    z-index: 1;

    // IE8 doesn’t support pseudoelements, so we don’t want to hide native elements there.
    @if ($is-ie == false) or ($ie-version == 9) {
      margin: 0;
      opacity: 0;
    }
  }

  label {
    cursor: pointer;
    padding: 8px ($govuk-gutter / 3) 9px 12px;
    display: block;

    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
    touch-action: manipulation;

    @include media(tablet) {
      float: left;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  // Styles taken from GOVUK Frontend v3 to replace originals from GOVUK Elements
  [type=radio] + label::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    width: $govuk-radios-size;
    height: $govuk-radios-size;

    border: $govuk-border-width-form-element solid currentColor;
    border-radius: 50%;
    background: transparent;
  }

  // We create the 'button' entirely out of 'border' so that they remain
  // 'filled' even when colours are overridden in the browser.
  //
  // Styles taken from GOVUK Frontend v3 to replace original block from GOVUK Elements
  [type=radio] + label::after {
    content: "";

    position: absolute;
    top: govuk-spacing(2);
    left: govuk-spacing(2);

    width: 0;
    height: 0;

    border: govuk-spacing(2) solid currentColor;
    border-radius: 50%;
    opacity: 0;
    background: currentColor;
  }

  // Focused state
  // Styles taken from GOVUK Frontend v3 to replace original block from GOVUK Elements
  [type=radio]:focus + label::before {
    border-width: 4px;
    // Since box-shadows are removed when users customise their colours we set a
    // transparent outline that is shown instead.
    // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
    outline: $govuk-focus-width solid transparent;
    outline-offset: $govuk-focus-width;
    box-shadow: 0 0 0 $govuk-radios-focus-width $govuk-focus-colour;
  }

  // Selected state
  // Styles taken from GOVUK Frontend v3 to replace original block from GOVUK Elements
  [type=radio]:checked + label::after {
    opacity: 1;
  }

  // Disabled state
  input:disabled {
    cursor: default;
  }

  input:disabled + label {
    opacity: 0.5;
    cursor: default;
  }

  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }
}

// To sit multiple choice inputs next to each other, use .inline on parent
.inline .multiple-choice {
  clear: none;

  @include media (tablet) {
    margin-bottom: 0;
    margin-right: $govuk-gutter;
  }
}
