{% from "components/banner.html" import banner_wrapper %}

{% extends "admin_template.html" %}

{% block per_page_title %}
  You’ve been invited to use GOV.UK Notify for emergency alerts.
{% endblock %}

{% set mainClasses = "govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% block content %}

  <div class="banner-tour banner-tour-no-fixed-height govuk-!-margin-top-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="heading-medium">
          You’ve been invited to use GOV.UK&nbsp;Notify for emergency alerts.
        </h1>
        <p class="govuk-body heading-medium">
          Emergency alerts let you warn the public about an
          imminent risk to life.
        </p>
        <p class="govuk-body heading-medium">
          <a class="govuk-link govuk-link--inverse" href='{{ url_for(".broadcast_tour", service_id=current_service.id, step_index=2) }}'>
            Continue
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-half">
        <img src="{{ asset_url('images/broadcast-tour/1.png') }}" alt="">
        <link rel="preload" href="{{ asset_url('images/broadcast-tour/2.png') }}" as="image">
      </div>
    </div>
  </div>

{% endblock %}
