{% from "components/banner.html" import banner_wrapper %}

{% extends "admin_template.html" %}

{% block per_page_title %}
  Step 1
{% endblock %}

{% set mainClasses = "govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% block content %}

  <div class="banner-tour banner-tour-no-fixed-height govuk-!-margin-top-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="heading-medium">
          You’ve been invited to use GOV.UK Notify to broadcast alerts
        </h1>
        <ul>
          <li>
            Broadcasting is a new technology for alerting members of the
            public
          </li>
          <li>
            It should be used when there’s an imminent risk to life
          </li>
        </ul>
        <p class="govuk-body heading-medium">
          <a class="govuk-link govuk-link--no-visited-state" href='{{ url_for(".broadcast_tour", service_id=current_service.id, step_index=2) }}'>
            Find out how it works
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-half">
        <img src="{{ asset_url('images/broadcast-tour/1.png') }}" alt="">
        <link rel="preload" href="{{ asset_url('images/broadcast-tour/2.png') }}" as="image">
      </div>
    </div>
  </div>

{% endblock %}
