{% from "components/banner.html" import banner_wrapper %}

{% extends "admin_template.html" %}

{% block per_page_title %}
  In an emergency, you can send an alert to every mobile phone in
  the affected area at exactly the same time.
{% endblock %}

{% set mainClasses = "govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% block content %}

  <div class="banner-tour banner-tour-no-fixed-height govuk-!-margin-top-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="heading-medium">
          In an emergency, you can send an alert to every mobile phone in
          the affected area at exactly the same time.
        </h1>
        <p class="govuk-body heading-medium govuk-!-margin-bottom-6">
          <a class="govuk-link govuk-link--no-visited-state" href='{{ url_for(".broadcast_tour", service_id=current_service.id, step_index=3) }}'>
            Continue
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-half">
        <img src="{{ asset_url('images/broadcast-tour/2.png') }}" alt="">
        <link rel="preload" href="{{ asset_url('images/broadcast-tour/3.png') }}" as="image">
      </div>
    </div>
  </div>

{% endblock %}
