{% from "components/banner.html" import banner_wrapper %}

{% extends "admin_template.html" %}

{% block per_page_title %}
  An alert looks a bit like a text message.
{% endblock %}

{% set mainClasses = "govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% block content %}

  <div class="banner-tour banner-tour-no-fixed-height govuk-!-margin-top-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="heading-medium">
          An alert looks a bit like a text message.
        </h1>
        <p class="govuk-body heading-medium">
          It’s broadcast directly from a mobile phone mast, so you don’t
          need to know anyone’s phone number.
        </p>
        <p class="govuk-body heading-medium">
          <a class="govuk-link govuk-link--no-visited-state" href='{{ url_for(".broadcast_tour", service_id=current_service.id, step_index=5) }}'>
            Continue
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-half">
        <img src="{{ asset_url('images/broadcast-tour/4.png') }}" alt="">
      </div>
    </div>
  </div>

{% endblock %}
