{% from "components/banner.html" import banner_wrapper %}

{% extends "admin_template.html" %}

{% block per_page_title %}
  Notify has not sent your alert because you’re in training mode.
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {% include "service_navigation.html" %}
    <main class="govuk-main-wrapper column-main govuk-!-padding-top-0 govuk-!-padding-bottom-0" id="main-content" role="main">
      <div class="banner-tour banner-tour-no-fixed-height banner-tour-with-service-name">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h1 class="heading-medium">
              Notify has not sent your alert because you’re in training mode.
            </h1>
            <p class="govuk-body heading-medium">
              In a real emergency, every mobile phone in the area
              you chose would make a loud alarm noise.
            </p>
            <p class="govuk-body heading-medium">
              <a class="govuk-link govuk-link--no-visited-state" href='{{ url_for(".service_dashboard", service_id=current_service.id) }}'>
                Continue
              </a>
            </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <img src="{{ asset_url('images/broadcast-tour/3.png') }}" alt="">
          </div>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
