{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/branding-preview.html" import letter_branding_preview %}

{% set page_title = 'Briefhuisstijl wijzigen' %}

{% block service_page_title %}
  {{ page_title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": url_for('main.view_template', service_id=current_service.id, template_id=from_template) if from_template else url_for('main.service_settings', service_id=current_service.id)
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(page_title) }}

  <p class="govuk-body">
    Uw brieven hebben momenteel {{ current_service.letter_branding.name or 'geen' }} huisstijl.
  </p>

  {% if current_service.letter_branding %}
    {{ letter_branding_preview(current_service.letter_branding_id, title='Voorbeeld van de huidige briefhuisstijl') }}
  {% endif %}

  {% call form_wrapper() %}
    {# selecteer 'iets anders' altijd als dat de enige optie is #}
    {% if form.something_else_is_only_option %}
      <input type="hidden" name="options" value="something_else"/>
    {% else %}
      {{ form.options }}
    {% endif %}

    {{ page_footer('Doorgaan') }}
  {% endcall %}

{% endblock %}
