// Extra CSS overlaying elements
.form-control-1-1 {
  width: 100%;
}

.form-control-5em {

  width: 100%;

  @include govuk-media-query($from: tablet) {
    width: 5em;
  }

}

.column-main {

  .heading-large,
  > .heading-medium,
  > .heading-with-aside--heading-medium {
    margin: govuk-spacing(3) 0 govuk-spacing(4) 0;
    word-wrap: break-word;

    &.top-gutter-0 {
      margin-top: 0;
    }
  }

  .govuk-fieldset__legend--l .govuk-fieldset__heading {
    margin-top: govuk-spacing(3);
  }

}

.highlight {
  font-family: monospace;
  overflow-x: scroll;
  padding: 10px 0 10px 10px;
}

.inline {

  .block-label {

    @include govuk-media-query($from: tablet) {
      float: none;
      display: inline-block;
    }

  }

}

td {
  vertical-align: top;
}

.heading-medium,
.heading-with-aside--heading-medium {
  margin-top: govuk-spacing(6);
}

// TODO: refactor all this when GOVUK Elements typography is removed
// Allow headings to have related content that sits alongside
.heading-with-aside {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

// TODO: refactor all this when GOVUK Elements typography is removed
// Transfer vertical spacing from heading onto container
.heading-with-aside--heading-medium {
  margin-bottom: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    > .heading-medium {
      margin: 0 govuk-spacing(6) 0 0;
    }
  }
}

// TODO: refactor all this when GOVUK Elements typography is removed
.heading-aside {
  @include govuk-font(16);
  color: $govuk-secondary-text-colour;
  margin: 0;
  width: 100%; // force wrapping

  @include govuk-media-query($from: tablet) {
    width: auto;
  }
}

.form-label {
  margin-bottom: 5px;
}

.hint {
  color: $govuk-secondary-text-colour;

  .form-label + & {
    display: block;
    margin-top: -5px;
    margin-bottom: 5px;
  }
}

.spreadsheet {

  margin-bottom: -1 * govuk-spacing(6);

  .table {
    margin-bottom: 0;
  }

  th,
  tbody th.table-field {
    background: govuk-colour("light-grey");
    font-weight: bold;
    text-align: center;
  }

  // precedence of spreadsheet CSS means we need this to stop this style being overwritten
  & .fullscreen-scrollable-table tbody th.table-field {
    background: govuk-colour("white");
  }

  th, td {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid $govuk-border-colour;
  }

  td,
  tbody th {

    border-top: 0;
    // 194 is the width of the table * 1/3.5, so the overflow cuts off
    // at 3.5 columns wide.
    // 11 accounts for the padding of the table cell
    min-width: 194px - 11px;

    &:first-child {
      min-width: auto;
    }

  }

  .fullscreen-fixed-table {

    z-index: 1000;

    .table-field-heading-first {
      background: govuk-colour("light-grey");
    }

  }

}

.body-copy-table {

  table {

    th,
    td {
      @include govuk-font(19);
      word-wrap: break-word;
    }

    thead {
      th {
        @include govuk-font(19, $weight: bold);
      }
    }

  }

}

.tabular-numbers {
  @include govuk-font(19, $tabular: true);
}

summary::-moz-details-marker {
  display: none;
}
summary::-ms-details-marker {
  display: none;
}
summary::-o-details-marker {
  display: none;
}

summary::details-marker {
  display: none;
}

summary::-webkit-details-marker {
  display: none;
}

details .arrow {
  font-size: 16px;
}

.block-label-hint {
  @include govuk-font(16);
  margin-top: 5px;
}

.multiple-choice input:disabled+label {
  opacity: 1;
  color: $govuk-secondary-text-colour;
  cursor: default;
}

.heading-inline {
  display: inline-block;
}

.bordered-text-box {
  padding: 5px;
  outline: 2px solid $govuk-input-border-colour;
  max-width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.heading-upcoming-jobs {
  margin-top: govuk-spacing(3);
}

// inline-form style
// to allow for the form and text to be side-by-side
// used on notifications page for download csv report
.form--inline {
  display: inline-flex;
}

@keyframes live-pulse {
  0%   {
    background: govuk-colour("red");
    box-shadow: inset 0 0 0 2px govuk-colour("red"), inset 0 0 0 4px govuk-colour("white");
  }
  40%   {
    background: govuk-colour("red");
    box-shadow: inset 0 0 0 2px govuk-colour("red"), inset 0 0 0 4px govuk-colour("white");
  }
  50% {
    background: govuk-colour("white");
    box-shadow: inset 0 0 0 2px govuk-colour("red"), inset 0 0 0 2px govuk-colour("white");
  }
  100% {
    background: govuk-colour("white");
    box-shadow: inset 0 0 0 2px govuk-colour("red"), inset 0 0 0 4px govuk-colour("white");
  }
}
