// Path to assets for use with file-url()
$path: '/static/images/';

// By default GOV.UK Frontend adds .js-enabled for all browsers that have
// javascript enabled which isn't useful as their and our enhancements
// only run in browsers that support type='module' and add
// .govuk-frontend-supported to the body element
// We use the this CSS class from GOV.UK Frontend to hide/show Javascript enhanced
// elements in browser that we do/don't support
$govuk-frontend-supported-css-class: 'govuk-frontend-supported';

// adjusted link colour on grey to satisfy WCAG criterion
// on mix(black, govuk-colour('black', $variant: "tint-95"), 7%) this
// now has a contrast ratio of 5.67
// this HEX is lighter than govuk-functional-colour(link-hover)
$link-colour-on-grey-background: #1852ab;
