.column-whole {
  @include grid-column(1/1);
}

.column-three-quarters {
  @include grid-column(3/4);
}

.column-one-sixth {
  @include grid-column(1/6);
}

.column-five-sixths {
  @include grid-column(5/6);
}

.column-one-eighth {
  @include grid-column(1/8);
}

.column-seven-eighths {
  @include grid-column(7/8);
}

.bottom-gutter {
  margin-bottom: $gutter;
  clear: both;
}

.bottom-gutter-2-3 {
  margin-bottom: $gutter-two-thirds;
}

.bottom-gutter-1-2 {
  margin-bottom: $gutter-half;
}

.bottom-gutter-2 {
  margin-bottom: $gutter * 2;
}

.align-with-heading {
  display: block;
  text-align: center;
  margin-top: $gutter;
  padding-left: 2px;
  padding-right: 2px;
}

.align-with-heading-copy {
  display: block;
  margin-top: 45px;
}

.align-with-heading-copy-right {
  display: block;
  margin-top: 35px;
  text-align: right;
}

.global-cookie-message {
  p {
    @extend %site-width-container;
  }
}

.footer-nav {
  @include copy-16;
  margin-bottom: $gutter-two-thirds;

  a {
    display: inline-block;
    margin-right: $gutter-half;
  }
}
