.column-whole {
  @include grid-column(1/1);
}

.column-three-quarters {
  @include grid-column(3/4);
}

.column-one-sixth {
  @include grid-column(1/6);
}

.column-five-sixths {
  @include grid-column(5/6);
}

.column-one-eighth {
  @include grid-column(1/8);
}

.column-five-eighths {
  @include grid-column(5/8);
}

.column-seven-eighths {
  @include grid-column(7/8);
}

%top-gutter,
.top-gutter {
  @extend %contain-floats;
  display: block;
  margin-top: $gutter;
  clear: both;
}

.top-gutter-4-3 {
  @extend %top-gutter;
  margin-top: $gutter * 4 / 3;
}

.top-gutter-1-2 {
  @extend %top-gutter;
  margin-top: $gutter-half;
}

.top-gutter-1-3 {
  @extend %top-gutter;
  margin-top: $gutter / 3;
}

.top-gutter-2-3 {
  @extend %top-gutter;
  margin-top: $gutter * 2 / 3;
}

.top-gutter-0 {
  margin-top: 0;
}

%bottom-gutter,
.bottom-gutter {
  @extend %contain-floats;
  margin-bottom: $gutter;
  clear: both;
}

.bottom-gutter-2-3 {
  @extend %bottom-gutter;
  margin-bottom: $gutter-two-thirds;
}

.bottom-gutter-1-2 {
  @extend %bottom-gutter;
  margin-bottom: $gutter-half;
}

.bottom-gutter-1-3 {
  @extend %bottom-gutter;
  margin-bottom: $gutter/3;
}

.bottom-gutter-3-2 {
  @extend %bottom-gutter;
  margin-bottom: $gutter * 3/2;
}

.bottom-gutter-2 {
  @extend %bottom-gutter;
  margin-bottom: $gutter * 2;
}

.left-gutter {
  padding-left: $gutter;
}

.left-gutter-4-3 {
  padding-left: $gutter * 4 / 3;
}

.align-with-heading {
  display: block;
  text-align: center;
  margin-top: 13px;
  padding-left: 2px;
  padding-right: 2px;
}

.align-with-heading-copy {
  display: block;
  margin-top: 25px;
}

.align-with-heading-copy-right {
  display: block;
  margin: 21px 0 19px 0;
  text-align: right;
}

.align-with-big-number-hint {
  margin-top: $gutter / 0.6;
}
