@use "sass:map";
@use "govuk/settings" as * ;
@use "config";

// Gives access to the Sass variables used in the GOVUK Frontend typographic styles
// See: https://frontend.design-system.service.gov.uk/sass-api-reference/#govuk-typography-scale
@function get-govuk-typography-style($size, $breakpoint, $property) {
  $size-map: map-get($govuk-typography-scale, $size);
  $breakpoint-map: map-get($size-map, $breakpoint);

  @if not map-has-key($breakpoint-map, $property) {
    @error "Unknown property #{$property} - expected a property from the typography scale for #{$size}.";
  }

  @return map-get($breakpoint-map, $property);
}

// Copy of _url-helpers.scss in govuk_frontend_toolkit
// to prepend the path to where we store images

@function file-url($file) {
  $url: '';
  @if config.$path {
    $url: url(config.$path + $file);
  } @else {
    $url: url($file);
  }
  @return $url;
}

// Return ems from a pixel value
// This assumes a base of 19px
@function em($px, $base: 19) {
  @return ($px / $base) + em;
}