// Copy of _url-helpers.scss in govuk_frontend_toolkit
// to prepend the path to where we store images

@function file-url($file) {
  $url: '';
  @if $path {
    $url: url($path + $file);
  } @else {
    $url: url($file);
  }
  @return $url;
}
