// Extra CSS overlaying elements

#global-header-bar {
  background-color: $red;
}

#global-header #logo {
  white-space: nowrap;
  font-size: 27px;
  line-height: 32px;

  img {
    padding-right: 8px;
  }

}

@include media(desktop) {

  #proposition-menu {
    float: right;
  }

  #global-header .header-proposition #proposition-links li {
    padding: 0 0 0 15px;
  }

}

a:visited {
  color: $link-colour;
}
