// Extra CSS overlaying elements

#global-header-bar {
  background-color: $red;
}

#global-header {

  #logo {

    white-space: nowrap;
    font-size: 27px;
    line-height: 32px;

    img {
      padding-right: 8px;
    }

  }

  .header-proposition {
    #proposition-links {
      li {
        padding: 0 0 0 15px;
      }
    }
  }

}

@include media(desktop) {
  #proposition-menu {
    float: right;
  }
}

a {
  &:visited {
    color: $link-colour;
  }
}

.form-control-5em {

  width: 100%;

  @include media(tablet) {
    width: 5em;
  }

}

.column-main {

  > .heading-large {
    margin-top: $gutter;
  }

}
