// Extra CSS overlaying elements

.form-control-2-3, .form-control-1-4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding: 4px;
  background-color: #fff;
  border: 2px solid #6f777b;
}

@media (min-width: 641px) {
  .form-control-2-3, .form-control-1-4 {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.phase-tag {
    @include phase-tag(beta);
}

@media (min-width: 641px) {
  .phase-tag {
      font-size: 16px;
      line-height: 1.25;
      margin-top: 7px;

  }
}

@media (max-width: 641px) {
  .phase-tag {
      margin-top: 11px;
  }
}

#global-header #logo {
  white-space: nowrap;
}

a:visited {
  color: $link-colour;
}
