// needed for IE10 desktop snap mode: http://menacingcloud.com/?c=cssViewportOrMetaTag
@-ms-viewport {
  width: device-width;
}

b,
strong {
  font-weight: 600;
}

abbr[title] {
  cursor: help;
}

.js-enabled .js-hidden {
  display: none;
}

// To be removed when all search inputs use the GOV.UK Frontend text input component:
// https://design-system.service.gov.uk/components/text-input/
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof). 
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  margin-right: 2px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// To be removed when all links follow the GOV.UK Frontend conventions:
// https://design-system.service.gov.uk/styles/typography/#links
a {
  @extend %govuk-link;

  // Stops visited links looking different, until we can add the `govuk-link--no-visited-state`
  // class to all links we want stay the same colour after visiting
  &:visited {
    color: $govuk-link-colour;
  }
}

// Each selector, and then the whole block when only one remains, to be removed when the
// element comes from the corresponding GOV.UK Frontend component:
// - https://design-system.service.gov.uk/components/text-input/
// - https://design-system.service.gov.uk/components/textarea/
// - https://design-system.service.gov.uk/components/select/
// - https://design-system.service.gov.uk/components/button/

// Global styles for form controls

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 3px solid $focus-colour;
  outline-offset: 0;
}
