@import 'settings/typography-font-families';

// needed for IE10 desktop snap mode: http://menacingcloud.com/?c=cssViewportOrMetaTag
@-ms-viewport {
  width: device-width;
}

// To be removed when all text uses the GOV.UK Frontend New Transport font styles.
// At present, some text gets these styles due to being in a GOV.UK Frontend component
// or a link.
// This ensures all text will have these styles applied, until it can be moved to use
// the GOV.UK Frontend font styles.
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b,
strong {
  font-weight: 600;
}

abbr[title] {
  cursor: help;
}

.js-enabled .js-hidden {
  display: none;
}

// Each selector, and then the whole block when only one remains, to be removed when the
// element comes from the corresponding GOV.UK Frontend component:
// - https://design-system.service.gov.uk/components/text-input/
// - https://design-system.service.gov.uk/components/textarea/
// - https://design-system.service.gov.uk/components/select/
// - https://design-system.service.gov.uk/components/button/

// Global styles for form controls

// TODO: remove these styles once the text areas and radio buttons are using GOV.UK Frontend
//
// This is the focus colour from GOV.UK Frontend ($govuk-focus-colour).
// We can't use the colour variable from GOV.UK Frontend, since this file is
// above GOV.UK Frontend in the cascade.
input:focus,
textarea:focus,
{
  outline: 3px solid #FFDD00;
  outline-offset: 0;
}
