@import 'settings/typography-font-families';

// needed for IE10 desktop snap mode: http://menacingcloud.com/?c=cssViewportOrMetaTag
@-ms-viewport {
  width: device-width;
}

b,
strong {
  font-weight: 600;
}

abbr[title] {
  cursor: help;
}

.js-enabled .js-hidden {
  display: none;
}

// To be removed when all search inputs use the GOV.UK Frontend text input component:
// https://design-system.service.gov.uk/components/text-input/
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof). 
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  margin-right: 2px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// To be removed when all links follow the GOV.UK Frontend conventions:
// https://design-system.service.gov.uk/styles/typography/#links
a {
  /* Give a strong clear visual idea as to what is currently in focus */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);

  &:link {
    color: $link-colour;
  }

  &:visited {
    color: $link-visited-colour;
  }

  &:hover {
    color: $link-hover-colour;
  }

  &:active {
    color: $link-active-colour;
  }

  &:focus {
    background-color: $focus-colour;
    outline: 3px solid $focus-colour;
  }

  /* Make links slightly darker when focused to improve contrast. */
  &:link:focus {
    color: darken( $link-colour, 2.5%)
  }
}

// Each selector, and then the whole block when only one remains, to be removed when the
// element comes from the corresponding GOV.UK Frontend component:
// - https://design-system.service.gov.uk/components/text-input/
// - https://design-system.service.gov.uk/components/textarea/
// - https://design-system.service.gov.uk/components/select/
// - https://design-system.service.gov.uk/components/button/

// Global styles for form controls

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 3px solid $focus-colour;
  outline-offset: 0;
}

// To be removed when all buttons follow the GOV.UK Frontend conventions
// - https://design-system.service.gov.uk/components/button/

button {
  font-family: $govuk-font-family-nta;
}
