// sass-lint:disable no-important
// set asset URL root to match that of application
$govuk-assets-path: "/static/";

@import "settings/all";
@import "tools/all";
@import "helpers/all";

@import "core/all";
@import "objects/all";

* {
  background: transparent;
  color: black;
  text-shadow: none;
  filter: none;
  -ms-filter: none;
}

body {
  @include govuk-font($size: 14);
  margin: 0;
  padding: 0;
  width: 100%;
}

a,
a:visited {
  word-wrap: break-word;
}

a[href^="/"]:after,
a[href^="http://"]:after,
a[href^="https://"]:after {
  content: " (" attr(href) ")";
  font-size: 90%;
}

a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}

img {
  max-width: 100% !important;
}

select {
  background: white;
}

.govuk-header {

  .govuk-header__logo {
    @include govuk-font($size: 19);
    text-rendering: optimizeLegibility;

    a {
      &,
      &:visited {
        text-decoration: none;
      }

      &:after {
        content: "";
      }
    }

    svg {
      width: 45px;
      height: 40px;
      position: relative;
      top: -3px;
      vertical-align: bottom;
    }
  }
}

.govuk-visually-hidden,
.govuk-visually-hidden-focusable,
.notify-cookie-message,
.govuk-skip-link,
.govuk-footer {
  display: none !important;
}
