{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}

{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set page_title = "Free text message allowance" %}

{% block service_page_title %}
    {{ page_title }}
{% endblock %}

{% block backLink %}
    {{ govukBackLink({ "href": url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
        {{ page_header(page_title) }}

        <p class="govuk-body">
            If your service is eligible, it will get an annual allowance of free text messages.
        </p>
        <p class="govuk-body">
            You can still use Notify if your service is not eligible for a free allowance.
        </p>

        <h2 class="heading-medium">Terms of the free allowance</h2>
        <p class="govuk-body">
            These terms apply to the way you use GOV.UK Notify.
        </p>
        <p class="govuk-body">
            You accepted our terms of use when you created a Notify account.
        </p>
        <p class="govuk-body">
            The free text message allowance is discretionary.
        </p>
        <p class="govuk-body">
            GOV.UK Notify can stop your free allowance at any time if you do not keep to the terms.
        </p>
        <p class="govuk-body">
            To qualify for the free allowance, your service:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>must be the only one of its kind run by your team, department or organisation</li>
            <li>must not be for testing purposes</li>
            <li>must not belong to a GP surgery</li>
        </ul>
        <p class="govuk-body">
            Similar services run by the same team may not qualify for a free allowance.
        </p>
        <p class="govuk-body">
            GOV.UK Notify reviews the size of the free allowance every financial year.
        </p>
        <p class="govuk-body">
            The free allowance renews on 1 April. Unused free text messages expire on 31 March.
        </p>        
        <p class="govuk-body">
            If you send a very high volume of text messages in a single financial year, we may not renew your free allowance.
        </p>
        <p class="govuk-body">
            If we need to change the size of the free allowance, we’ll announce this before 1 April.
        </p>

    {% if not current_service.confirmed_unique %}
        {% call form_wrapper() %}
            {{ form.confirm(
            ) }}
            {{ page_footer('Confirm') }}
        {% endcall %}
    {% endif %}
    </div>
</div>

{% endblock %}
