{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radio %}
{% from "components/select-input.html" import select_wrapper %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ 'Change' if 'upload_document' in current_service.permissions else 'Add' }} contact details for ‘Download your document’ page
{% endblock %}

{% block maincolumn_content %}
  <div class="grid-row">
    <div class="column-five-sixths">
      {{ page_header(
        '{} contact details for ‘Download your document’ page'.format('Change' if 'upload_document' in current_service.permissions else 'Add'),
        back_link=url_for('main.service_settings', service_id=current_service.id)
      ) }}
      <p>
        When you send users a document to download, you need to include the contact details for your service
        on the download page. This is so users can contact you if there’s a problem (for example,
        if the link to download the document has expired).
      </p>
      {% call form_wrapper() %}

        {% call select_wrapper(form.contact_details_type, hide_legend=true) %}
          {% for option in form.contact_details_type %}
            {% set data_target = option.data.replace('_', '-') ~ "-type" %}

            {{ radio(option, data_target=data_target) }}
            <div class="panel panel-border-narrow js-hidden" id={{data_target}}>
              {{ textbox(form|attr(option.data), label=' ', width='1-1') }}
            </div>
          {% endfor %}
        {% endcall %}

        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>
{% endblock %}
