{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}


{% set heading = 'Choose a ‘from’ name' %}

{% block service_page_title %}
    {{ heading }}
{% endblock %}

{% block backLink %}
    {{ govukBackLink({ "href": alternative_backlink or url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-five-sixths">
            {{ page_header('Choose a ‘from’ name') }}

            <p class="govuk-body">Recipients will see the ‘from’ name in their email inbox.</p>

            {% set custom_email_sender_name_field_html %}
                {{ form.custom_email_sender_name(
                    param_extensions={
                        "classes": "",
                        "label": {"classes": "govuk-visually-hidden"}, "hint": None,
                        "formGroup": {"classes": "govuk-!-margin-bottom-3"},
                        "attributes": {"placeholder": "Example ‘from’ name"}
                    }
                ) }}
            {% endset %}

            {% call form_wrapper() %}
                {{ form.use_custom_email_sender_name(param_extensions={
                    "items": [
                      {
                        "value": "custom",
                        "conditional": {
                          "html": custom_email_sender_name_field_html
                        }
                      },
                      {
                        "value": "organisation"
                      },
                      {
                        "value": "service",
                        "hint": {
                          "html": default_email_sender_name_hint
                        }
                      }
                    ]
                  }) }}

                <h2 class="govuk-heading-m">Preview</h2>

                <p>GOV.UK Notify automatically converts the ‘from’ name into an email address for your service.</p>

                <div
                        class="email-message govuk-!-padding-2"
                        id="email-sender-preview"
                        data-notify-module="update-status"
                        data-target="use_custom_email_sender_name"
                        data-updates-url="{{ url_for('main.service_from_name_preview', service_id=current_service.id) }}"
                        aria-live="polite"
                >
                    {% include "partials/preview-full-email-sender.html" %}
                </div>

                {{ page_footer('Save and continue' if alternative_backlink else 'Save') }}
            {% endcall %}
        </div>
    </div>
{% endblock %}
