{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set heading = 'Sender name and email address' %}

{% block service_page_title %}
    {{ heading }}
{% endblock %}

{% block backLink %}
    {{ govukBackLink({ "href": url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-five-sixths">
            {{ page_header(heading) }}

            <p class="govuk-body">You can choose the name that your emails will come from.</p>
            
            <p class="govuk-body">Adding a custom sender name will change the email address for your service.</p>

            <p class="govuk-body">Your sender name should tell the recipient what your email is about, as well as who it’s from.</p>

            <p class="govuk-body">Do not use an acronym or initialism unless your users are already familiar with it.</p>

            {% set default_email_sender_name_hint %}
                {% with email_sender_name = current_service.name %}
                    {% include "partials/preview-email-sender-name.html" %}
                {% endwith %}
            {% endset %}

            {% set custom_email_sender_name_field_html %}
                {{ form.custom_email_sender_name(
                    param_extensions={
                        "classes": "",
                        "label": {"classes": "govuk-visually-hidden"}, "hint": None,
                        "formGroup": {"classes": "govuk-!-margin-bottom-3"},
                    }
                ) }}
                <div class="govuk-hint" data-notify-module="update-status" data-target="custom_email_sender_name" data-updates-url="{{ url_for('main.service_email_sender_preview', service_id=current_service.id) }}" aria-live="polite">
                    {% with email_sender_name = current_service.custom_email_sender_name or '' %}
                        {% include "partials/preview-email-sender-name.html" %}
                    {% endwith %}
                </div>
            {% endset %}

            {% call form_wrapper() %}
                {{ form.use_custom_email_sender_name(param_extensions={
                    "items": [
                        {
                            "hint": {
                                "html": default_email_sender_name_hint,
                            },
                        },
                        {
                            "conditional": {
                                "html": custom_email_sender_name_field_html,
                            },
                        },
                    ]
                }) }}
                {{ page_footer('Save') }}
            {% endcall %}
        </div>
    </div>
{% endblock %}
