{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set heading = 'Choose a ‘from’ name' %}

{% block service_page_title %}
    {{ heading }}
{% endblock %}

{% block backLink %}
    {{ govukBackLink({ "href": url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-five-sixths">
            {{ page_header(heading) }}

            <p class="govuk-body">Recipients will see the ‘from’ name in their email inbox.</p>

            {% set custom_email_sender_name_field_html %}
                {{ form.custom_email_sender_name(
                    param_extensions={
                        "classes": "",
                        "label": {"classes": "govuk-visually-hidden"}, 
                        "hint": { "text": "Do not use your own name or the name of someone on your team."},
                        "formGroup": {"classes": "govuk-!-margin-bottom-3"},
                    }
                ) }}
            {% endset %}

            {% call form_wrapper() %}
                {{ form.use_custom_email_sender_name(param_extensions={
                    "fieldset":{
                        "legend": {
                            "classes": "govuk-visually-hidden"
                        }
                    },
                    "items": [
                        {},
                        {
                            "conditional": {
                                "html": custom_email_sender_name_field_html,
                            },
                        },
                    ]
                }) }}

                <div class="sender-email-preview-container">
                    <h2 class="heading-medium">Preview</h2>
                    <p class="govuk-body">GOV.UK Notify automatically converts the ‘from’ name into an email address for your service.</p>
                    <div class="sender-email-preview" data-notify-module="update-status" data-target="use_custom_email_sender_name" data-updates-url="{{ url_for('main.service_email_sender_preview', service_id=current_service.id) }}" aria-live="polite">
                        {% with rich_preview=True %}
                            {% include "partials/preview-email-sender-name.html" %}
                        {% endwith %}
                    </div>
                </div>

                {{ page_footer('Save') }}
            {% endcall %}
        </div>
    </div>
{% endblock %}
