{% extends "withnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}

{% block page_title %}
  GOV.UK Notify | Service settings
{% endblock %}

{% block maincolumn_content %}



  <div class="grid-row">
    <div class="column-three-quarters">

      <h1 class="heading-xlarge">Delete this service from GOV.UK Notify</h1>

      <p>
        This can’t be undone. You will lose:
      </p>

      <ul class="list list-bullet">
        <li>
          any data you’ve uploaded messages
        </li>
        <li>
          any templates you’ve created
        </li>
        <li>
          the history of notifications you’ve sent
        </li>
        <li>
          API keys
        </li>
      </ul>

      <form method="post">
        {{ page_footer(
          'Yes, delete ‘{}’'.format(service.name),
          destructive=True,
          back_link=url_for('.service_settings', service_id=service_id)
        ) }}
      </form>

    </div>
  </div>
{% endblock %}
