{% extends "withnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Delete service
{% endblock %}

{% block maincolumn_content %}



  <div class="grid-row">
    <div class="column-three-quarters">

      <h1 class="heading-large">Delete this service from GOV.UK Notify</h1>

      <p>
        This cannot be undone. You will lose:
      </p>

      <ul class="list list-bullet">
        <li>
          any data you’ve uploaded messages
        </li>
        <li>
          any templates you’ve created
        </li>
        <li>
          the history of notifications you’ve sent
        </li>
        <li>
          API keys
        </li>
      </ul>

      {% call form_wrapper() %}
        {{ page_footer(
          'Yes, delete ‘{}’'.format(current_service.name),
          destructive=True,
          back_link=url_for('.service_settings', service_id=current_service.id)
        ) }}
      {% endcall %}

    </div>
  </div>
{% endblock %}
