{% extends "withnav_template.html" %}
{% from "components/copy-to-clipboard.html" import copy_to_clipboard %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Reply-to email addresses
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": alternative_backlink or url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Let recipients reply to your emails') }}

  <div class="user-list">
    {% for item in current_service.email_reply_to_addresses %}
      <div class="user-list-item">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h2 class="user-list-item-heading">
              <span class="heading-small">{{ item.email_address }}</span>&ensp;<span class="hint">
                {%- if item.is_default -%}
                  (default)
                {% endif %}
              </span>
            </h2>
          </div>
          <div class="govuk-grid-column-one-quarter">
            {% if current_user.has_permissions('manage_service') %}
              <a class="govuk-link govuk-link--no-visited-state user-list-edit-link" href="{{ url_for('main.service_edit_email_reply_to', service_id =current_service.id, reply_to_email_id = item.id) }}">
                Change<span class="govuk-visually-hidden"> {{ item.email_address }}</span>
              </a>
            {% endif %}
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {% if current_service.count_email_reply_to_addresses > 1 %}
              {{ copy_to_clipboard(item.id, name=item.email_address, thing="ID") }}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if current_user.has_permissions('manage_service') %}
        <div class="js-stick-at-bottom-when-scrolling">
          {{ govukButton({
            "element": "a",
            "text": "Add reply-to email address",
            "href": url_for('main.service_add_email_reply_to', service_id=current_service.id, back=source, template_id=template_id),
          }) }}
        </div>
      {% endif %}
    </div>
    <div class="govuk-grid-column-five-sixths">
      <p class="govuk-body">
          You must set up a reply-to email address for your service.
      </p>
      <p class="govuk-body">
          Emails with a reply-to address are:
      </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>more likely to be delivered</li>
          <li>less likely to end up in a junk folder</li>
          <li>less likely to be reported as spam</li>
      </ul>
    </div>
      {% if template_id %}
          <div class="govuk-grid-column-five-sixths">
              <p class="govuk-body">
                  <a href="{{ url_for('main.send_one_off_step', service_id=service_id, template_id=template_id, step_index=0, back=source) }}" class="govuk-link govuk-link--no-visited-state">
                      I’ll do this later
                  </a>
              </p>
          </div>
      {% endif %}
  </div>

{% endblock %}
