{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/table.html" import row_group, row, text_field, edit_field, field, boolean_field, list_table %}

{% block service_page_title %}
  Email reply to addresses
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row bottom-gutter">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Email reply to addresses
      </h1>
    </div>
	 <div class="column-one-third">
	   <a href="{{ url_for('.service_add_email_reply_to', service_id=current_service.id) }}" class="button align-with-heading">Add email address</a>
	 </div>
  </div>
  <div class="bottom-gutter-3-2 body-copy-table">
    {% call(item, row_number) list_table(
      reply_to_email_addresses,
      empty_message="You haven’t added any email addresses yet.",
      caption="Reply to email addresses",
      caption_visible=false,
      field_headings=[
        'Email addresses',
        'Action'
      ],
      field_headings_visible=False
    ) %}
        {% call field() %}
          {{ item.email_address }}
          {% if item.is_default %}
            <span class="hint">
              {{ "(default)" }}
            </span>
          {% endif %}
        {% endcall %}
		{{ edit_field('Change', url_for('.service_edit_email_reply_to', service_id =current_service.id, reply_to_email_id = item.id)) }}        
    {% endcall %}
  </div>
{% endblock %}