{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Do you plan to send over 250,000 emails a year?
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.estimate_usage', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ page_header('Do you plan to send over 250,000 emails a year?') }}

      {% call form_wrapper() %}
        <div class="form-group">
          {{ form.high_volume_emails }}
        </div>
        {{ page_footer('Continue') }}
      {% endcall %}
    </div>
  </div>
{% endblock %}
