{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Link service to organisation
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row bottom-gutter">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Link service to organisation
      </h1>
      <form method="post">
        {{ radios(form.organisations) }}
        {{ page_footer(
          'Save',
          back_link=url_for('.service_settings', service_id=current_service.id),
          back_link_text='Back to settings'
        ) }}
      </form>
    </div>
  </div>
{% endblock %}
