
{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Change your service name
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Change your service name</h1>

  <div class="form-group">
    {% if current_service.prefix_sms %}
      <p>Users will see your service name:</p>
      <ul class="list-bullet">
        <li>at the start of every text message, eg ‘{{ current_service.name }}: This is an example message’</li>
        <li>as your email sender name</li>
      </ul>
    {% else %}
      <p>Users will see your service name as your email sender name.</p>
    {% endif %}
  </div>

  {% call form_wrapper() %}
    {{ textbox(form.name) }}
    {{ page_footer(
      'Save',
      back_link=url_for('.service_settings', service_id=current_service.id),
      back_link_text='Back to settings'
    ) }}
  {% endcall %}

{% endblock %}
