{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set heading = 'Change your service name' %}

{% block service_page_title %}
  {{ heading }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}
  {{ page_header(heading) }}
  <p class="govuk-body">Choose a name that you think the GOV.UK Notify team will understand.</p>
  <p class="govuk-body">We use the service name to check that you’ve met our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.terms_of_use') }}">terms of use</a>.</p>
  <p class="govuk-body">Do not include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>acronyms, initialisms or abbreviations</li>
    <li>your own name or the name of someone on your team</li>
  </ul>

  {% call form_wrapper() %}
    {{ form.name }}
    {{ page_footer('Save') }}
  {% endcall %}
{% endblock %}
