{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block page_title %}
GOV.UK Notify | Service settings
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="column-three-quarters">

      <h1 class="heading-xlarge">Rename service</h1>

      <p>
        Users will see this name where?
      </p>

      <form method="post">
        {{ textbox('new_name', 'New name', value=service.name) }}
        {{ page_footer(
          'Save',
          back_link=url_for('.service_settings')
        ) }}
      </form>
    </div>
  </div>

{% endblock %}
