{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/branding-preview.html" import email_branding_preview %}

{% block service_page_title %}
  Preview email branding
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Preview email branding</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ email_branding_preview(form.branding_style.data) }}
      {% call form_wrapper(action=action) %}
        <div class="form-group">
          {{ form.hidden_tag() }}
          <div class="page-footer">
            {{ govukButton({ "text": "Save" }) }}
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}
