{% extends "withnav_template.html" %}
{% from "components/submit-form.html" import submit_form %}
{% from "components/list.html" import list %}

{% block page_title %}
GOV.UK Notify | Service settings
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-xlarge">Make your service live</h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>
        Before you can send messages to anyone, you need to:
      </p>

      {{ list([
        "Have spoken to someone",
        "Have permission from someone else",
        "etc."
      ]) }}

      <form method="post">
        {{ submit_form("Request to go live") }}
      </form>

      <p><a href="{{ url_for('.service_settings') }}">Back to service settings</a></p>
    </div>
  </div>

{% endblock %}
