{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Letter branding
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Letter branding</h1>
  <div class="grid-row">
    <div class="column-three-quarters">
      <p>
        Your letters have the {{ current_service.letter_branding }} logo.
      </p>
      <p>
        <a href="{{ url_for('main.feedback', ticket_type='ask-question-give-feedback', body='letter-branding') }}">Contact support</a>
        if you want to use a different logo.
      </p>
      {{ page_footer(
        back_link=url_for('.service_settings', service_id=current_service.id),
        back_link_text='Back to settings'
      ) }}
    </div>
  </div>

{% endblock %}
