{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Letter branding
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    'Letter branding',
    back_link=url_for('.view_template', service_id=current_service.id, template_id=from_template) if from_template else url_for('.service_settings', service_id=current_service.id)
  ) }}

  <div class="grid-row">
    <div class="column-three-quarters">
      {% if current_service.letter_branding_id %}
        <p>
          Your letters have the {{ current_service.letter_branding.name }} logo.
        </p>
        <p>
          <a href="{{ url_for('main.feedback', ticket_type='ask-question-give-feedback', body='letter-branding') }}">Contact support</a>
          if you want to use a different logo.
        </p>
      {% else %}
        <p>
          Your letters do not have a logo.
        </p>
        <p>
          <a href="{{ url_for('main.feedback', ticket_type='ask-question-give-feedback', body='letter-branding') }}">Contact support</a>
          if you want to add your organisation’s logo.
        </p>
      {% endif %}
    </div>
  </div>

{% endblock %}
