{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radio %}
{% from "components/select-input.html" import select_wrapper %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  Send files by email
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {{ page_header('Send files by email') }}
      <p class="govuk-body">
        This is an API-only feature.
      </p>
      <p class="govuk-body">
        To send a file by email, follow the instructions in our <a class="govuk-link govuk-link--no-visited-state" href={{ url_for('main.documentation') }}>API documentation</a>.
      </p>
      <h2 class="heading-medium">{% if contact_details %}Change contact details for{% else %}Add contact details to{% endif %} the file download page</h2>
      <p class="govuk-body">
        You need to include contact details for your service so your users can get in touch if there’s a problem. For example, if the link to download the file you sent them has expired.
      </p>
      {% call form_wrapper() %}

        {% call select_wrapper(form.contact_details_type, hide_legend=true) %}
          {% for option in form.contact_details_type %}
            {% set data_target = option.data.replace('_', '-') ~ "-type" %}

            {{ radio(option, data_target=data_target) }}
            <div class="panel panel-border-narrow js-hidden" id={{data_target}}>
              {{ form|attr(option.data)(param_extensions={"classes": "govuk-!-width-full", "label": {"text": " "}}) }}
            </div>
          {% endfor %}
        {% endcall %}

        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>
{% endblock %}
