{% extends "withnav_template.html" %}
{% from "service_navigation.html" import broadcast_service_name_tag %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Confirm emergency alert settings
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {{ page_header(
        'Confirm emergency alert settings',
        back_link=url_for('.service_set_broadcast_channel', service_id=current_service.id)
      ) }}
      <p class="govuk-body">
        {{ broadcast_service_name_tag(
          form.account_type.service_mode == 'training',
          form.account_type.broadcast_channel,
          form.account_type.provider_restriction,
          left_margin=False,
        ) }}
      </p>
      {% if form.account_type.service_mode == 'training' %}
        <p class="govuk-body">
          No phones will receive alerts sent from this service.
        </p>
      {% else %}
        <p class="govuk-body">
          Members of the public
          {% if form.account_type.broadcast_channel in ['test', 'operator'] %}
            who have switched on the {{ form.account_type.broadcast_channel }} channel on their phones
          {% endif %}
          will receive alerts sent from this service
          {%- if form.account_type.broadcast_channel == 'government' -%}
            , even if they’ve opted out
          {%- endif %}.
        </p>
      {% endif %}

      <p class="govuk-body">
        All team member permissions will be removed.
      </p>

      {% call form_wrapper() %}
        {{ page_footer('Confirm') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
