{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}

{% set title = "This service does not belong to an organisation" %}

{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(title) }}

  <p class="govuk-body">
    You need to
    <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.link_service_to_organisation', service_id=current_service.id) }}">link this service to an organisation</a>
    before you can make it live.
  </p>

{% endblock %}
