{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  Send international text messages
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {{ page_header('Send international text messages') }}
      <p class="govuk-body">
        Messages to international mobile numbers are charged at 1, 2, or
        3 times the cost of messages to UK mobile numbers.</p>
      <p class="govuk-body">
        See <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for(".pricing") }}">pricing</a> for the list
        of rates.
      </p>
      {% call form_wrapper() %}
        {{ form.enabled }}
        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
