{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Email reply-to address
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    'Email reply-to address',
    back_link=url_for('.service_settings', service_id=current_service.id)
  ) }}

  <p>
    Your emails will be sent from
    {{ current_service.email_from }}@notifications.service.gov.uk.
    This is so they have the best chance of being delivered.
    This email address can’t receive replies.
  </p>
  <p>
    Set up a separate email address to receive replies from
    your users, then enter it here.
  </p>
  {% if current_service.trial_mode %}
    <p>
      Your service can’t go live until you’ve done this.
    </p>
  {% endif %}
  {% call form () %}
    {{ textbox(
      form.email_address,
      width='2-3',
      safe_error_message=True
    ) }}
    {{ page_footer('Save') }}
  {% endcall %}

{% endblock %}
