{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Basic view
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="column-five-sixths">
      <h1 class="heading-large">Basic view</h1>
      <p>
        Basic view lets you restrict a team member to only:
      </p>
      <ul class="list list-bullet">
        <li>send messages</li>
        <li>see sent messages</li>
      </ul>
      <p>
        You’ll get to choose which team members have basic view.
      </p>
      {{ page_footer(
        back_link=url_for('.service_settings', service_id=current_service.id),
        back_link_text='Back to settings'
      ) }}
    </div>
  </div>

{% endblock %}
