{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Send international text messages
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="column-five-sixths">
      {{ page_header(
        'Send international text messages',
        back_link=url_for('main.service_settings', service_id=current_service.id)
      ) }}
      <p>
        Messages to international mobile numbers are charged at 1, 2, or
        3 times the cost of messages to UK mobile numbers.</p>
      <p>
        See <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for(".pricing") }}">pricing</a> for the list
        of rates.
      </p>
      {% call form_wrapper() %}
        {{ radios(form.enabled) }}
        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
