{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Letter contact details
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    Letter contact details
  </h1>
  <div class="grid-row">
    <form method="post" class="column-half">
      {{ textbox(
        form.letter_contact_block,
        label='How should users contact your service?<br>This applies to all the letters you send.'|safe,
        hint='10 lines maximum',
        width='1-1',
        rows=10
      ) }}
      {{ page_footer(
        'Save',
        back_link=url_for('.service_settings', service_id=current_service.id),
        back_link_text='Back to settings'
      ) }}
    </form>
  </div>

{% endblock %}
