{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radios %}

{% block service_page_title %}
  Send text messages
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="column-five-sixths">
      {{ page_header(
        'Send text messages',
        back_link=url_for('main.service_settings', service_id=current_service.id)
      ) }}
      <p>
        You have a free allowance of
        {{ '{:,}'.format(current_service.free_sms_fragment_limit) }} text messages each
        financial year.
      </p>
      <p>
        It costs 1.58 pence (plus VAT) for each text message you send
        after your free allowance.
      </p>
      <p>
        See <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for(".pricing", _anchor="letters") }}">pricing</a> for more details.
      </p>
      {% call form_wrapper() %}
        {{ radios(form.enabled) }}
        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
