{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Text message sender
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Text message sender</h1>
  <p>
    This appears instead of a phone number when a user receives a
    text message from your service.
  <p>
    If you set this to ‘GOVUK’ each message will begin with
    ‘{{ current_service.name }}:’.
  </p>
  <form method="post">
    {{ textbox(
      form.sms_sender,
      width='1-4',
      hint='Up to 11 characters, letters, numbers and spaces only'
    ) }}
    {{ page_footer(
      'Save',
      back_link=url_for('.service_settings', service_id=current_service.id),
      back_link_text='Back to settings'
  ) }}
  </form>

{% endblock %}
