{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Emails
{% endblock %}

{% block maincolumn_content %}

  <form method="post">
    <h1 class="heading-large">Free text message allowance</h1>
    {{ textbox(form.free_sms_allowance) }}
    {{ page_footer(
      'Save',
      back_link=url_for('.service_settings', service_id=current_service.id),
      back_link_text='Back to settings'
    ) }}
  </form>

{% endblock %}
