{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Receive text messages
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="column-five-sixths">
      {{ page_header(
        'Receive text messages',
        back_link=url_for('main.service_settings', service_id=current_service.id)
      ) }}
      {% if 'inbound_sms' in current_service.permissions %}
        <p>
          Your service can receive text messages sent to {{ current_service.inbound_number }}.
        </p>
        <p>
          <a href="{{ url_for('.support') }}">Contact us</a> if you want to switch this feature off.
        </p>
        {% if current_user.has_permissions('manage_api_keys') %}
          <p>
            You can set up callbacks for received text messages on the
            <a href="{{ url_for('.api_callbacks', service_id=current_service.id) }}">API integration page</a>.
          </p>
        {% endif %}
      {% else %}
        <p>
          <a href="{{ url_for('.support') }}">Contact us</a> if you want to be able to receive text messages from your users.
        </p>
        <p>
          We’ll create a special phone number for your users to contact. You'll be able to see
          the messages on your dashboard, or get them using the API.
        </p>
          It doesn’t cost you anything to receive messages. Users will pay their normal rate for
          messaging a mobile number.
        </p>
      {% endif %}
    </div>
  </div>

{% endblock %}
