{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Letter contact details
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    'Letter contact details',
    back_link=None if request.args.get('from_template') else url_for('.service_settings', service_id=current_service.id)
  ) }}
  <div class="grid-row">
    {% call form_wrapper(class="column-half") %}
      {{ textbox(
        form.letter_contact_block,
        label='How should users contact your service?<br>This applies to all the letters you send.'|safe,
        hint='10 lines maximum',
        width='1-1',
        rows=10,
        highlight_tags=True
      ) }}
      {{ page_footer('Save') }}
    {% endcall %}
  </div>

{% endblock %}
