{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  Send text messages
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {{ page_header('Send text messages') }}
      <p class="govuk-body">
        You have a free allowance of
        {{ '{:,}'.format(current_service.free_sms_fragment_limit) }} text messages each
        financial year.
      </p>
      <p class="govuk-body">
        It costs 1.58 pence (plus VAT) for each text message you send
        after your free allowance.
      </p>
      <p class="govuk-body">
        See <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for(".pricing", _anchor="letters") }}">pricing</a> for more details.
      </p>
      {% call form_wrapper() %}
        {{ form.enabled }}
        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
