{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Postage
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="column-five-sixths">
      <h1 class="heading-large">Postage</h1>
      <p>You can send letters by first or second class post.</p>
      <p>
        See a list of <a href="{{ url_for('.pricing', _anchor='letters') }}">postage prices</a>.
      </p>
      <h2 class="heading-medium">Delivery times</h2>
      <p>
        Letters sent before 5:30pm are dispatched the next working day (Monday to Friday).
      </p>
      <p>
        First class letters are delivered one day after they’re dispatched. Second class letters are delivered 2 days after they’re dispatched.
      </p>
      <p>
        Royal Mail delivers from Monday to Saturday, excluding bank holidays.
      </p>
      <form method="post">
        {{ radios(form.postage) }}
        {{ page_footer(
          'Save',
          back_link=url_for('.service_settings', service_id=current_service.id),
          back_link_text='Back to settings'
        ) }}
      </form>
    </div>
  </div>

{% endblock %}
