{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Basic view
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <form method="post" class="column-five-sixths">
      <h1 class="heading-large">Basic view</h1>
      <p>
        Hide the dashboard and other options from team members who only need to send messages.
      </p>
      <p>
        Turn on basic view then edit team members’ permissions.
      </p>
      <p>
        Team members with basic view can only:
      </p>
      <ul class="list list-bullet">
        <li>send messages using existing templates</li>
        <li>see a list of sent messages</li>
      </ul>
      <p>
        <a href="{{ url_for('main.preview_basic_view', service_id=current_service.id) }}">See a preview of basic view</a>.
      </p>
      {{ radios(form.enabled, hide_legend=True) }}
      {{ page_footer(
        'Save',
        back_link=url_for('.service_settings', service_id=current_service.id),
        back_link_text='Back to settings'
      ) }}
    </form>
  </div>

{% endblock %}
