{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Callback URL
{% endblock %}

{% block maincolumn_content %}
  <div class="grid-row">
    <div class="column-five-sixths">
      <h1 class="heading-large">Callback URL for received text messages</h1>
      <p>
        Text messages you receive can be forwarded to your systems with our callback feature.
        See our <a href="{{ url_for('.callbacks') }}">documentation on the format of the callback</a>.
      </p>

      <form method="post">
        {{ textbox(
          form.url,
          width='2-3',
          hint='Valid https URL'
        ) }}
        {{ textbox(
          form.bearer_token,
          width='2-3',
          hint='At least 10 characters'
        ) }}
          {{ page_footer(
          'Save',
          back_link=url_for('.service_settings', service_id=current_service.id),
          back_link_text='Back to settings'
      ) }}
      </form>
    </div>
  </div>

{% endblock %}
