{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Set branding and organisation
{% endblock %}

{% block maincolumn_content %}

    {{ page_header(
      'Set organisation type',
      back_link=url_for('.service_settings', service_id=current_service.id)
    ) }}

    {% call form_wrapper() %}
      {{ radios(form.organisation_type) }}
      {{ page_footer('Save') }}
    {% endcall %}

{% endblock %}
