{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Inbound api
{% endblock %}

{% block maincolumn_content %}
  <div class="grid-row">
    <div class="column-five-sixths">
      <h1 class="heading-large">API endpoint for received text messages</h1>
      <p>
        This is the https url that the inbound SMS messages will be posted to
          and the bearer token used in the authorisation header of the request.
      </p>

      <form method="post">
        {{ textbox(
          form.url,
          width='2-3',
          hint='Valid https url'
        ) }}
        {{ textbox(
          form.bearer_token,
          width='1-4',
          hint='At least 10 characters'
        ) }}
          {{ page_footer(
          'Save',
          back_link=url_for('.service_settings', service_id=current_service.id),
          back_link_text='Back to settings'
      ) }}
      </form>
    </div>
  </div>

{% endblock %}