{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Data retention
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="column-five-sixths">
      <h1 class="heading-large">Emails</h1>
        <p>
          Add new data retention here
        </p>
         {% for item in data_retentions %}
            {{ item.notification_type }}
            {{ item.days_of_retention }}
        {% endfor %}
          {{ page_footer(
            back_link=url_for('.service_settings', service_id=current_service.id),
            back_link_text='Back to settings'
          ) }}
    </div>
  </div>

{% endblock %}