{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radios %}

{% block service_page_title %}
  Send emails
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row">
    <div class="column-five-sixths">
      <h1 class="heading-large">Send emails</h1>
      <p>
        It’s free to send emails through GOV.UK Notify.
      </p>
      {% call form_wrapper() %}
        {{ radios(form.enabled) }}
        {{ page_footer(
          'Save',
          back_link=url_for('.service_settings', service_id=current_service.id),
          back_link_text='Back to settings'
        ) }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
