{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/live-search.html" import live_search %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Set letter branding
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Set letter branding</h1>
  {% call form_wrapper() %}
    {{ live_search(target_selector='.multiple-choice', show=True, form=search_form, label='Search by name') }}
    {{ radios(form.dvla_org_id) }}
    {{ page_footer(
      'Save',
      back_link=url_for('.service_settings', service_id=current_service.id),
      back_link_text='Back to settings'
    ) }}
  {% endcall %}

{% endblock %}
