{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Sign-in method
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {{ page_header(
        'Sign-in method',
        back_link=url_for('main.service_settings', service_id=current_service.id)
      ) }}
      {% if current_service.has_permission('email_auth')%}
        <p>
          Your team members can sign in with an email link or text message code.
        </p>
        {% if users_without_mobiles %}
          <p>
            You cannot switch off the email link sign-in method for the whole team until
            these members add a mobile phone number:
          </p>

          <ul class="list list-bullet">
            {% for user in users_without_mobiles %}
              <li>
              {% if user.status == 'pending' %}
                {# won't have name if invited, so show email address instead #}
                {{ user.email_address }} (invited)
              {% else %}
                {{ user.name }}
              {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        <p>
          If you need to change an individual’s sign-in method, go to the
          <a href="{{ url_for('main.manage_users', service_id=current_service.id) }}"
            class="govuk-link govuk-link--no-visited-state">team members</a> page.
        </p>
      {% else %}
        <p>
          The most secure way to sign in to Notify is with a text message code.
        </p>
        <p>
          You can also sign in using a link that’s sent in an email. For security, you should only do this
          if your team access their email accounts using:
        </p>
        <ul class="list list-bullet">
          <li>a secured device</li>
          <li>a restricted network or VPN</li>
          <li>another type of two-factor authentication</li>
        </ul>

        {% call form_wrapper() %}
          {{ radios(form.enabled) }}
          {{ page_footer('Continue') }}
        {% endcall %}
      {% endif %}
    </div>
  </div>

{% endblock %}
