{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  Receive text messages
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.service_settings', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {{ page_header('Receive text messages') }}
      {% if 'inbound_sms' in current_service.permissions %}
        <p class="govuk-body">
          Your service can receive text messages sent to {{ current_service.inbound_number }}.
        </p>
        <p class="govuk-body">
          You can still send text messages from a sender name if you need to, but users will not be able to reply to those messages.
        </p>
        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.support') }}">Contact us</a> if you want to switch this feature off.
        </p>
        {% if current_user.has_permissions('manage_api_keys') %}
          <p class="govuk-body">
            You can set up callbacks for received text messages on the
            <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.api_callbacks', service_id=current_service.id) }}">API integration page</a>.
          </p>
        {% endif %}
      {% else %}
        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.support') }}">Contact us</a> if you want to be able to receive text messages from your users.
        </p>
        <p class="govuk-body">
          We’ll create a unique phone number for your service that they can reply to.
        </p>
        <p class="govuk-body">
          Text messages you send will come from this phone number instead of your sender name (currently {{ current_service.default_sms_sender }}).
        </p>
        <p class="govuk-body">
          You can still send text messages from a sender name if you need to, but users will not be able to reply to those messages.
        </p>
        <p class="govuk-body">
          You can see and reply to the messages you receive when you sign in to Notify, or get them using the API.
        </p>
        <p class="govuk-body">
          It does not cost you anything to receive text messages. Users will pay their standard text message rate.
        </p>
      {% endif %}
    </div>
  </div>

{% endblock %}
