{% extends "withnav_template.html" %}
{% from "components/checkbox.html" import checkbox_group %}
{% from "components/textbox.html" import textbox %}
{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/banner.html" import banner_wrapper %}

{% block service_page_title %}
  Request to go live
{% endblock %}

{% block maincolumn_content %}

      <h1 class="heading-large">Request to go live</h1>

      <p class="bottom-gutter">
        Tell us how you plan to use Notify. When we receive your request we’ll make your service live within one working day.
      </p>

      <form method="post" class="top-gutter">
        {{ checkbox_group('What kind of messages will you be sending?', [
          form.channel_email,
          form.channel_sms,
          form.channel_letter
        ]) }}
        <div class="form-group">
          {{ textbox(form.start_date, width='1-1') }}
          {{ textbox(form.start_volume, width='1-1', hint='For example, ‘1,000 per month’.') }}
          {{ textbox(form.peak_volume, width='1-1', hint='For example, ‘Messages will increase to 20,000 per month in January’.') }}
        </div>
        <p class="bottom-gutter">
          By requesting to go live you’re agreeing to our <a href="{{ url_for('.terms') }}">terms of use</a>.
        </p>

        {{ page_footer('Request to go live') }}
      </form>


{% endblock %}
