{% extends "withnav_template.html" %}
{% from "components/checkbox.html" import checkbox_group %}
{% from "components/textbox.html" import textbox %}
{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/banner.html" import banner_wrapper %}

{% block service_page_title %}
  Request to go live
{% endblock %}

{% block maincolumn_content %}

      <h1 class="heading-large">Request to go live</h1>

      <form method="post">
        <div class="form-group">
          {{ textbox(form.volume_email, width='1-2', hint='For example, 1,000,000') }}
          {{ textbox(form.volume_sms, width='1-2', hint='For example, 500,000') }}
          {{ textbox(form.volume_letter, width='1-2', hint='For example, 5,000') }}
        </div>
        {{ radios(form.research_consent, hint='You don’t have to take part and you can unsubscribe at any time') }}
        <p>
          When we receive your request we’ll get back to you within one working day.
        </p>


        <p class="bottom-gutter">
          By requesting to go live you’re agreeing to our <a href="{{ url_for('.terms') }}">terms of use</a>.
        </p>
        {{ page_footer('Request to go live') }}
      </form>

{% endblock %}
