{% from 'components/big-number.html' import big_number %}

<div class="govuk-grid-row bottom-gutter-2-3">
  <div class="govuk-grid-column-one-half">
    <div class="keyline-block">
      {{ big_number(
        job.notification_count,
        job.notification_count|message_count_label('letter', suffix='')|capitalize,
        smaller=True
      )}}
    </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <div class="keyline-block">
      {{ big_number(
        job.letter_timings.latest_delivery|string|format_date_short,
        'Estimated delivery date',
        smaller=True
      )}}
    </div>
  </div>
</div>
