{% from "components/table.html" import list_table, field, right_aligned_field_heading, date_field, row_heading %}

{% if notifications %}
  <div class="dashboard-table">
{% endif %}

  {% if notifications and not help %}
    <p class="bottom-gutter">
      <a href="{{ url_for('.view_job_csv', service_id=current_service.id, job_id=job.id, status=status) }}" download="download" class="heading-small">Download as a CSV file</a>
      &emsp;
      Delivery information is available for 7 days
    </p>
  {% endif %}

  {% call(item, row_number) list_table(
    notifications,
    caption=uploaded_file_name,
    caption_visible=False,
    empty_message="No messages to show",
    field_headings=[
      'Recipient',
      'Time',
      'Status'
    ],
    field_headings_visible=False
  ) %}
    {% call row_heading() %}
      {{ item.to }}
    {% endcall %}
    {{ date_field(
      (item.updated_at or item.created_at)|format_datetime_short
    ) }}
    {% call field(
      align='right',
      status=item.status|format_notification_status_as_field_status
    ) %}
      {% if item.status|format_notification_status_as_url %}
        <a href="{{ item.status|format_notification_status_as_url }}">
      {% endif %}
      {{ item.status|format_notification_status(item.template.template_type) }}
      {% if item.status|format_notification_status_as_url %}
        </a>
      {% endif %}
    {% endcall %}
  {% endcall %}

{% if notifications %}
  </div>
{% endif %}
