{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% macro file_upload(
  field,
  allowed_file_extensions,
  action=None,
  button_text="Bestand kiezen",
  alternate_link=None,
  alternate_link_text=None,
  hint=None,
  show_errors=True
) %}
  <form method="post" enctype="multipart/form-data"
    {% if action %}
      action="{{ action }}"
    {% else %}
      action="{{ request.url | extract_path_from_url }}"
    {% endif %}
    class="{% if field.errors and show_errors %}form-group-error{% endif %}"
    data-notify-module="file-upload"
  >
    <label class="file-upload-label" for="{{ field.name }}">
      {{ field.label.text }}
      {% if hint %}
        <span class="form-hint">{{ hint }}</span>
      {% endif %}
      {% if field.errors and show_errors %}
        <span class="error-message">{{ field.errors[0] }}</span>
      {% endif %}
    </label>
    {{ field(**{
      'class': 'file-upload-field',
      'accept': allowed_file_extensions|format_list_items('.{item}')|join(',')|e,
      'data-button-text': button_text
    }) }}
    {% if alternate_link and alternate_link_text %}
      <span class="file-upload-alternate-link">
        of <a class="govuk-link govuk-link--no-visited-state" href="{{ alternate_link }}">{{ alternate_link_text }}</a>
      </span>
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{ govukButton({ "text": "Verzenden", "classes": "file-upload-submit" }) }}
  </form>
{% endmacro %}
