{% extends "withoutnav_template.html" %}
{% block per_page_title %}U bent niet gemachtigd om deze pagina te bekijken{% endblock %}
{% block maincolumn_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1>U bent niet gemachtigd om deze pagina te bekijken</h1>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.sign_in' )}}">Meld u aan</a> bij NotifyNL en probeer het opnieuw.</p>
    </div>
  </div>
{% endblock %}
