{% extends "org_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/textbox.html" import textbox %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block org_page_title %}
  Edit request to go live notes
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('.organisation_settings', org_id=current_org.id) }) }}
{% endblock %}

{% block maincolumn_content %}
  {{ page_header("Edit request to go live notes") }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      <p class="govuk-body">
        Text entered here will be displayed in the Zendesk ticket when a service
        belonging to this organisation requests to go live.
      </p>
      {% call form_wrapper() %}
        {{ textbox(form.request_to_go_live_notes, width='1-1', rows=3, autosize=True) }}
        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>
{% endblock %}
