{% extends "org_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/back-link/macro.njk" import govukBackLink %}
{%  from "components/branding-preview.html" import letter_branding_preview %}

{% block org_page_title %}
  Letter branding
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('.organisation_settings', org_id=current_org.id) }) }}
{%  endblock %}

{% block maincolumn_content %}
  {{ page_header("Letter branding") }}

  {% for option in current_org.letter_branding_pool %}
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
        {{ option.name }}
    </h2>
    {{ letter_branding_preview(option.id) }}
  {% endfor %}

{% endblock %}
