{% extends "org_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% block org_page_title %}
  Preview email branding
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Preview email branding</h1>
  <div class="grid-row">
    <div class="column-full">
      <iframe src="{{ url_for('main.email_template', branding_style=form.branding_style.data) }}" class="branding-preview"></iframe>
      {% call form_wrapper(action=action) %}
        <div class="form-group">
          {{ form.hidden_tag() }}
          <div class="page-footer">
            <button type="submit" class="button">Save</button>
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}
