{% extends "withoutnav_template.html" %}
{% from "components/govuk-page-header.html" import govuk_page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% set defaultMainTopMarginClass = True %}

{% set heading = 'Your service will start in trial mode' %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.your_services') }) }}
{% endblock %}

{% block per_page_title %}
  {{ heading }}
{% endblock %}

{% block maincolumn_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govuk_page_header(heading) }}
    <p class="govuk-body">In trial mode there are limits on:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>who you can send messages to</li>
        <li>how many messages you can send each day</li>
    </ul>
    <p class="govuk-body">To remove these restrictions, you’ll need to make your service live.</p>

    {% set how_to_make_service_live_html %}  
      <p class="govuk-body">When you have finished testing your service:</p>
      <ol class="govuk-list govuk-list--number">
        <li>Go to the <b class="govuk-!-font-weight-bold">Make your service live</b> page.</li>
        <li>Complete the tasks.</li>
        <li>Select <b class="govuk-!-font-weight-bold">Send a request to go live</b>.</li>
      </ol>
      <p class="govuk-body">It can take up to one working day to make your service live.</p>
      <p class="govuk-body">This is so we can check that you’ve met our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.terms_of_use') }}" target="_blank">terms of use (opens in new tab)</a>.</p>
    {% endset %}

    {{ govukDetails({
      "summaryText": "How do I make my service live?",
      "html": how_to_make_service_live_html
    }) }}

    {{ govukButton({
      "text": "Continue",
      "href": url_for('main.name_service')
    }) }}

    </div>
  </div>

{% endblock %}