{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/live-search.html" import live_search %}

{% extends "withnav_template.html" %}

{% block service_page_title %}
  {{ page_title }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    page_title,
    back_link=url_for('.choose_broadcast_library', service_id=current_service.id, broadcast_message_id=broadcast_message.id),
  )}}

  {{ live_search(
      target_selector='.govuk-checkboxes__item',
      show=show_search_form,
      form=search_form,
      label='Search by name',
      autofocus=True)
  }}

  {% call form_wrapper() %}
    {{ form.areas }}
    {{ sticky_page_footer('Continue') }}
  {% endcall %}

{% endblock %}
