{% from 'components/ajax-block.html' import ajax_block %}

{% extends "withnav_template.html" %}

{% block service_page_title %}
  Dashboard
{% endblock %}

{% block maincolumn_content %}

  <h1 class="govuk-visually-hidden">Dashboard</h1>

  <h2 class="heading-medium govuk-!-margin-bottom-2">Live broadcasts</h2>

  {{ ajax_block(
    partials,
    url_for('.broadcast_dashboard_updates', service_id=current_service.id),
    'live_broadcasts'
  ) }}

  <h2 class="heading-medium govuk-!-margin-bottom-2">Previous broadcasts</h2>

  {{ ajax_block(
    partials,
    url_for('.broadcast_dashboard_updates', service_id=current_service.id),
    'previous_broadcasts'
  ) }}

{% endblock %}
