{% from "components/page-header.html" import page_header %}

{% extends "withnav_template.html" %}

{% block service_page_title %}
  Choose where to send this alert
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    "Choose where to send this alert",
    back_link=url_for(".preview_broadcast_areas", service_id=current_service.id, broadcast_message_id=broadcast_message.id)
  ) }}

  {% for area in broadcast_message.parent_areas %}
    <a class="govuk-heading-m govuk-link govuk-link--no-visited-state" href="{{ url_for('.choose_broadcast_sub_area', service_id=current_service.id, broadcast_message_id=broadcast_message.id, library_slug=area.library_id, area_slug=area.id) }}">{{ area.name }}</a>
    {% if loop.last %}
      <div class="keyline-block"></div>
    {% endif %}
  {% endfor %}

  {% for library in libraries|sort %}
    <a class="file-list-filename-large govuk-link govuk-link--no-visited-state" href="{{ url_for('.choose_broadcast_area', service_id=current_service.id, broadcast_message_id=broadcast_message.id, library_slug=library.id) }}">{{ library.name }}</a>
    <p class="file-list-hint-large">{{ library.get_examples() }}</p>
  {% endfor %}

{% endblock %}
