{% from "components/button/macro.njk" import govukButton %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}

{% extends "withnav_template.html" %}

{% block maincolumn_content %}

  {{ page_header("Preview message", back_link=url_for('.preview_broadcast_regions', service_id=current_service.id)) }}

  {% for region in selected %}
    {% if loop.first %}
      <ul class="region-list">
    {% endif %}
        <li class="region-list-item">
          {{ region.name }}
        </li>
    {% if loop.last %}
      </ul>
    {% endif %}
  {% endfor %}

  {% if selected %}

    <p class="govuk-body">
      {{ "<message here>" }}
    </p>

    <form action="{{ url_for('.send_to_broadcast_region', service_id=current_service.id) }}" method="get">
      {{ sticky_page_footer('Start broadcast') }}
    </form>

  {% endif %}


{% endblock %}
