{% from "components/button/macro.njk" import govukButton %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}

{% extends "withnav_template.html" %}

{% block service_page_title %}
  Preview message
{% endblock %}

{% block maincolumn_content %}

  {{ page_header("Preview", back_link=url_for('.preview_broadcast_areas', service_id=current_service.id, broadcast_message_id=broadcast_message.id)) }}

  {% for area in broadcast_message.areas %}
    {% if loop.first %}
      <ul class="area-list">
    {% endif %}
        <li class="area-list-item area-list-item--unremoveable">
          {{ area.name }}
        </li>
    {% if loop.last %}
      </ul>
    {% endif %}
  {% endfor %}

  {{ broadcast_message.template|string }}

  {% call form_wrapper() %}
    {{ sticky_page_footer('Submit for approval') }}
  {% endcall %}

{% endblock %}
