{% from 'components/ajax-block.html' import ajax_block %}
{% from "components/button/macro.njk" import govukButton %}

{% extends "withnav_template.html" %}

{% block service_page_title %}
  {{ page_title }}
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-medium">{{ page_title }}</h1>

  {% include('views/broadcast/partials/dashboard-table.html') %}

  {% if current_user.has_permissions('send_messages') %}
    <div class="js-stick-at-bottom-when-scrolling">
      {{ govukButton({
        "element": "a",
        "text": "New alert",
        "href": url_for('.new_broadcast', service_id=current_service.id),
        "classes": "govuk-button--secondary"
      }) }}
    </div>
  {% endif %}

{% endblock %}
