{% from "components/button/macro.njk" import govukButton %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}

{% extends "withnav_template.html" %}

{% block service_page_title %}
  Preview message
{% endblock %}

{% block maincolumn_content %}

  {{ page_header("Preview message", back_link=url_for('.preview_broadcast_areas', service_id=current_service.id)) }}

  {% for area in selected %}
    {% if loop.first %}
      <ul class="area-list">
    {% endif %}
        <li class="area-list-item">
          {{ area.name }}
        </li>
    {% if loop.last %}
      </ul>
    {% endif %}
  {% endfor %}

  {% if selected %}

    <p class="govuk-body">
      {{ "<message here>" }}
    </p>

    {% call form_wrapper() %}
      {{ sticky_page_footer('Start broadcast') }}
    {% endcall %}

  {% endif %}


{% endblock %}
