{% from "components/button/macro.njk" import govukButton %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}

{% extends "withnav_template.html" %}

{% block extra_stylesheets %}
  <link rel="stylesheet" href="{{ asset_url('stylesheets/leaflet.css') }}" />
  <style>
    #map {
      z-index: 50;
      margin-bottom: 30px;
      border: 1px solid #b1b4b6;
    }
  </style>
{% endblock %}

{% block extra_javascripts %}
  <script src="{{ asset_url('javascripts/leaflet.js') }}"></script>
  <script>
    var mapElement = document.getElementById('map');
    mapElement.style.height = Math.max(320, window.innerHeight - mapElement.offsetTop - 100) + 'px';
    var mymap = L.map(
      'map',
      {
        scrollWheelZoom: false
      }
    )
    var polygons = []

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    {% for area in area_polygons %}
      polygons.push(
        L.polygon({{area}}, {
          color: '#0b0b0c',
          fillColor: '#ffffff',
          fillOpacity: 0.3,
          weight: 2
        })
      );
    {% endfor %}

    var polygonGroup = L.featureGroup(polygons).addTo(mymap);
    mymap.fitBounds(
      polygonGroup.getBounds(),
      {padding: [5, 5]}
    );

  </script>
{% endblock %}

{% block maincolumn_content %}

  {{ page_header("Choose where to broadcast to", back_link="#") }}

  {% for region in selected %}
    {{ region.parent.name }} > {{ region.name }} (<a href="{{ url_for('.remove_broadcast_region', service_id=current_service.id, region_id=region.id) }}">remove</a>)&ensp;
    {% if loop.last %}
      <p class="govuk-body">
        {{ govukButton({
          "element": "a",
          "text": "Add another area",
          "href": url_for('.choose_broadcast_library', service_id=current_service.id),
          "classes": "govuk-button--secondary govuk-!-margin-top-2"
        }) }}
      </p>
    {% endif %}
  {% else %}
  <p class="govuk-body">
    {{ govukButton({
      "element": "a",
      "text": "Add broadcast areas",
      "href": url_for('.choose_broadcast_library', service_id=current_service.id),
      "classes": "govuk-button--secondary"
    }) }}
  </p>
  {% endfor %}

  {% if selected %}
    <div id="map"></div>

    <form action="{{ url_for('.send_to_broadcast_region', service_id=current_service.id) }}" method="get">
      {{ sticky_page_footer('Continue to preview') }}
    </form>

  {% endif %}


{% endblock %}
