{% from "components/button/macro.njk" import govukButton %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}

{% extends "withoutnav_template.html" %}

{% block maincolumn_content %}


  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
     integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
     crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>
  <style>
    #map {
      z-index: 50;
      margin-bottom: 30px;
    }
  </style>

  {{ page_header("Choose where to broadcast to", back_link="#") }}

  {% for region in selected %}
    {{ region.parent.name }} > {{ region.name }} (<a href="{{ url_for('.remove_broadcast_region', region_id=region.id) }}">remove</a>)&ensp;
    {% if loop.last %}
      <p class="govuk-body">
        {{ govukButton({
          "element": "a",
          "text": "Add another area",
          "href": url_for('.choose_broadcast_library'),
          "classes": "govuk-button--secondary govuk-!-margin-top-2"
        }) }}
      </p>
    {% endif %}
  {% else %}
  <p class="govuk-body">
    {{ govukButton({
      "element": "a",
      "text": "Add broadcast areas",
      "href": url_for('.choose_broadcast_library'),
      "classes": "govuk-button--secondary"
    }) }}
  </p>
  {% endfor %}

  {% if selected %}
    <div id="map"></div>

    <script>
      var mapElement = document.getElementById('map');
      mapElement.style.height = Math.max(320, window.innerHeight - mapElement.offsetTop - 100) + 'px';
      var mymap = L.map(
        'map',
        {
          scrollWheelZoom: false
        }
      )
      var polygons = []

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(mymap);

      {% for area in area_polygons %}
        polygons.push(
          L.polygon({{area}})
        );
      {% endfor %}

      var polygonGroup = L.featureGroup(polygons).addTo(mymap);
      mymap.fitBounds(polygonGroup.getBounds());

    </script>

    <form action="{{ url_for('.send_to_broadcast_region') }}" method="get">
      {{ sticky_page_footer('Continue to preview') }}
    </form>

  {% endif %}


{% endblock %}
