{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% set title = 'How long should the file be available for' %}
{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href":url_for("main.manage_a_template_email_file", service_id=current_service.id,
                template_id=template.id,
                template_email_file_id=template_email_file_id)})
          }}
{% endblock %}

{% block maincolumn_content %}
  {{ page_header(title) }}
  {% call form_wrapper(class='top-gutter') %}
    {{ form.retention_period(param_extensions={
      "classes": "govuk-input--width-2"
    }) }}
    {{ page_footer('Continue') }}
    <p class="govuk-body">
      When choosing the length of time the file is available, you should think about:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the need to protect the recipient’s personal information</li>
      <li>whether the recipient will need to download the file again later</li>
    </ul>
  {% endcall %}
{% endblock %}