{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/banner.html" import banner %}

{%  set title = template_email_file.filename %}
{% block service_page_title %}
   {{ title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.template_email_files', service_id=current_service.id, template_id=template_id) }) }}
{% endblock %}

{% block maincolumn_content %}
    {{ page_header(title) }}

    {% if delete %}
    <div class="govuk-!-margin-bottom-6">
      {{ banner(
        'Are you sure you want to remove this file?',
        type='dangerous',
        delete_button='Yes, remove',
        action=url_for('main.manage_a_template_email_file', service_id = service_id, template_id = template_id, template_email_file_id=template_email_file.id, delete = "true")
      ) }}
    </div>
    {% endif %}

    {%  set file_data = [
            {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Link text"
          },
          "value": {
            "text": template_email_file.link_text or "Not set",
            "classes": "govuk-summary-list__value--default" if not template_email_file.link_text else "govuk-summary-list__value--truncate",
          },
          "actions": {
            "items": [
              {
                "href": url_for("main.change_link_text", service_id=current_service.id,
                template_id=template_id,
                template_email_file_id=template_email_file.id),
                "text": "Change",
                "visuallyHiddenText": "link text for the file",
                "classes": "govuk-link--no-visited-state",
              }
            ]
          }
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Available for"
          },
          "value": {
            "text": template_email_file.retention_period | string + " weeks after sending"
          },
          "actions": {
            "items": [
              {
                "href": url_for("main.change_data_retention_period", service_id=current_service.id,
                template_id=template_id,template_email_file_id=template_email_file.id),
                "text": "Change",
                "visuallyHiddenText": "how long the file should be available once it's sent",
                "classes": "govuk-link--no-visited-state",
              }
            ]
          }
        },
        {
          "key": {
            "classes": "notify-summary-list__key notify-summary-list__key--35-100",
            "text": "Ask recipient for email address"
          },
          "value": {
            "text": template_email_file.validate_users_email | format_yes_no,
          },
          "actions": {
            "items": [
              {
                "href": url_for("main.change_email_validation", service_id=current_service.id,
                template_id=template_id,template_email_file_id=template_email_file.id),
                "text": "Change",
              "visuallyHiddenText": "if recipient should be asked for email address",
                "classes": "govuk-link--no-visited-state",
              }
            ]
          },
        }
         ]%}

    {{ govukSummaryList({
      "classes": "notify-summary-list",
      "rows": file_data
         })
    }}
  {{ page_footer(
      delete_link_text="Remove this file",
      delete_link=url_for('main.manage_a_template_email_file', service_id = service_id, template_id = template_id, template_email_file_id=template_email_file.id, delete = "true"),
    )}}
{% endblock %}
