{% extends "withnav_template.html" %}
{% from "components/table.html" import field, list_table, row_heading%}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% set title = "Manage files" %}
{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.view_template', service_id=current_service.id, template_id=template.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(title) }}
<div class="dashboard-table">
    {% call(item, row_number) list_table(
        data,
        caption="Manage files",
        caption_visible=False,
        empty_message='Attached files will show here',
        field_headings=['file_name', 'manage_file_link'],
        field_headings_visible=False
    ) %}
    {% call row_heading() %}
       <p class="govuk-body">
         {{ item.filename }}
       </p>
    {% endcall %}
        {% call field(align='right') %}
      <span class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Manage</a>
      </span>
    {% endcall %}
    {% endcall %}

</div>
    {{ govukButton({
          "text": "Attach files",
          "href": url_for(
            '.upload_template_email_files',
            service_id=current_service.id,
            template_id=template.id
          ),
          "classes": "govuk-button--secondary",
        }) }}

{% endblock %}
