{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/page-header.html" import page_header %}

{% block service_page_title %}
  Upload a letter
{% endblock %}

{% block maincolumn_content %}
<div class="govuk-grid-row">
  <div class="column-five-sixths">
    {% if error %}
      {% call banner_wrapper(type='dangerous') %}
        <h1 class="banner-title">{{ error.title }}</h1>
        {% if error.detail %}
          <p>{{ error.detail | safe }}</p>
        {% endif %}
      {% endcall %}
    {% else %}
      {{ page_header(
        'Upload a letter',
        back_link=url_for('main.uploads', service_id=current_service.id)
    ) }}
    <p>Upload a single letter as a PDF and we’ll print, pack and post it for you.</p>
    <p>You can use this feature if you send a lot of one-off letters or if our reusable letter templates do not meet your needs.</p>
    {% endif %}

  <p>
    {{ file_upload(
      form.file,
      action=url_for('main.upload_letter', service_id=current_service.id),
      button_text='Upload your file again' if error else 'Choose file',
      show_errors=False
    )}}
  </p>

  <h2 class="heading-medium">Your file must meet our letter specification</h2>

  <p>The content of your letter must appear inside the printable area.</p>

  <p>Your file must be:</p>

    <ul class="list list-bullet">
      <li>a PDF</li>
      <li>A4 portrait size (210 × 297 mm)</li>
      <li>10 pages or less</li>
      <li>smaller than 2MB</li>
    </ul>

  <p>To help you set up your letter, you can download our <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.letter_spec') }}">letter specification document (PDF)</a>.</p>
  </div>
</div>
{% endblock %}
