{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/file-upload.html" import file_upload %}

{% block errorPrefix %}
  {% if form.errors or re_upload_form.errors or error_code %}Error: {% endif %}
{% endblock %}

{% block service_page_title %}
  {{ original_filename }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.upload_letter', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}
  {% if status == 'invalid' and message %}
    {% include "partials/check/letter-validation-failed-banner.html" %}
    <div class="bottom-gutter-1-2">
      <div class="js-stick-at-top-when-scrolling">
        <div class="form-group">
          {{ file_upload(
            re_upload_form.file,
            allowed_file_extensions=['pdf'],
            action=url_for('main.upload_letter', service_id=current_service.id),
            button_text='Upload your file again'
          ) }}
        </div>
        <a href="#main-content" class="govuk-link govuk-link--no-visited-state back-to-top-link">Back to top</a>
      </div>
    </div>
  {% elif current_service.trial_mode %}
    {% call banner_wrapper(type='dangerous') %}
      {% with
        count_of_recipients=1
      %}
        {% include "partials/check/trying-to-send-letters-in-trial-mode.html" %}
      {% endwith %}
    {% endcall %}
  {% else %}
      {{ page_header(
        original_filename
      ) }}
  {% endif %}

    <div class="letter-sent">
      {{ template|string }}
    </div>

    {% if status == 'valid' %}
    <div class="js-stick-at-bottom-when-scrolling">
      <p class="top-gutter-0 bottom-gutter-1-2 send-recipient" title="{{ postal_address.as_single_line }}">
        Recipient: {{ postal_address.as_single_line }}
      </p>

      {% if current_service.live %}
        {% if postal_address.international %}
          <p class="govuk-body">
            Postage: international
          </p>
        {% endif %}
        <form method="post" enctype="multipart/form-data" action="{{url_for(
            'main.send_uploaded_letter',
            service_id=current_service.id,
            file_id=file_id,
          )}}" class='page-footer'>
            {% if form.show_postage %}
              {{ form.postage(param_extensions={
                "classes": "govuk-radios--inline",
                "formGroup": {
                  "classes": "govuk-!-margin-bottom-2"
                },
                "fieldset": {
                  "legend": {
                    "classes": "govuk-visually-hidden"
                  }
                }
              }) }}
            {% endif %}
            {{ page_footer("Send 1 letter") }}
        </form>
      {% endif %}

    </div>
  {% endif %}
{% endblock %}
