{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  Uploaded letters
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.uploads', service_id=current_service.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Uploaded letters') }}

  {% if notifications %}

    <p class='govuk-body'>
      {{ total|message_count('letter') }}
    </p>

    <p class='govuk-body'>
      {{ letter_printing_statement }}
    </p>

  {% else %}

    <p class='table-empty-message'>
      No letters printing {{ letter_print_day }}
    </p>

  {% endif %}

  {% include 'views/activity/notifications.html' %}

{% endblock %}
