// Typography
// ==========================================================================

// Increase the base font size to 19px for the main content area
// Using the govuk-font(19) mixin from the design system

main {
    @include govuk-font(19);
    -webkit-font-smoothing: antialiased;
}

// Common heading sizes
// Using the bold-xx mixins from the govuk_toolkit _typography.scss file
// Spacing is set in em, using the px to em function in the elements _helpers.scss file

// Headings
.heading-large {
  @include govuk-font(36, $weight: bold);

  margin-top: em(25, 24);
  margin-bottom: em(10, 24);

  @include govuk-media-query($from: tablet) {
    margin-top: em(45, 36);
    margin-bottom: em(20, 36);
  }

}

.heading-medium {
  @include govuk-font(24, $weight: bold);

  margin-top: em(25, 20);
  margin-bottom: em(10, 20);

  @include govuk-media-query($from: tablet) {
    margin-top: em(45, 24);
    margin-bottom: em(20, 24);
  }

}

.heading-small {
  @include govuk-font(19, $weight: bold);

  margin-top: em(10, 16);
  margin-bottom: em(5, 16);

  @include govuk-media-query($from: tablet) {
    margin-top: em(20, 19);
  }

}

// Text
p {
  margin-top: em(5, 16);
  margin-bottom: em(20, 16);

  @include govuk-media-query($from: tablet) {
    margin-top: em(5);
    margin-bottom: em(20);
  }

}
