{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify | Set up service
{% endblock %}

{% block content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Set up notifications for your service</h1>
		
		<p>Users will see your service name:</p>
			<ul class="list-bullet">
				<li>at the start of every text message, eg 'Vehicle tax: we received your payment, thank you'</li>
				<li>as your email sender name</li>
			</ul>

		<p>
		<label class="form-label" for="emailverify">Service name</label>
  		<input class="form-control" id="emailverify" type="text"><br>
  		<span class="font-xsmall">For example, 'Vehicle tax' or 'Carer's allowance'</span>
  		</p>

  		<p>
  		<a class="button" href="dashboard" role="button">Continue</a>
  		</p>
	</div>
</div>

{% endblock %}
