{% extends "govuk_template.html" %}

{% block head %}
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" media="screen" href="{{ asset_path }}stylesheets/main.css" />
  <!--<![endif]-->
  <!--[if IE 6]>
  <link rel="stylesheet" media="screen" href="{{ asset_path }}/stylesheets/main-ie6.css" />
  <![endif]-->
  <!--[if IE 7]>
  <link rel="stylesheet" media="screen" href="{{ asset_path }}/stylesheets/main-ie7.css" />
  <![endif]-->
  <!--[if IE 8]>
  <link rel="stylesheet" media="screen" href="{{ asset_path }}/stylesheets/main-ie8.css" />
  <![endif]-->
{% endblock %}

{% block page_title %}
  GOV.UK Notify admin
{% endblock %}

{% block cookie_message %}
{% endblock %}

{% block inside_header %}
{% endblock %}
{% block header_class %}with-proposition{% endblock %}
{% block proposition_header %}
  <div class="header-proposition">
    <div class='content'>
      <div class="phase-banner-beta">
        <strong class="phase-tag">BETA</strong>
      </div>
    </div>
  </div>
{% endblock %}


{% set global_header_text = "GOV.UK Notify" %}


{% if not current_user.is_authenticated() %}
    {% set homepage_url = url_for('main.index') %}
{% else %}
    {% set homepage_url = url_for('main.dashboard') %}
{% endif %}

{% block content %}
{% if current_user.is_authenticated() %}
    <nav id="user-bar"><span id="service-switcher">Service name</span> <div id="user-admin"><span id="user-name"><a href="{{ url_for('.userprofile') }}">User name</a></span> <span id="sign-out"><a href="{{ url_for('main.sign_out')}}">Sign out</a></span></div></nav>    
{% endif %}
<main id="content" role="main" class="page-container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="error-summary">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    {% block fullwidth_content %}{% endblock %}
</main>
{% endblock %}

{% block body_end %}
  <script type="text/javascript" src="{{ asset_path }}javascripts/all.js" /></script>
{% endblock %}
