{% extends "withoutnav_template.html" %}
{% from "components/sub-navigation.html" import sub_navigation %}
{% from "components/page-header.html" import page_header %}

{% block per_page_title %}
  {{ content_page_title }}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row">

    {% if navigation_links %}
      <div class="govuk-grid-column-one-quarter">
        {{ sub_navigation(navigation_links) }}
      </div>
      <div class="govuk-grid-column-five-eighths">
    {% else %}
      <div class="govuk-grid-column-two-thirds">
    {% endif %}

    {% block content_column_content %}
    {% endblock %}

    </div>
  </div>

{% endblock %}
