{% extends "withoutnav_template.html" %}

{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  {{ content_page_title }}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row">

    {% if navigation_links and navigation_label_prefix %}
      <div class="govuk-grid-column-one-quarter">
        {{ sub_navigation(navigation_links, navigation_label_prefix) }}
      </div>
      <div class="govuk-grid-column-{% if content_column_width %}{{ content_column_width }}{% else %}five-eighths{% endif %}">
    {% else %}
      <div class="govuk-grid-column-two-thirds">
    {% endif %}

    {% block content_column_content %}
    {% endblock %}

    </div>
  </div>

{% endblock %}
