<div class="email-message">
  <table class="email-message-meta">
    <tbody>
      {% if show_recipient %}
        {% if from_name %}
          <tr>
            <th scope="row">From</th>
            <td>
              {{ from_name }}
            </td>
          </tr>
        {% endif %}
        {% if reply_to %}
          <tr>
            <th scope="row">Reply&nbsp;to</th>
            <td>
              {{ reply_to }}
            </td>
          </tr>
        {% endif %}
        <tr>
          {% if '@' in recipient|string %}
            <th scope="row">To</th>
            <td>
              {{ recipient }}
            </td>
          {% else %}
            <th scope="row">To</th>
            <td>
              <span style="margin-right: 220px;">
              {{ recipient }}
              </span>
              <a href="{{ send_link }}" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-button">
                Get ready to send
              </a>
            </td>
          {% endif %}
        </tr>
      {% endif %}
      <tr class="email-message-meta">
        <th scope="row">Subject</th>
        <td>
          {{ subject }}
          <a class="govuk-link govuk-link--no-visited-state" style="position:absolute;right:25px;" href="{{ edit_subject_link }}">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="email-message-body">
    <a class="govuk-link govuk-link--no-visited-state" style="position:absolute;right:10px;" href="{{ edit_link }}">Edit</a>
    {{ body }}

    {% for choice in choices %}
      {% if choice == "Body text" %}
        <div style="postion: relative" class="govuk-!-margin-bottom-5">
          <a class="govuk-link govuk-link--no-visited-state" style="position:absolute;right:10px;" href="{{ edit_block_link }}&choice={{ choice }}">Edit</a>
          <p class="govuk-body">Body text</p>
        </div>
      {% elif choice == "Image" %}
        <div style="postion: relative" class="govuk-!-margin-bottom-5">
          <a class="govuk-link govuk-link--no-visited-state" style="position:absolute;right:10px;" href="{{ edit_block_link }}&choice={{ choice }}">Edit</a>
          <div style="width: 100%; padding: 160px 0 0 0; text-align: center; background: #2091b9; color: #fff; overflow:hidden;letter-spacing:1em;"><span style="position: relative; top: -10px; display: block;transform: rotate(-30deg);z-index: 1000;">Example image</span><div style="width: 120%; margin: -5px 0 -10% -10%; height: 220px; filter: blur(24px); background: #53911b; z-index: 1;"></div></div>
        </div>
      {% elif choice == "Optional text" %}
        <div style="postion: relative" class="govuk-!-margin-bottom-5">
          <a class="govuk-link govuk-link--no-visited-state" style="position:absolute;right:10px;" href="{{ edit_block_link }}&choice={{ choice }}">Edit</a>
          <div>Optional text</div>
        </div>
      {% elif choice == "QR code" %}
        <div style="postion: relative">
          <a class="govuk-link govuk-link--no-visited-state" style="position:absolute;right:10px;" href="{{ edit_block_link }}&choice={{ choice }}">Edit</a>
          <div style="width: 290px; margin: 0 auto">{% include "qr.svg" %}</div>
        </div>
      {% elif choice == "Link to download a file" %}
        <div style="postion: relative" class="govuk-!-margin-bottom-5">
          <a class="govuk-link govuk-link--no-visited-state" style="position:absolute;right:10px;" href="{{ edit_block_link }}&choice={{ choice }}">Edit</a>
          <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state" href="#">https://documents.service.gov.uk/example…</a>
          </p>
        </div>
      {% elif choice == "Reusable block of text" %}
        <div style="postion: relative" class="govuk-!-margin-bottom-5">
          <a class="govuk-link govuk-link--no-visited-state" style="position:absolute;right:10px;" href="{{ edit_block_link }}&choice={{ choice }}">Edit</a>
          <p class="govuk-body">
            Reusable block of text
          </p>
        </div>
      {% endif %}
    {% endfor %}
    {% if '@' not in recipient|string %}
      <div class="govuk-!-margin-bottom-6">
        <a href="{{ insert_link }}?{% for choice in choices %}&choices={{ choice }}{% endfor %}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="insert-content-type">
          Insert another content type
        </a>
      </div>
      <script>
        // log the scroll position every 200ms
        setInterval(
          function() {
            document.cookie = 'scrollY=' + window.scrollY + '; expires=Sun, 1 Dec 2023 00:00:00 UTC; path=/';
          },
          200
        )

        {% if choices %}

        // scroll to the last known position if we’ve added extra blocks

        var cookieValue = document.cookie.split('; ');

        for (i = 0; i < cookieValue.length; i++) {
          parts = cookieValue[i].split('=');
          key = parts[0];
          value = parts[1];
          console.log(key, '=', value);
          if (key == 'scrollY') {
            console.log('foundem');
            setTimeout(function(){window.scrollTo(0, value)}, 100);
          }
        }

        {% endif %}

      </script>
    {% endif %}
  </div>
</div>