{% from "components/banner.html" import banner %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="bottom-gutter">
        {{ banner(
          message if message is string else message[0],
          'default' if ((category == 'default') or (category == 'default_with_tick')) else 'dangerous',
          delete_button="Yes, {}".format(category) if category in ['delete', 'suspend', 'resume', 'remove', 'revoke this API key'] else None,
          with_tick=True if category == 'default_with_tick' else False,
          context=message[1] if message is not string
        )}}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
