{% extends "admin_template.html" %}

{% block inside_header %}{% endblock %}
{% block proposition_header %}{% endblock %}

{% block body_classes %} with-fullscreen {% endblock %}

{% block footer_top %}{% endblock %}
{% block footer_support_links %}{% endblock %}

{% block content %}
  <main role="main">
    <div class="fullscreen-header">
      {% block fullscreen_pre_title %}{% endblock %}
    </div>
    <div class="fullscreen-sticky-bar js-stick-at-top-when-scrolling">
      {% block fullscreen_title %}{% endblock %}
    </div>
    <div class="fullscreen-content" data-module='fullscreen-table'>
      {% block fullscreen_content %}{% endblock %}
    </div>
  </main>
{% endblock %}
