{% from "components/banner.html" import banner_wrapper %}

{% if request.args['help'] and request.args['help'] != '0' %}
  {% call banner_wrapper(type='tour') %}
      <p class="heading-medium">Get started</p>
      <div class="grid-row bottom-gutter" {% if request.args['help'] != '1' %}style="opacity: 0.6"{% endif %}>
        <div class="column-one-sixth">
          <p class="heading-large" style="float: left;">1.</p>
        </div>
        <div class="column-five-sixths">
          <p>
            Send yourself this example message
          </p>
        </div>
      </div>
      <div class="grid-row bottom-gutter" {% if request.args['help'] != '2' %}style="opacity: 0.6"{% endif %}>
        <div class="column-one-sixth">
          <p class="heading-large">2.</p>
        </div>
        <div class="column-five-sixths">
          <p>
            The template pulls in the data you provide
          </p>
        </div>
      </div>
      <div class="grid-row bottom-gutter" {% if request.args['help'] != '3' %}style="opacity: 0.6"{% endif %}>
        <div class="column-one-sixth">
          <p class="heading-large">3.</p>
        </div>
        <div class="column-five-sixths">
          <p>
            Now try it with your own message
          </p>
          {% if request.args['help'] == '3' %}
            <a href='{{ url_for(".choose_template", service_id=current_service.id, template_type="email") }}'>
              Write an email
            </a>
            <a href='{{ url_for(".choose_template", service_id=current_service.id, template_type="sms") }}'>
              Write a text message
            </a>
          {% endif %}
        </div>
      </div>

  {% endcall %}
{% else %}
<nav class="navigation">
  <h2 class="navigation-service-name">
    <a href="{{ url_for('.service_dashboard', service_id=current_service.id) }}">{{ current_service.name }}</a>
  </h2>
  <ul>
  {% if current_user.has_permissions(['view_activity', 'manage_templates', 'manage_api_keys'], admin_override=True, any_=True) %}
    <li><a href="{{ url_for('.choose_template', service_id=current_service.id, template_type='email') }}">Email templates</a></li>
    <li><a href="{{ url_for('.choose_template', service_id=current_service.id, template_type='sms') }}">Text message templates</a></li>
  {% endif %}
  {% if current_user.has_permissions(['manage_users', 'manage_settings'], admin_override=True) %}
    <li><a href="{{ url_for('.manage_users', service_id=current_service.id) }}">Team members</a></li>
    <li><a href="{{ url_for('.service_settings', service_id=current_service.id) }}">Settings</a></li>
  {% elif current_user.has_permissions(['view_activity']) %}
    <li><a href="{{ url_for('.manage_users', service_id=current_service.id) }}">Team members</a></li>
  {% endif %}
  {% if current_user.has_permissions(['manage_api_keys']) %}
    <li><a href="{{ url_for('.api_keys', service_id=current_service.id) }}">API keys</a></li>
  {% endif %}
  </ul>
</nav>
{% endif %}
