{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify | Manage templates
{% endblock %}

{% block content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Manage templates</h1>

		<p>Here's where you can view templates, choose to add one, or edit/delete one.</p>

  		<p><a href="edit-template">Here is my first template</a></p>

		<p>
  		<a class="button" href="edit-template" role="button">Add a new message template</a>
  		</p>
	</div>
</div>

{% endblock %}
