{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify
{% endblock %}

{% block content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Create a new password</h1>
		
		<p> You can now create a new password for your account.</p>

  		<p>
  		<label class="form-label" for="password">Create a password</label>
  		<input class="form-control-1-4" id="password" type="password">
  		<span class="font-xsmall">Your password must have at least 10 characters</span></label>
  		</p>

  		<p>
  		<a class="button" href="two-factor" role="button">Continue</a>
  		</p>
	</div>
</div>

{% endblock %}
