{% extends "admin_template.html" %}

{% block per_page_title %}
  {% block org_page_title %}{% endblock %} – {{ current_org.name }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    <div class="navigation-service">
      {% if current_user.platform_admin %}
        <a href="{{ url_for('.organisations') }}" class="navigation-organisation-link">All organisations</a>
      {% endif %}
      <div class="navigation-service-name">
        {{ current_org.name }}
      </div>
      <a href="{{ url_for('main.choose_account') }}" class="navigation-service-switch">Switch service</a>
    </div>
    <div class="grid-row">
      <div class="column-one-quarter">
        {% include "org_nav.html" %}
      </div>
      <div class="column-three-quarters">
        {% block beforeContent %}{% endblock %}
        <main class="govuk-main-wrapper column-main" id="main-content" role="main" >
          {% block content %}
            {% include 'flash_messages.html' %}
            {% block maincolumn_content %}{% endblock %}
          {% endblock %}
        </main>
      </div>
    </div>
  </div>
{% endblock %}
