{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify | Create an account
{% endblock %}

{% block content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Create an account</h1>

		<p>If you've used GOV.UK Notify before, <a href="">sign in to your account</a>.</p>

   		<form autocomplete="off" action="" method="post">
			{{ form.hidden_tag() }}
			<p>
			<label class="form-label"> {{ form.name.label }} </label>
			{{ form.name(class="form-control-2-3", autocomplete="off") }} <br>
			</p>
			<p>
			<label class="form-label">{{ form.email_address.label }} </label>
			{{ form.email_address(class="form-control-2-3", autocomplete="off") }} <br>
			<span class="font-xsmall">Your email address must end in .gov.uk</span>
			</p>
			<p>
			<label class="form-label">{{ form.mobile_number.label }}</label>
			{{ form.mobile_number(class="form-control-1-4", autocomplete="off") }} <br>
			</p>
			<p>
			<label class="form-label"> {{ form.password.label}} </label>
				{{ form.password(class="form-control-1-4", autocomplete="off") }} <br>
			<span class="font-xsmall">Your password must have at least 10 characters</span></label>
			</p>
			<p>
			<button class="button" role="button">Continue</button>
			</p>
		</form>
	</div>
</div>

{% endblock %}
