{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify | Create an account
{% endblock %}

{% block content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Create an account</h1>

		<p>If you've used GOV.UK Notify before, <a href="">sign in to your account</a>.</p>

    <p>You need to have access to your email account and a mobile phone to register.</p>

		<p>
		<label class="form-label" for="name-f1">Name</label>
  		<input class="form-control-2-3" id="name-f1" type="text">
  		</p>
  		<p>
  		<label class="form-label" for="email">Email address</label>
  		<input class="form-control-2-3" id="email" type="text"><br>
  		<span class="font-xsmall">Your email address must end in .gov.uk</span>
  		</p>
  		<p>
  		<label class="form-label" for="mobile">Mobile phone number</label>
  		<input class="form-control-1-4" id="mobile" type="text">
  		</p>
  		<p>
  		<label class="form-label" for="password">Password</label>
  		<input class="form-control-1-4" id="password" type="password">
  		</p>

  		<p>
  		<a class="button" href="verify" role="button">Continue</a>
  		</p>
	</div>
</div>

{% endblock %}
