{% macro navigation_service_name(service) %}
  <div class="navigation-service-name govuk-!-font-weight-bold">
    {{ service.name }}
    {% if not service.active %}
      <span class="navigation-service-type navigation-service-type--suspended">Suspended</span>
    {% endif %}
  </div>
{% endmacro %}

{% macro service_navigation(user, service) %}
<div class="navigation-service">
  <div class="navigation-service__container">
    {{ navigation_service_name(service) }}
  </div>
</div>
{% endmacro %}
