{% extends "admin_template.html" %}

{% block page_title %}
Hello world!
{% endblock %}

{% block content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Sign in</h1>

		<p>If you do not have an account, you can <a href="register">register</a>.</p>

  		<p>
  		<label class="form-label" for="email">Email address</label>
  		<input class="form-control-2-3" id="email" type="text"><br>
  		</p>
  		<p>
  		<label class="form-label" for="password">Password</label>
  		<input class="form-control-1-4" id="password" type="password"><br>
  		<span class="font-xsmall"><a href="">Forgotten password?</a></span>
  		</p>

  		<p>
  		<a class="button" href="two-factor" role="button">Continue</a>
  		</p>
	</div>
</div>

{% endblock %}