{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify | Get started
{% endblock %}

{% block content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">GOV.UK Notify</h1>

		<p>Use GOV.UK Notify to send notifications by text message, email and letter.</p>
		<p>We're making it easy to keep your users informed.</p>
		<p>If you work for a UK government department or agency you can set up a test account now.</p>

		<a class="button" href="register" role="button">Set up an account</a>

		<!-- <h2 class="heading-large">Used GOV.UK Notify before?</h2> -->

		<p>If you've used GOV.UK Notify before, <a href="sign-in">sign in to your account</a></p>
	</div>
</div>

{% endblock %}
