{% extends "admin_template.html" %}

{% block page_title %}
Sign in
{% endblock %}

{% block content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Sign in</h1>

		<p>If you do not have an account, you can <a href="register">register</a>.</p>

		<form autocomplete="off" action="" method="post">

			<p>
			<label class="form-label">Email address</label>
			{{ form.email_address(class="form-control-2-3", autocomplete="off") }} <br>
			</p>
			<p>
			<label class="form-label">Password</label>
				 {{ form.password(class="form-control-1-4", autocomplete="off") }} <br>
			</p>
			<p>
			<span class="font-xsmall"><a href="">Forgotten password?</a></span>
			</p>

			<p>
			<a class="button" href="two-factor" role="button">Continue</a>
			</p>
		</form>
	</div>
</div>

{% endblock %}