{% extends "admin_template.html" %}

{% block page_title %}
Temp create users
{% endblock %}

{% block content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Temporary page to create user</h1>

		<p>This is a temporary page to create users, the name will be the same as the email address.</p>

		 <form autocomplete="off" action="" method="post">
            {{ form.hidden_tag() }}
			<p>
			<label class="form-label">Email address</label>
			{{ form.email_address(class="form-control-2-3", autocomplete="off") }} <br>
			</p>
			<p>
			<label class="form-label">Password</label>
				 {{ form.password(class="form-control-1-4", autocomplete="off") }} <br>
			</p>

			<p>
			<button class="button" href="sign-in" role="button">Create User</button>
			</p>
		</form>
	</div>
</div>

{% endblock %}