{% extends "admin_template.html" %}

{% block page_title %}
Hello world!
{% endblock %}

{% block content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Text verification</h1>

		<p>We've sent you a text message containing a verification code.</p>

  		<p>
  		<label class="form-label" for="email">Text message verification code<br>
		<span class="font-xsmall">Enter the code we sent you by email</span></label>
  		<input class="form-control-1-4" id="email" type="text"><br>
  		<span class="font-xsmall"><a href="">I haven't received a text</a></span>
  		</p>

  		<p>
  		<a class="button" href="dashboard" role="button">Continue</a>
  		</p>
	</div>
</div>

{% endblock %}