{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify
{% endblock %}

{% block content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Resend verification code</h1>

    <p>Text messages sometimes take a few minutes to be received. <br> If you have not received a text message, you can resend.</p>

    <p>If you no longer have access to your mobile phone and registered number, get in contact with your service manager to reset your number.</p>P>


      <p>
      <a class="button" href="two-factor" role="button">Resend confirmation code</a>
      </p>
  </div>
</div>

{% endblock %}