{% extends "admin_template.html" %}

{% block page_title %}
GOV.UK Notify | Confirm email address and mobile number
{% endblock %}

{% block content %}

<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Activate your account</h1>

		<p>We've sent you confirmation codes by email and text message. You need to enter both codes here.</p>

		<p>
		<label class="form-label" for="emailverify">Email confirmation code<br>
  		<input class="form-control-1-4" id="emailverify" type="text"><br>
  		<span class="font-xsmall"><a href="email-not-received">I haven't received an email</a></span>
  		</p>
  		<p>
  		<label class="form-label" for="email">Text message confirmation code<br>
  		<input class="form-control-1-4" id="email" type="text"><br>
  		<span class="font-xsmall"><a href="text-not-received">I haven't received a text</a></span>
  		</p>

  		<p>
  		<a class="button" href="add-service" role="button">Continue</a>
  		</p>
	</div>
</div>

{% endblock %}
