{% extends "admin_template.html" %}

{% set mainClasses = "govuk-!-padding-top-0 govuk-!-padding-bottom-12" %}

{% block beforeContent %}
    {% if current_service and current_service.active and current_user.is_authenticated and current_user.belongs_to_service(current_service.id) %}
    <div class="navigation-service">
      <a href="{{ url_for('main.show_accounts_or_dashboard') }}" class="govuk-link govuk-link--no-visited-state navigation-service-back-to">Back to {{ current_service.name }}</a>
    </div>
    {% endif %}
    {% block backLink %}{% endblock %}
{% endblock %}

{% block content %}
    {% include 'flash_messages.html' %}
    {% block maincolumn_content %}{% endblock %}
{% endblock %}
