{% extends "admin_template.html" %}

{% set mainClasses = "govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% block per_page_title %}
  {% block service_page_title %}{% endblock %} – {{ current_service.name }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    <div class="navigation-service">
      {% if current_service.organisation_id %}
        {% if current_user.platform_admin or
          (current_user.belongs_to_organisation(current_service.organisation_id) and current_service.live) %}
          <a href="{{ url_for('.organisation_dashboard', org_id=current_service.organisation_id) }}" class="govuk-link govuk-link--no-visited-state navigation-organisation-link">{{ current_service.organisation_name }}</a>
        {% endif %}
      {% endif %}
      <div class="navigation-service-name govuk-!-font-weight-bold">
        {{ current_service.name }}
          {% if not current_service.active %}
            <span class="navigation-service-type navigation-service-type--suspended">Suspended</span>
          {% elif current_service.has_permission('broadcast') %}
            {% if current_service.trial_mode %}
              <span class="navigation-service-type navigation-service-type--training">Training
            {% else %}
              <span class="navigation-service-type navigation-service-type--live">Live
            {% endif %}
            {% if current_service.allowed_broadcast_provider != "all" %}
              ({{ current_service.allowed_broadcast_provider }})
            {% endif %}
            </span>
        {% endif %}
      </div>
      <a href="{{ url_for('main.choose_account') }}" class="govuk-link govuk-link--no-visited-state navigation-service-switch">Switch service</a>
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-12">
      {% if help %}
        <div class="govuk-grid-column-one-third">
      {% else %}
        <div class="govuk-grid-column-one-quarter">
      {% endif %}
          {% include "main_nav.html" %}
        </div>
      {% if help %}
        <div class="govuk-grid-column-two-thirds">
      {% else %}
        <div class="govuk-grid-column-three-quarters">
      {% endif %}
        {% block beforeContent %}{% endblock %}
        <main class="govuk-main-wrapper column-main {{ mainClasses }}" id="main-content" role="main">
        {% block content %}
          {% include 'flash_messages.html' %}
          {% block maincolumn_content %}{% endblock %}
        {% endblock %}
        </main>
      </div>
    </div>
  </div>
{% endblock %}
