{% extends "admin_template.html" %}

{% block per_page_title %}
  {% block service_page_title %}{% endblock %} – {{ current_service.name }}
{% endblock %}

{% block fullwidth_content %}
  <div id="content">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ current_service.name }}
      </div>
      <a href="{{ url_for('main.choose_service') }}" class="navigation-service-switch">Switch service</a>
    </div>
    <div class="grid-row">
      <div class="column-one-quarter">
        {% include "main_nav.html" %}
      </div>
      <main role="main" class="column-three-quarters column-main">
        {% include 'flash_messages.html' %}
        {% block maincolumn_content %}{% endblock %}
      </main>
    </div>
  </div>
{% endblock %}
